/* Effective stylesheet produced by snapshot save */
#relate, .relage_t, .relate_t span, .relate_c, .relate_list, .relate_list dt, .relate_list dt img, .relate_list dd, .relate_list dd h4, .relate_list dd p, .relate_list dd p span { margin: 0px; padding: 0px; }
#relate { display: none; background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 0px 20px 20px; margin: 20px 0px; overflow: hidden; }
.relate_t { height: 35px; line-height: 35px; border-bottom: 1px solid rgb(204, 204, 204); }
.relate_t span { display: inline-block; height: 35px; border-bottom: 1px solid rgb(204, 0, 0); }
.relate_c { padding: 0px; margin-right: -40px; }
#res-relatived { clear: both; }
