body{color:#333333;}
.fc00{color:#ffffff;}
.fc01{color:#ffffff;}
.fc02,.fc02 a{color:#703F3A;}
.fc03,.fc03 a,.fc11 a{color:#703F3A;}
.fc04,.fc04 a{color:#8e6860;}
.fc05{color:#333333;}
.fc06{color:#777777;}
.fc07{color:#aaaaaa;}
.fc08{color:#703F3A;}
.fc09{color:#ffffff;}
.fc10{color:#E2CCC7;}
.bdc0{border-color:#E2CCC7;}
.bdc1{border-color:#E2CCC7;}
.bdc9t{border-top-color:#FFFFFF;}
.bdc9r{border-right-color:#FFFFFF;}
.bdc9b{border-bottom-color:#FFFFFF;}
.bdc9l{border-left-color:#FFFFFF;}
.bgc0,.bgc9:hover, .bgc9.js-bgc9-hover{background-color:#F9F4F4;}
.bgc1{background-color:#FFFFFF;}
.bgc2{background-color:#6c4a41;}
.bgp0{background-image:url(img/-1.gif);}
.nb-body{background-color:#F9F4F4;}
.nb-wrap{background:transparent url(img/top_banner.jpg) no-repeat left top;}
.nb-bar{background:#6c4a41;}
.nb-top .h{height:140px;}
.nb-top .t{color:#000000;top:40px;left:190px;font-family:Verdana,Arial,Helvetica,sans-serif,"ו";font-size:14px;}
.nb-top .n{font-size:30px;}
.nb-nav .wkg{background:transparent url(img/top_tab.jpg) no-repeat left top;}
.nb-nav .h{height:30px;line-height:30px;}
.nb-nav .l{width:100px;}
.nb-nav .r{width:60px;}
.nb-nav .c{margin:0 60px 0 100px;}
.nb-nav .i:hover{color:#E2CCC7;}
.nb-nav .selected{background:transparent url(img/top_on.gif) no-repeat left center;}
.nb-nav .selected .i, .nb-nav .selected .i:hover{color:#FFFFFF;}
.nb-cnt .wkg{background:transparent url(img/bg_web.jpg) repeat center center;}
.nb-cnt .wc{margin:0 5px;}
.nb-fot .wkg{background:transparent url(img/bg_web_b.gif) repeat-x center top;}
.nb-fot .h{height:110px;}
.nb-fot .k{padding-top:30px;}
.nb-mdl{border:1px #E2CCC7 solid;margin:10px 5px;}
.nb-mdl .th{height:20px;line-height:20px;}
.nb-mt{background-color:#EBDBD8;}
.nb-mt .tl{width:10px;}
.nb-mt .tc{margin:0 10px;}
.nb-mt .tr{width:10px;}
.nb-mc{background-color:#FFFFFF;}
.nb-mc .cl,.nb-mc .cr,.nb-mb{display:none;}
