/* Effective stylesheet produced by snapshot save */
@keyframes tiao_fly {
  0% { transform: translateX(0%) translateY(-15%) rotateZ(-20.5deg); }
  100% { transform: translateX(0%) translateY(0%) rotateZ(-20.5deg); }
}
@keyframes tiao_fly {
  0% { transform: translateX(0%) translateY(-15%) rotateZ(-20.5deg); }
  100% { transform: translateX(0%) translateY(0%) rotateZ(-20.5deg); }
}
@keyframes tiao_fly {
  0% { transform: translateX(0%) translateY(-15%) rotateZ(-20.5deg); }
  100% { transform: translateX(0%) translateY(0%) rotateZ(-20.5deg); }
}
@keyframes tiao_fly {
  0% { transform: translateX(0%) translateY(-15%) rotateZ(-20.5deg); }
  100% { transform: translateX(0%) translateY(0%) rotateZ(-20.5deg); }
}
@keyframes ba_fly {
  0% { transform: translateX(0%) translateY(-15%) rotateZ(3.5deg); }
  100% { transform: translateX(0%) translateY(0%) rotateZ(3.5deg); }
}
@keyframes ba_fly {
  0% { transform: translateX(0%) translateY(-15%) rotateZ(3.5deg); }
  100% { transform: translateX(0%) translateY(0%) rotateZ(3.5deg); }
}
@keyframes ba_fly {
  0% { transform: translateX(0%) translateY(-15%) rotateZ(3.5deg); }
  100% { transform: translateX(0%) translateY(0%) rotateZ(3.5deg); }
}
@keyframes ba_fly {
  0% { transform: translateX(0%) translateY(-15%) rotateZ(3.5deg); }
  100% { transform: translateX(0%) translateY(0%) rotateZ(3.5deg); }
}
