/* Effective stylesheet produced by snapshot save */
@import url("common.css");
html, h1, h2, h3, h4, h5, h6, p { margin: 0px; padding: 0px; }
body { margin: 0px; font-family: "microsoft yahei"; }
body .csdn-toolbar .container { width: 1265px; }
body a { text-decoration: none; }
#header::after { content: "."; clear: both; height: 0px; display: block; visibility: hidden; }
#header .header { width: 1265px; margin: 0px auto; }
.side ul, .article_next_prev ul, #navigator ul { padding: 0px; }
.side ul li, .article_next_prev ul li, #navigator ul li { list-style: outside none none; }
#navigator { margin-top: -45px; }
#navigator .navigator { width: 1265px; margin: 0px auto; padding: 0px 0px 15px; }
#navigator .navigator::after { content: "."; clear: both; height: 0px; display: block; visibility: hidden; }
#navigator ul { float: right; margin: 0px; padding: 0px; }
#navigator ul::after { content: "."; clear: both; height: 0px; display: block; visibility: hidden; }
#navigator ul li { float: left; border: 1px solid rgb(204, 204, 204); width: 88px; height: 26px; margin-left: 10px; line-height: 26px; font-size: 12px; text-align: center; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#navigator ul li a { color: rgb(102, 102, 102); text-decoration: none; }
#navigator ul li a img { vertical-align: text-bottom; margin-right: 6px; }
#body { width: 1265px; margin: 0px auto 40px; font-size: 12px; }
#body::after { content: "."; clear: both; height: 0px; display: block; visibility: hidden; }
.panel_head, .blog-ass-articl dt { font-weight: bold; }
#side { float: left; width: 270px; margin: 0px auto; }
#side .panel { border: 1px solid rgb(255, 255, 255); margin-bottom: 9px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#side .panel_head { background: rgb(245, 245, 245) none repeat scroll 0% 0%; height: 29px; line-height: 29px; padding-left: 11px; color: rgb(51, 51, 51); }
#side .panel_body { padding: 15px 16px 17px; word-break: break-all; }
#side .panel_body .list_closed, #side .panel_body .list_opended { display: inline-block; color: rgb(102, 102, 102); padding-right: 20px; background: transparent url("icon-arrow.png") no-repeat scroll right bottom; cursor: pointer; }
#side div[id^="custom_column"] ul.panel_body ul li:nth-child(1) { color: rgb(53, 144, 74); }
#side div[id^="custom_column"] ul.panel_body ul li:nth-child(1) * { color: rgb(53, 144, 74); }
#side div[id^="custom_column"] ul.panel_body ul li:nth-child(2) { color: rgb(40, 128, 210); }
#side div[id^="custom_column"] ul.panel_body ul li:nth-child(2) * { color: rgb(40, 128, 210); }
#side div[id^="custom_column"] ul.panel_body ul li:nth-child(3) { color: rgb(176, 32, 171); }
#side div[id^="custom_column"] ul.panel_body ul li:nth-child(3) * { color: rgb(176, 32, 171); }
#side div[id^="custom_column"] ul.panel_body ul li:nth-child(4) { color: rgb(34, 165, 125); }
#side div[id^="custom_column"] ul.panel_body ul li:nth-child(4) * { color: rgb(34, 165, 125); }
#side div[id^="custom_column"] ul.panel_body ul li:nth-child(5) { color: rgb(200, 22, 34); }
#side div[id^="custom_column"] ul.panel_body ul li:nth-child(5) * { color: rgb(200, 22, 34); }
#side div[id^="custom_column"] ul.panel_body ul li:nth-child(6) { color: rgb(252, 155, 24); }
#side div[id^="custom_column"] ul.panel_body ul li:nth-child(6) * { color: rgb(252, 155, 24); }
#side .profile { padding-top: 29px; padding-bottom: 5px; }
#side .profile #blog_userface { text-align: center; }
#side .profile #blog_userface a { display: inline-block; }
#side .profile #blog_userface .user_name { color: rgb(102, 102, 102); font: 16px/20px "microsoft yahei"; text-decoration: none; }
#side .profile #blog_userface span { display: block; margin: 15px 0px; }
#side .profile .interact { text-align: center; padding-bottom: 15px; margin-bottom: 7px; }
#side .profile .interact a { background-color: rgb(153, 153, 153); background-repeat: no-repeat; display: inline-block; margin-left: 6px; width: 50px; height: 25px; line-height: 25px; color: rgb(255, 255, 255) ! important; text-align: center; padding-left: 18px; text-decoration: none; }
#side .profile .interact .attent { background-image: url("skin-attent.png"); background-position: 15px center; }
#side .profile .interact .attent::after { content: "关注"; }
#side .profile .interact .letter { background-image: url("skin-email.png"); background-position: 8px center; }
#side .profile .interact .letter::after { content: "发私信"; }
#side .profile #blog_medal { margin-bottom: 10px; }
#side .profile #blog_medal .ico_expert { margin: 0px auto 10px; }
#side .profile #blog_medal a { margin-right: 10px; }
#side .profile #blog_rank { padding: 4px; border-bottom: 1px dashed rgb(204, 204, 204); margin-bottom: 13px; }
#side .profile #blog_rank li { margin-bottom: 11px; }
#side .profile #blog_statistics::after { content: "."; clear: both; height: 0px; display: block; visibility: hidden; }
#side .profile #blog_statistics li { float: left; width: 114px; color: rgb(51, 51, 51); margin-bottom: 12px; }
#side .profile #blog_statistics li span { color: rgb(102, 102, 102); }
#side #panel_Search { position: relative; }
#side #panel_Search .blogsearch { width: 192px; border: 1px solid rgb(204, 204, 204); padding: 7px 30px 7px 7px; }
#side #panel_Search #btnSubmit { border: 0px none; background: transparent url("skin-search.png") no-repeat scroll center center; position: absolute; width: 20px; height: 20px; top: 50px; right: 30px; text-indent: -100px; cursor: pointer; }
#side #panel_Search #btnSubmit:hover { opacity: 0.7; }
#side #panel_Category { color: rgb(0, 0, 0); }
#side #panel_Category ul { margin-bottom: -9px; }
#side #panel_Category #sp_column { margin-bottom: -11px; }
#side #panel_Category img { border: 1px solid rgb(204, 204, 204); }
#side #panel_Category table { margin-bottom: 11px; }
#side #panel_Category p { padding-top: 16px; padding-bottom: 8px; }
#side #panel_Category li { margin-bottom: 9px; }
#side #panel_Category li span { margin-left: 8px; }
#side #archive_list { color: rgb(0, 0, 0); }
#side #archive_list li { margin-bottom: 8px; }
#side #archive_list a { margin-right: 8px; }
#side #archive_list .list_closed { color: rgb(102, 102, 102); margin-top: 17px; }
#side #hotarticls, #side #hotarticls2, #side #newcomments { color: rgb(102, 102, 102); }
#side #hotarticls ul, #side #hotarticls2 ul, #side #newcomments ul { margin-bottom: -8px; }
#side #hotarticls li, #side #hotarticls2 li, #side #newcomments li { margin-bottom: 8px; }
#side #hotarticls li span, #side #hotarticls2 li span, #side #newcomments li span { margin-left: 10px; }
#side #newcomments a { margin-right: 9px; }
.itemlist li a { width: 170px; text-overflow: ellipsis; }
#main { float: right; width: 990px; }
#main .ad_class { border: 0px none ! important; }
#main .ad_class .notice { background: rgb(255, 252, 231) url("urn:not-loaded:http://static.blog.csdn.net/skin/skin-blue/images/skin-light.png") no-repeat scroll 8px center; border: 1px dashed rgb(248, 204, 126); padding: 5px 0px 5px 23px; margin: 10px 10px 0px; width: 935px; position: absolute; }
#main .details, #main .list_item_new { padding: 65px 20px 35px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#main .article_title { margin-bottom: 21px; }
#main .article_title .ico { display: inline-block; vertical-align: middle; width: 19px; height: 19px; margin-right: 10px; }
#main .article_title .ico_type_Original { background-image: url("skin-type-icon.png"); background-repeat: no-repeat; background-position: 0px 0px; }
#main .article_title h1 { display: inline-block; vertical-align: middle; font-size: 18px; }
#main .article_title h1 a { color: rgb(0, 0, 0); }
#main .article_manage { margin-bottom: 10px; text-align: right; color: rgb(153, 153, 153); }
#main .article_manage a { color: rgb(51, 165, 186); }
#main .article_manage span { margin-right: 16px; }
#main .article_manage .link_categories { float: left; margin-right: 0px; }
#main .article_manage .link_view, #main .article_manage .link_comments, #main .article_manage .link_collect, #main .article_manage .link_report { display: inline-block; }
#main .article_manage .link_view { background-image: url("skin-type-icon.png"); background-repeat: no-repeat; background-position: 0px -25px; padding-left: 24px; }
#main .article_manage .link_comments { background-image: url("skin-type-icon.png"); background-repeat: no-repeat; background-position: 0px -43px; padding-left: 17px; }
#main .article_manage .link_collect { background-image: url("skin-type-icon.png"); background-repeat: no-repeat; background-position: 0px -62px; padding-left: 17px; }
#main .article_manage .link_report { background-image: url("skin-type-icon.png"); background-repeat: no-repeat; background-position: 0px -81px; padding-left: 17px; }
#main .article_content { margin: 35px 0px; font-size: 15px; color: rgb(85, 85, 85); line-height: 35px; }
#main .article_content p > img { max-width: 602px; height: auto; }
#main .article_content a { color: rgb(12, 137, 207); }
#main .article_next_prev span { width: 51px; height: 26px; line-height: 26px; display: inline-block; color: rgb(255, 255, 255); padding-left: 27px; margin-right: 7px; background: rgb(153, 153, 153) none repeat scroll 0% 0%; }
#main .article_next_prev a { text-decoration: none; color: rgb(51, 51, 51); }
#main .article_next_prev .prev_article { margin-bottom: 3px; }
#main .article_next_prev .prev_article span { background-image: url("skin-type-icon.png"); background-repeat: no-repeat; background-position: 8px -111px; }
#main .article_next_prev .next_article span { background-image: url("skin-type-icon.png"); background-repeat: no-repeat; background-position: 8px -140px; margin-right: 7px; }
#main .article_next_prev li:hover span { background-color: rgb(61, 132, 176); }
#main .article_next_prev li:hover a { color: rgb(61, 132, 176); }
#main #digg { text-align: center; margin-top: 44px; }
#main #digg .digg { display: inline-block; width: 72px; font-size: 27px; color: rgb(255, 255, 255); cursor: pointer; margin: 0px; vertical-align: middle; padding: 7px 0px; }
#main #digg .digg dt { margin-bottom: 4px; }
#main #digg .digg dd { font-size: 15px; overflow: hidden; margin: 0px; }
#main #digg #btnDigg { background: rgb(255, 153, 0) none repeat scroll 0% 0%; }
#main #digg #btnBury { background: rgb(255, 121, 0) none repeat scroll 0% 0%; }
#main #digg .digg_disable { background: rgb(153, 153, 153) none repeat scroll 0% 0% ! important; }
#main .blog-associat-tag::after { content: "."; clear: both; height: 0px; display: block; visibility: hidden; }
#main .blog-ass-articl { background: rgb(245, 245, 245) none repeat scroll 0% 0%; margin: 0px; padding: 0px 20px 20px; }
#main .blog-ass-articl::after { content: "."; clear: both; height: 0px; display: block; visibility: hidden; }
#main .blog-ass-articl dt { font-size: 14px; height: 35px; line-height: 35px; margin: 0px 0px 15px; border-bottom: 2px solid rgb(204, 204, 204); }
#main .blog-ass-articl dt span { border-bottom: 2px solid rgb(204, 0, 0); height: 35px; display: inline-block; }
#main .blog-ass-articl dd { margin-left: 0px; float: left; width: 47%; height: 23px; line-height: 23px; padding-left: 10px; margin-right: 9px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; background: transparent none repeat scroll 0% 0% ! important; position: relative; }
#main .blog-ass-articl dd::before { content: ""; position: absolute; left: 0px; top: 10px; width: 3px; height: 3px; background: rgb(61, 132, 176) none repeat scroll 0% 0%; }
#main .blog-ass-articl dd a { text-decoration: none; color: rgb(0, 0, 0); }
#main #ad_cen { padding: 15px 38px 13px 29px; margin-bottom: 11px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#main .comment_class { background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 20px 30px; }
#main .comment_class .panel_head { border-bottom: 2px solid rgb(204, 204, 204); font-size: 14px; }
#main .comment_class .panel_head > span { display: inline-block; border-bottom: 2px solid rgb(204, 0, 0); padding-bottom: 7px; margin-bottom: -2px; }
#main .comment_class #comment_list { margin: 20px 0px; }
#main .comment_class #comment_list dl { position: relative; border-top: 1px solid rgb(204, 204, 204); margin: 0px; padding-top: 16px; }
#main .comment_class #comment_list dl::after { content: "."; clear: both; height: 0px; display: block; visibility: hidden; }
#main .comment_class #comment_list dl:first-child { margin-top: -24px; border-top: 0px none; }
#main .comment_class #comment_list dl > dt { float: right; color: rgb(153, 153, 153); }
#main .comment_class #comment_list dl > dd { float: left; }
#main .comment_class #comment_list .username { position: absolute; left: 47px; color: rgb(61, 132, 176); text-decoration: none; font-size: 14px; }
#main .comment_class #comment_list .comment_userface { margin-right: 7px; margin-left: 0px; margin-bottom: 16px; }
#main .comment_class #comment_list .comment_head .reply, #main .comment_class #comment_list .comment_head .quote, #main .comment_class #comment_list .comment_head .report, #main .comment_class #comment_list .comment_head .delete { display: inline-block; padding-left: 17px; color: rgb(153, 153, 153); text-decoration: none; margin-left: 10px; }
#main .comment_class #comment_list .comment_head .reply { background-image: url("skin-comment-icon.png"); background-repeat: no-repeat; background-position: 0px 3px; }
#main .comment_class #comment_list .comment_head .quote { background-image: url("skin-comment-icon.png"); background-repeat: no-repeat; background-position: 0px -13px; }
#main .comment_class #comment_list .comment_head .report { background-image: url("skin-comment-icon.png"); background-repeat: no-repeat; background-position: 0px -31px; }
#main .comment_class #comment_list .comment_body { margin: 25px 0px 0px; width: 57%; word-break: break-all; padding-bottom: 16px; }
#main #comment_form .panel_head::after { content: ""; height: 2px; width: 60px; position: absolute; background: rgb(204, 0, 0) none repeat scroll 0% 0%; left: 0px; bottom: -2px; }
#main #comment_form .guest_link { background: rgb(245, 245, 245) none repeat scroll 0% 0%; height: 41px; line-height: 41px; color: rgb(51, 51, 51); margin: 15px -30px; padding-left: 29px; }
#main #comment_form .guest_link a { color: rgb(61, 132, 176); text-decoration: none; }
#main .announce { color: rgb(153, 153, 153); }
#main .tag_list { margin: 11px 0px 0px; padding: 20px 30px; }
#main #d-top { position: fixed; left: 50%; margin-left: 640px; }
#main #d-top a { display: block; margin: 1px 0px; }
#main .tag_list h5 > a, #main .blog-ass-articl dt span, #main .comment_class .panel_head > span { border-bottom-color: rgb(61, 132, 176); }
#main #comment_form .panel_head::after { background: rgb(61, 132, 176) none repeat scroll 0% 0%; }
body { background: transparent url("bg-blue.png") repeat scroll 0% 0%; }
#header { background: transparent url("bg-title-blue.png") no-repeat scroll center top; height: 225px; }
#header .header h2 { padding: 60px 0px 0px 10px; }
#header .header h2 a { color: rgb(51, 51, 51); font: bold 40px/50px "microsoft yahei"; text-decoration: none; }
#header .header h3 { margin-left: 10px; color: rgb(102, 102, 102); font: 18px/30px "microsoft yahei"; vertical-align: text-bottom; }
#side .panel a:link, #side .panel a:visited { color: rgb(61, 132, 176); }
#side .panel a:hover { color: rgb(0, 80, 187); }
#main .tag_list { border-color: rgb(255, 255, 255); }
.comment_head a:hover { color: rgb(61, 132, 176) ! important; }
.comment_head a.reply:hover, .comment_head a.quote:hover, .comment_head a.report:hover, .comment_head a.delete:hover { background-image: url("urn:not-loaded:http://static.blog.csdn.net/skin/skin-blue/images/skin-comment-icon-blue.png") ! important; }
