body{ font-size:70%; }
td,
th{ font-size:100%; }

td.blbg{ height:19px; }
td.masthead-divider{ background-image:url("//www.ibm.com/i/v14/t/masthead-divider.gif"); background-repeat:no-repeat; background-position:center center; }

.input{ height:14px; line-height:14px; border:0px; }
* html .input-local{ height:14px; line-height:14px; border:0px; }

a.bs:link,
a.bs:visited,
a.bs:hover{ font-size:9px; }

.greytextbld,
.hdgd,
.mdgd,
.sth{ font-size:11px; }

#v14-h-tasks table td,
#v14-h-tasks table th,
table.data-table-1 td,
table.data-table-1 th,
table.data-table-2 td,
table.data-table-2 th,
a.ur-link:link,
a.ur-link:visited,
a.ur-link:hover,
a.masthead-mainlink:link,
a.masthead-mainlink:visited,
a.masthead-mainlink:hover,
a.mainlink:link,
a.mainlink:visited,
a.mainlink:hover,
b.related,
a.rlinks:link,
a.rlinks:visited,
a.rlinks:hover,
a.rlinks-red:link,
a.rlinks-red:visited,
a.rlinks-red:hover,
a.nav:link,
a.nav:visited,
a.nav:hover,
a.left-nav-overview:link,
a.left-nav-overview:visited,
a.left-nav-overview:hover,
a.left-nav:link,
a.left-nav:visited,
a.left-nav:hover,
a.left-nav-child:link,
a.left-nav-child:visited,
a.left-nav-child:hover,
a.parent:link,
a.parent:visited,
a.parent:hover,
.bct,
.bctl,
.country,
.masthead-phone,
.input,
.input-local{ font-size:85%; }

p.fnt sup,
td.v14-header-1-small,
th.v14-header-1-small,
td.v14-header-2-small,
th.v14-header-2-small,
td.v14-header-3-small,
th.v14-header-3-small,
td.v14-header-4-small,
th.v14-header-4-small,
a.v14-tab-link-selected:link,
a.v14-tab-link-selected:visited,
a.v14-tab-link-selected:hover,
a.v14-tab-link-unselected:link,
a.v14-tab-link-unselected:visited,
a.v14-tab-link-unselected:hover,
.medbluetitlebar,
.medgraytitlebar,
.lightgraytitlebar,
.whitetitlebar,
.smgraytext,
.small-price,
.small,
.fnt,
a.smallplainlink:link,
a.smallplainlink:visited,
a.smallplainlink:hover,
a.close:link,
a.close:visited,
a.close:hover{ font-size:90%; }

#v14-body-table p#subtitle,
.iform,
.iformwh,
a.fbox:link,
a.fbox:visited,
a.fbox:hover,
.tblue,
.tdblue,
.tgray,
.tgreen,
.price,
td.v14-header-1,
th.v14-header-1,
td.v14-header-2,
th.v14-header-2,
td.v14-header-3,
th.v14-header-3,
td.v14-header-4,
th.v14-header-4,
td.v14-header-5,
th.v14-header-5,
a.tbmainlink:link,
a.tbmainlink:visited,
a.tbmainlink:hover,
a.tablink:link,
a.tablink:visited,
a.tablink:hover,
a.toclink:link,
a.toclink:visited,
a.toclink:hover,
a.tocselectlink:link,
a.tocselectlink:visited,
a.tocselectlink:hover,
a.tablinkblue:link,
a.tablinkblue:visited,
a.tablinkblue:hover,
a.texttabselectlink:link,
a.texttabselectlink:visited,
a.texttabselectlink:hover,
a.v14-text-tab-select-link:link,
a.v14-text-tab-select-link:visited,
a.v14-text-tab-select-link:hover,
a.v14-text-tab-unselect-link:link,
a.v14-text-tab-unselect-link:visited,
a.v14-text-tab-unselect-link:hover,
table.data-table-3 td,
table.data-table-3 th{ font-size:95%; }

table.data-table-1 caption em,
table.data-table-2 caption em,
table.data-table-3 caption em{ font-size:100%; }

table.data-table-3 td a.fbox:link,
table.data-table-3 td a.fbox:visited,
table.data-table-3 td a.fbox:hover{ font-size:100%; }

.mstagline{ font-size:115%; }

td.ntb p{ font-size:130%; }
