/* Effective stylesheet produced by snapshot save */
* { margin: 0px; padding: 0px; }
html {  }
body, table, input, textarea, select, button { font-family: "Microsoft YaHei",Verdana,sans-serif,"SimSun"; }
a { color: rgb(62, 98, 166); outline: 0px none; }
a:hover { color: rgb(204, 0, 0); }
ul, ol { list-style-type: none; }
img { border: 0px none; }
body { background: rgb(255, 255, 255) none repeat scroll 0% 0%; text-align: center; font-size: 10pt; }
.clear { clear: both; font-size: 1px; line-height: 0; }
.wp998 { width: 998px; margin: 0px auto; }
#OSC_Screen { width: 998px; margin: 0px auto 50px; text-align: left; }
#OSC_NavTop { font-size: 10pt; height: 30px; line-height: 30px; background-color: rgb(21, 162, 48); min-width: 998px; }
#OSC_NavTop a { text-decoration: none; color: rgb(255, 255, 255); }
#OSC_NavTop .cs_content a { color: rgb(0, 136, 0); }
#OSC_NavTop a:hover { color: rgb(238, 238, 238); }
#OSC_NavTop #OSC_Channels { float: left; }
#OSC_NavTop #OSC_Channels ul { line-height: 18px; }
#OSC_NavTop #OSC_Channels ul li.item { float: left; margin: 0px 16px 0px 0px; line-height: 30px; }
#OSC_NavTop #OSC_Channels ul li a.hl { font-weight: bold; }
#OSC_NavTop #OSC_Userbar { float: right; color: rgb(221, 221, 221); }
#OSC_Banner { margin: 0px 0px 20px; padding: 15px 0px; background-color: rgb(245, 245, 245); border-bottom: 1px solid rgb(238, 238, 238); min-width: 998px; height: auto; }
#OSC_Banner .Logo { float: left; text-indent: -9999px; width: 160px; height: 48px; margin-right: 10px; background: transparent url("logo.svg") no-repeat scroll 0px 0px; }
#OSC_Banner h1 { font-size: 20pt; font-weight: normal; color: rgb(64, 170, 83); float: left; line-height: 40px; height: 40px; margin: 3px 0px 0px 12px; }
#OSC_Banner h1 a { text-decoration: none; color: rgb(64, 170, 83); }
#OSC_Banner dl { float: left; margin: 8px 0px 0px 20px; color: rgb(102, 102, 102); }
#OSC_Banner dl dt { line-height: 16px; text-align: left; }
#OSC_Banner dl dt em { font-style: normal; color: rgb(170, 0, 0); font-weight: bold; }
#OSC_Banner dl a { text-decoration: none; }
#OSC_Banner .search { float: right; margin: 8px 0px 0px; overflow: hidden; }
#OSC_Banner .search .TXT { float: left; font-size: 10.5pt; width: 228px; height: 30px; border: 1px solid rgb(64, 170, 83); padding: 0px 10px; border-radius: 0px; }
#OSC_Banner .search .BTN { float: left; font-size: 10.5pt; background: rgb(64, 170, 83) none repeat scroll 0% 0%; border: 0px none; color: rgb(255, 255, 255); height: 32px; padding: 0px 10px; cursor: pointer; }
#OSC_Banner .search .BTN:hover { background-color: rgb(53, 162, 102); }
#OSC_Footer { margin-top: 20px; padding-bottom: 50px; height: 38px; line-height: 38px; border-top: 2px solid rgb(204, 204, 204); color: rgb(115, 117, 115); text-align: center; }
.TextContent { line-height: 1.6; }
.TextContent code { margin: 0px 2px; padding: 0px 5px; white-space: nowrap; border: 1px solid rgb(221, 221, 221); background-color: rgb(246, 246, 246); border-radius: 3px; }
.TextContent p { margin-bottom: 15pt; }
.TextContent img { max-width: 640px; }
.TextContent h1, .TextContent h2, .TextContent h3 { margin-bottom: 10pt; }
.TextContent h2 { font-size: 14pt; }
.control_select { position: relative; background: transparent url("down3.gif") no-repeat scroll right 14px; padding-right: 8px; cursor: pointer; height: 30px; display: inline-block; z-index: 1001; }
.control_select a { position: relative; }
.control_select ul.cs_content { display: none; text-align: left; position: absolute; left: 0px; top: 25px; width: 110px; z-index: 9999; background: white none repeat scroll 0% 0%; border: 1px solid rgb(21, 162, 48); padding: 5px 0px 2px 5px; font-size: 9pt; list-style-type: none; }
.control_select ul.cs_content li.split { height: 1px; background: rgb(204, 204, 204) none repeat scroll 0% 0%; margin-right: 5px; }
.control_select ul.cs_content li { border: 0px none; height: 16px; line-height: 16px; margin-bottom: 8px; }
#OSC_NavTop .control_select ul.cs_content li a:hover { font-weight: bold; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(170, 0, 0); }
.control_select ul.cs_mobile { width: 130px; }
.control_select ul.cs_mobile .android_ { background: transparent url("android.gif") no-repeat scroll left center / 12px 16px; padding-left: 20px; }
.control_select ul.cs_mobile .ios_ { background: transparent url("iphone.gif") no-repeat scroll left center / 12px 16px; padding-left: 20px; }
.control_select ul.cs_mobile .wp7_ { background: transparent url("wp7.gif") no-repeat scroll left center / 12px 16px; padding-left: 20px; }
a.rndbutton { background: rgb(92, 194, 111) none repeat scroll 0% 0%; color: rgb(255, 255, 255); text-decoration: none; height: 30px; float: left; margin: 0px; border: 0px solid rgb(0, 0, 0); font-weight: bold; cursor: pointer; }
a.rndbutton:hover { background-position: left -30px; background-color: rgb(64, 171, 84); }
a.rndbutton span { color: rgb(255, 255, 255); float: left; margin: 0px 0px 0px 12px; padding: 0px 12px 0px 0px; height: 30px; line-height: 28px; }
input.rndbutton { background: rgb(92, 194, 111) none repeat scroll 0% 0%; color: rgb(255, 255, 255); height: 30px; border: 0px solid rgb(0, 0, 0); cursor: pointer; }
input.rndbutton:hover { background-color: rgb(64, 171, 84); }
a.tag { background-color: rgb(228, 239, 246); border-bottom: 1px solid rgb(177, 211, 235); border-right: 1px solid rgb(177, 211, 235); color: rgb(62, 109, 142); font-size: 8pt; line-height: 2.4; margin: 2px 2px 2px 0px; padding: 2px 4px; text-decoration: none; white-space: nowrap; position: relative; }
a.tag:hover { background-color: rgb(202, 222, 236); color: rgb(62, 109, 142); }
.Tags a.project { background-color: rgb(204, 255, 204); color: rgb(0, 102, 0); }
.Tags a.project:hover { background-color: rgb(64, 170, 83); color: rgb(255, 255, 255); }
