/* Effective stylesheet produced by snapshot save */
.syntaxhighlighter { background-color: rgb(255, 255, 255) ! important; }
.syntaxhighlighter .line.alt1 { background-color: rgb(255, 255, 255) ! important; }
.syntaxhighlighter .line.alt2 { background-color: rgb(248, 248, 248) ! important; }
.syntaxhighlighter .toolbar { background-color: rgb(248, 248, 248) ! important; border: 1px solid rgb(231, 229, 220) ! important; }
.syntaxhighlighter .toolbar a { color: rgb(160, 160, 160) ! important; }
.syntaxhighlighter .toolbar a:hover { color: red ! important; }
.syntaxhighlighter .plain, .syntaxhighlighter .plain a { color: rgb(0, 0, 0) ! important; }
.syntaxhighlighter .comments, .syntaxhighlighter .comments a { color: rgb(0, 130, 0) ! important; }
.syntaxhighlighter .string, .syntaxhighlighter .string a { color: blue ! important; }
.syntaxhighlighter .keyword { color: rgb(0, 102, 153) ! important; font-weight: bold ! important; }
.syntaxhighlighter .functions { color: rgb(255, 20, 147) ! important; }
