/* Effective stylesheet produced by snapshot save */
div.topic_page, a { color: rgb(233, 101, 14); text-decoration: underline; }
a:hover { color: white; }
div.app_nav, div#page, .comment_title, tr.mouse_over { background-color: rgb(254, 240, 231); }
div#local, div#main, .blog_main, .pagination a:hover, .pagination a:active { background-color: white; border-color: rgb(233, 101, 14); }
div.nav, div#app_list div.decorate, a:hover, div#branding, input.button, input.submit, td.buttons a, .pagination span.current { background-color: rgb(233, 101, 14); }
.blog_bottom li { border-right-color: rgb(233, 101, 14); color: rgb(233, 101, 14); }
.blog_comment, div.picture_full { border-top-color: rgb(233, 101, 14); }
#blog_navbar { background-color: rgb(233, 101, 14); }
.blog_navbar_for { color: rgb(233, 101, 14); background-color: rgb(254, 240, 231); }
#blog_navbar .blog_navbar_for a:visited { color: rgb(233, 101, 14); background-color: rgb(254, 240, 231); }
#blog_navbar .blog_navbar_for a:link { color: rgb(233, 101, 14); background-color: rgb(254, 240, 231); }
