/* CSS Document */
body,td,th {
	font-size: 12px;
	color: #000000;
}
body {
	background-color: #FFFFFF;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-decoration: underline;
	color: #FF0000;
}
a:active {
	text-decoration: none;
	color: #000000;
}
h1 { font-family:"ºÚÌå"; font-size:20px; font-weight:normal; margin-bottom:15px; }

/* Top */

.top { width:976px; margin-left:auto; margin-right:auto; margin-bottom:9px; border-bottom: 1px solid #1F3A87;}
.top_1 { border: 1px solid #B2B2B2; background-color:#F9FCFE; padding-left:8px; padding-top:4px; margin-bottom:8px; line-height:22px;}
.top_2 { padding-left:2px;}
.top_2_1 { width:95px; height:43px; float:left;}
.top_2_2 { width:460px; margin-left:20px; margin-top:24px; float:left; line-height:19px; letter-spacing: 0px;}
.top_2_3 { width:290px; margin-left:50px !important; margin-left:10px; margin-top:20px; float:right;}
.top_2_3_1 { width:48px; float:left; margin-top:6px;}
.top_2_3_2 { width:110px; float:left;}
.top_2_3_3 { width:84px; float:left; margin-top:0px !important; margin-top:0px;}
.top_2_3_4 { width:50px; float:left; margin-top:0px !important; margin-top:0px;}
.top_2_3_5 { width:40px; margin-left:5px; margin-top:20px; float:right;}
.top_2_3_6 { width:40px; float:left; margin-top:0px !important; margin-top:0px;}
.top_2_4 { width:240px; margin-top:20px; float: right;}
.top_2_4_1 { width:26px; height:14px; margin-left:4px; margin-top:4px; float:left;}

/* Z */

.zh { width:976px; margin-left:auto; margin-right:auto; margin-bottom:9px;}
.z { width:15px; height:300px; margin-left:5px; float:left; margin-top:10px;}

/* left */

.left { width:571px; float:left; border:1px solid #000000; background-color:#F9FCFE;}
.left_1 { height:60px; margin:15px; border-bottom:1px dashed #B2B2B2;}

.left_2 { margin:15px; border:1px solid #ccc; background-color:#FFFFFF; padding:6px 12px 6px 12px; font-size:14px; color:#1F3A87; line-height:26px;}
.left_3 { margin-top:10px; margin-buttom:10px; font-size:14px; line-height:26px;	margin-right: 10px;margin-left: 10px;overflow: hidden;}
.left_4 { margin:10px 15px 10px 15px;}
.left_4_1 { width:70px; height:20px; float:left; margin-left:100px !important; margin-left:50px;}
.left_4_2 { width:260px; height:14px; padding-top:6px; float:left;}
.left_5 { height:46px; margin:15px; background-image:url(/images/article/bg_1.gif);}
.left_5_1 { width:38px; height:18px; margin-left:20px; background-color:#F9FCFE; padding-top:28px; float:left;}
.left_5_2 { width:47px; height:27px; margin-left:6px; float:left; background-image:url(/images/article/di_2.gif); padding-top:5px;}
.left_5_3 { width:100px; height:18px; margin-left:20px; background-color:#F9FCFE; padding-top:28px; float:left;}
.left_5_4 { width:260px; height:46px; float:right; margin-right:20px;}
.left_5_4_1 { width:38px; height:18px; background-color:#F9FCFE; padding-top:28px; float:right;}
.left_5_4_2 { width:55px; height:27px; margin-left:6px; float:right; background-image:url(/images/article/di_3.gif); padding-top:5px;}
.left_6 { width:541px !important; width:551px; background-color:#FFFFFF; border-top: 1px solid #B2B2B2; padding:15px;}
.left_6_1 { width:48%; float:left; font-size:14px;}
.left_6_1_1 { padding-top:6px; line-height:26px;font-size:12px;}
.left_6_2 { width:48%; float:right; font-size:14px;}
.left_7 { width:541px !important; width:551px; border-top: 1px solid #B2B2B2; border-bottom: 1px solid #B2B2B2; background-color:#F9FCFE; padding:8px 15px 8px 15px;}
.left_7_1 { margin-left:10px;}
.left_7_2 { margin-left:5px;}
.left_8 { width:541px !important; width:551px; background-color:#E7E7E7; padding:15px 15px 10px 15px;}
.left_8_1 { width:390px; height:130px; float:left;}
.left_8_2 { width:90px; float:right; margin-left:20px; line-height:24px; padding-top:30px;}
.left_8_3 { margin-top:10px;}
.left_9 { width:541px !important; width:551px; background-color:#E7E7E7; padding:0px 15px 10px 15px;}
.left_9_1 { width:65px; height:21px; float:left; margin-left:4px;}
.left_9_2 { width:125px; height:21px; float:left; margin-left:10px;}
.left_9_3 { width:200px; margin-top:8px; margin-left:15px; float:left;}
.left_10 { height:100%;}

.left_a { height:150px; border:1px solid #6A6A6A; padding:10px; margin-bottom:8px;}
.left_a1 { width:200px; height:150px; float:left;}
.left_a2 { width:314px; float:right; border:1px solid #CDCDCD; background-color:#FAFAFA; padding:8px 12px;}
.left_a3 { width:150px; line-height:22px; color:#394898; float:left;}
.left_a4 { width:150px; line-height:22px; color:#394898; float:right;}

.left_b { border:1px solid #000; background-color:#F9FCFE;}
.left_b1 { background-color:#F9FCFE; border-top:1px solid #B2B2B2; padding-left:12px;}
.left_b1_1 { width:200px; padding:11px 10px 0px 10px; float:left;}
.left_b1_a { width:48px; height:18px; background-color:#FFFFFF; border-left:1px solid #C1D3DF; border-right:1px solid #C1D3DF; float:left; padding-top:7px;}
.left_b1_b { width:48px; height:18px; background-color:#F9FCFE; border-right:1px solid #C1D3DF; float:left; padding-top:7px;}
.left_b2 { padding:10px 12px; background-color:#FFFFFF; border-top:1px solid #C1D3DF;}
.left_b21 { height:24px;}
.left_b3 { width:541px; height:50px; border-top: 1px solid #B2B2B2; border-bottom: 1px solid #B2B2B2; background-color:#F9FCFE; padding:5px 15px;}
.left_b3_1 { width:400px; height:45px; float:left;}
.left_b3_2 { height:20px; padding-top:6px;}
.left_b3_3 { height:20px;}
.left_b3_3_1 { margin-left:0px;}
.left_b3_3_2 { margin-left:10px;}
.left_b4 { width:120px; height:45px; float:right; padding-top:3px;}
.left_b4_1 { width:54px; height:45px; float:left; background-image:url(/images/article/bg_2.gif);}
.left_b4_2 { text-align:center; font-size:18px; font-family:Arial, Helvetica, sans-serif; color:#A90000; padding-top:4px;}
.left_b4_3 { text-align:center; padding-top:3px !important; padding-top:6px;}
.left_b4_4 { width:54px; height:45px; float:left; background-image:url(/images/article/bg_2.gif); margin-left:7px;}
.left_b5 { height:25px; border-bottom:1px solid #C1D3DF; border-top:1px solid #577284; background-color:#F9FCFE; padding:0px 10px 0px 10px;}
.left_b5_1 { padding:12px 0px; height:80px;}
.left_b5_2 { width:100px; float:left; margin-left:11px;}
.left_b5_3 { width:100px; float:left; margin-left:6px;}

/* right */
.right { width:362px !important; width:352px; border:1px solid #000000; float:right;}
.right_1 { padding:1px; height:302px; width:348px; text-align:center}
.right_2 { width:360px !important; width:360px; height:47px; border-bottom:1px solid #9AB1C1; border-top:1px solid #9AB1C1; background-color:#F9FCFE;}
.right_2_adv { width:360px; border-bottom:1px solid #9AB1C1; background-color:#F9FCFE;}
.right_2_1 { width:108px; height:35px; margin-top:6px; margin-left:7px; float:left;}
.right_2_2 { width:220px; float:left; margin-left:7px; line-height:20px; margin-top:4px;}
.right_3 { padding:10px; line-height:22px;}
.right_4 { width:340px !important; width:340px; height:25px; border-bottom:1px solid #C1D3DF; border-top:1px solid #577284; background-color:#F9FCFE; padding:0px 10px 0px 10px;}
.right_4_1 { width:90px; margin-top:7px; float:left;}
.right_4_2 { width:48px; height:19px; background-color:#FFFFFF; border-left:1px solid #C1D3DF; border-right:1px solid #C1D3DF; float:right; padding-top:6px;}
.right_4_3 { width:48px; height:19px; background-color:#F9FCFE; border-left:1px solid #C1D3DF; border-right:1px solid #C1D3DF; float:right; padding-top:6px;}
.right_5 { height:22px; padding:10px;}
.right_5_1 { width:186px; height:18px; float:left;}
.right_5_2 { width:140px; height:18px; float:left; margin-left:10px; padding-top:2px;}
.right_6 { padding:10px; line-height:16px;}

/* head */

.head { width:700px; height:80px; margin-left:auto; margin-right:auto; margin-top:20px;}
.head_1 { border-bottom:1px solid #000000; line-height:24px;}
.head_2 { line-height:24px; padding:4px;}



/* font */

.font_1 { color:#1F3A87;}
.font_2 { color:#7F7F7F; font-size:12px;}
.font_3 { color:#CC0000;}
.font_4 { font-weight:bold;}
.font_5 { color:#1F3A87; font-size:14px; font-weight:bold;}
.font_6 { color:#FFFFFF; font-size:14px; font-weight:bold;}
.font_7 { color:#000; font-weight:bold;}
.font_8 { color:#CC0000; font-weight:bold;}
.font_9 { color:#FF0000;}
.font_10 { color:#1F3A87; font-weight:bold;}
.font_11 { color:#000000; font-weight:bold;}
.shortmsg { font-size:12px ; color:#006600; }

a.font_a:link {
	color: #1F3A87;
	text-decoration: none;
}
a.font_a:visited {
	text-decoration: none;
	color: #1F3A87;
}
a.font_a:hover {
	text-decoration: underline;
	color: #cc0000;
}
a.font_a:active {
	text-decoration: none;
	color: #1F3A87;
}
a.gont_b:link {
	color: #FFFFFF;
	text-decoration: none;
}
a.gont_b:visited {
	text-decoration: none;
	color: #FFFFFF;
}
a.gont_b:hover {
	text-decoration: none;
	color: #FFFFFF;
}
a.gont_b:active {
	text-decoration: none;
	color: #FFFFFF;
}
a.font_c:link {
	color: #FF0000;
	text-decoration: none;
}
a.font_c:visited {
	text-decoration: none;
	color: #FF0000;
}
a.font_c:hover {
	text-decoration: underline;
	color: #D10000;
}
a.font_c:active {
	text-decoration: none;
	color: #FF0000;
}
a.font_d:link {
	color: #000000;
	text-decoration: none;
}
a.font_d:visited {
	text-decoration: none;
	color: #000000;
}
a.font_d:hover {
	text-decoration: underline;
	color: #FF0000;
}
a.font_d:active {
	text-decoration: none;
	color: #000000;
}
a.groupnote:link {
	font-size:12px;
	color: #ababab;
	text-decoration: none;
}
a.groupnote:visited {
	font-size:12px;
	text-decoration: none;
	color: #ababab;
}
a.groupnote:hover {
	font-size:12px;
	text-decoration: underline;
	color: #FF0000;
}
a.groupnote:active {
	font-size:12px;
	text-decoration: none;
	color: #ababab;
}


/* Text */

.text_1 { width:102px; height:16px; border: 1px solid #000000; background-color:#FFFFFF;}
.text_2 { width:80px; height:19px;}
.text_3 { width:50px; height:19px;}
.test_4 { float:left;}
.test_5 { float:right;}
.text_6 { border: 1px solid #B2B2B2; background-color:#FFFFFF; width:60px; height:17px;}
.text_7 { width:186px; height:18px; border: 1px solid #B2B2B2;}