BODY
{
font-size: 9pt;
background:url(/images/bg_all.gif);
background-position:center;
cursor:url(/images/m.ani);
scrollbar-face-color: #DEE3E7;
scrollbar-highlight-color: #FFFFFF;
scrollbar-shadow-color: #DEE3E7;
scrollbar-3dlight-color: #D1D7DC;
scrollbar-arrow-color:  #006699;
scrollbar-track-color: #EFEFEF;
scrollbar-darkshadow-color: #98AAB1;
font-family: Tahoma, sans-serif;
text-align: center;
margin: 0;
padding: 0;
}
.unite
{
    BORDER-TOP-WIDTH: 1px;
    FONT-WEIGHT: normal;
    BORDER-LEFT-WIDTH: 1px;
    FONT-SIZE: 9pt;
    BORDER-LEFT-COLOR: black;
    BORDER-BOTTOM-WIDTH: 1px;
    BORDER-BOTTOM-COLOR: #000000;
    COLOR: #000000;
    BORDER-TOP-COLOR: black;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    HEIGHT: 18px;
    BACKGROUND-COLOR: #FFFFFF;
    BORDER-RIGHT-WIDTH: 1px;
    FONT-VARIANT: normal;
    BORDER-RIGHT-COLOR: #000000
}
.x5TopMenu {FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif}
.x5TopMenuOver{COLOR: #333333; BACKGROUND-COLOR: #ddeeff}
.buttons A {BORDER-RIGHT: #c3c8cb 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #fefefe 1px solid; DISPLAY: block; PADDING-LEFT: 6px; PADDING-BOTTOM: 2px; MARGIN: 0px; FONT: 11px Arial; BORDER-LEFT: #fefefe 1px solid; WIDTH: 100%; COLOR: #21536a; PADDING-TOP: 2px; BORDER-BOTTOM: #c3c8cb 1px solid; BACKGROUND-COLOR: #eaeeee; TEXT-ALIGN: left; TEXT-DECORATION: none}
.buttons A:hover{BORDER-RIGHT: #fefefe 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #c3c8cb 1px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 2px; BORDER-LEFT: #c3c8cb 1px solid; COLOR: #21536a; PADDING-TOP: 2px; BORDER-BOTTOM: #fefefe 1px solid; BACKGROUND-COLOR: #ddeeff; TEXT-DECORATION: none}
.buttonsleft{BORDER-RIGHT: #FFFFFF 1px outset; PADDING-RIGHT: 1px; BORDER-TOP: #FFFFFF 1px outset; PADDING-LEFT: 1px; FONT-WEIGHT: bolder; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; BORDER-LEFT: #FFFFFF 1px outset; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #FFFFFF 1px outset; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #A0D4F4}
.buttonscenter{BORDER-RIGHT: #FFFFFF 1px outset; PADDING-RIGHT: 1px; BORDER-TOP: #FFFFFF 1px outset; PADDING-LEFT: 1px; FONT-WEIGHT: bolder; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; BORDER-LEFT: #FFFFFF 1px outset; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #FFFFFF 1px outset; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #CFEBFB}
.buttonsright{BORDER-RIGHT: #FFFFFF 1px outset; PADDING-RIGHT: 1px; BORDER-TOP: #FFFFFF 1px outset; PADDING-LEFT: 1px; FONT-WEIGHT: bolder; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; BORDER-LEFT: #FFFFFF 1px outset; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #FFFFFF 1px outset; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #DDE9F5}
a:link {color: #000;text-decoration: none;}
a:visited {color: #000;text-decoration: none;}
a:hover{
color: #F00;text-decoration: none;
}
a:active {color: #000;text-decoration: none;}
.CATitle2 {
	height: 20px;
	background-position: top right;
	background-repeat: no-repeat;
	background-color: #FFF;
	line-height: 20px;
	clear: both;
}
.CATitle2 .SmTitle {
	height: 20px;
	line-height: 20px;
	float: left;
	padding: 0 0 0 10px;
	margin: 0 10px 0 0;
	color: #036;
}
.CATitle2 ul {
	margin: 0;
	padding: 0;
}
.CATitle2 li {
	display: inline;
	margin: 0;
	padding: 0 2px;
	list-style-type: none;
}
.CATitle2 li a {
	padding: 0 2px;
	text-decoration: none;
	color: #000000;
	border: 1px solid #000000;
}
.CATitle2 li a:hover {
	text-decoration: none;
	color: #FFF;
	background-color: #000000;
	border: 1px solid #FFF;
}

.table3{border:green dotted;border-width:2 0 0 2}
.td3{border:green dotted;border-width:0 2 2 0}
.h_l
{
 BORDER-RIGHT: #999999 1px dashed; PADDING-RIGHT: 5px; BORDER-TOP: #999999 1px dashed; PADDING-LEFT: 5px; FONT-SIZE: 90%; PADDING-BOTTOM: 2px; MARGIN: 5px 10px; BORDER-LEFT: #999999 1px dashed; PADDING-TOP: 2px; BORDER-BOTTOM: #999999 1px dashed; FONT-FAMILY: Courier New, Courier, monospace; BACKGROUND-COLOR: #efefef
}
.tishi
{
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: black 1px solid; PADDING-LEFT: 3px; FILTER: revealTrans(transition=23,duration=0.5) blendTrans(duration=0.5); VISIBILITY: hidden; PADDING-BOTTOM: 0px; BORDER-LEFT: black 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: black 1px solid; POSITION: absolute; BACKGROUND-COLOR: #FFD9A0
}
.xpbutton
{
	 BORDER-RIGHT: #7b9ebd 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #7b9ebd 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#cecfde); BORDER-LEFT: #7b9ebd 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #7b9ebd 1px solid
}
.input 
{
	BORDER-RIGHT: #666666 0px solid; BORDER-TOP: #666666 0px solid; FONT-SIZE: 11px; BORDER-LEFT: #666666 0px solid; BORDER-BOTTOM: #666666 1px solid; FONT-FAMILY: Arial, TahomaHelvetica; BACKGROUND-COLOR: #FFFFFF
}
PRE {
	FONT-SIZE: 9pt; FONT-FAMILY: 宋体,Arial,"Ms Sans Serif"
}
INPUT {
	FONT-SIZE: 9pt; FONT-FAMILY: 宋体,Arial,"Ms Sans Serif"
}
TEXTAREA {
	FONT-SIZE: 9pt; FONT-FAMILY: 宋体,Arial,"Ms Sans Serif"
}
P {
	LINE-HEIGHT: 16pt
}
TH {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; BACKGROUND: gray; COLOR: #ffffff; TEXT-INDENT: 5px; FONT-STYLE: normal; FONT-FAMILY: 宋体,Arial,"Ms Sans Serif"; TEXT-ALIGN: left; 4488AA: 
}
SELECT {
	FONT-SIZE: 9pt; FONT-FAMILY: 宋体,Arial,"Ms Sans Serif"
}
SUP {
	FONT-SIZE: 9pt; COLOR: maroon; FONT-FAMILY: 宋体,Arial,"Ms Sans Serif"
}
HR {
	size: 1pt
}
.button
{
    BORDER-RIGHT: #665b8e 1px solid;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #ffffff 1px solid;
    PADDING-LEFT: 1px;
    FONT-SIZE: 12px;
    BACKGROUND: #cccccc;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #ffffff 1px solid;
    CURSOR: hand;
    COLOR: #333333;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #665b8e 1px solid;
    FONT-FAMILY: "MS Shell Dlg", "Tahoma", "宋体";
    HEIGHT: 20px
}
.line01{
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.bg99{
	BACKGROUND-IMAGE: url(../images/y_bg.gif)
}
#dhtmltooltip
{position: absolute;left: -100px;width: 250px;border: 1px solid black;padding: 1px;background-color: lightyellow;visibility: hidden;z-index: 100;
/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}
#dhtmlpointer{position:absolute;left: -300px;z-index: 101;visibility: hidden;}
.leftitem { font-family: Arial; font-size: 12px; color: #000000; cursor: hand }
.menuup { PADDING-LEFT: 4px; PADDING-RIGHT: 4px; CURSOR: hand;}
.menuover { 
    color: #000000;
	background-color: #d3e7ff;
	height: 21px;
	border: 1px solid #000000;
	line-height: 21px;
	background-image: url(http://www.cnsdn.com.cn/images/2k3ButtonOver.gif);
	text-decoration: none;
}
.bodybar {filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=1, endcolorstr=#F7F7F7, startcolorstr=#DEDBD6)}
.menubar {filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=0, startcolorstr=#F7F7F7, endcolorstr=#ded3ce)}
.rightbar {filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=0, startcolorstr=#BDD7F7, endcolorstr=#F7F7F7)}
.yqlj {FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#73AEDE, endColorStr=#FFFFFF, gradientType=1}
.a3{width:25;border:0;text-align:left}
.UnRead {
	COLOR: olive; link: Olive; visited: Olive; active: Olive
}
.UnConfirmed {
	COLOR: orange; link: Orange; visited: Orange; active: Orange
}
.shadow
{
   font-size:12px;
   filter:progid:DXImageTransform.Microsoft.dropShadow(OffX=2,OffY=2,Color='#DDDDDD',Positive='1');
}
.Toolbar {
	FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: 宋体,Arial,"Ms Sans Serif"; TEXT-DECORATION: none
}
.Mover {
	FONT-SIZE: 12px; CURSOR: default; COLOR: highlighttext; BACKGROUND-COLOR: highlight
}
.Mout {
	FONT-SIZE: 12px; CURSOR: default; COLOR: buttontext; BACKGROUND-COLOR: buttonface
}
html
{
	border:		0;
	overflow:	hidden;
}
te
{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	margin-top: 14pt;
	margin-bottom: 4t;
	font-size: 12pt;
	border-bottom: 2px solid #ffa500;
	line-height: 150%;
}