/*====== MzForm.css == meizz == 2007-05-24 ======*/

.MzForm{top: 20px; left: 20px; min-width:160px; min-height:100px;}
.MzFormContent{text-align:left; vertical-align:top;}


.MzForm .MzFormLayer{padding: 5px 7px 5px; position:relative; z-index:1;}
.MzForm .MzFormLayerTable{background: url(MzForm/icon.gif) no-repeat left 3px;}
.MzForm .MzFormCaption{height:24px; font-size:12px; vertical-align:top; text-align:left;}
.MzForm .MzFormCaptionText{height:20px; line-height:24px; padding-left:18px; color:#000000; overflow:hidden; cursor:default; margin-right:5px;}

.MzForm .MzFormContent{background-color:#FFFFFF; border:solid 1px #bdd3ef;}
.MzForm .MzFormStatusBar{line-height:20px; font-size:12px; color:#000000; cursor:default;}
.MzForm .MzFormButtonBar td{height: 21px; font-size:12px; color:#000000; cursor:default; text-align:right; padding-top:3px;}
.MzForm .MzFormButtonBar input{width:60px; height: 21px; background:url(MzForm/button.gif) no-repeat; font-size:12px; border:none}
.MzForm .MzFormButtonBar input.cancel{background-position:left -21px;}
.MzForm .MzFormControlBar{float:right; cursor:default;line-height:normal;}
.MzForm .MzFormControlBar img{border:none;}
.MzForm .MzFormControlBar .Close img{width:28px; height:15px; background:url(MzForm/close.gif) no-repeat;}
.MzForm .MzFormControlBar .Minimize img{width:28px; height:15px; background:url(MzForm/minimize.gif) no-repeat;}
.MzForm .MzFormControlBar .Maximize img{width:28px; height:15px; background:url(MzForm/maximize.gif) no-repeat;}






.MzForm .BgLayer{position:absolute; top:0; left:0; width:100%; height:100%; font-size:1px;}
html>body .MzForm .BgLayer, html>body .MzFormCaption, html>body .MzFormControlBar{-moz-user-select:none;}

.MzForm .BgLayer .corner{background:url(MzForm/corner.gif) no-repeat; width:50px; height:50px;}
.MzForm .BgLayer .horizontal{background:url(MzForm/horizontal.gif) repeat-y;}
.MzForm .BgLayer .vertical{background:url(MzForm/vertical.gif) repeat-x;}
.MzForm .BgLayer .midland{background-color:#FFFFFF;}

.png .MzFormLayer{padding: 10px 15px 15px;}
.png .MzFormLayerTable{background-position:left 5px;}
.png .MzFormCaption{height:28px;}
.png .MzFormCaptionText{line-height:28px;}
.png .MzFormControlBar{margin-top:-1px;}
.png .MzFormContent{background: transparent url(MzForm/bgContent.png); border: solid 1px #666666;}
.png .BgLayer .corner{background:url(MzForm/corner.png) no-repeat; width:50px; height:50px;}
.png .BgLayer .horizontal{background:url(MzForm/horizontal.png) repeat-y;}
.png .BgLayer .vertical{background:url(MzForm/vertical.png) repeat-x;}
.png .BgLayer .midland{background:transparent url(MzForm/midland.png);}
.png .MzFormControlBar .Close img{width:44px; height:19px; background:url(MzForm/close_png.gif) no-repeat;}
.png .MzFormControlBar .Minimize img{width:26px; height:19px; background:url(MzForm/minimize_png.gif) no-repeat;}
.png .MzFormControlBar .Maximize img{width:25px; height:19px; background:url(MzForm/maximize_png.gif) no-repeat;}

.MzForm .BgLayer .top .right{background-position:100% 0%}
.MzForm .BgLayer .middle .right{background-position:100% 0%;}
.MzForm .BgLayer .bottom .left{background-position:0% 100%}
.MzForm .BgLayer .bottom .center{background-position:0% 100%;}
.MzForm .BgLayer .bottom .right{background-position:100% 100%}
