/*====== NoticeWindow.css == meizz == 2007-05-29 ======*/

.NoticeWindow{background:#bdd3ef url(NoticeWindow/bg.gif) repeat-x left top; font-size:12px; position:absolute; z-index:8; width:130px;}
.NoticeWindow dd{margin:0;}
.NoticeWindow .layer{padding:3px; margin:0; border:solid 1px #FFFFFF; border-right-color:#6f88b5; border-bottom-color:#6f88b5;}

.NoticeWindowCaption{padding-left:42px; background:url(NoticeWindow/logo_csdn.gif) no-repeat 2px 0px; height:20px; line-height:20px; cursor:default;color:#222222;}
.NoticeWindowCaption span{float:right;}
.NoticeWindowCaption img.minimize{background:url(NoticeWindow/mize.gif) no-repeat; width:15px; height:15px;}
.NoticeWindowCaption img.close{background:url(NoticeWindow/close.gif) no-repeat; width:15px; height:15px;}
.minimize img.minimize{background-position:-15px 0}
.NoticeWindowContent{padding:3px;margin:0;line-height:160%;max-height:80px;overflow:auto; border:solid 1px #6888c0; background-color:#f6f9fb;}