/*--= 20070608 =--*/

.ittoolbox_csdnl{position:absolute;z-index:99; width:343px;background:url(/images/showme/ittoolbox_csdn_pic2.gif) no-repeat left bottom;font:normal 9pt verdana,sans-serif;}
.ittoolbox_csdnl h6{background:url(/images/showme/ittoolbox_csdn_pic1.gif) left bottom no-repeat;margin:0;padding:0;height:42px;font:normal 120% Tahoma,sans-serif;line-height:42px;}
.ittoolbox_csdnl h6 span{font-weight:bold;color:#B90E00;margin:0 0 0 35px;padding:0 5px 0 0;}
.ittoolbox_csdnl a{text-decoration:underline;color:#0033FF;}
.ittoolbox_csdnl a:hover{color:#F00;text-decoration:none;}
.ittoolbox_csdnl table{margin:0 2px 8px 27px; width:314px;}
.ittoolbox_csdnl th{vertical-align:top;text-align:center; width:120px;font-size:9pt}
.ittoolbox_csdnl td{vertical-align:top;text-align:left;padding:5px;}
.ittoolbox_csdnl img.person{margin:10px;}
.ittoolbox_csdnl .submitArea{text-align:center; border-top:solid 1px #FFFFFF; padding-top:4px;}
.ittoolbox_csdnl input.btnSubmit{background:url(/images/showme/bgBtn.gif) no-repeat;width:65px; height:20px; border:none;}

.arrow_right{background:url(/images/showme/ittoolbox_csdn_pic2.gif) no-repeat -25px bottom;}
.arrow_right h6{background-image:url(/images/showme/ittoolbox_csdn_pic11.gif);height:45px; line-height:45px; padding-left:8px;}
.arrow_right table{margin:0 27px 8px 2px;}