/* Effective stylesheet produced by snapshot save */
sub { bottom: auto; }
a, a:focus { outline: 0px none; }
.container-fluid { min-height: 600px; padding-right: 20px; padding-left: 20px; }
.ball-pulse > div { background: rgb(213, 213, 213) none repeat scroll 0% 0%; }
.ball-loading-center { position: absolute; top: 40%; left: 45%; }
.alert { margin-bottom: 1em; }
.row-fluid { margin-top: 20px; }
i { font-style: normal; }
sub { bottom: auto; }
input { width: 150px; }
.footer { text-align: center; margin: 40px auto 0px; clear: both; background-color: rgb(255, 255, 255); width: 100%; }
.footer .footer-inner { max-width: 960px; margin: 0px auto; padding-top: 30px; padding-bottom: 10px; padding-left: 50px; }
.footer a { text-decoration: none; margin: 5px 10px; display: inline-block; }
#flash_container { float: left; width: 550px; margin: 0px auto; line-height: 30px; text-align: center; }
.return { display: none; width: 50px; height: 50px; cursor: pointer; font-size: 12px; text-align: center; color: rgb(255, 255, 255); font-weight: bold; position: fixed; right: 50px; bottom: 50px; background: transparent url("urn:not-loaded:http://static1.tuicool.com/images/return_bg.png") no-repeat scroll 0px -50px; }
.search_container::after { clear: both; content: ""; display: block; }
.clearfix::after { clear: both; content: "."; display: block; height: 0px; visibility: hidden; }
.clearfix { display: inline-block; }
ul, ul li { list-style-type: none; }
.topic_hot_list .unfollowed i::before { content: "订阅"; }
.topic_hot_list .followed i::before { content: "取消"; }
.search-result-ul::after { content: ""; clear: both; display: block; }
#comment-body { width: 85%; overflow: auto; word-break: break-all; height: 100px; }
*::-moz-selection { color: white; background: rgb(10, 162, 132) none repeat scroll 0% 0%; }
.bottom_ad, .bottom_plink { text-align: center; margin-bottom: 30px; }
.right-ad, .right-link { text-align: center; }
.huodong-detail-plink-banner { margin: 0px auto; text-align: center; }
.index-topic-list ul li::before { content: ""; display: block; padding-top: 100%; }
.navbar .brand { padding: 0px 13px; }
.navbar .nav > li > a { padding: 1em 0.6em; }
.navbar-search .search-query { padding: 4px 5px; }
.pace { pointer-events: none; -moz-user-select: none; }
.pace-inactive { display: none; }
.pace .pace-progress { background: rgb(10, 162, 132) none repeat scroll 0% 0%; position: fixed; z-index: 2000; top: 0px; right: 100%; width: 100%; height: 2px; }
.article_detail_bg { background-color: rgb(254, 254, 254) ! important; }
.article_row_fluid { margin-top: 10px; }
.contant { background: white none repeat scroll 0% 0%; padding: 15px 15px 50px; margin-bottom: 80px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); }
.article_social { margin-bottom: 10px; }
.article_like { width: 70px; height: 70px; margin: 0px auto; }
.article_like .circle { width: 70px; height: 70px; border-radius: 50%; outline: 0px none; text-align: center; vertical-align: middle; border: 1px solid rgb(222, 222, 222); background: transparent url("social_share.png") no-repeat scroll 0px -80px; }
.article_like #my_zan:hover { background-color: rgb(222, 222, 222); cursor: pointer; }
#share_weixin_image { position: absolute; width: 100px; height: 100px; left: 280px; display: none; }
.article_share_fav { height: 32px; margin-top: 35px; margin-bottom: 20px; }
.article_share_fav .share { float: left; }
.article_share_fav .share span { margin-left: 15px; color: rgb(120, 120, 120); vertical-align: middle; font-size: 14px; margin-right: 5px; }
.article_share_fav .share .share_weibo { outline: 0px none; border: medium none; width: 32px; height: 32px; background: transparent url("social_share.png") no-repeat scroll 0px -200px; }
.article_share_fav .share .share_qq { outline: 0px none; border: medium none; width: 32px; height: 32px; background: transparent url("social_share.png") no-repeat scroll 0px -240px; }
.article_share_fav .share .share_weixin { outline: 0px none; border: medium none; width: 32px; height: 32px; background: transparent url("social_share.png") no-repeat scroll 0px -160px; }
.article_share_fav .fav_correct { float: right; }
.article_share_fav .fav_correct button { background: white none repeat scroll 0% 0%; outline: 0px none; border: 1px solid rgb(230, 230, 230); padding-left: 10px; padding-right: 10px; }
.article_share_fav .fav_correct button:hover { background: rgb(230, 230, 230) none repeat scroll 0% 0%; }
.article_share_fav .fav_correct button i { font-size: 14px; vertical-align: middle; margin-right: 2px; }
.article_share_fav .fav_correct button span { font-size: 12px; vertical-align: middle; color: rgb(120, 120, 120); }
.contant h1 { font-size: 24px; margin-bottom: 5px; }
.article_meta { color: rgb(153, 153, 153); padding-bottom: 8px; border-bottom: 1px dashed rgb(211, 211, 211); font-size: 14px; }
.article_meta .from .icon-globe { margin-right: 0px; }
.article_meta span { margin-right: 5px; }
.article_meta span a { color: rgb(51, 51, 51); }
.article_meta span a:hover { color: rgb(0, 148, 97); }
.article_meta span .cut { display: inline; }
.article_body { padding: 20px 5px 25px; margin-bottom: 0px; overflow-x: hidden; overflow-wrap: break-word; word-break: break-all; min-height: 340px; }
.article_body img, .article_body object, .article_body embed, .article_body video { margin: 0px auto; vertical-align: middle; border: 0px none; max-width: 96%; text-align: center; }
.article_body ol, .article_body ul { padding-left: 0px; }
.no-text-indent { text-indent: 0px ! important; }
.article_body ul li { list-style-type: disc; }
.article_body, .article_body h4, .article_body p, .article_body div, .article_body ol, .article_body ul, .article_body ul li, .article_body ol li { font-size: 16px; line-height: 1.7em; }
.article_body pre { white-space: pre; }
.article_body p, .article_body h1, .article_body h2, .article_body h3, .article_body h4, .article_body h5 { text-indent: 1em; }
.article_body h1, .article_body h2, .article_body h3 { font-weight: bold; }
.article_body li p, .article_body li h4, .article_body li h2, .article_body li h3 { text-indent: 0px; }
.article_body ul li p { text-indent: 0px; }
.article_body strong { text-indent: 0px; }
.article_body h4 { font-size: 16px; font-weight: bold; }
.article_body h2 { font-size: 18px; line-height: 1.6em; }
.article_body a { color: rgb(148, 148, 148); text-decoration: none; border-bottom: 1px dashed rgb(148, 148, 148); font-style: italic; font-weight: bold; }
img.alignCenter { display: block; margin-bottom: 10px; }
.pills::after { content: ""; display: inline; }
.cold_topics::before, .cold_topics::after { clear: both; display: table; content: ""; }
.topic-pills::before, .topic-pills::after { display: table; content: ""; clear: both; }
.cut { overflow: hidden; white-space: nowrap; word-break: keep-all; text-overflow: ellipsis; }
.cut28 { max-width: 28%; }
.cut70 { max-width: 69%; }
.icon { opacity: 0.7; font-size: 12px; }
.right-ad, .right-link { text-align: center; margin-bottom: 5px; }
.right-link img { max-width: 300px; }
.comments { float: left; width: 100%; padding-top: 20px; }
.comments-list { margin-top: 20px; min-height: 20px; }
.more-comments, .loadmore { border: 1px solid rgb(229, 229, 229); background: rgb(245, 245, 245) none repeat scroll 0% 0%; padding: 5px 0px; display: block; width: 100%; text-align: center; line-height: 1.8em; text-decoration: none; color: rgb(10, 162, 132); cursor: pointer; }
.more-comments { margin-top: 10px; }
.more-comments a { color: rgb(153, 153, 153); text-decoration: none; margin-right: 5px; }
.comments-header .comment-alert { padding: 5px; }
.comments-header { padding-right: 25px; }
.comments .comment-notlogin, .comments .comment-loading, .load-fail { position: relative; color: rgb(102, 102, 102); font-size: 18px; padding: 20px 0px; text-align: center; }
.load-fail, #spinner3 { display: none; }
.comments-header .btn-submit { float: right; padding: 5px 10px; }
.comments-header .comment_cnt { font-weight: bold; }
.side_article_list_item { list-style-type: none; padding-top: 4px; padding-bottom: 4px; font-size: 14px; padding-left: 0px; border-bottom: 1px dashed rgb(204, 204, 204); }
#right_site_articles { margin-bottom: 8px; padding-bottom: 2px; font-size: 12px; margin-top: 5px; padding-top: 10px; background-color: rgb(255, 255, 255); box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); }
.article_related_site { margin-bottom: 6px; padding-bottom: 20px; padding-top: 5px; height: 120px; font-size: 12px; background-color: rgb(255, 255, 255); box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); }
.article_related_site_body { clear: both; padding-left: 10px; }
.article_related_site_body .logo { float: left; width: 80px; height: 80px; }
.article_related_site_body .logo img { float: left; width: 80px; height: 80px; border: 1px solid rgb(227, 227, 227); }
.article_related_site_body .name { padding-left: 5px; float: left; }
.article_related_site .name a { color: rgb(22, 160, 133); margin-top: 2px; padding-top: 2px; font-size: 16px; font-weight: bold; overflow: hidden; white-space: nowrap; word-break: keep-all; text-overflow: ellipsis; max-width: 190px; display: inline-block; height: 20px; margin-left: 5px; }
.right_site_follow { padding: 5px 15px; font-size: 12px; line-height: 1em; margin-left: 5px; outline: 0px none; }
.right_site_follow:hover { border-color: rgb(230, 230, 230); }
.article_right_side { max-width: 300px; }
#right_site_articles ul { margin-left: 10px; margin-right: 6px; }
#right_site_articles a { color: rgb(22, 160, 133); }
#right_site_articles li { list-style-type: none; }
#site_articles a { color: rgb(22, 160, 133); font-size: 1.1em; }
#site_articles ul { margin-left: 5px; }
.article-part-title { border-bottom: 1px solid rgb(227, 227, 227); color: rgb(0, 0, 0); font-size: 18px; padding-bottom: 5px; font-weight: bold; margin-left: 6px; margin-right: 6px; padding-left: 5px; }
.article-part-title span { text-decoration: none; display: inline-block; }
#article_weibo { height: 80%; margin: 0px; }
#article_weibo .article-part-title sub { display: none; }
.related-weibo-list { padding-left: 5px; padding-right: 5px; }
.comments-header { padding: 10px; background: rgb(241, 241, 241) none repeat scroll 0% 0%; }
.comments-header h5 { font-size: 18px; margin-left: 10px; }
#comment-body { width: 95%; margin-left: 10px; height: 80px; }
#comment-submit { color: rgb(102, 102, 102); }
.comments-list { display: none; }
code { white-space: normal; border: medium none; font-weight: 600; }
.read-later-alert { top: 250px; left: 40%; height: 25px; background: rgba(48, 48, 48, 0.8) none repeat scroll 0% 0%; padding: 10px; border-radius: 7px; color: rgb(255, 255, 255); position: fixed; display: none; text-align: center; z-index: 9999; }
#kan_articles { padding-left: 5px; margin-bottom: 10px; }
#kan_articles .kan-list { margin: 0px 0px 0px 5px; width: auto; padding-top: 3px; }
.kan-list-container { margin: 0px auto; }
#kan_articles .kan-item { width: 166px; height: 170px; padding: 7px; background: rgb(247, 247, 247) none repeat scroll 0% 0%; }
#kan_articles .kan-cover { height: 150px; }
#kan_articles .kan-detail { display: block; width: auto; margin-top: 5px; text-align: left; }
#kan_articles small { display: block; position: absolute; bottom: 0px; width: 100%; text-align: center; color: rgb(255, 255, 255); background: rgba(92, 92, 92, 0.8) none repeat scroll 0% 0%; }
.kan-item-head { position: relative; text-align: center; display: block; }
#article-correct-modal label { display: inline-block; }
#article-correct-modal select, #article-correct-modal textarea { margin-top: 5px; }
code { font-size: 14px; font-family: Menlo,Monaco,Consolas,"Courier New",monospace; }
i.clearfix { clear: both; display: block; height: 0px; }
img.kan-cover { width: 165px; height: 165px; }
#new-kan { z-index: 2048; width: 400px; }
#new-kan-name { width: 300px; }
#new-kan textarea { width: 300px; }
#new-kan .modal-body { margin-left: 20px; }
#new-kan input[type="radio"] { margin-bottom: 5px; }
#new-kan .modal-footer { padding-left: 30px; padding-right: 30px; }
.new-ness-name, .new-ness-desc { display: none; color: red; }
#add-article-to-kan, #remove-kan { z-index: 2044; width: 400px; }
.add-title { color: rgb(0, 0, 0); font-size: 16px; line-height: 2; }
#add-kan-list { min-height: 200px; max-height: 250px; list-style: outside none none; margin-left: 0px; border-top: 1px solid rgb(204, 204, 204); }
.add-to-btn { width: 130px; margin-left: 100px; }
.kan-list { margin: 20px auto 0px; width: auto; }
li.kan-item { float: left; margin: 5px; border: 1px solid rgb(221, 221, 221); height: 205px; width: 22%; padding: 4px 4px 0px; background: rgb(242, 242, 242) none repeat scroll 0% 0%; }
li.kan-item > a, li.kan-item .kan-item-head { display: block; text-align: center; }
.kan-item span { display: block; width: auto; margin-top: 10px; font-size: 13px; }
li.kan-item .kan-item-head { margin-top: 0px; }
.kan-item span a { max-width: 85%; overflow: hidden; white-space: nowrap; word-break: keep-all; text-overflow: ellipsis; text-decoration: none; margin-left: 5px; }
.kan-item .kan-num { float: right; margin-right: 5px; font-weight: bold; color: rgb(153, 153, 153); }
.kan-item a, li.kan-item .kan-item-head { color: rgb(0, 0, 0); }
.kan-item a:hover { color: rgb(10, 162, 132); }
.kan-item .kan-detail a { overflow: hidden; white-space: nowrap; word-break: keep-all; text-overflow: ellipsis; display: inline-block; max-width: 140px; }
@media (max-width: 480px) {
  li.kan-item { height: 130px; width: 100px; }
  img.kan-cover { width: 100px; height: 100px; }
  #new-kan { width: 96%; }
  .kan-item span { margin-top: 5px; font-size: 14px; }
  .kan-item .kan-num { margin-right: 2px; }
  #new-kan .modal-body { margin-left: 0px; }
  #add-article-to-kan, #remove-kan { width: 96%; }
}
@media (min-width: 768px) and (max-width: 1024px) {
  li.kan-item { height: 190px; width: 158px; }
  img.kan-cover { width: 158px; height: 158px; }
}
@media (max-width: 768px) {
  .bottom_ad, .bottom_plink { display: none; }
  .footer { margin-top: 40px; background-color: rgb(255, 255, 255); }
  .container-fluid { min-height: 400px; padding-left: 5px; padding-right: 5px; width: 98%; margin: 0px auto; }
  .huodong-detail-plink-banner { margin: 0px auto; width: 420px ! important; text-align: center; }
  .navbar .nav > li > a { padding: 0.3em 0.5em; }
}
@media (max-width: 480px) {
  body { width: 100%; }
  .container-fluid { margin-top: 0px; width: 98%; padding-left: 0px; padding-right: 0px; min-height: 500px; }
  .alert { padding: 8px; }
  .footer { background-color: rgb(255, 255, 255); margin-top: 20px; }
}
@media (max-width: 320px) {
  .container-fluid { min-height: 400px; }
  .nav { margin-bottom: 1.2em; }
  .frd_pos, .right-ad, .right-link { display: none; }
}
@media (max-width: 979px) and (min-width: 768px) {
  .navbar .brand { padding: 0px 10px; }
  .navbar .nav > li > a { padding: 1em 0.5em; }
  .navbar-search .search-query { padding: 4px 5px; }
  .navbar-fixed-top .container { width: 854px; }
}
@media (min-width: 980px) {
  .container-fluid, .navbar-fixed-top .container { width: 980px; margin: 0px auto; padding-left: 10px; padding-right: 10px; }
}
@media (min-width: 1100px) {
  .container-fluid, .navbar-fixed-top .container { width: 1100px; }
}
@media (min-width: 1100px) {
  #kan_articles .kan-item { width: 190px; height: 205px; padding: 8px; }
  #kan_articles .kan-cover { height: 180px; }
  img.kan-cover { width: 190px; }
  #kan_articles li.kan-item { margin: 8px; }
}
@media (max-width: 980px) {
  .article_related_site .name a { max-width: 160px; }
  #kan_articles .kan-item { width: 150px; height: 165px; }
  #kan_articles .kan-cover { height: 140px; }
}
@media (max-width: 910px) {
  .article_related_site .name a { max-width: 140px; }
}
@media (max-width: 820px) {
  .article_related_site .name a { max-width: 110px; }
}
@media (max-width: 768px) {
  .article_like { display: none; }
  .article_body img, .article_body object, .article_body table { max-width: 450px; height: auto; }
  .article_right_side { margin-left: 5px ! important; margin-right: 5px ! important; }
  body { padding-left: 0px; }
  .contant { margin-bottom: 0px; margin-left: 5px; margin-right: 5px; padding-bottom: 50px; }
  .article_row_fluid { margin-top: 50px; }
}
@media (max-width: 767px) {
  .container-fluid { margin: 0px auto; }
  .article_row_fluid { margin-top: 50px; }
  .article_right_side, .article_related_site, #right_site_articles { display: none; }
}
@media (max-width: 480px) {
  .article_like { display: none; }
  .article_row_fluid { margin-top: 5px; }
  .contant { margin-bottom: 0px; padding: 15px 2px 30px 5px; }
  .row-fluid { margin-top: 55px; }
  .article_body ol { padding-left: 0px; }
  .article_body { padding: 10px 0px; min-height: 100px; }
  .article_body img, .article_body object, .article_body table { max-width: 270px; height: auto; }
  .article_body p { text-indent: 10px; }
  .article_body ol, .article_body ul { padding-left: 10px; }
}
@media (min-width: 768px) and (max-width: 979px) {
  .article_row_fluid { margin-top: 15px; }
  .search-query { width: 70px ! important; }
  .cut70 { max-width: 60%; }
}
