/* Effective stylesheet produced by snapshot save */
pre { font-family: Menlo,Monaco,Consolas,Courier New,monospace; background-color: rgb(246, 246, 246); font-size: 14px; border: medium none; padding: 0.5em; }
.hljs { display: block; overflow-x: auto; }
.hljs, .hljs-subst { color: rgb(68, 68, 68); }
.hljs-comment { color: rgb(136, 136, 136); }
.hljs-keyword, .hljs-attribute, .hljs-selector-tag, .hljs-meta-keyword, .hljs-doctag, .hljs-name { color: rgb(51, 51, 51); font-weight: 700; }
.hljs-type, .hljs-string, .hljs-number, .hljs-selector-id, .hljs-selector-class, .hljs-quote, .hljs-template-tag, .hljs-deletion { color: rgb(136, 0, 0); }
.hljs-title, .hljs-section { color: rgb(136, 0, 0); font-weight: bold; }
.hljs-regexp, .hljs-symbol, .hljs-variable, .hljs-template-variable, .hljs-link, .hljs-selector-attr, .hljs-selector-pseudo { color: rgb(188, 96, 96); }
