
#OSC_title {
	padding:0 10px;
	margin:2px 0 10px 0;
	height:28px;
	border-bottom:1px solid #eee;	
	background:url('../img/top_grad.gif') repeat-x;
	vertical-align:center;
}
#OSC_title h1 {
	float:left;
	font-size:12pt;
	color:#40AA53;
	margin-top:6px;
}
#OSC_title h1 span {font-weight:normal;font-size:10pt;color:#3E62A6;margin-left:10px;}
#OSC_title form {padding:0;float:right;margin-top:1px;}
#OSC_title form input {padding:1px 2px;}

.hovertip {
	position: absolute;
    display: none;
	width: 400px;
	height:90px;
	z-index: 100;
	margin-left: 10px;
	margin-top: 20px;
	border:1px solid #40AA53;
	background:#DFD;
	line-height:22px;
	    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
.hovertip li {
	float: left;
	padding:3px 5px;
}

#ProjectCatalogs {padding:0 0 5px 1px; float:left; width:150px; border-right:2px solid #eee;}
#ProjectCatalogs h3 {font-size:10.5pt;background:url('../img/folder.gif') no-repeat left center;padding-left:20px;}
#ProjectCatalogs ul.top {margin-bottom:10px;}
#ProjectCatalogs ul.sub {line-height:18px;margin:5px 0 0 10px;}
#ProjectCatalogs ul.sub li.current a {color:#40AA53;font-weight:bold;}

#MainContent {margin:0 5px 0 165px;}
#MainContent ul.heading {line-height:24px;height:24px;border-bottom:1px solid #eee;}
#MainContent ul.heading li {
	float:left;
	background:#eee;
	margin:0 6px;
	padding:0 10px;
	font-size:11pt;
	position: relative;
	top:1px;
}
#MainContent ul.heading li a {text-decoration:none;}
#MainContent ul.heading li.active {
	background:#fff;
	font-weight:bold;
	border:1px solid #eee;
	border-bottom:#fff;
}
#MainContent ul.heading li.important a {
	color:#CE8B10;
}
#MainContent ul.heading li.new {
	background:#eee url('../img/new.gif') no-repeat 5px 4px;
	padding-left:25px;
	font-weight:bold;
}
.ProjectList h2 {font-size:12pt;margin:15px 0 10px 5px;}
.ProjectList h2 .b {color:#A00;font-style:normal;}
.ProjectList ul {list-style-type:none;line-height:22px;padding-left:5px;}
.ProjectList ul li {margin-bottom:10px;padding:2px 2px 5px 2px;}
.ProjectList ul li.row_0 {background:#f1fff1;}
.ProjectList ul li h3 {margin:0 0 5px 0;font-size:10.5pt;padding-left:15px;background: url(../img/r_arrow.gif) no-repeat left center;}
.ProjectList ul li h3 span {font-weight:normal;font-size:10pt;margin-left:20px;}
.ProjectList ul li p.detail {margin:0 0 0 15px;font-size:9pt;line-height:18px;}
.ProjectList ul li p.more {margin:10px 0 0 15px;color:#66f;}
.ProjectList ul li p.more a {color:#55f;}
.ProjectList ul li h3 .stat,.ProjectList ul li h3 .stat a {color:#A00;}

.ProjectList .sub_tags {
	padding:5px;
	margin-bottom:10px;
	line-height:20px;
	background:#efe;
	border:1px solid #40AA53;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
.ProjectList .sub_tags a {font-weight:bold;margin-right:15px;color:#777;text-decoration:none;}
.ProjectList .sub_tags a:hover {text-decoration:underline;}

.ThreadList h2 {font-size:12pt;margin:15px 0 10px 5px;}
.ThreadList h2 .b {color:#A00;}
.ThreadList ul {list-style-type:none;line-height:22px;padding-left:5px;}
.ThreadList ul li {margin-bottom:10px;padding:2px 2px 5px 2px;}
.ThreadList ul li.row_0 {background:#f1fff1;}
.ThreadList ul li h3 {margin:0 0 5px 0;font-size:10.5pt;}
.ThreadList ul li h3 span {font-weight:normal;font-size:9pt;margin-left:20px;}
.ThreadList ul li h3 span.title {padding-left:20px;margin-left:0;font-weight:bold;font-size:10pt;}
.ThreadList ul li h3 span.type_1 {background:url('../img/thread_1.gif') no-repeat center left;}
.ThreadList ul li h3 span.type_2 {background:url('../img/thread_2.gif') no-repeat center left;}
.ThreadList ul li h3 span.type_3 {background:url('../img/thread_3.gif') no-repeat center left;}

.ThreadList ul li p.detail {font-size:9pt;line-height:18px;}

/* 统一边栏 */
.SiteBar {
}

.NoDataTip {text-align:center;padding:10px 0;font-style:italic;font-size:11pt}
.PModule .caption {background:#ECECEC;font-weight:bold;font-size:10.5pt;padding:3px 10px 3px 3px;color:#333}
.PModule .caption a {float:right;font-weight:normal;font-size:9pt;margin-top:2px;}

.PSModule {
	background:#fff;
	margin-bottom:3px;
	border:1px solid #CCC;
}
.PSModule .caption {font-weight:bold;line-height:24px;background:url('../img/c/module_title_bg2.gif') left top repeat-x;padding-left:5px;}
.PSModule .caption a {float:right;font-weight:normal;}
.PSModule .caption a.more img {border:0;margin:4px 4px 0 0;}
.PSModule ul {list-style-type:none;line-height:24px;padding:5px;}
.PSModule ul li span.date {margin-left:5px;font-size:8pt;}

/* 评论相关 */
.Comments ul {list-style-type:none;padding:0 10px 0 0;}
.Comments ul li {margin:10px 0 10px 2px;}
.Comments ul li span.user {background:url('../img/u.gif') no-repeat center left;padding-left:18px;}
.Comments ul li span.time {font-style:italic;margin-left:10px;}
.Comments ul li a.delete {font-style:italic;margin-left:10px;}
.Comments ul li span.content {display:block;margin:10px 0 5px 10px;}

.Comments ul li.row_0 {background:#f6f6f6;}
.Comments ul li .portrait {width:60px;vertical-align:top;}
.Comments ul li .portrait img {border:1px solid #ccc;padding:5px;background:#f2f2f2;width:40px;height:40px;}
.Comments ul li .body {vertical-align:top;}
.Comments ul li .body .r_title {font-style:italic;}
.Comments ul li .body .r_content {margin:5px 0 0 0;color:#00A;}

.CommentForm {margin:0 5px;}
.CommentForm form {margin: 20px 0 20px 0; padding:0;}
.CommentForm form textarea {width:450px;height:100px;padding:5px;border:1px solid #999;margin:5px 0}
.CommentForm form input.SUBMIT {padding:2px 3px;}
.CommentForm form input.TEXT {padding:2px;border:1px solid #999;}

/* 新闻显示 */
.News h2.title {margin:0 0 10px 10px; text-align:center;border-bottom:1px solid #eee;padding-bottom:10px;}
.News .pubDate {margin:0 0 20px 10px;color:#000;font-weight:bold;}
.News .Detail {margin:10px 0 20px 0;line-height:22px;padding:0 0 0 10px;font-size:10.5pt;font-family: Arial,宋体}
.News .Detail ul {list-style-position:inside;list-style-type:disc;margin-left:10px;}
.News .Detail ul ul {list-style-type:circle;}
.News .Detail ol {list-style-position:inside;list-style-type:decimal;margin-left:10px;}
.News .Detail p {margin:5px 0 10px 0;}
.News .google_ads {margin-bottom:10px;}

.News .copyright {font-style:italic;color:#666;margin:0 0 10px 10px;}
.News .copyright a {text-decoration:none;color:#666;}

.News .RelatedNews {margin:20px 10px 10px 10px;}
.News .RelatedNews h3 {font-size:10.5pt;}
.News .RelatedNews ul {margin: 10px 0 0 0;line-height:22px;list-style-type:decimal;list-style-position:inside;}
.News .RelatedNews ul li span {margin-left:10px;font-size:9pt;font-weight:bold;color:#444;} 

.HotNewsList {border:1px solid #ccc;}
.HotNewsList h2 {background:url('../img/c/module_title_bg2.gif') left top repeat-x;font-size:11pt;padding:2px;}
.HotNewsList ul {line-height:22px;padding:5px 5px 10px 3px;}
.HotNewsList ul li {padding-left:12px;background: url(../img/a2.gif) no-repeat left center;}
.HotNewsList ul li a {color:#00E;}

#TopCommentsPanel {margin-right:5px;}
#TopCommentsPanel h2 {font-size:11pt;border-bottom:2px solid #ccc;color:#40AA53;padding:0 0 2px 0;margin-bottom:10px;}
#TopCommentsPanel h2 a {float:right;font-weight:normal;font-size:10pt;}
#TopCommentsPanel ul li {border-bottom:1px dashed #ddd;padding:3px 0 5px 0;overflow:hidden;}
#TopCommentsPanel ul li .user {font-weight:bold;}
#TopCommentsPanel ul li .content,
#TopCommentsPanel ul li .thread {display:block;color:#999;padding:2px 0 0 0;word-wrap:break-all;overflow:hidden;}

/* 标签列表页(/project/tags)  */
#ProjectTags {padding:5px;}
#ProjectTags h2 {font-size:18px;}
#ProjectTags h3 {font-size:14px;margin-bottom:5px}
#ProjectTags h3 a {font-weight:normal;font-size:12px;margin-left:20px;}
#ProjectTags .tags_sys {margin:10px 10px 10px 5px;padding:0 0 10px 0;border-bottom:1px dashed #ccc;}
#ProjectTags .tags_sys h3 {display:inline;}
#ProjectTags .tags_sys ul {line-height:24px;list-style-type:none;display:inline;margin-left:10px;}
#ProjectTags .tags_sys ul li {display:inline;padding:0 10px 0 0}
#ProjectTags .tags_app {float:left;width:229px;height:280px;overflow-y:auto;border:1px solid #6699CC;margin:0 10px 10px 5px;padding:2px;}
#ProjectTags .tags_app h3 {background:#e5ecf9;padding:3px 3px 1px 3px;color:#008000;margin:0;}
#ProjectTags .tags_app h3 a {float:right;}
#ProjectTags .tags_app ul {padding:0 5px 5px 10px;line-height:22px;list-style-type:none;}
