
body,table,input,textarea,select {font-size:10pt;font-family:Arial,宋体 ,sans-serif;}

a {color:#3E62A6;}
a:hover {color:#CE8B10;}
a.keyword {color:#A63E62;}

ul {list-style-type:none;margin:0;padding:0;}

.clear{clear:both;}

/* 表单及错误提示信息 */
form {padding:10px;}
form h2 {font-size:16px; border-bottom:1px solid #ccc;margin:0 0 10px 0;padding:0 0 10px 0}
form h2 a {color:#66F;margin:0 3px;}
form ul {list-style-type:none;padding:5px;margin:0;}
form ul li {clear:both;margin:10px 0 0 0;padding:0;}
form span.Hint {font-size:11pt;padding:4px 0 0 0;}
form span.Info {color:#F60;margin-left:10px;}
form span.Info a {color:#408DFB;margin:0 5px 0 10px;font-weight:bold}
form select {border:1px solid #bbb;padding:2px;}

.error_msg {border:1px dashed #A00; padding:10px; color:#A00; margin:0 0 10px 0;}
.error_msg a {padding:0 5px 0 5px; font-weight:bold;}
.success_msg {border:1px dashed #0A0; padding:10px; color:#0A0; margin:0 0 10px 0;}
.success_msg a {padding:0 5px 0 5px; font-weight:bold;}

input.TEXT,textarea.TEXT {border:1px solid #bbb;font-size:13px;height:22px;padding:3px 2px 0 5px;}
input.BUTTON {padding:1px 3px 0 3px;}
input.SUBMIT {padding:1px 3px 0 3px;font-weight:bold;}

/* 分页 */
.pager {font-weight:normal;font-size:10pt;}
.pager a {text-decoration:none;}
.pager .page {border:1px solid #eee;margin:0 1px;padding:1px 5px;}
.pager .split {border:none;}
.pager .current {background:#ddd;}

/* 搜索结果 */
.SearchResults .highlight {margin:0;padding:0 1px;background:#40AA53;color:#fff;}

/* 页面顶部导航 */
#OSC_top {background:url('../img/o.gif') no-repeat 3px 4px;border-bottom:1px solid #C9D7F1;padding:5px 10px 5px 20px}
#OSC_top .navbar {text-align:left;}
#OSC_top .navbar a {margin:0 10px 0 3px;}
#OSC_top .userbar {float:right;}
#OSC_top .userbar a {margin:0 3px;}
#OSC_top .userbar a.reg {color:#f00;}
#OSC_top .userbar .newmsg {font-weight:bold;color:#40AA53;}

/* 页面底部 */
#OSC_bottom {clear:both;padding:5px 2px;margin:30px 10px;text-align:center;color:#3E62A6;border-top:2px solid #40AA53;}
