/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Advertisments ~~~~ */
#ad_headerbanner { float: right; margin-top: 15px; }
.ad_text { border: 1px solid #CAD9EA; margin-bottom: 10px; padding: 6px; background: #FFF url("http://icon.zol.com.cn/group/08/defalut/portalbox_bg.gif"); background-repeat: repeat-x; }
.ad_text table { width: 100%; border-collapse: collapse; }
.ad_text td { background-repeat: repeat-x; background-position: 0 0; padding: 2px 10px; }.ad_textlink1 { float: left; white-space: nowrap; }
.ad_textlink2 { margin: 10px; }
.ad_textlink1,.ad_textlink2 { padding-left: 25px; background: url(http://icon.zol.com.cn/group/08/defalut/ad_icon.gif) no-repeat 0 50%; }
.ad_pip { clear: right; float: right; display: inline; margin: 10px 10px 10px; }
.ad_topicrelated { clear: both; float: right; display: inline; margin: 0 10px 10px; padding: 10px 10px 10px 30px; border: 1px solid #78A73D; background: #CAEEC0; }
.ad_column { text-align: center; margin-bottom: 10px; }
.ad_footerbanner { text-align: center; clear: both; margin: 5px }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Archiver ~~~~ */
.archiver .wrap { margin: 20px auto 10px; width: 760px; padding: 10px; border: 1px solid #CAD9EA; }
.archiver_banner { text-align: center; padding: 5px; margin-top: 40px;}
.archiver h1, .archiver h2 { font-size: 1.17em; padding: 0 5px; }
.archiver_forumlist, .archiver_threadlist { padding: 1em; font-size: 1.17em; line-height: 1.6em; }
.archiver_forumlist ul { padding-left: 2em; }
.archiver_threadlist li { list-style: none; padding-left: 10px; background: url(http://icon.zol.com.cn/group/08/defalut/arrow_right.gif) no-repeat 0 46%; }
.archiver_threadlist li em { color: #999; font-size: 0.83em; }
.archiver_post {  border-top: 1px solid #CAD9EA; }
.archiver_post cite { padding-left: 10px; font-weight: bold; }
.archiver_post p { line-height: 3em; height: 3em; margin-bottom: 0.5em; background: #E8F3FD; }
.archiver_postbody { overflow:hidden;  font-size: 1.17em; padding: 0 10px 10px; border-bottom: 1px solid #E8E8E8; }
.archiver_pages, .archiver_fullversion { padding: 10px; }
.archiver_pages strong, .archiver_fullversion strong, .archiver_fullversion strong a { font-weight: bold; color: #090; }
#ajaxwaitid { position: absolute; display: none; z-index: 100; width: 100px; height: 1.6em; top: 0px; right: 0px; line-height: 1.6em; overflow: hidden; background: #dd0000; color: #ffffff;}
.postform .special, #postform .special { font-weight: bold; color: #069;}
#newpost em { color: #999 }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ last ~~~~ */
.bai12{color:#fff}
.ho12{color:#c00}
.hui612{color:#666}
.hui612i{color:#666; text-decoration:underline}
.huang14bi{color:#ff0;font-size:14px;font-family:arial;font-weight:bold; text-decoration:underline}
.lan12{color:#069}
.lan12i{color:#069; text-decoration:underline}
.lan12b{color:#069;font-weight:bold}
.lan14bi{color:#069;font-size:14px;font-weight:bold; text-decoration:underline;line-height:24px}
.lan14b{color:#069;font-size:14px;text-decoration:underline;line-height:24px}
.hei14bi{color:#000;font-size:14px;font-weight:bold;line-height:24px}
.lan14a{color:#069;font-size:14px;text-decoration:underline;}
.lan14a:hover{color:#069;font-size:14px;text-decoration:none;}

.mt8{margin:8px 0 0}
.bd_lan{border:1px solid #9DB3C5}
.bg_lan{background:url(http://icon.zol.com.cn/group/08/defalut/14.jpg) repeat-x;line-height:24px}

.pm_message a {text-decoration: underline;color:blue;}

.listzi{color: #000; text-decoration: none;font-size:14px;}
.listzi:hover {text-decoration: underline;}
.listzi:visited {color:#999;}

.r{float:right}
.New_top{float:none;border-bottom:1px solid #C5D7EF;line-height:26px;height:26px}
.New_top a{color:#0000CC;text-decoration:underline}
.New_topc{width:100%;float:none;margin:0 auto}
.New_topca a{float:left;margin:0 5px}
.New_topc_more{background:url(http://icon.zol.com.cn/web_all/images/a1.gif) 100% 50% no-repeat;padding:0 10px 0 0}
.New_top #more{border:1px solid #83A3CD;border-top:0;position:absolute;margin:27px 0 0;width:105px;background:#fff;display:none;font-family:arial;line-height:20px;border-left:1px solid #C6D7EF;z-index:9999}
.New_top #more a{color:#07519A;margin:0;width:86px;padding:0 8px;text-decoration:none}
.New_top #more a:hover{color:#fff;background:#215FB1;text-decoration:none}
.New_top #more .ln{width:96px;background:#C6D7EF;height:1px;border:3px solid #fff;overflow:hidden}
.New_top1{border:1px solid #ddd;border-top:0;;padding:5px 0;line-height:17px;color:#999;width:100%}
.New_top1 a{color:#009}
.New_top1 a:hover{color:#f60}
.Newt_1{font-weight:bold;padding:0 4px 0 0}
.Newt_2{padding:2px 8px 0}
.Newt_3{padding:3px 6px 0 3px;width:136px}
.zeroc{color:#00c}

.Head_7603 a:hover,.Head_7604 a:hover{color:#f60; text-decoration:underline}
.Head_760{background:url(http://icon.zol.com.cn/group/08/defalut/head_bg0.jpg) 0 100% repeat-x;border-left:1px solid #CAD9EA;border-right:1px solid #CAD9EA;border-bottom:1px solid #CAD9EA;margin:0 auto;float:none;margin-bottom:6px;}
.Head_7601{width:224px;text-align:center;font:12px/30px arial;color:#666;padding:8px 0 0;float:left}
.Head_7601 img{float:none}
.Head_7602{width:33px;text-align:center;line-height:16px;padding:7px 0 0;height:70px;color:#333;background:url(http://icon.zol.com.cn/group/08/defalut/head_bg1.jpg) 0 50% no-repeat;float:left}
.Head_7603{line-height:18px;padding:2px 0px 0px;color:#C1D3E8;float:left}
.Head_7603 a{color:#069; text-decoration:none;padding:0 5px}
.Head_7603 b{color:#333}
.Head_7603 span{color:#069;padding:0 8px}
.Head_7603 span a{padding:0}
.Head_7604{float:left;padding:8px 5px 0;line-height:22px}
.Head_7604 a{color:#333; text-decoration:none}
.Head_7604 a.ho12{color:#f60}
.Head_7605{width:2px;height:70px;background:url(http://icon.zol.com.cn/group/08/defalut/head_bg1.jpg) 0 50% no-repeat}

.Head_76031{float:left;padding:0;margin:0;font:bold 12px/21px simsun;text-align:center;white-space:nowrap;word-break: keep-all;}
.Head_76031 li{padding:2px 5px 0px;background:url(http://icon.zol.com.cn/group/08/defalut/head_bg2.jpg) 100% 7px no-repeat;float:left; list-style:none}
.clear{font:0/0 arial;clear:both}
.Head_76031 img{padding:0;margin:0;float:none}
.Head_76031 a{color:#2C4D6D; text-decoration:none;clear:both;display:block}

.Head_76032{float:left;border-top:1px solid #CAD9EA;padding:0;margin:0;font:12px/26px simsun;color:#C1D3E8}
.Head_76032 a{color:#069; text-decoration:none;padding:0 9px}
.Head_76032 span{color:#069;padding:0 12px}
.Head_76032 span a{padding:0}
.lan14{color:#00f;text-decoration:underline;}
.lan14:hover{color:#f60;text-decoration:none;}