/*Common Box*/
.box { background: #FFF; border: 1px solid #CAD9EA; padding: 1px; margin-bottom: 10px; }
.box h4 { background: #FFF url("http://icon.zol.com.cn/group/08/defalut/portalbox_bg.gif"); background-repeat: repeat-x; background-position: 0 0; line-height: 30px; padding: 0 10px; }
.box table { width: 100%; }
.box td { border-top: 1px solid #E8E8E8; }
.box .box li { list-style: none;}
.postattachlist h4, .tradethumblist h4, .pollpanel h4, .activitythread h4, .typeoption h4 { border-top: 1px solid #CAD9EA; }
#pmprompt { border-color: #EDEDCE; }
#pmprompt h4 { background: #FFFFF2; border-top: none; }
#pmprompt th, #pmprompt td { border-top-color: #EDEDCE; }
/*List*/
td.user { width: 120px; }
td.nums { width: 80px; text-align: center; }
td.time { width: 120px; }
td.selector { width: 20px; text-align: center; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Spacial Threads ~~~~ */

.specialthread h1 { background: #FFF; font-size: 1.5em; color: #000; padding: 10px 5px; border-bottom: 1px solid #E8E8E8; }
.specialthread h1 a { color: #069; }
.specialthread .postcontent label { float: right; display: inline; margin: 12px 12px 0; border: 1px solid #CAD9EA; padding: 3px 5px; background: #E8F3FD no-repeat 3px 50%; }
.specialthread .postcontent label strong { color: #090; }
.specialthread .postcontent label a { color: #069; }
.specialthread .postauthor { width: 180px; }
.specialpostcontainer { padding: 0 1px; }
.specialpost { border-bottom: 4px solid #F5FAFE; text-align: right; }
.specialpost .postinfo h2  { float: left; font-weight: normal; padding-left: 8px; font-size: 0.83em; }
.specialpost .postinfo h2 em {}
.specialpost .postinfo { border-color: #E8F3FD; height: 1.8em; }
.specialpost strong { border: none; }
.specialpost .postinfo h2 a { font-size: 12px; }
.specialpost .postmessage { text-align: left; min-height: 30px; border-bottom: 1px solid #CAD9EA; }
* html .specialpost .postmessage { height: 30px; overflow: visible; }
p.imicons { margin: 8px auto; width: 160px;}
/* [ Poll ] */
.pollpanel { margin: 1em 0; border-width: 1px 0 0; }
.pollpanel h4 span { float: left;line-height:30px;}
.pollpanel h4 a { float: right;line-height:30px; font-weight:normal; }
.pollpanel tbody td { vertical-align: middle; }
.pollpanel tbody td a { color: #069 }
.optionbar { float: left; margin-right: 0.5em; border: 1px solid #CAD9EA; background: #2F589C url("http://icon.zol.com.cn/group/08/defalut/header_bg.gif"); background-repeat: repeat-x; background-position: 0 100%; height: 12px; }
.optionbar div { float: left; border: 1px solid #FFF; height: 10px; overflow: hidden; }
/* [ Reward ] */
.rewardthread .postcontent label { background-image: url(http://icon.zol.com.cn/group/08/defalut/rewardsmallend.gif); padding-left: 25px; }
.rewardthread .postcontent label.unsolved { background-image: url(http://icon.zol.com.cn/group/08/defalut/rewardsmall.gif); float:right; }
#bestpost { padding-top: 10px; margin-top: 10px; border-top: 1px solid #CAD9EA; }
/* [ Activity ] */
.activitythread .box th { width: 7em; }
#activityjoin label { float: none; border: none; background: transparent; padding: 0; margin: 0; }
/* [ Trade ] */
.tradethread .postmessage { min-height: 160px; }
* html .tradethread .postmessage { height: 360px !important; }
.tradethread .postauthor dt, .tradethread .postauthor dd { height: 20px; overflow: hidden; }
*>.tradeinfo { overflow: hidden; }
* html .tradeinfo { height: 1%; }
.tradeinfo h1 { background: #E8F3FD; font-size: 1.5em; color: #000; padding: 10px 5px; border-bottom: 1px solid #E8E8E8; margin-bottom: 1em; }
.tradethumb, .tradeattribute { float: left; }
.tradethumb { width: 260px; text-align: center;}
.tradeattribute { padding-left: 1em; }
.tradeattribute img { vertical-align: middle; }
.tradeattribute dl { overflow: hidden; padding-bottom:2em !important;  }
.tradeattribute dt { float: left; width: 5em; padding: 0.5em; line-height: 2em; clear: left; }
.tradeattribute dd { border-bottom: 1px dotted #E8E8E8; padding: 0.5em 1.5em; line-height: 2em; }
.tradeattribute em, .tradeattribute del { color: #999; }
.tradeattribute strong { font-size: 1.6em; font-weight: bold; color: #F00; }
.sellerinfo { float: right; display: inline; margin-right: 1em; width: 180px; }
.sellerinfo h4 { border-bottom: 1px dotted #E8E8E8; }
.sellerinfo dl { margin: 1em; }
.tradeinfo .postinfo { clear: both; }
.tradeinfo .postmessage { min-height: 100px; }
* html .tradethread .postmessage { height: 100px; }

*>.tradethumblist { overflow: hidden; }
* html .tradethumblist { height: 1%; }
.tradethumblist dl { float: left; text-align: center; padding: 10px; width: 170px; height: 220px; w\idth: 150px; he\ight: 200px; }
.tradethumblist dd.thumblist { height: 100px; overflow: hidden; }
.tradethumblist dd img { vertical-align: middle; cursor: pointer; }
.tradethumblist dl p { height: 1.6em; overflow: hidden; }
.tradethumblist p.tradename { height: 45px; line-height: 18px; margin-top: 5px; }
.tradethumblist del { color: #999; }
.tradethumblist strong { font-weight: bold; color: #F00; }
#ajaxtradelist .price { text-align: right; }
#ajaxtradelist strong { font-weight: bold; color: #F00; }
#ajaxtradelist .popupmenu_popup { white-space: nowrap;overflow: visible; }
#ajaxtradelist .popupmenu_popup a { color: #069; }
/* [ Debate ] */
.debatethread .postmessage { min-height: inherit; height: auto; }
.debatethread .box { margin: 0;}
.debatethread .debatepoints { border-width: 1px 0 0; padding-bottom: 0; border-top: none; margin-bottom: 10px; }
.debatepoints tbody td { border: 0px; width: 50%; border-bottom: none; vertical-align: top; }
.debatepoints .message td.stand1 { border:1px solid #EDEDCE; background: #FFFFF2; border-bottom: none; }
.debatepoints .message td.stand2 { border:1px solid #CAD9EA; background: #F5FAFE; border-bottom: none; }
.debatepoints .button td.stand1 { border:1px solid #EDEDCE; background: #FFFFF2; border-top: none; }
.debatepoints .button td.stand2 { border:1px solid #CAD9EA; background: #F5FAFE; border-top: none; }
.debatepoints h2 { padding-left: 40px; line-height: 2em; background-position: 5px 1px; background-repeat: no-repeat; }
.stand1 h2 { background-image: url(http://icon.zol.com.cn/group/08/defalut/debate_stand_1.gif); }
.stand2 h2 { background-image: url(http://icon.zol.com.cn/group/08/defalut/debate_stand_2.gif); }
.poststand0, .poststand1, .poststand2 { font-size: 1.17em; text-align: center; display: block; float: left; border: 1px solid #E8E8E8; background: #F7F7F7; color: #999; width: 40px; height: 22px; line-height: 22px; margin-right: 12px; }
.poststand1 { border: 1px solid #EDEDCE; background: #FFFFF2; color: #090; }
.poststand2 { border: 1px solid #CAD9EA; background: #F5FAFE; color: #069; }
.debatepoints p { padding: 0 10px; overflow: hidden; }
.debatepoints a { margin: 0 auto; display: block; width: 80px; text-align: center; border: 1px solid; padding: 0.3em 1em; }
.debatepoints #affirmbutton { border-color: #EDEDCE; background: #FFFFF2; color: #090; }
.debatepoints #negabutton { border-color: #CAD9EA; background: #F5FAFE; color: #069; }
.debatethread .optionbar div { float: none; }

.payinfo dt { float: left; width: 10em; padding: 0.5em; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Control Panel ~~~~ */
.container { width: 100%; overflow: hidden; }
.content { float: right; width: 80%; }
.content .mainbox { padding-bottom: 5px; }
.content .footoperation, .content .mainbox thead th, .content .mainbox thead td,
.content .mainbox tbody th, .content .mainbox tbody td { border-top: none; border-bottom: 1px solid #CAD9EA; }
.side { float: left; width: 18%;}
.side div { border: 1px solid #CAD9EA;background: #FFF url("http://icon.zol.com.cn/group/08/defalut/portalbox_bg.gif"); background-repeat: repeat-x; background-position: 0 0; margin-bottom: 10px; }
.side h2 { padding-left: 10px; line-height: 2.4em; font-size: 1.17em; border: 1px solid; border-color: #FFF #FFF #E8E8E8 #FFF;}
.side ul { padding: 1px; }
.side li{ text-indent: 26px; line-height: 2.4em; }
.side h3 { font-weight: normal; background:url(http://icon.zol.com.cn/group/08/defalut/arrow_right.gif) no-repeat 14px 46%; }
	.side_on h3 { font-weight: bold; border: solid #CAD9EA; border-width: 1px 0; background: #E8F3FD url(http://icon.zol.com.cn/group/08/defalut/arrow_down.gif) no-repeat 14px 46%; }
.side li ul { border-bottom: 1px solid #E8E8E8; }
	.side li li { padding-left: 1em;}
.side li.current { font-weight: bold; }
.side li.current a { color: #666; }
.side li.first h3 { border-top: none; }
.side li.last ul { border-bottom: none; }
#memberinfo { }
#memberinfo .memberinfo_avatar { text-align: center; width: 170px; font-weight: bold; }
#memberinfo li label { color: #666; margin-right: 0.5em; }
#memberinfo .memberinfo_forum label { float: left; width: 7em; text-align: right; }
.mysearch { float: left; display: block; margin-top: -10px; margin-left: 10px;}
/* Message Tabs*/
.msgtabs { border-bottom: 1px solid #CAD9EA; padding-bottom: 23px; padding-right: 5px; margin-top: 0.8em;}
.msgtabs strong { float: right; padding: 0 12px; border: 1px solid #CAD9EA; border-bottom: 1px solid #E8F3FD;  margin-right: 5px; text-decoration: none; height: 22px; line-height: 22px; font-weight: bold; background: #E8F3FD; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ DropMenu ~~~~ */

.dropmenu { padding-right: 15px !important; background-image: url(http://icon.zol.com.cn/group/08/defalut/arrow_down.gif) !important; background-position: 100% 50% !important; background-repeat: no-repeat !important; cursor: pointer; }
.popupmenu_popup { text-align: left; line-height: 1.4em; padding: 10px; overflow: hidden; border: 1px solid #CAD9EA; background: #FFF url("http://icon.zol.com.cn/group/08/defalut/portalbox_bg.gif"); background-repeat: repeat-x; background-position: 0 1px;  }
.headermenu_popup { width: 170px; }
.headermenu_popup li { float: left; width: 7em; line-height: 24px; height: 24px; overflow: hidden; border-bottom: 1px solid #E8E8E8; }
.newspecialmenu { width: 100px; }
.newspecialmenu li { background: url(http://icon.zol.com.cn/group/08/defalut/folder_s.gif) no-repeat 3px 50%; float: left; }
.newspecialmenu li.poll { background-image: url(http://icon.zol.com.cn/group/08/defalut/pollsmall.gif); }
.newspecialmenu li.trade { background-image: url(http://icon.zol.com.cn/group/08/defalut/tradesmall.gif); }
.newspecialmenu li.reward { background-image: url(http://icon.zol.com.cn/group/08/defalut/rewardsmall.gif); }
.newspecialmenu li.activity { background-image: url(http://icon.zol.com.cn/group/08/defalut/activitysmall.gif); }
.newspecialmenu li.debate { background-image: url(http://icon.zol.com.cn/group/08/defalut/debatesmall.gif); }
.newspecialmenu li.video { background-image: url(http://icon.zol.com.cn/group/08/defalut/videosmall.gif); }
.newspecialmenu a { float: left; width: 75px; border-bottom: 1px solid #E8E8E8; padding: 5px 0 5px 25px; }
.newspecialmenu a:hover { text-decoration: none; color: #069; border-bottom-color: #CAD9EA; }
#forumlist_menu { padding: 10px 30px 10px 20px; }
#forumlist_menu dl { padding: 5px 0; }
#forumlist_menu dt a { font-weight: bold; color: #666; }
#forumlist_menu dd { padding-left: 1em; }
#forumlist_menu li.sub { padding-left: 1em; }
#forumlist_menu li.current a { font-weight: bold; }
#forumlist_menu li a { font-weight: normal; color: #069; }
.userinfopanel { border: 1px solid #CAD9EA; width: 140px; background: #FFF url("http://icon.zol.com.cn/group/08/defalut/portalbox_bg.gif"); background-repeat: repeat-x; background-position: 0 0; padding: 10px; }
.imicons { text-align: center; border: 1px solid #E8E8E8; background: #FFF; padding: 4px 1px; }
.imicons img { vertical-align: middle; }
.userinfopanel p { text-align: left; margin: 0; }
.userinfopanel p a { color: #069; }
.userinfopanel dl { border-bottom: 1px solid #E8E8E8; margin: 5px 0; padding: 5px 0; }
.postauthor cite a { float: left; padding: 5px; border: solid #E8F3FD; border-width: 1px 1px 0; height: 10px; overflow: hidden; }
.postauthor cite a.hover { border-color: #CAD9EA; background-color: #FFF; }
.popupmenu_popup .postauthor { width: 180px; }
.popupmenu_popup .postauthor a { color: #069; }
/*Popup Calendar*/
#calendar { border: 1px solid #9DB3C5; background: #F5FAFE; margin-bottom: 0.8em;}
#calendar td { padding: 2px; font-weight: bold;}
#calendar_week td { height: 2em; line-height: 2em; border-bottom: 1px solid #CAD9EA;}
#hourminute td {padding: 4px 2px; border-top: 1px solid #CAD9EA;}
.calendar_expire, .calendar_expire a:link, .calendar_expire a:visited {	color: #666; font-weight: normal; }
.calendar_default, .calendar_default a:link, .calendar_default a:visited { color: #069;}
.calendar_checked, .calendar_checked a:link, .calendar_checked a:visited { color: #090; font-weight: bold;}
td.calendar_checked, span.calendar_checked{ background: #CAD9EA;}
.calendar_today, .calendar_today a:link, .calendar_today a:visited { color: #000; font-weight: bold; }
#calendar_header td{ width: 30px; height: 20px; border-bottom: 1px solid #CAD9EA; font-weight: normal; }
#calendar_year { display: none;	line-height: 130%; background: #F5FAFE; position: absolute; z-index: 10; }
#calendar_year .col { float: left; background: #F5FAFE; margin-left: 1px; border: 1px solid #CAD9EA; padding: 4px; }
#calendar_month { display: none; background: #F5FAFE; line-height: 130%; border: 1px solid #DDD; padding: 4px; position: absolute; z-index: 11; }
#styleswitcher_menu { overflow: visible; }
#styleswitcher_menu, #styleswitcher_menu ul li, #styleswitcher_menu ul li.current a, #styleswitcher_menu ul li a { white-space: nowrap; }
#styleswitcher_menu ul li.current { font-weight: bold; }
#styleswitcher_menu ul li.current a { color: #666; }
#styleswitcher_menu {}
#styleswitcher_menu li.current { font-weight: bold; }
.tagthread { width: 360px; }
.tagthread .close { float: right; padding-top: 5px; }
.tagthread h4 { line-height: 26px; border-bottom: 1px solid #E8E8E8; }
.tagthread ul { padding: 5px; }
.tagthread li { line-height: 1.8em; }
.tagthread li.more { text-align: right; background: url(http://icon.zol.com.cn/group/08/defalut/arrow_right.gif) no-repeat 100% 50%; padding-right: 10px; }
.headactions .popupmenu_popup a, .headactions .popupmenu_popup strong { color: #666; background: none; white-space: nowrap; }
.headactions .popupmenu_popup { overflow: visible; }

*+html #my_menu, *+html #memcp_menu, *+html #stats_menu, *+html #plugin_menu { margin-left: 1px; }
* html #my_menu, * html #memcp_menu, * html #stats_menu, * html #plugin_menu { margin-left: 1px; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Form Style ~~~~ */

fieldset { border: none; }
input, textarea { border-width: 1px; background: #FFF; border-color: #DDD; padding: 2px; }
input[type="radio"], input[type="checkbox"] { border: none; background: none; }
.radio, .checkbox{ border: none; background: none; }
.invitecodelist input { border: none; font-family: "Courier New", Courier, monospace; font-size: 13px; cursor: pointer; }
button { border: 1px solid; border-color: #E8E8E8 #999 #999 #E8E8E8; background: #E8F3FD; height: 2em; line-height: 2em; cursor: pointer; }
#postsubmit, button.submit {width:113px;height:30px;font-size:14px; margin-right: 1em; border: 1px solid; border-color: #FFFDEE #FDB939 #FDB939 #FFFDEE; background: #FFF8C5; color: #090; padding: 0 10px; }
button.insmsg { margin: 1em 0; border: 1px solid #EDEDCE; background: #FFFFF2; color: #090; }
.formbox th { width: 180px; text-align: left; }
.formbox th, .formbox td { padding: 5px; }
.formbox th, .formbox td { border-bottom: 1px solid #CAD9EA; }
.formbox table a { color: #069; }
.formbox label { cursor: pointer; }
.lighttxt, .formbox *.tips { color: #999; }
.formbox th ul { padding: 5px 0; margin: 5px 0; }
#threadtypes table td, #threadtypes table th { border-top: 1px solid #CAD9EA; border-bottom: 0;}
/*Login Form*/
#loginform * { vertical-align: middle; }
#loginform button { line-height: 21px; height: 21px; padding: 0 4px; margin-left: 3px; }
/*PostForm & Editor*/
.editor_cell { vertical-align: top; }
#editor { border: solid; border-color: #CAD9EA; border-width: 1px 1px 0; background: #F7F7F7; }
#editor td { border: none; padding: 2px; }
.editortoolbar table { width: auto; }
.editortoolbar a, .editortoolbar .a { display: block; padding: 1px; border: 1px solid #F7F7F7; cursor: pointer; }
.editortoolbar a.hover, .editortoolbar a:hover, .editortoolbar .a1 { background-color: #E8F3FD; border: 1px solid #9DB3C5; text-decoration: none; }
.editor_switcher_bar {  position: relative; }
.editor_switcher_bar a { float: right; padding: 0 3px; margin-right: 5px; }
.editor_switcher_bar button { border: 1px solid; border-color: #CAD9EA #CAD9EA #FFF #CAD9EA; font-weight: bold; height: 30px; he\ight: 28px; line-height: 28px; background: #FFF; margin: 0 2px; position: relative; top: 6px; cursor: pointer; }
*+html .editor_switcher_bar button { top: 4px; }
* html .editor_switcher_bar button { top: 4px; }
.editor_switcher_bar .editor_switcher { border-bottom-color: #CAD9EA; font-weight: normal; }
.editor_text { border: 1px solid; border-color: #CAD9EA #CAD9EA #CAD9EA #CAD9EA; }
.editor_text textarea { border: none; width: 99%; font: 16px/1.8em "Courier New", Courier, monospace; }
.editor_button { background: #F7F7F7; border: solid #CAD9EA; border-width: 0 1px 0; margin-bottom: 10px; }
.editor_button button { background: transparent; border-width: 0 0 0 1px; color: #069; }
.editor_attach {  border: 1px solid #CAD9EA; }
#wysiwyg { font: 14px/1.6em Helvetica, Arial, sans-serif !important; }
#wysiwyg * { line-height: normal; }
#wysiwyg a { text-decoration:underline; color: #069 !important; color: #069; }
#wysiwyg li { margin-left: 2em; }
#wysiwyg strong, #wysiwyg b { font-weight: bold; }
#wysiwyg em, #wysiwyg i { font-style: italic; }
.fontname_menu { width: 97px; }
.fontsize_menu { width: 27px; line-height: normal; }
#posteditor_popup_table_menu { width: 220px; }
.fontname_menu li, .fontsize_menu li { cursor: pointer; }
.editor_colornormal, .editor_colorhover { border: none !important; padding: 2px !important; }
.editor_colornormal div { width: 10px; height: 10px; overflow: hidden; cursor: pointer; border: 1px solid #FFF; }
.editor_colorhover div { width: 10px; height: 10px; overflow: hidden; cursor: pointer; border: 1px solid #000; }
/*QuickPost*/
#quickpost { overflow: hidden; padding-bottom: 0; }
* html #quickpost { height: 1%; overflow: visible; }
#quickpost h5 { margin: 0.5em 1em; }
.postoptions, .postform, .smilies { float: left; }
.postoptions, .smilies { width: 20%; }
.postoptions p { margin: 2px 0.7em; }
.postform { width: 59%; padding-bottom: 10px; }
.postform p label { vertical-align: top; font-weight: bold; }
.postform h5 input { width: 60%; }
.postform p, .postform div { margin: 0 1em; }
.postform h4 * { vertical-align: middle; }
.postform h4 input { width: 60%; }
.postform textarea { width: 90%; height: 160px; }
.postform .btns { margin-top: 0.5em; line-height: 30px; color: #999; }
.postform .btns button { vertical-align: middle; }
.postform .btns a { color: #069; }
.postform button { border: none; background: transparent; color: #069; padding: 0; cursor: pointer; }
.postform #postsubmit { float: left; display: inline; margin-left: 2.3em; }
.btns em { color: #999; }
#smilieslist { border: 1px solid #E8E8E8; overflow: hidden; text-align: center; }
#quickpost #smilieslist { margin: 6px 1em 0 ; }
#quickpost h4 { border-bottom: 1px solid #E8E8E8;}
#smilieslist td { border: none; padding: 8px 0; cursor: pointer; }
#smilieslist td:hover { background: #E8E8E8; }
#smilieslist .pages { float: none; border-width: 1px 0 0; }
#smilieslist h4 { color: #069; padding: 5px; line-height: 20px; background: #F7F7F7; border-bottom: 1px solid #E8E8E8; text-align: left; }
#smilieslist .popupmenu_popup { overflow: visible; padding: 5px 10px; white-space: nowrap; }
#smilieslist .popupmenu_popup a { color: #069; }
/*Ajax Form*/
.ajaxform {}
.ajaxform th, .ajaxform td { border-bottom: 1px solid #E8E8E8; padding: 5px; }
.ajaxform thead th { font-weight: bold; }
.ajaxform a { color: #069; }
.btns th, .btns td { border: none !important; }