/* Effective stylesheet produced by snapshot save */
.bdshare-button-style0-16 .bds_qzone { background-position: 0px -52px; }
.bdshare-button-style0-16 .bds_tsina { background-position: 0px -104px; }
.bdshare-button-style0-16 .bds_renren { background-position: 0px -208px; }
.bdshare-button-style0-16 .bds_tqq { background-position: 0px -260px; }
.bdshare-button-style0-16 .bds_mshare { background-position: 0px -2444px; }
.bdshare-button-style0-16 .bds_more { background-position: 0px 0px; }
.bdshare-button-style0-16 .bds_weixin { background-position: 0px -1612px; }
.bdshare-button-style0-16 {  }
.bdshare-button-style0-16::after { content: "."; visibility: hidden; display: block; height: 0px; clear: both; }
.bdshare-button-style0-16 a, .bdshare-button-style0-16 .bds_more { float: left; font-size: 12px; padding-left: 17px; line-height: 16px; height: 16px; background-image: url("icons_0_16.png"); background-repeat: no-repeat; cursor: pointer; margin: 6px 6px 6px 0px; }
.bdshare-button-style0-16 a:hover { color: rgb(51, 51, 51); opacity: 0.8; }
.bdshare-button-style0-16 .bds_more { color: rgb(51, 51, 51); float: left; }
.bdshare-button-style0-16 .bds_count { color: rgb(51, 51, 51); background: transparent url("sc.png") no-repeat scroll 0px -30px; width: 42px; height: 16px; padding: 0px; margin: 6px 0px 0px; text-align: center; }
.bdshare-button-style0-16 .bds_count:hover { background-position: -42px -30px; }
.bds_tsohu, .bds_tfh, .bds_baidu, .bds_qq, .bds_msn, .bds_sohu, .bds_qy, .bds_leho, .bds_ifeng, .bds_ff, .bds_tuita, .bds_ms, .bds_deli, .bds_s51, .bds_t163, .bds_share189, .bds_xg, .bds_s139 { display: none; }
