/* Effective stylesheet produced by snapshot save */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, code, del, dfn, em, img, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, button, input, table, caption, tbody, tfoot, thead, tr, th, td, menu { margin: 0px; padding: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio:not([controls]) { display: none; }
ol, ul, menu { list-style: outside none none; }
img { border: 0px none; }
a:focus { outline: medium none; }
em, i { font-style: normal; }
button, input, select, textarea { font-size: 100%; margin: 0px; vertical-align: -3px; outline: medium none; }
button, input { border: 1px solid; outline: medium none; line-height: normal; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
textarea { overflow: auto; vertical-align: top; }
*::-moz-selection { background: rgb(114, 208, 235) none repeat scroll 0% 0%; color: rgb(255, 255, 255); text-shadow: none; }
a { color: rgb(0, 136, 219); text-decoration: none; cursor: pointer; }
a:hover { color: rgb(42, 94, 142); }
.clearfix::after, .central::after, .widget ul::after, .paging::after, .pagenav::after, .base-tit::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.clearfix, .central, .widget ul, .paging, .pagenav, .base-tit {  }
body, button, input, select, textarea, code { font-size: 12px; font-family: microsoft yahei; color: rgb(68, 68, 68); }
.central { max-width: 1150px; margin: 0px auto; text-align: left; position: relative; }
.header { color: rgb(136, 136, 136); z-index: 9; position: relative; height: 47px; line-height: 47px; padding: 6px 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.container { margin-bottom: 20px; margin-top: 20px; }
.sidebar { width: 300px; position: absolute; }
.content-wrap { width: 100%; float: right; min-height: 2500px; }
.content { margin-left: 330px; overflow: hidden; margin-right: 180px; }
.single .content { margin-left: 330px; margin-right: 20px; }
.ico, .comm { background-image: url("sprite.png"); background-repeat: no-repeat; }
.ico { overflow: hidden; line-height: 64px; font-size: 0px; display: inline-block; }
.logo { float: left; margin: 0px 30px 0px 0px; overflow: hidden; }
.nav { float: left; padding: 0px 12px; font-size: 16px; }
.nav li { float: left; position: relative; margin-right: 1px; }
.nav li a { color: rgb(102, 102, 102); padding: 10px 18px; border-radius: 2px; }
.nav li a:hover, .nav li:hover a { background-color: rgb(246, 246, 246); }
.main-nav { background-color: rgb(3, 108, 180); box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24); }
.main-nav ul { font-size: 14px; }
.main-nav ul li { display: inline-block; }
.main-nav ul li a { color: rgb(202, 235, 255); display: inline-block; }
.main-nav ul li.tag a { padding: 10px; display: block; }
.main-nav ul li.notag a { padding-right: 10px; color: rgb(255, 255, 255); }
.main-nav ul li.tag a:hover, .main-nav ul li.active a { color: rgb(255, 255, 255); background: rgb(0, 150, 240) none repeat scroll 0% 0%; }
.comm { margin-left: 20px; padding-left: 20px; }
.comm { background-position: -17px -76px; }
.widget_d_hotpost { padding: 0px 10px; border: 1px solid rgb(236, 236, 236); }
.widget_d_hotpost li:last-child { border-bottom: medium none; }
.widget { clear: both; margin-bottom: 16px; }
.widget h3 { position: relative; padding: 0px; font-size: 18px; line-height: 50px; color: rgb(68, 68, 68); border-bottom: 3px solid rgb(46, 165, 222); }
.widget a { color: rgb(119, 119, 119); }
.widget a:hover { color: rgb(68, 68, 68); }
.widget_views li, .widget_d_sticky li, .widget_recent_entries li, .widget_links li, .d_hotpost_txt li { border-bottom: 1px solid rgb(238, 238, 238); height: 35px; line-height: 35px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%; font-size: 14px; }
.footer { padding: 15px 0px; border-top: 1px solid rgb(236, 236, 236); clear: both; }
.footer .copyright a { margin-right: 5px; color: rgb(68, 68, 68); }
.footer .copyright a:hover { text-decoration: underline; }
.trackcode { float: right; }
.page-navbar li.current-menu-item a::before, .page-navbar li.current_page_item a::before { content: ""; width: 0px; height: 0px; position: absolute; top: 50%; right: -1px; margin-top: -8px; border-width: 8px 8px 8px 0px; border-style: dotted; border-color: transparent rgb(214, 214, 214); }
.page-navbar li.current-menu-item a::after, .page-navbar li.current_page_item a::after { content: ""; width: 0px; height: 0px; position: absolute; top: 50%; right: -1px; margin-top: -7px; border-width: 7px 7px 7px 0px; border-style: dotted; border-color: transparent rgb(255, 255, 255); }
.page-navbar li.current-menu-item .sub-menu a::before, .page-navbar li.current_page_item .sub-menu a::before, .page-navbar li.current-menu-item .sub-menu a::after, .page-navbar li.current_page_item .sub-menu a::after { display: none; }
.share { overflow: hidden; margin-top: -4px; }
.share-tit { float: left; padding-top: 5px; }
.article-header .share { margin-top: 8px; }
.article-footer .share { float: right; }
.article-header { border-bottom: 1px solid rgb(238, 238, 238); padding-bottom: 15px; margin-bottom: 15px; }
.article-title { font-size: 22px; margin: 0px 0px 15px; color: rgb(59, 141, 209); text-align: center; }
.article-title a { color: rgb(42, 94, 142); }
.article-meta { color: rgb(153, 153, 153); }
.article-entry { font-size: 14px; line-height: 25px; word-break: break-all; overflow-wrap: break-word; }
.article-entry img { max-width: 788px; padding: 5px; border: 1px solid rgb(230, 230, 230); display: block; margin-left: auto; margin-right: auto; height: auto; }
.article-entry img:hover { background-color: rgb(251, 251, 251); border-color: rgb(221, 221, 221); }
.article-entry h1, .article-entry h2, .article-entry h3, .article-entry h4 { color: rgb(34, 34, 34); border-bottom: 1px solid rgb(238, 238, 238); padding-bottom: 5px; margin-bottom: 14px; }
.article-entry h2 { font-size: 18px; margin-top: 30px; }
.article-entry ul { margin: 0px 0px 16px 26px; }
.article-entry ul li { background: transparent url("data:image/gif;base64,R0lGODlhDQAFAKIAAKOjo6GhoampqYSEhJWVlZ2dnZmZmXx8fCH5BAAAAAAALAAAAAANAAUAAAMVKLfcB6PIScsZJuttLvlgSByK4wQJADs=") no-repeat scroll 0px 10px; padding-left: 20px; margin-bottom: 10px; }
.article-entry p { margin-bottom: 15px; }
.article-footer { margin-bottom: 15px; }
.article-tags { font-size: 12px; }
.article-tags a { display: inline-block; padding: 2px 8px; margin: 0px 2px; border-radius: 2px; color: rgb(102, 102, 102); font-size: 12px; border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgb(221, 221, 221) rgb(204, 204, 204) rgb(204, 204, 204) rgb(221, 221, 221); box-shadow: 1px 1px 0px rgb(246, 246, 246); background-image: -moz-linear-gradient(center top , rgb(255, 255, 255), rgb(251, 251, 251)); }
.article-tags a:hover { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-color: rgb(204, 204, 204); color: rgb(68, 68, 68); }
#respond { margin-bottom: 20px; }
.rollto { position: fixed; right: 5px; bottom: 51px; z-index: 999; width: 32px; font-family: simsun; display: none; }
.ico-totop, .ico-torespond { display: block; margin-top: 2px; height: 32px; width: 32px; opacity: 0.8; cursor: pointer; }
.ico-totop:hover, .ico-torespond:hover { opacity: 0.9; }
.ico-totop { background-position: 0px 0px; }
.ico-torespond { background-position: 0px -34px; }
@media screen and (max-width: 1200px) {
  .content { margin-left: 320px; }
}
@media screen and (max-width: 800px) {
  .search-form, .showlinks, .share { display: none; }
  .article-entry img, .article-app img { max-width: 97%; }
}
@media screen and (max-width: 480px) {
  .header { text-align: center; }
  .logo { float: none; margin: 0px auto; }
}
