/* Effective stylesheet produced by snapshot save */
* { overflow-wrap: break-word; }
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, .pr, .pc { margin: 0px; padding: 0px; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
body { background: rgb(236, 236, 236) url("bg.png") repeat fixed 0% 0%; font: 12px/1.5 "微软雅黑",Arial,HELVETICA; color: rgb(51, 51, 51); min-width: 1092px; }
img { border: 0px none; }
ol, ul { list-style: outside none none; }
:link, :visited, ins { text-decoration: none; }
table { border-collapse: collapse; border-spacing: 0px; empty-cells: show; }
blockquote, q { quotes: "“" "”" "‘" "’"; }
blockquote::before, blockquote::after, q::before, q::after { content: none; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0px; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
i, cite, em, address { font-style: normal; }
a { color: rgb(102, 102, 102); text-decoration: none; }
a:hover { color: rgb(51, 51, 51); text-decoration: none; }
a:hover * { cursor: pointer; }
ul li, .xl li { list-style: outside none none; }
.hide, .tmpl { display: none; }
.z { float: left; }
.y { float: right; }
.cl::before, .cl::after, .clearfix::before, .clearfix::after { content: "​"; display: block; height: 0px; }
.cl::after, .clearfix::after { clear: both; }
.cl, .clearfix {  }
.pipe { margin: 0px 5px; color: rgb(204, 204, 204); }
.xs0 { font-family: Arial; font-size: 0.83em; -moz-text-size-adjust: none; }
.xg1, .xg1 a { color: rgb(153, 153, 153); }
.xi1, .onerror { color: rgb(242, 108, 79); }
.xi2, .xi2 a, .xi3 a { color: rgb(92, 112, 132); }
.xw1 { font-weight: 700; }
.btda { border-top: 1px dotted rgb(205, 205, 205); }
.bbs {  }
.brs, .avt img, .oshr { border-radius: 5px; }
.mtn { margin-top: 5px; }
.mbn { margin-bottom: 5px; }
.mtm { margin-top: 10px; }
.mbm { margin-bottom: 10px; }
.mbw { margin-bottom: 20px; }
.pbn { padding-bottom: 5px ! important; }
.ptm { padding-top: 10px ! important; }
.pbw { padding-bottom: 20px ! important; }
.avt img { padding: 2px; width: 48px; height: 48px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgb(242, 242, 242) rgb(205, 205, 205) rgb(205, 205, 205) rgb(242, 242, 242); }
.avtm img { height: auto; width: 120px; max-height: 120px; }
.vm { vertical-align: middle; }
.vm * { vertical-align: middle; }
.hm { text-align: center; }
#ajaxwaitid { display: none; position: absolute; right: 0px; top: 0px; z-index: 1; padding: 0px 5px; background: rgb(221, 0, 0) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.px, .pt, .ps, select { border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgb(132, 132, 132) rgb(224, 224, 224) rgb(224, 224, 224) rgb(132, 132, 132); background: rgb(255, 255, 255) url("px.png") repeat-x scroll 0px 0px; }
.px, .pt { padding: 2px 4px; line-height: 17px; }
.px { height: 17px; }
.p_fre { width: auto ! important; }
.pt { overflow-y: auto; }
div.pt { height: 100px; line-height: 100px; }
.ps, select { padding: 2px 2px 2px 1px; }
button::-moz-focus-inner { border: 0px none; padding: 0px; }
.pn { display: inline-block; background: transparent none repeat scroll 0% 0%; border: 0px none; color: rgb(255, 255, 255); cursor: pointer; margin-right: 3px; padding: 0px; text-shadow: 0px 1px 0px rgb(26, 127, 219); white-space: nowrap; }
.pn em, .pn span, .pn strong { display: inline-block; background: rgb(63, 166, 249) url("bg_hor.png") repeat-x scroll 0px -596px; border: 1px solid rgb(24, 137, 240); border-radius: 2px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16); font-size: 14px; font-weight: normal; line-height: 26px; padding: 0px 10px; height: 26px; vertical-align: top; }
.pn:hover em, .pn:hover span, .pn:hover strong { background-position: 0px -622px; border-color: rgb(82, 168, 247); }
.pn:active em, .pn:active span, .pn:active strong { background-position: 0px -648px; border-color: rgb(82, 168, 247); }
.pr, .pc { margin: -3px 5px 1px 0px; padding: 0px; vertical-align: middle; }
.pns .px {  }
.pns .pn {  }
.wp, .wrap { margin: 0px auto; width: 980px; }
#wp .wp, #wp .wrap { width: auto; }
#ct { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(215, 215, 215); box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06); }
#ct.re_ct { background: transparent none repeat scroll 0% 0%; border: 0px none; box-shadow: none; }
.header_wrap { background: rgb(52, 86, 122) url("header.png") repeat-x scroll 0% 0%; margin-bottom: -80px; height: 320px; }
.topbar_wrap .topbar_fix, .topbar .services .home span { display: none; }
.topbar { color: rgb(255, 255, 255); height: 32px; text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.32); }
.topbar li { float: left; }
.topbar li a, .topbar li.line span { display: inline-block; color: rgb(255, 255, 255); line-height: 20px; vertical-align: top; }
.topbar li a:hover { color: rgb(255, 255, 255); text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.8); }
.topbar li.line span { color: rgb(103, 136, 169); margin-top: -1px; text-shadow: -1px 0px 0px rgb(73, 107, 140), 0px 3px 6px rgba(0, 0, 0, 0.32); }
.topbar .services, .topbar .user { float: left; position: relative; z-index: 2; }
.topbar .services .home { height: 32px; width: 60px; }
.topbar .services .home span { display: none; }
.topbar .user li { font-size: 0px; padding: 6px 0px 0px 10px; }
.topbar .user li a, .topbar .user li span { font-size: 12px; }
.header { height: 100px; position: relative; z-index: 1; }
.header .logo a { margin: 2px 0px 0px -8px; height: 86px; width: 292px; position: absolute; z-index: 3; }
.header .logo img { position: absolute; }
.header .fix_bg i { background: transparent url("header.png") no-repeat scroll 0px -320px; margin: -32px 0px 0px -170px; height: 212px; width: 440px; position: absolute; top: 0px; z-index: 1; }
.header .fix_bg .f_r { background-position: 100% -532px; margin-right: -56px; width: 150px; right: 0px; }
.header .fix_bg .f_n { background-position: 0px -744px; background-repeat: repeat-x; margin: 0px; height: 46px; width: 100%; left: 0px; top: 100%; }
.header .header_treasure { position: absolute; right: 0px; top: 10px; z-index: 2; }
.navigator { position: relative; z-index: 2; }
.navigator ul { text-align: center; width: 100.6%; position: absolute; z-index: 3; transform: translate3d(0px, 0px, 0px); }
.navigator li { display: inline; float: left; padding: 0px 10px; }
.navigator li a { display: inline-block; color: rgb(224, 240, 255); font-size: 16px; padding: 0px 5px; text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); transition: all 0.4s ease 0s; }
.navigator li a:hover, .navigator li a.current { color: rgb(255, 255, 255); text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6); }
.navigator .nav, .navigator .sub_nav { margin: 0px auto; height: 46px; width: 980px; position: relative; }
.navigator .nav li i { display: inline-block; background: transparent url("header.png") no-repeat scroll 0px -620px; margin: -3px 5px 0px 0px; height: 20px; width: 0px; overflow: hidden; vertical-align: middle; opacity: 0; transform: scale(0); transition: all 0.16s linear 0.52s, width 0.12s linear 0s; }
.navigator .nav li .newbie { background-position: -20px -620px; }
.navigator .nav li .game { background-position: -40px -620px; }
.navigator .nav li .tech { background-position: -60px -620px; }
.navigator .nav li .news { background-position: -80px -620px; }
.navigator .nav li .eval { background-position: -100px -620px; }
.navigator .nav li .bbs { background-position: -120px -620px; }
.navigator .nav li .cydia { background-position: -140px -620px; }
.navigator .nav li .tutuapp { background: transparent url("tutu_icon.png") no-repeat scroll 0% 0%; }
.navigator .nav li .hover i { width: 20px; opacity: 1; transform: scale(1); }
.navigator .nav li a { line-height: 30px; }
.navigator .nav .focus { background: rgb(75, 107, 135) none repeat scroll 0% 0%; font-size: 0px; height: 31px; width: 46px; position: absolute; left: 10px; top: 0px; right: auto; bottom: auto; z-index: 1; overflow: visible; }
.navigator .nav .focus i { background: transparent url("header.png") no-repeat scroll 0px -572px; border-radius: 20px 0px 0px 20px; margin-left: -12px; height: 100%; width: 20px; overflow: hidden; position: absolute; left: 0px; top: 0px; }
.navigator .nav .focus .f_r { background-position: -20px -572px; border-radius: 0px 20px 20px 0px; margin-left: -8px; left: 100%; }
.transition .navigator .focus i { background: rgb(75, 107, 135) none repeat scroll 0% 0%; }
.navigator .nav .focus .arrow { background-position: -40px -552px; margin: 9px 0px 0px -7px; height: 8px; width: 14px; left: 50%; top: 30px; }
.transition .navigator .focus .arrow { background: transparent none repeat scroll 0% 0%; border-radius: 0px; margin: 6px 0px 0px -5px; height: 10px; width: 11px; }
.transition .navigator .focus .arrow::before, .transition .navigator .focus .arrow::after { background: rgb(113, 150, 182) none repeat scroll 0% 0%; border-top: 1px solid rgb(202, 225, 246); content: ""; height: 8px; width: 9px; position: absolute; top: 9px; transition: all 0.16s linear 0s; }
.transition .navigator .focus .arrow::before { left: 0px; transform-origin: 0px 1px 0px; transform: rotate(-45deg); }
.transition .navigator .focus.wait .arrow::before { width: 6px; transform: rotate(0deg); }
.transition .navigator .focus .arrow::after { height: 1px; width: 8px; right: 0px; transform-origin: 100% 1px 0px; transform: rotate(45deg); }
.transition .navigator .focus.wait .arrow::after { width: 5px; transform: rotate(0deg); }
.navigator .sub_nav { padding-top: 10px; height: auto; }
.navigator .sub_nav li { padding: 0px 2px 0px 4px; }
.navigator .sub_nav a { color: rgb(249, 252, 255); font-size: 12px; padding: 0px 8px; text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14); }
.navigator .sub_nav a:hover { text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.32); }
.navigator .sub_nav .arrow { display: inline-block; background: transparent url("header.png") no-repeat scroll -20px -552px; cursor: pointer; margin-top: -3px; height: 10px; width: 0px; overflow: hidden; vertical-align: middle; transition: width 0.3s ease 0s; }
.navigator .sub_nav a:hover .arrow { background-position: -20px -552px; width: 10px; }
.quick_services { background: transparent url("bg_hor.png") repeat-x scroll 0% 0%; border-radius: 5px 5px 0px 0px; color: rgb(255, 255, 255); margin-bottom: 6px; height: 44px; }
.quick_services li { float: left; font-size: 12px; text-shadow: 0px -1px 0px rgb(69, 83, 95); }
.quick_services li a { color: rgb(255, 255, 255); }
.quick_services li a:hover { color: rgb(255, 255, 255); }
.quick_services li i, .quick_services li b { display: inline-block; background: transparent url("bg_hor.png") no-repeat scroll 0px -44px; cursor: pointer; height: 28px; width: 28px; }
.quick_services li i { margin: -3px 5px 0px 0px; vertical-align: middle; }
.quick_services li b { background-position: 0px -72px; opacity: 0; vertical-align: top; transition: opacity 0.8s ease 0s; }
.quick_services li a:hover b { opacity: 1; }
.quick_services li .reply { background-position: -28px -44px; }
.quick_services li .reply b { background-position: -28px -72px; }
.quick_services li .fav { background-position: -56px -44px; }
.quick_services li .fav b { background-position: -56px -72px; }
.quick_services li .doing { background-position: -112px -44px; }
.quick_services li .doing b { background-position: -112px -72px; }
.quick_services li .user { background-position: -140px -44px; }
.quick_services li .user b { background-position: -140px -72px; }
.quick_services .user_links { padding-top: 7px; height: 37px; }
.quick_services .user_links li { padding: 0px 10px 0px 14px; }
.quick_services .user_links li a { display: inline-block; line-height: 28px; vertical-align: top; }
.quick_services .user_links .my { float: right; padding-right: 16px; }
.quick_services .links { display: inline; float: right; margin: -30px 120px 0px 0px; }
.quick_services .links li { padding-left: 12px; }
.quick_services li .newscommon { background: transparent url("news_common.png") no-repeat scroll 0px 0px; }
.quick_services li .newscommon b { background: transparent url("news_common.png") no-repeat scroll 0px -28px; }
.controller { font-size: 0px; height: 0px; position: relative; }
.controller .triggers { margin-left: -50px; width: 100px; position: absolute; left: 50%; text-align: center; }
.controller .triggers a { display: inline-block; border: 4px solid rgb(159, 159, 159); border-radius: 100%; line-height: 99px; margin: 0px 4px; height: 0px; width: 0px; overflow: hidden; vertical-align: top; }
.controller .triggers a:hover, .controller .triggers a.current { border-color: rgb(5, 199, 254); border-width: 2px; height: 4px; width: 4px; }
.top_news { margin-bottom: 8px; position: relative; }
.top_news img { vertical-align: top; image-rendering: optimizequality; }
.top_news .switch_panel { position: absolute; left: -21px; top: -28px; }
.top_news .switch_panel a { display: block; background: transparent url("bg_hor.png") no-repeat scroll 0px -100px; border-width: 1px 0px 1px 1px; border-style: solid none solid solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgb(239, 239, 239) currentcolor rgb(204, 204, 204) rgb(225, 225, 225); border-radius: 3px 0px 0px 3px; box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.04); height: 20px; width: 20px; transition: background-position 0.4s linear 0s; }
.top_news .switch_panel span, .top_news .order_panel span, .top_news .section .mask { display: none; }
.top_news .order_panel { font-size: 0px; width: 40px; overflow: hidden; position: absolute; left: -40px; top: 0px; }
.top_news .order_panel li { padding-bottom: 3px; vertical-align: top; }
.top_news .order_panel a { display: inline-block; background: transparent url("bg_hor.png") no-repeat scroll -48px -100px; border-radius: 4px 0px 0px 4px; margin-left: 32px; height: 56px; width: 40px; vertical-align: top; opacity: 0.9; transition: margin 0.4s ease 0s; }
.top_news .order_panel a:hover, .top_news .order_panel a.current { margin-left: 0px; opacity: 1; }
.top_news .order_panel .game a { background-position: -88px -100px; }
.top_news .order_panel .fitting a { background-position: -128px -100px; }
.top_news .section_panel { height: 268px; position: relative; }
.top_news .section { height: 100%; width: 100%; position: absolute; left: 0px; top: 0px; }
.top_news .section .news_list { height: 100%; }
.top_news .section ul { display: block; font-size: 0px; letter-spacing: -3px; margin-left: 408px; text-align: justify; }
.top_news .section li { display: inline-block; background: rgb(255, 255, 255) none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgb(188, 188, 188); font-size: 12px; letter-spacing: normal; margin: 0px 0px 7px 10px; width: 48.2%; text-align: left; vertical-align: top; }
.top_news .section_panel .section .fix { margin: 0px; height: 0px; width: 100%; overflow: hidden; }
.top_news .section .item { margin: 10px; padding-left: 72px; height: 64px; overflow: hidden; }
.top_news .section .pic { position: absolute; left: 0px; top: 0px; }
.top_news .section .pic:hover { opacity: 0.9; }
.top_news .section .pic::after { border-right: 1px solid rgba(0, 0, 0, 0.1); content: ""; margin-left: -1px; height: 100%; width: 0px; position: absolute; left: 100%; top: 0px; }
.top_news .section .icon { box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.36); border-radius: 12px; margin-left: -72px; position: absolute; }
.top_news .section .icon img { border-radius: 12px; vertical-align: top; }
.top_news .section .type { background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%; color: rgb(255, 255, 255); line-height: 18px; height: 18px; width: 56px; overflow: hidden; position: absolute; left: 70px; top: 4px; text-align: center; text-overflow: ellipsis; white-space: nowrap; overflow-wrap: normal; opacity: 0; visibility: hidden; }
.top_news .section li:hover .type { opacity: 1; visibility: visible; }
.top_news .section .tit { color: rgb(17, 17, 17); font-size: 14px; line-height: 20px; word-break: break-all; overflow-wrap: break-word; }
.top_news .section .tit:hover { color: rgb(17, 17, 17); }
.top_news .section .desc { color: rgb(153, 153, 153); margin-top: 4px; word-break: break-all; overflow-wrap: break-word; }
.top_news .section li.top { float: left; margin: 0px 0px 0px -408px; height: 266px; width: 408px; }
.top_news .section li.top .item { margin: 0px; padding: 184px 0px 0px 140px; height: 80px; width: 256px; }
.top_news .section li.top .icon { border-radius: 25px; margin: 0px; left: 14px; top: 150px; }
.top_news .section li.top .icon img { border-radius: 25px; }
.top_news .section li.top .type { left: 346px; }
.top_news .news_section li { margin-left: 8px; margin-bottom: 6px; position: relative; }
.top_news .focus_section li { width: 98%; }
.top_news .news_section .item { padding-left: 130px; height: 64px; }
.top_news .news_section .desc { margin-top: 5px; }
.top_news .news_section li.top { height: 174px; width: 408px; position: absolute; }
.top_news .news_section li.top .item { margin: 0px; padding: 0px; height: 100%; width: 100%; position: absolute; }
.top_news .news_section li.top .tit { color: rgb(255, 255, 255); font-size: 18px; line-height: 2; padding-top: 20px; height: 36px; width: 100%; overflow: hidden; position: absolute; left: 0px; bottom: 0px; z-index: 3; white-space: nowrap; overflow-wrap: normal; text-overflow: ellipsis; text-indent: 12px; text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.7); background: transparent linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%) repeat scroll 0% 0%; }
.top_news .news_section li.top .tit:hover { color: rgb(255, 255, 255); }
.top_news .news_section li.top .pic::after, .top_news .news_section li.top .desc { display: none; }
.top_news .news_section li.sub_top { margin: 180px 0px 0px -408px; width: 408px; position: absolute; }
.top_news .focus_section .news_list { margin-right: 204px; height: 100%; overflow: hidden; position: relative; }
.top_news .focus_section li.sub_top .tit, .top_news .focus_section li.sub_top .tit:hover { color: rgb(197, 21, 0); font-weight: bold; }
.top_news .fitting_section ul { margin-left: 368px; }
.top_news .fitting_section li { width: 48.6%; }
.top_news .fitting_section li.top, .top_news .fitting_section li.sub_top { margin-left: -368px; width: 368px; }
.top_news .fitting_section .item { padding-left: 110px; }
.top_news .fitting_section .type { left: 50px; }
.top_news .fitting_section li.top .type { left: 308px; }
.top_news .cd_player { height: 272px; width: 200px; position: absolute; right: 0px; top: 0px; }
.top_news .cd_player .inner { margin: 1px 0px 0px 6px; position: absolute; z-index: 2; }
.top_news .cd_player .inner a { display: none; position: absolute; left: 0px; top: 0px; }
.top_news .cd_player .inner img { border-radius: 2px; vertical-align: top; }
.top_news .cd_player .controller { z-index: 3; }
.top_news .cd_player .controller .triggers { margin-left: 16px; width: 160px; left: 0px; top: 248px; }
.top_news .cd_player .cd_mask, .top_news .cd_player .cd_bg { background: transparent url("vcd.png") no-repeat scroll 0% 0%; position: absolute; pointer-events: none; }
.top_news .cd_player .cd_mask { margin: -2px 0px 0px 4px; height: 100%; width: 100%; left: 0px; top: 0px; z-index: 3; }
.top_news .cd_player .cd_mask span { display: block; color: rgb(255, 255, 255); cursor: pointer; font-size: 14px; padding-top: 222px; margin-left: 10px; width: 160px; overflow: hidden; white-space: nowrap; overflow-wrap: normal; text-align: center; text-overflow: ellipsis; }
.top_news .cd_player .cd { background: transparent url("cd_disk.png") no-repeat scroll 0% 0%; height: 146px; width: 146px; position: absolute; left: 78px; top: 60px; pointer-events: none; transition: left 0.4s ease 0s, transform 1.2s ease 0.44s; }
.top_news .cd_player .cd_bg { background-position: -200px 0px; height: 264px; width: 178px; left: 6px; top: 2px; }
.top_news_mini .news_section .pic, .top_news .news_section li.top .pic::after, .top_news_mini .news_section li.top .desc { display: block; }
@media screen and (min-width: 1510px) {
  .widthauto .top_news .fitting_section li:not(.top):not(.sub_top) { width: 49.18%; }
}
.search_box { background: rgb(117, 137, 155) url("bg_hor.png") repeat-x scroll 0px -156px; border-radius: 4px 4px 0px 0px; color: rgb(255, 255, 255); height: 52px; }
.search_box .field_panel { padding: 10px; position: absolute; }
.search_box .type_panel { float: left; background: transparent url("bg_hor.png") no-repeat scroll 0px -242px; border-radius: 4px; height: 30px; width: 150px; }
.search_box .type_panel .type { display: block; background: transparent url("bg_hor.png") no-repeat scroll 0px -272px; height: 100%; transition: background 0.12s linear 0s; }
.search_box .curr_owner .type { background-position: 75px -272px; }
.search_box .type_panel .type em { float: left; cursor: pointer; line-height: 30px; height: 100%; width: 50%; text-align: center; text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.8); }
.search_box .curr_google .type .google, .search_box .curr_owner .type .owner { color: rgb(28, 34, 37); text-shadow: 0px 1px 0px rgb(255, 255, 255); }
.search_box .sch_panel { float: left; padding-left: 10px; }
.search_box .sch_panel li { float: left; }
.search_box .sch_panel .txt { display: inline-block; background: rgb(239, 239, 239) none repeat scroll 0% 0%; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(239, 239, 239) rgb(239, 239, 239); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 4px; box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.09); padding: 0px 26px; height: 28px; vertical-align: top; }
.search_box .sch_panel .txt input { background: transparent none repeat scroll 0% 0%; border: 0px none; border-radius: 4px; color: rgb(51, 51, 51); padding: 6px; height: 16px; width: 300px; outline: 0px none; text-shadow: 0px 1px 0px rgb(255, 255, 255); }
.search_box .sch_panel .zoom, .search_box .sch_panel .clear { background: transparent url("bg_hor.png") no-repeat scroll 0px -302px; margin: 5px 0px 0px -20px; height: 20px; width: 20px; position: absolute; }
.search_box .sch_panel .clear { background-position: -20px -302px; cursor: pointer; margin: 5px 0px 0px -3px; opacity: 1; }
.search_box .sch_panel .btns { position: absolute; visibility: hidden; }
.search_box .type_list { background: rgb(239, 239, 239) none repeat scroll 0% 0%; border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(239, 239, 239) rgb(239, 239, 239); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 0px 4px 4px 0px; color: rgb(171, 171, 171); padding: 3px 0px; height: 22px; width: 70px; overflow: hidden; position: absolute; z-index: 3; text-shadow: 0px 1px 0px rgb(255, 255, 255); transition: all 0.32s ease 0s; }
.search_box .type_list span { display: block; cursor: pointer; padding: 3px 10px; }
.search_box .type_list span:hover { color: rgb(51, 51, 51); }
.search_box .type_list i { height: 10px; width: 10px; overflow: hidden; position: absolute; }
.search_box .type_list .current { cursor: default; margin-bottom: 5px; }
.search_box .type_list .arrow { background: transparent url("bg_hor.png") no-repeat scroll -40px -312px; margin-left: -18px; left: 100%; top: 9px; transition: background 0.2s linear 0s; }
.search_box .type_list:hover .arrow, .search_box .type_list.hover .arrow { background-position: -40px -302px; }
.search_box .type_list .line { background: rgb(171, 171, 171) none repeat scroll 0% 0%; height: 1px; width: 13px; left: 10px; top: 28px; }
.search_box .owner_sch, .search_box .curr_owner .google_sch { display: none; }
.search_box .curr_owner .owner_sch { display: block; }
.search_box .owner_sch .type_list { margin-left: -72px; }
.search_box .owner_sch .txt { padding-right: 86px; }
.search_box .owner_sch .txt input { width: 240px; }
.search_box .hot_keys { padding: 16px 12px 0px 554px; overflow: hidden; white-space: nowrap; overflow-wrap: normal; text-overflow: ellipsis; text-shadow: 0px 2px 2px rgb(69, 89, 107); }
.search_box .hot_keys a { color: rgb(255, 255, 255); margin: 0px 1em 0px 0.2em; }
.bbs_info { background: rgb(87, 105, 121) url("bg_hor.png") repeat-x scroll 0px -208px; border-radius: 0px 0px 4px 4px; color: rgb(255, 255, 255); margin-bottom: 15px; height: 34px; text-shadow: 0px -1px 0px rgb(57, 66, 76); }
.crumbs { line-height: 34px; }
.fl_row .fl_tb {  }
.fl_row .fl_tb .inner ul { display: block; font-size: 0px; width: 100%; text-align: justify; }
.fl_row .fl_tb li { display: inline-block; background: rgb(255, 255, 255) none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgb(188, 188, 188); font-size: 12px; margin-bottom: 8px; width: 24.2%; text-align: center; vertical-align: top; }
.fl_row .fl_tb li a { display: block; border-left: 0px solid rgb(26, 162, 241); color: rgb(51, 51, 51); transition: all 0.32s ease 0s; }
.fl_row .fl_tb .list { padding: 8px 0px; text-align: left; }
.fl_row .fl_tb .list a { margin: 3px 0px; padding-left: 10px; }
.fl_row .fl_tb .list a:hover { border-left-width: 6px; color: rgb(51, 51, 51); }
.fl_row .fl_tb li img { vertical-align: top; }
.fl_row .fl_tb li.fix { margin: 0px; box-shadow: none; height: 0px; width: 100%; overflow: hidden; }
.footer { text-shadow: 0px 1px 0px rgb(255, 255, 255); position: relative; }
.footer .links { float: right; padding-top: 12px; }
.footer .links li { float: left; color: rgb(153, 153, 153); padding-left: 10px; vertical-align: top; }
.footer .links li a { color: rgb(51, 51, 51); }
.footer .links li a:hover { color: rgb(17, 17, 17); }
.footer .copyright { border-bottom: 1px solid rgb(170, 170, 170); color: rgb(174, 174, 174); padding: 12px 8px; }
.footer .our_services { border-top: 1px solid rgb(244, 244, 244); border-bottom: 1px solid rgb(170, 170, 170); padding: 90px 0px 0px 8px; height: 100px; }
.footer .our_services .title { margin-top: -58px; font-weight: normal; line-height: 1.5; padding: 0px; height: auto; position: absolute; }
.footer .our_services .title h3 { color: rgb(102, 102, 102); font-size: 14px; font-weight: normal; }
.footer .our_services ul { position: absolute; z-index: 3; }
.footer .our_services li { float: left; padding-right: 24px; }
.footer .our_services a { display: block; color: rgb(255, 255, 255); font-size: 12px; height: 60px; width: 70px; position: relative; text-align: center; text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2); }
.footer .our_services a:hover { color: rgb(255, 255, 255); }
.footer .our_services .icon, .footer .our_services .icon b, .footer .our_services span { display: block; background: transparent url("footer.png") no-repeat scroll 0px -40px; cursor: pointer; margin: 0px auto; height: 54px; width: 54px; }
.footer .our_services .icon { margin-bottom: 20px; }
.footer .our_services .icon b, .footer .our_services span { background-position: 0px -94px; opacity: 0; transition: opacity 0.5s ease 0s; }
.footer .our_services a:hover .icon b { opacity: 1; }
.footer .our_services .wegame { background-position: -54px -40px; }
.footer .our_services .wegame b { background-position: -54px -94px; }
.footer .our_services .fengbuy { background-position: -108px -40px; }
.footer .our_services .fengbuy b { background-position: -108px -94px; }
.footer .our_services .cydia { background-position: -162px -40px; }
.footer .our_services .cydia b { background-position: -162px -94px; }
.footer .our_services .circle { border: 2px solid rgb(170, 170, 170); border-radius: 100%; cursor: pointer; margin-top: -8px; height: 66px; width: 66px; position: absolute; left: 0px; top: 0px; transition: all 0.5s ease 0s; }
.footer .our_services a:hover .circle { opacity: 0.32; transform: scale(0.84); }
.footer .our_services span { background-position: -270px 0px; line-height: 19px; margin: -30px 0px 0px -40px; position: absolute; height: 26px; width: 80px; left: 50%; top: 0px; text-align: center; opacity: 0; transition: all 0.4s ease 0s; }
.footer .our_services a:hover span { margin-top: -36px; opacity: 1; visibility: visible; filter: none; }
.footer .our_image { background: transparent url("weiwei-1.png") no-repeat scroll 0% 0%; height: 184px; width: 310px; position: absolute; right: 0px; top: 48px; z-index: 1; }
.footer .our_image em { display: block; color: rgb(255, 255, 255); margin: 21px 0px 0px 22px; text-shadow: 0px 1px 0px rgb(36, 127, 200); }
.footer .safe_links { font-size: 0px; margin-top: 6px; position: absolute; }
.footer .safe_links a { display: inline-block; background: transparent url("footer.png") no-repeat scroll 0% 0%; line-height: 99px; margin-right: 10px; height: 40px; width: 44px; overflow: hidden; vertical-align: top; opacity: 0.4; transition: opacity 0.4s linear 0s; }
.footer .our_services .icon, .footer .our_services .icon b, .footer .our_services span, .footer .safe_links a {  }
.footer .safe_links a:hover { opacity: 1; }
.footer .safe_links .safe_2 { background-position: -44px 0px; }
.footer .safe_links .safe_3 { background-position: -88px 0px; }
.footer .safe_info { color: rgb(153, 153, 153); padding: 10px 0px 20px; }
.footer .safe_info p { padding-top: 5px; text-align: right; }
.footer .safe_info a { color: rgb(153, 153, 153); }
.footer .safe_info a:hover { color: rgb(51, 51, 51); }
.quick_links_wrap { font-size: 0px; margin-left: 498px; position: fixed; left: 50%; bottom: 40px; z-index: 9; }
.quick_links { width: 46px; }
.quick_links a { display: block; background: rgba(0, 0, 0, 0.3) none repeat scroll 0% 0%; border-radius: 3px; padding: 11px 0px; transition: background 0.28s linear 0s; }
.quick_links a:hover { background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; }
.quick_links span { display: block; background: transparent url("bg_hor.png") no-repeat scroll -24px -322px; cursor: pointer; margin: 0px auto; height: 24px; width: 24px; }
.page_bigad .navigator .focus .arrow::before, .page_bigad .navigator .focus .arrow::after { display: none; }
#ct { min-height: 300px; }
.bm, .bn { margin-bottom: 10px; }
.bm {  }
.bmw {  }
.crumbs { color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgb(75, 89, 103); clear: both; overflow: hidden; }
.crumbs .crumbs_inner { padding: 0px 10px; }
.crumbs a, .crumbs em, .crumbs .current { display: inline-block; color: rgb(255, 255, 255); line-height: 34px; vertical-align: top; }
.crumbs em, .crumbs .home { background: transparent url("bg_hor.png") no-repeat scroll -150px -312px; line-height: 99px; margin: 0px 8px; height: 34px; width: 14px; overflow: hidden; }
.crumbs .home { background-position: -120px -302px; margin: 7px 0px 0px 10px; height: 20px; width: 20px; }
.crumbs a:hover { color: rgb(255, 255, 255); }
.tns { padding: 10px 0px; }
.tns table { width: 100%; }
.tns th, .tns td { text-align: center; font-size: 12px; }
.tns th { border-right: 1px solid rgb(204, 204, 204); }
.a_pt, .a_pb { margin-bottom: 10px; }
.xl li { margin: 2px 0px; }
.xl2 li { float: left; margin: 0px 0px 4px; padding: 0px; width: 50%; height: 1.5em; overflow: hidden; }
.tedt { width: 98%; border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgb(153, 153, 153) rgb(204, 204, 204) rgb(204, 204, 204) rgb(153, 153, 153); }
.tedt .bar { padding: 0px 10px 0px 0px; height: 25px; line-height: 25px; border-bottom: 1px solid rgb(205, 205, 205); background: rgb(242, 242, 242) none repeat scroll 0% 0%; }
.fpd a { float: left; margin: 2px 5px 0px 0px; width: 20px; height: 20px; background: transparent url("editor.gif") no-repeat scroll 0% 0%; text-indent: -9999px; line-height: 20px; overflow: hidden; }
.fpd a.fbld { background-position: 0px 0px; }
.fpd a.fclr { background-position: -60px 0px; }
.fpd a.fmg { background-position: 0px -20px; }
.fpd a.flnk { background-position: -40px -20px; }
.fpd a.fqt { background-position: -140px -20px; }
.fpd a.fcd { background-position: -120px -20px; }
.fpd a.fsml { background-position: -20px -20px; }
.tedt .area { padding: 4px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.tedt .pt { width: 100%; margin-right: 0px; padding: 0px ! important; border: medium none; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.tedt .pt:focus { outline: medium none; }
.p_pop, .p_pof, .sllt { padding: 4px; border: 1px solid rgb(221, 221, 221); min-width: 60px; background: rgb(254, 254, 254) none repeat scroll 0% 0%; box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3); }
.p_pop a { display: block; padding: 3px 5px; border-bottom: 1px solid rgb(229, 237, 242); white-space: nowrap; }
.p_pop a:hover, .p_pop a.a, #sctype_menu .sca { background-color: rgb(229, 237, 242); color: rgb(51, 102, 153); text-decoration: none; }
.blk a, .inlinelist a { display: inline; padding: 0px; border: medium none; }
.blk a:hover { background: transparent none repeat scroll 0% 0%; color: rgb(51, 51, 51); text-shadow: none; text-decoration: underline; }
#ratesubmit, #modsubmit, #defaultbutton, #closebtn, #fwin_dialog_submit, button.pnc, button.pn { margin-right: 10px ! important; }
#fastpostsubmit { margin-right: 0px ! important; }
.pager { float: right; padding-top: 6px; }
.pager .page_list { float: left; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 4px; box-shadow: 0px 1px 3px rgb(188, 188, 188); padding: 0px 5px; }
.pgs {  }
.pg { display: inline; float: left; margin: 5px; }
.back_pg { border-right: 1px solid rgb(232, 232, 232); margin: 0px; padding: 6px 0px; }
.pg, .pgb { line-height: 24px; }
.pg a, .pg strong, .pgb a, .pg label { display: inline; float: left; border-radius: 26px; color: rgb(51, 51, 51); font-size: 12px; margin-left: 5px; overflow: hidden; transition: all 0.2s linear 0s; }
.pg a, .pg strong, .pgb a { background: rgb(243, 243, 243) none repeat scroll 0% 0%; border: 1px solid rgb(243, 243, 243); padding: 0px 9px; height: 24px; }
.pg a:hover, .pgb a:hover { background-color: rgb(255, 255, 255); border-color: rgb(69, 171, 250); color: rgb(67, 170, 250); }
.pg a.nxt, .pg a.prev, .back_pg a { background-image: url("bg_hor.png"); background-repeat: no-repeat; background-position: -120px -388px; }
.back_pg a { background-color: transparent; background-position: -150px -388px; border: 0px none; border-radius: 0px; padding: 0px 10px 0px 15px; }
.pg a.nxt, .pg a.prev { line-height: 99px; padding: 0px; width: 24px; }
.pg strong { background-color: rgb(67, 170, 250); border-color: rgb(67, 170, 250); color: rgb(255, 255, 255); }
.pg label { float: left; color: rgb(51, 51, 51); cursor: text; font-size: 12px; margin-left: 5px; padding: 0px 5px; }
.pg label .px { float: left; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(232, 232, 232); border-radius: 26px; padding: 4px 8px; height: 16px; width: 24px; outline: 0px none; }
.pg label .px:focus { border-color: rgb(69, 171, 250); }
.pg label span { float: left; padding: 2px 0px 0px 0.4em; }
.new_thread, .new_thread span, .new_thread i { float: left; background: transparent url("bg_hor.png") no-repeat scroll 100% -412px; padding-right: 40px; height: 46px; transition: all 0.2s linear 0s; }
.new_thread { background-position: 0px -412px; color: rgb(255, 255, 255); font-size: 16px; line-height: 36px; padding: 0px 0px 0px 20px; text-shadow: 0px 0px 5px rgba(0, 107, 183, 0.8); }
.new_thread:hover { color: rgb(255, 255, 255); padding-left: 24px; }
.new_thread:hover span { padding-right: 45px; }
.new_thread i { background-position: -76px -388px; margin: 6px 14px 0px 0px; padding: 0px; height: 24px; width: 28px; }
.new_thread:hover i { background-position: -72px -388px; animation: 0.4s linear 0s normal none infinite running new_thread_dot; }
@keyframes new_thread_dot {
  0% { background-position: -76px -388px; }
  50% { background-position: -72px -388px; }
  100% { background-position: -76px -388px; }
}
@keyframes new_thread_dot {
  0% { background-position: -76px -388px; }
  50% { background-position: -72px -388px; }
  100% { background-position: -76px -388px; }
}
@keyframes new_thread_dot {
  0% { background-position: -76px -388px; }
  50% { background-position: -72px -388px; }
  100% { background-position: -76px -388px; }
}
#fjump_menu { padding: 7px 0px 10px 10px; }
.focus { position: fixed; right: 10px; bottom: 0px; z-index: 300; overflow: hidden; width: 270px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.title { padding: 0px 10px; height: 32px; font-size: 14px; font-weight: 700; line-height: 32px; overflow: hidden; }
.tip { position: absolute; padding: 10px; width: 260px; border: 1px solid rgb(177, 177, 177); background: rgb(254, 254, 233) none repeat scroll 0% 0%; }
.tip_3, .tip_4 { margin-top: -8px; }
.tip_horn { position: absolute; width: 11px; height: 6px; overflow: hidden; }
.tip_4 .tip_horn { left: 5px; bottom: -6px; background: transparent url("urn:not-loaded:http://bbs.feng.com/static/image/common/tip_bottom.png") repeat scroll 0% 0%; }
.aimg_tip { margin-top: 0px; }
.card_gender_0 { background: rgb(255, 255, 255) url("urn:not-loaded:http://bbs.feng.com//bbs_v4/images/nosexbg.png") no-repeat scroll right bottom; }
.card_gender_1 { background: rgb(255, 255, 255) url("urn:not-loaded:http://bbs.feng.com//bbs_v4/images/gentlemanbg.png") no-repeat scroll right bottom; }
.pgbtn { margin-bottom: 10px; overflow: hidden; }
.pgbtn a { display: block; background: rgb(238, 238, 238) none repeat scroll 0% 0%; border: 1px solid rgb(220, 220, 220); box-shadow: 0px 1px 0px rgb(203, 203, 203), 0px 1px 0px rgb(255, 255, 255) inset; color: rgb(102, 102, 102); font-size: 16px; line-height: 20px; padding: 12px; letter-spacing: 0.4em; text-align: center; text-shadow: 0px 1px 0px rgb(255, 255, 255); transition: all 0.2s linear 0s; }
.pgbtn a:hover { background-color: rgb(255, 255, 255); box-shadow: 0px 1px 0px rgb(255, 255, 255) inset; }
.pgbtn a i { display: inline-block; background: transparent url("bg_hor.png") no-repeat scroll -125px -389px; margin: -3px 0px 0px 4px; height: 20px; width: 20px; vertical-align: middle; }
.pn { text-shadow: none; margin-right: 0px; }
.pl_tit_table .pls { border-radius: 8px 0px 0px; }
.psth { margin: 2em 0px 2em -18px; }
.page_list .back_pg { border: medium none; }
#ct { border: medium none; }
.pn { height: 31px; }
.pnc, a.pnc { background-position: 0px -50px; }
.pnpost { line-height: 40px; }
.pnpost label { float: right; margin-right: 92px; }
.pnpost, #moreconf { line-height: 30px; }
.area { padding: 0px ! important; }
.aui_outer { text-align: left; }
table.aui_border, table.aui_dialog { border: 0px none; margin: 0px; border-collapse: collapse; width: auto; }
.aui_nw, .aui_n, .aui_ne, .aui_w, .aui_c, .aui_e, .aui_sw, .aui_s, .aui_se, .aui_header, .aui_tdIcon, .aui_main, .aui_footer { padding: 0px; }
.aui_header, .aui_buttons button { font: 12px/1.11 "Microsoft Yahei",Tahoma,Arial,Helvetica,STHeiti; }
.aui_title { overflow: hidden; text-overflow: ellipsis; }
.aui_close { display: block; position: absolute; text-decoration: none; outline: medium none; }
.aui_close:hover { text-decoration: none; }
.aui_main { text-align: center; min-width: 9em; }
.aui_content { display: inline-block; text-align: left; border: 0px none; }
.aui_icon { vertical-align: middle; }
.aui_icon div { width: 48px; height: 48px; margin: 10px 0px 10px 10px; background-position: center center; background-repeat: no-repeat; }
.aui_buttons { padding: 8px; text-align: right; white-space: nowrap; }
.aui_buttons button::-moz-focus-inner { border: 0px none; padding: 0px; margin: 0px; }
.aui_inner { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(119, 139, 157); border-radius: 5px; }
.aui_nw, .aui_ne, .aui_sw, .aui_se { width: 3px; height: 3px; }
.aui_nw, .aui_n, .aui_ne, .aui_w, .aui_e, .aui_sw, .aui_s, .aui_se { background: rgba(0, 0, 0, 0.05) none repeat scroll 0% 0%; }
.aui_titleBar { position: relative; height: 100%; }
.aui_title { position: absolute; top: 0px; left: 0px; width: 100%; height: 14px; text-indent: -9999em; overflow: hidden; font-size: 0px; }
.aui_close { padding: 0px; top: 0px; right: 0px; width: 18px; height: 18px; line-height: 18px; text-align: center; font-family: Helvetica,STHeiti; font-size: 18px; text-decoration: none; color: rgb(33, 79, 163); }
.aui_close:hover, .aui_close:active { text-decoration: none; color: rgb(153, 0, 0); }
.aui_content { color: rgb(119, 139, 157); }
@media screen and (min-width: 0px) {
  .aui_close { width: 20px; height: 20px; line-height: 20px; right: -10px; top: -10px; border-radius: 20px; background: rgb(119, 139, 157) none repeat scroll 0% 0%; color: rgb(255, 255, 255); box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); transition: all 0.06s linear 0s; }
  .aui_close:hover { width: 24px; height: 24px; line-height: 24px; right: -12px; top: -12px; color: rgb(255, 255, 255); box-shadow: 0px 1px 3px rgba(209, 40, 42, 0.5); background: rgb(209, 40, 42) none repeat scroll 0% 0%; border-radius: 24px; }
  .aui_dialog:active { box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1) ! important; }
}
.ac_results, .bdcs-container .bdcs-search-sug { padding: 0px; border: 1px solid rgb(204, 204, 204); background-color: white; overflow: hidden; z-index: 99999; margin-left: 5px; }
.bdcs-container .bdcs-search-sug { top: 30px; left: 20px; }
.ac_results ul, .bdcs-container .bdcs-search-sug ul { width: 100%; list-style: outside none none; padding: 0px; margin: 0px; }
.shareBox { float: right; }
.shareBox .label { float: left; line-height: 36px; margin-right: 5px; margin-left: 10px; }
.shareBox .bdsharebuttonbox { float: right; margin-top: 3px; }
.navigator .nav li .hs { background: transparent url("hs_icon.png") no-repeat scroll 0% 0%; }
