/* Effective stylesheet produced by snapshot save */
#calendar { padding: 5px; text-align: left; border: 1px solid rgb(221, 221, 221); background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin-bottom: 0.8em; }
#calendar td { padding: 2px; font-weight: 700; }
#calendar_week td { height: 2em; line-height: 2em; border-bottom: 1px solid rgb(194, 213, 227); }
#calendar_week a { color: rgb(51, 102, 153); }
#hourminute td { padding: 4px 2px; border-top: 1px solid rgb(194, 213, 227); }
.calendar_today, .calendar_today a:link, .calendar_today a:visited { color: rgb(102, 102, 102); font-weight: bold; }
#calendar_header td { width: 30px; height: 20px; border-bottom: 1px solid rgb(194, 213, 227); font-weight: normal; }
#calendar_year { display: none; line-height: 130%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: absolute; z-index: 10; }
#calendar_year .col { float: left; background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin-left: 1px; border: 1px solid rgb(194, 213, 227); padding: 4px; }
#calendar_month { display: none; background: rgb(255, 255, 255) none repeat scroll 0% 0%; line-height: 130%; border: 1px solid rgb(221, 221, 221); padding: 4px; position: absolute; z-index: 11; }
