/* Effective stylesheet produced by snapshot save */
.quote { overflow: hidden; margin: 10px 0px; padding-left: 16px; background: transparent url("urn:not-loaded:http://bbs.feng.com/static/image/common/qa.gif") no-repeat scroll 0px 0px; color: rgb(102, 102, 102); }
.quote blockquote { display: inline; color: rgb(102, 102, 102); font-size: 12px; margin: 0px; padding-right: 16px; background: transparent url("urn:not-loaded:http://bbs.feng.com/static/image/common/qz.gif") no-repeat scroll 100% 100%; }
#f_pst .tedt { width: auto; }
.hasfsl { margin-right: 170px; }
#fjump_menu { overflow-x: hidden; max-height: 600px; }
.tl tbody:nth-child(2n), .tl tbody:nth-child(2n) { background: rgb(252, 252, 253) none repeat scroll 0% 0%; }
.vwthd { padding-right: 80px ! important; }
.vwthd div.y { display: inline; margin-right: -68px; }
.vwthd .y a { margin-left: 0.5em; }
.ts, .ts a { display: inline; color: rgb(255, 255, 255); font-size: 16px; font-weight: normal; text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4); }
.ts a:hover { color: rgb(255, 255, 255); text-decoration: underline; }
.authi .none { display: inline-block; }
.authi .show { display: none; }
.authi:hover .none { display: none; }
.authi:hover .show { display: inline-block; }
i.pl_bg { display: none; }
.pl_bg { background: transparent url("pl_bg.png") no-repeat scroll 0% 0%; font-size: 0px; }
.pl_bg_tl, .pl_bg_ml, .pl_bg_bl, .pl_bg_tr, .pl_bg_mr { background-position: -40px 0px; background-repeat: repeat-y; width: 10px; }
.pl_bg_tr, .pl_bg_mr { background-position: -44px 0px; width: 16px; }
.pl_bg_bl, .pl_bg_br { background: transparent none repeat scroll 0% 0%; }
.pl_bg_tc, .pl_bg_bc { background: transparent url("pl_bg_hor.png") repeat-x scroll 0px -10px; margin: 0px 0px 8px; height: 10px; }
.pl_bg_tc { background-position: 0px 0px; margin: 0px -14px 0px -10px; padding: 0px; }
.pl_bg_tl, .pl_bg_tr, .pl_bg_bl, .pl_bg_br { vertical-align: top; }
.pl_bg_tl i, .pl_bg_tr i, .pl_bg_bl i, .pl_bg_br i { display: block; background-position: 0px 0px; height: 10px; width: 10px; overflow: hidden; }
.pl_bg_tr i { background-position: -12px 0px; }
.pl_bg_bl i { background-position: 0px -10px; }
.pl_bg_br i { background-position: -12px -10px; }
.pl { background: rgb(245, 245, 245) none repeat scroll 0% 0%; border: 1px solid rgb(222, 222, 222); border-radius: 5px 5px 0px 0px; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.04); }
.pl_tit_table { background: transparent url("bg_hor.png") repeat-x scroll 0px -346px; border-radius: 5px 5px 0px 0px; height: 42px; overflow: hidden; }
.pl_tit_table .pls { background: transparent url("bg_hor.png") repeat-x scroll 0px 1px; color: rgb(255, 255, 255); height: 42px; text-shadow: 0px 0px 3px rgb(30, 49, 67); }
.pl_tit_table .plc { background: transparent none repeat scroll 0% 0%; }
.pl_tit_panel { color: rgb(255, 255, 255); height: 24px; width: 95%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; overflow-wrap: normal; text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4); }
.pl_tit_panel a { color: rgb(255, 255, 255); }
.pl_tit_panel a:hover { color: rgb(255, 255, 255); text-decoration: underline; }
.pl table { table-layout: fixed; width: 100%; }
.plm { vertical-align: bottom ! important; }
.pls_panel { position: relative; z-index: 3; }
.pls_panel .user_props {  }
.pls_panel .user_props p, .pls_panel .pil { padding: 0px 2px; }
.plc, .pls { vertical-align: top; }
.pls_panel .pls { position: relative; }
.pls_panel .pl_arrow { display: block; background-position: 0px -20px; height: 20px; width: 20px; position: absolute; left: 100%; top: 20px; }
.plc { background: rgb(254, 254, 254) none repeat scroll 0% 0%; color: rgb(51, 51, 51); padding: 0px 14px 0px 10px; }
.pls { width: 184px; }
.pl_slider_top { line-height: 1.4; padding: 3px 10px 0px; }
.pl_slider_top span { float: left; padding-right: 10px; white-space: nowrap; overflow: hidden; }
.pl_slider_top span em { display: block; font-family: Arial; font-size: 14px; }
.pl_slider_top .pipe { border-left: 1px dotted rgb(51, 66, 79); border-right: 1px dotted rgb(110, 130, 147); margin: 0px 14px; padding: 0px; height: 35px; width: 0px; overflow: hidden; }
.pls .favatar { margin: 0px 18px; padding-bottom: 50px; width: 148px; }
.pls .favatar2 { text-align: center; }
.pls .avatar { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(237, 237, 237) rgb(218, 218, 218) currentcolor; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding: 10px 5px 5px; text-align: center; }
.pls .avatar a { display: block; }
.pls .avatar img { vertical-align: top; }
.pls .tns { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentcolor rgb(218, 218, 218) rgb(204, 203, 203); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.06); color: rgb(111, 122, 131); margin: 0px 0px 20px; padding: 5px 8px 10px; text-align: center; }
.pls .tns th { border-right: 1px solid rgb(177, 189, 206); font-weight: normal; }
.pls .tns span { display: block; }
.pls .tns a { color: rgb(46, 57, 68); }
.pls .tns a:hover { color: rgb(17, 17, 17); }
.pls .xg1 { color: rgb(111, 122, 131); }
.pls p, .pls .pil { margin: 5px 10px 0px 0px; }
.pls .o { margin: 0px 10px 5px 0px; }
.pls p em, .pls dt em { color: rgb(242, 108, 79); }
.pls dd, .pls dt { float: left; overflow: hidden; height: 1.6em; line-height: 1.6em; }
.pls dt { margin-right: 3px; width: 55px; }
.pls dd { width: 70px; }
.ad .pls, .ad .plc { background: rgb(245, 245, 245) none repeat scroll 0% 0% ! important; font-size: 0px; padding: 0px; height: 8px; }
.pi { border-bottom: 1px dotted rgb(185, 188, 193); margin-bottom: 10px; padding: 10px 0px; height: 16px; overflow: hidden; text-overflow: ellipsis; }
.plc .pi { padding-top: 0px; }
.pi strong a { float: right; padding: 0px 5px; border: 1px solid rgb(255, 255, 255); font-weight: normal; }
.pi strong a:hover { border-color: rgb(205, 205, 205); }
.pi a { color: rgb(51, 51, 51); font-weight: normal; }
.pls .pi a { font-size: 14px; }
.pti, .pti a { color: rgb(102, 102, 102); }
.pti a:hover { color: rgb(17, 17, 17); }
.authicn { margin: -3px 0.2em 0px 0px; width: 16px; vertical-align: middle; }
.app_qr_pop::after { border-color: rgb(147, 147, 147) transparent rgba(0, 0, 0, 0.7); border-style: solid dashed; border-width: 0px 7px 6px; content: ""; margin: -6px 0px 0px -7px; height: 0px; width: 0px; position: absolute; left: 50%; top: 0px; }
.pcb { clear: left; }
#fj { margin-left: 5px; }
#fj label, #fj input { margin: 3px 5px; padding: 1px 3px; height: 14px; }
.pcb strong { font-weight: 700; }
.pcb em { color: rgb(102, 102, 102); }
.pct { padding-bottom: 1em; }
.t_fsz { min-height: 100px; }
.t_f, .t_f td { color: rgb(17, 17, 17); font-size: 14px; line-height: 2; }
.t_f a { color: rgb(51, 102, 153); text-decoration: underline; }
.t_f i { font-style: italic; }
.po { border-top: 1px dotted rgb(209, 209, 209); }
.po p { float: right; }
.po p a, .po p label { margin-right: 6px; }
.hin { opacity: 0.24; transition: opacity 0.4s linear 0s; }
.plhin:hover .hin { opacity: 1; }
.pob { line-height: 36px; }
.pob em { float: left; }
.pob em a { margin-right: 5px; padding: 5px 5px 5px 22px; }
.fastre { background: transparent url("fastreply.png") no-repeat scroll 3px 50%; }
.modact { display: block; height: 32px; text-align: center; padding: 30px 0px 0px; }
.modact, .modact a { line-height: 32px ! important; }
#p_btn { padding: 3em 0px; text-align: center; }
#p_btn a { margin: 0px 10px; }
.cy_btn { display: inline-block; color: rgb(102, 102, 102); font-size: 12px; width: 84px; position: relative; text-align: center; }
.cy_btn:hover { color: rgb(51, 51, 51); }
.cy_btn .icon, .cy_btn .circle { transition: all 0.5s ease 0s; }
.cy_btn:hover .icon { opacity: 0.64; }
.cy_btn .icon { display: block; background: transparent url("bg_hor.png") no-repeat scroll 0px -694px; cursor: pointer; margin: 0px auto; height: 44px; width: 44px; }
.cy_btn .circle { border: 2px solid rgb(195, 195, 195); border-radius: 100%; cursor: pointer; margin-top: -8px; height: 80px; width: 80px; position: absolute; left: 0px; top: 0px; opacity: 0.36; }
.cy_btn:hover .circle { opacity: 1; transform: scale(0.82); }
.rate_avt_list { margin-bottom: -20px; }
.rate_avt_list li { float: left; padding-right: 15px; }
.rate_avt_list li p { margin: 0px 0px 5px; width: 70px; overflow: hidden; text-align: center; text-overflow: ellipsis; white-space: nowrap; overflow-wrap: normal; }
.rate_avt_list .avt img { border: 0px none; border-radius: 100%; padding: 0px; height: 70px; width: 70px; vertical-align: top; }
.rate_panel .psth h3 { margin-left: 0px; padding-right: 2px; width: 158px; left: 0px; text-align: left; }
.rate_panel .psth h3 i { background-position: -20px -674px; }
.rate_panel .psth .counts { width: auto; left: 158px; }
.rate_panel .psth .counts em { display: inline-block; width: 46px; }
.rate { margin: 20px 0px; font-size: 12px; }
.ratl th, .ratl td, .ratc { border-bottom: 1px dotted rgb(209, 209, 209); line-height: 24px; padding: 5px; overflow: hidden; white-space: nowrap; overflow-wrap: normal; vertical-align: top; }
.ratl th, .ratl td { padding: 6px 5px; width: 144px; }
.ratl .xi1 { width: 68px; }
.ratl .xg1 { width: auto; white-space: normal; word-break: break-all; overflow-wrap: break-word; }
.ratl .rate_time { width: 110px; }
.ratl .xg1 a, .ratl .xg1 a:hover { color: rgb(51, 102, 153); }
.ratl img { border-radius: 100%; height: 24px; width: 24px; vertical-align: middle; }
.psth { border-top: 1px solid rgb(210, 210, 210); border-bottom: 1px solid rgb(255, 255, 255); font-size: 0px; height: 0px; margin: 40px 0px 20px; position: relative; }
.psth h3, .psth .funs { background: rgb(254, 254, 254) none repeat scroll 0% 0%; color: rgb(102, 102, 102); font-size: 12px; font-weight: normal; line-height: 20px; margin: -10px 0px 0px -50px; width: 100px; position: absolute; left: 50%; top: 0px; text-align: center; white-space: nowrap; overflow-wrap: normal; }
.psth .funs { margin-left: 0px; padding-left: 12px; width: auto; left: auto; right: 0px; text-align: left; }
.psth h3 i, .psth .funs i { display: inline-block; background: transparent url("bg_hor.png") no-repeat scroll 0px -674px; margin: -3px 0.3em 0px 0px; height: 20px; width: 20px; vertical-align: middle; }
.psth .funs i { background-position: -40px -674px; margin-left: 0.3em; width: 10px; }
.psth h3 em { color: rgb(255, 120, 0); font-weight: bold; margin-left: 0.4em; }
#f_pst { border: 0px none; }
#f_pst .pls { box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.06) inset; }
#f_pst .plc { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-left: 1px solid rgb(222, 222, 222); padding: 20px; }
#f_pst .pn { margin-right: 10px; }
i.pstatus { display: block; margin-bottom: -30px; font-size: 12px; text-align: center; font-style: normal; line-height: 32px; color: rgb(153, 153, 153); }
.bui { background-color: rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(237, 237, 237) rgb(218, 218, 218) rgb(204, 203, 203); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06); margin: 0px; padding: 10px 5px 5px; width: 136px; overflow: hidden; position: absolute; }
.bui .z { float: none; }
.bui .z div { background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding-right: 5px; width: 136px; text-align: center; }
.bui .y { width: 292px; position: absolute; left: 152px; top: 10px; }
.bui a:hover { color: rgb(108, 143, 200); }
.bui dl { margin: 5px 0px 10px; }
.bui dt { width: 4.5em; }
.bui dd { margin-right: 10px; width: 75px; }
.imicn img { vertical-align: middle; margin-right: 8px; }
.pls .o li { background-position: 0px 50%; background-repeat: no-repeat; text-indent: 18px; }
.pls .o .pm2 { background-image: url("pmto.png"); }
.pls .tip_4 { margin-left: -5px; }
.pl .quote, .pl .blockcode { margin: 10px 0px; padding: 10px 10px 10px 65px; }
.pl .quote { padding-bottom: 5px; background: rgb(249, 249, 249) url("icon_quote_s.gif") no-repeat scroll 20px 6px; }
.pl .quote blockquote { display: inline-block; margin: 0px; padding: 0px 65px 5px 0px; background: transparent url("icon_quote_e.gif") no-repeat scroll 100% 100%; line-height: 1.6; }
.pdbt { float: right; margin: -5px 10px 0px 0px; }
#fastsmilies { text-align: right; }
.zoom { cursor: pointer; }
