/* Effective stylesheet produced by snapshot save */
.clearfix::after, .clearfix::before { display: table; content: ""; line-height: 0; }
.clearfix::after { clear: both; }
.discovery-post:nth-child(2n+1) { margin-right: 4%; }
.discovery-post .meta li::after { content: "•"; color: rgb(204, 204, 204); }
@media screen and (max-width: 480px) {
  .discovery-post:nth-child(2n+1) { margin-right: 0px; }
}
