/* Effective stylesheet produced by snapshot save */
.crayon-theme-stormpath { border-width: 1px ! important; border-color: rgb(235, 235, 235) ! important; border-style: solid ! important; text-shadow: none ! important; background: rgb(250, 250, 250) none repeat scroll 0% 0% ! important; }
.crayon-theme-stormpath .crayon-table .crayon-nums { background: rgb(255, 255, 255) none repeat scroll 0% 0% ! important; color: rgb(147, 161, 161) ! important; border-right: 1px solid rgb(235, 228, 202) ! important; }
.crayon-theme-stormpath .crayon-striped-line { background: rgb(250, 250, 250) none repeat scroll 0% 0% ! important; }
.crayon-theme-stormpath .crayon-striped-num { background: rgb(255, 255, 255) none repeat scroll 0% 0% ! important; color: rgb(147, 161, 161) ! important; }
.crayon-theme-stormpath .crayon-pre .crayon-c { color: rgb(255, 128, 0) ! important; }
.crayon-theme-stormpath .crayon-pre .crayon-s { color: rgb(0, 128, 0) ! important; }
.crayon-theme-stormpath .crayon-pre .crayon-st { color: rgb(128, 0, 128) ! important; }
.crayon-theme-stormpath .crayon-pre .crayon-r { color: rgb(128, 0, 128) ! important; }
.crayon-theme-stormpath .crayon-pre .crayon-t { color: rgb(128, 0, 128) ! important; }
.crayon-theme-stormpath .crayon-pre .crayon-m { color: rgb(128, 0, 128) ! important; }
.crayon-theme-stormpath .crayon-pre .crayon-e { color: rgb(0, 78, 208) ! important; }
.crayon-theme-stormpath .crayon-pre .crayon-v { color: rgb(0, 45, 122) ! important; }
.crayon-theme-stormpath .crayon-pre .crayon-cn { color: rgb(206, 0, 0) ! important; }
.crayon-theme-stormpath .crayon-pre .crayon-o { color: rgb(0, 111, 224) ! important; }
.crayon-theme-stormpath .crayon-pre .crayon-sy { color: rgb(51, 51, 51) ! important; }
.crayon-theme-stormpath .crayon-pre .crayon-h { color: rgb(0, 111, 224) ! important; }
