/* CSS Document */

/* CSS Document */

body,div,dl,dt,dd,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,textarea,blockquote,th,td { margin:0; padding:0;}
table { border-collapse:collapse; border-spacing:0; font-size:12px;}
fieldset,img{
	border:0;
}
input,textarea,select,button{ padding:1px; font-size:12px;}
ol,ul { list-style:none;}
caption,th { text-align:left;}
cite,em{ font-style:normal;}

body {
	font-family:Verdana, Arial, Helvetica, sans-serif,"宋体";
	font-size:12px;
	color:#474747;
	background-color: #1F4C83;
	background-image: url(http://icon.zdnet.com.cn/product/pic/b_product/article/bg_body_y.gif);
	background-repeat: repeat-y;
	background-position:center 0;
}
h1,h2{ font-size:14px;}
h3, h4, h5, h6, p, ol, ul, li, dl, dd{ font-size:12px;}

/* 链接颜色*/
a { text-decoration:none; color:#900;}
a:hover{ text-decoration:underline;}

/*其他*/
.fltl{ float:left;}
.fltr{ float:right;}
.nobod{ border:none;}
.dis{ display:block;}
.undis{ display:none;}
.fix{ clear:both;/* font-size:1px; height:1px; visibility: hidden;*/}

.mainbody{
	margin:0 auto;
	width:952px;
	background-color:#FFFFFF;
}
.left{
	width:638px;
	float:left
}
.ss-right{
	width:300px;
	float:right;
}

h2.daohang{
	font-family: Arial, Helvetica, sans-serif;
	line-height: 30px;
	margin-left: 5px;
	font-weight: normal;
	font-size:12px;
}
.titou{
	margin-left:2px;
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: dashed;
	border-top-color: #dfdfdf;
	border-bottom-color: #dfdfdf;
	background-image: url(http://icon.zdnet.com.cn/product/pic/b_product/article/biaobg_03.jpg);
	background-repeat: repeat-x;
	background-position: 0px 0px;
}
.titou h2{
	font-size:16px;
	line-height: 60px;
	font-weight: bold;
	color: #000000;
	text-align: center;
}
.titou h3{
	font-family: Arial, Helvetica, sans-serif;
	line-height: 22px;
	font-weight: normal;
		text-align: center;
}
.lan{ color:#175fb7;}

h2.key{
	color:#474747;
	font-size: 12px;
	line-height: 22px;
}
h2.key a{
	color:#c60;
	line-height: 22px;
	font-weight: normal;
	text-decoration:none;
	margin-right: 10px;
}
h2.key a:hover{ color:#000099; text-decoration:underline;}
.pageselect{ text-align:right; margin-bottom:6px;}
.page_tt{ width:600px; float:left;}
.page_tt select{ font-size:12px; width:180px; margin-left:30px;}
.page_do{ margin-right:30px; clear:both; text-align:right;}
.page_do a{ font-size:12px;}
.article_in{ border:1px solid #333; width:580px; margin:10px 0 0 10px; float:left;}
.article_in h3{ background:#333; text-align:center; font-size:12px; font-weight:normal; height:16px; padding-top:4px; color:#fff;}
.article_in ul{ padding:10px 0 10px 20px;}
.article_in li{ line-height:22px;}

.content{
	margin-left:5px;
    margin-bottom:10px;
	padding: 10px;
	

}
.content p{
	font-size:14px;
	color: #474747;
	margin-bottom: 30px;
	line-height: 24px;
}
.rtop1{
	width:300px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.rtop2{
	width:298px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #8FB5CC;
	border-bottom-color: #8FB5CC;
	border-left-color: #8FB5CC;
	padding-bottom: 10px;
}
.xiangguan{
	width:295px;
	margin-top: 10px;
	background-image: url(http://icon.zdnet.com.cn/product/pic/b_product/article/gtto_03.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-bottom: 10px;
	border-top-width: 0px;
	border-top-style: none;
	padding-left: 5px;
}
.xiangguan h2{
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 22px;
	font-weight: bold;
	margin-left: 10px;
	padding-top: 10px;
}
.rtop2 h2{
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 22px;
	font-weight: bold;
	margin-left: 10px;
	margin-top: 3px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.rtop11{background-image: url(http://icon.zdnet.com.cn/product/pic/b_product/article/jsgz06.jpg);background-repeat: no-repeat;background-position: 0px 3px;height:30px;}
.rtop12 h2{font-size:12px;color:#59990e;margin-top: 5px;margin-right: 20px;}
.eng{
	color:#c9c9c9;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	margin-left: 20px;
}
.rtop12{width:280px;border-top-width: 0px;border-top-style: none;padding-left: 18px;border-right-width: 1px;border-right-style: solid;border-right-color: #E5EAED;border-bottom: 1px solid #E5EAED;border-left: 1px solid #E5EAED;}
.rtopcontent{padding-top: 5px;font-family: Arial, Helvetica, sans-serif;line-height: 20px;}
.jshg {background:#E9EFF5;text-align: center;padding-top: 3px;margin-right: 15px;}
.jshg a:link,.jshg a:visited  {	color: #175FB7;	text-decoration: none;}
.rtopcontent .jshg a:hover {color: #990000;text-decoration: none;}


.rtopcontentdown{
	padding-top: 5px;
	padding-left: 15px;
	margin-right: auto;
	font-family: "宋体";
	line-height: 22px;
	padding-bottom: 5px;
	border-bottom-width: 0px;
	border-bottom-style: dotted;
	border-bottom-color: #dfdfdf;
}
.rtop2down{
	width:280px;
	padding-top: 5px;
	margin-left: 10px;
	font-family: "宋体";
	line-height: 22px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #dfdfdf;
	height: 105px;
	margin-bottom: 10px;
}
.rtopcontentdown a{
	font-family: "宋体";
	line-height: 22px;
/*	font-weight: bold;*/
	color: #474747;
	text-decoration:none;
}
.rtopcontentdown a:hover{
	font-family: "宋体";
	line-height: 22px;
	color: #990000;
	text-decoration:underline;
	}
.rtopcontent a{
	color:#2198c4;
	text-decoration:underline;
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
}
.rtopcontent a:hover{
	color:#990000;
	text-decoration:underline;
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
}
.rtopcontent ul{ margin-left:10px;}
.rflash{
	margin-top: 10px;
}
dl.tod_ph{
	border-bottom:0px dashed #ccc;
	float:left;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 2px;
	padding-left: 10px;
}
dl.tod_ph dt{
	width:110px;
	float:left;
	padding-left: 0px;
	margin-top: 7px;
}
/*dl.tod_ph dt img{ padding-left:2px; border:1px solid #ccc;}*/
/*dl.tod_ph dt a img{ width:100px; height:75px; }*/
dl.tod_ph dd{
	width:150px;
	line-height:20px;
	float:left;
	padding-left:3px;
}
dl.tod_ph dd a{
	color:#175fb7;
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 20px;}
dl.tod_ph dd a:hover{
	color:#990000;
	text-decoration:underline;
}	
h2.r2{
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 22px;
	font-weight: bold;
	margin-left: 0px;
	margin-top: 0px;
}
h2.tot{
	color:#474747;
	font-size: 12px;
	line-height: 22px;
	background-image: url(http://icon.zdnet.com.cn/product/pic/b_product/article/buttonbg.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 8px;
	padding-top: 2px;
}
h3.p2{font-size:12px;font-family: Arial, Helvetica, sans-serif;line-height: 22px;margin-left: 20px;margin-top: 0px;font-weight: normal;}
.h3.p2 a{color:#474747;}
p.h3p2{margin-left:20px;}
p.h3p2 a{
	color:#175fb7;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;
	margin-right: 10px;
	text-decoration:none;
}
p.h3p2 a:hover{
	color:#990000;
	text-decoration:underline;
}
ul.key{
	padding-left:15px;
	list-style-type: disc;
}
ul.key li{
	font-family: Arial, Helvetica, sans-serif;
	line-height: 20px;
	color:#2c55a2;
	background-image: url(http://icon.zdnet.com.cn/product/pic/b_product/article/li_dotgray.gif);
	background-repeat: no-repeat;
	background-position: left center;
	text-indent: 10px;
	list-style-type: none;
}
ul.key li a{ color:#2c55a2;
text-decoration:none;}
ul.key li a:hover{ color:#cc6600; text-decoration:underline;}
ul.xiang{
	margin-top: 8px;
	padding-left:8px;
}
ul.xiang li{
	font-family: Arial, Helvetica, sans-serif;
	line-height: 22px;
	color:#2c55a2;
	height: 22px;
}
ul.xiang li a{ color:#2c55a2;
text-decoration:none;}
ul.xiang li a:hover{ color:#cc6600; text-decoration:underline;}
ul.xiang li img{
	margin-right:10px;
}

.coms{
	width:586px;
	padding:10px;
	border:1px solid #b7b7b7;
	border-top:0;
	margin:0 auto;
	background:#fff;
}
.mai{
	clear:both;
	margin-bottom:10px;
	padding-left:15px;
	width: 620px;
}
.divh2 {
	background-image: url(http://icon.zdnet.com.cn/product/pic/b_product/article/keybg_03.jpg);
	background-repeat: no-repeat;
	height: 20px;
	width: 300px;
	padding-top: 6px;
	font-size: 12px;
	text-indent: 10px;
	margin-top: 10px;
}
.divh2 h2 {
	font-size: 12px;
}


.pinglun {border-top: 1px solid #DFDFDF;border-left: 1px solid #DFDFDF;float: left;}
.pinglun ul {border-bottom: 1px solid #DFDFDF;float: left;}
.pinglun li {border-right: 1px solid #DFDFDF;float: left;padding: 5px;width:442px;border:1px solid #ccc;border-width:0 1px 0 1px; height:32px; overflow:hidden; line-height:20px;}
.pinglun strong {color: #3366CC;text-align: center;display: block;}
.pinglun li.leftwid1 { width:120px; border-width:0 0px 0 0px;}



.jshg {color: #fff;text-align: center;padding-top: 3px;background: url(http://icon.zdnet.com.cn/product/pic/b_product/article/jsgz07.jpg);height: 24px;font-size: 21px;font-weight: bold;border: 1px solid #59990E;	width: 273px;}
.green_title {font-weight: bold;line-height: 22px;color: #59990E;padding-left: 3px; display:none;}
.jshg a:link,.jshg a:visited  {	color: #fff;text-decoration: none;}
.rtopcontent .jshg a:hover {color: #fff;text-decoration: none;}
.rtopcontent{font-family: Arial, Helvetica, sans-serif;line-height: 20px;background: url(http://icon.zdnet.com.cn/product/pic/b_product/article/gzbg1207.jpg) repeat-x;padding-left: 12px;padding-bottom: 5px;}
.rtop12{padding-top:5px;}
.rtopcontent dt{font-size:12px;	margin-top: 5px;margin-right: 20px;	padding-left: 3px;font-weight: bold;}
.rtopcontent dd {padding-left: 10px;height:22px;}
.rtopcontent cite {color: #3A932E;display: block;float: right;margin-right: 15px;}
.jsgz_down {background: url(http://icon.zdnet.com.cn/product/pic/b_product/article/gzbg1207-01.jpg) repeat-y;}
.jsgz_down h2 {font-size: 12px;	color: #CC5B00;	background: url(http://icon.zdnet.com.cn/product/pic/b_product/article/jsgz_h2bg.jpg) repeat-x;padding-left: 9px;padding-top: 10px;margin-right: 3px;margin-left: 3px;}
.rtop11{background: url(http://icon.zdnet.com.cn/product/pic/b_product/article/jsgz06.jpg) no-repeat;height:25px;font-weight: bold;color: #474747;text-indent: 38px;font-size: 14px;padding-top: 10px;}
.wen_jsgz {	border-bottom: 1px solid #eee;line-height: 22px;width: 275px;margin-right: auto;margin-left: auto;padding-left: 5px;margin-bottom: 3px;}
.flot_right_j {padding-left: 170px;}
.jsgz_down cite {float: right;color: #3A932E;line-height: 20px;	width: 50px;margin-right: 5px;padding-left: 2px;display: block;}
.jsgz_down_span {padding-left: 10px;width: 215px;display: block;margin-left: 10px;line-height: 20px;}
.color_b{background-color: #F0F0F0;}

.x_g_c_img {float: left;height: 90px;width: 112px;padding-top: 5px;padding-left: 8px;}
.x_g_c_right {font-size: 12px;float: left;width: 160px;}
.x_g_c_right a:link,.x_g_c_right a:visited {color: #175FB7;font-size: 12px;text-decoration: none;font-weight: normal;}
.x_g_c_right a:hover {color: #900;font-size: 12px;text-decoration: underline;font-weight: normal;}
.x_g_c_right a {padding-right: 35px;}
.bbb {background-image: url(http://icon.zdnet.com.cn/product/pic/b_product/jsgz06-d.jpg);background-repeat: no-repeat;}


/*090209加入评论修改*/
.clearfloat{clear:both;font-size:0;line-height:0; display:block; height:0; visibility:hidden;}
.qu_pinlunbg{width: auto; padding:0 0 0 15px;}
.qu_pinlunbor{ background:#d8d8d8; border:1px #b7b7b7 solid; width:618px;}
.qu_ptit{ background:url(../images/qu_bi.gif) repeat-x 0 0; height:19px; padding:7px 0 0 12px; border-bottom:1px #b7b7b7 solid; font-weight:bold; color:#323432;}
.qu_plistb{ padding:5px;}
.qu_pinlunlisttit{ height:25px; background:url(../images/qix_05.gif) repeat-x 0 0; overflow:hidden;}

.qu_pinluti01 li.qu_li93{ width:63px; height:18px; padding:7px 0 0 20px; float:left; color:#747474; background:url(../images/qix_03.gif) no-repeat right top;}
.qu_pinluti01 li.qu_li94{ width:354px; padding:4px 0 0 0; float:left; font-weight:bold; text-align:center; color:#919191;}
.qu_pinluti01 li.qu_li94 span{ color:#cc6600; padding:0 5px;}

.qu_pinluti01 li.qu_li95{ width:158px; padding:4px 0 0 0; float:left; font-weight:bold;}
.qu_pinluti01 li.qu_li95 a{ color:#3366CC;}

.qu_bg_with{ background:#fff; padding:5px;  border:#b7b7b7 solid; border-width:0 1px 1px 1px;}

.qu_p_list_tit{ background:url(../images/spo_10.gif) repeat-x 0 0; height:31px; width:596px; overflow:hidden; line-height:18px;}
.qu_p_list_tit_left{ width:83px;height:23px; padding:8px 0 0 0; border-right:1px #d8d8d8 solid; float:left; text-align:center; color:#625f5f;}
.qu_p_list_tit_mid{ width:411px;height:23px; padding:8px 0 0 0;  border-right:1px #d8d8d8 solid; float:left;text-align:center; color:#625f5f;}
.qu_p_list_tit_right{ width:100px;height:23px; padding:8px 0 0 0;  float:left;text-align:center; color:#625f5f;}

.qu_p_list_tit_loop{ height:31px; width:596px; overflow:hidden; border-bottom:1px #d8d8d8 solid; line-height:20px;}
.qu_p_list_tit_loop_left{ width:83px;height:23px; padding:8px 0 0 0; border-right:1px #d8d8d8 solid; float:left; text-align:center; color:#625f5f;}
.qu_p_list_tit_loop_mid{ width:403px;height:23px; overflow:hidden; line-height:20px; padding:8px 0 0 8px;  border-right:1px #d8d8d8 solid; float:left; color:#625f5f;}
.qu_p_list_tit_loop_right{ width:100px;height:23px; padding:8px 0 0 0;  float:left;text-align:center; color:#cfc9c9;}


.qu_pinglun_say{ padding:6px 0 0 0;}
.qu_pin_tit{ height:22px;padding:8px 0 0 16px; background:url(../images/pi_14.gif) repeat-x 0 0;}

.qu_pin_name{ height:40px;}

.qu_pin_name_left{ width:53px;height:29px; padding:11px 0 0 9px; float:left;font-weight:bold;}
.qu_pin_name_left input{ vertical-align:middle;margin-right:3px;}
.qu_pin_name_mid{/*width:75px;*/height:29px;padding:11px 0 0 0; float:left; font-weight:bold;}
.qu_pin_name_mid input{vertical-align:middle; margin-right:3px;}

.qu_pin_name_left_r{ width:110px;height:29px; padding:11px 0 0 0; float:left;font-weight:bold;}
.qu_pin_name_left_r input{ vertical-align:middle;margin-right:3px;}

.qu_pin_name_right{padding:11px 0 0 0;height:30px;vertical-align:middle; float:left;background:#fff;}
.qu_pin_name_right_left{ height:30px; padding:0px 0 0 8px;vertical-align:middle; float:left;line-height:20px;}
.qu_pin_name_right_left input{ width:50px; height:19px; border:1px #bcbcbc solid; vertical-align:middle;}
.qu_pin_name_right_mid{ height:30px;padding:10px 0 0 0; float:left; text-align:right;}
.qu_pin_name_right_mid input{ width:50px; height:19px; border:1px #bcbcbc solid; vertical-align:middle;}
.qu_pin_name_right_right{ width:122px;height:30px;padding:10px 0 0 0; float:left; text-align:center;}
.qu_pin_name_right_right input{ vertical-align:middle; margin-right:8px;}
.qu_pin_name_right_right a{ text-decoration:underline;}

.qu_inputbg{ height:144px; margin-top:4px; }
.qu_inputbg textarea{ height:140px; width:592px; border:1px #bcbcbc solid;}

.qu_logi{ height:30px; padding:8px 0 0 0;}

.qu_logi_left{ /*width:180px;*/ padding-left:10px; float:left;}
.qu_logi_left input{ width:56px;height:17px; border:1px #bcbcbc solid; vertical-align:middle; margin:0 4px;}


.qu_logi_right{ width:100px; float:right;}
.qu_logi_right input{ width:97px; height:26px; background:#d8d8d8; border:1px #a5a5a5 solid;}

/*090210评论列表*/
.qu_pinglun_list_bg{ padding:10px 10px 10px 15px;}
.qu_pinglun_fenye{ line-height:20px; margin-top:16px;}
.qu_pinglun_fenye span{ display:block; padding:0 6px; float:left; border:1px #E1E2E7 solid; margin-right:5px; font-weight:bold;}
.qu_pinglun_fenye span.qu_dangqian{border:1px #3366CC solid; background:#3366CC; color:#fff;}
.qu_pinglun_fenye a{display:block; padding:0 6px; float:left;border:1px #E1E2E7 solid; margin-right:5px;}
.qu_pinglun_fenye a:hover{background:#3366CC; color:#fff; text-decoration:none; color:#fff;border:1px #3366CC solid; }

.qu_pinglun_list_loop{ margin-top:20px;}

.qu_pinglun_list_loop_tit{ height:28px;padding:2px 0 0 16px; line-height:22px; background:url(../images/pi_14.gif) repeat-x 0 0;}
.qu_pinglun_list_loop_tit b{display:block; padding:0 6px;  float:left;border:1px #E1E2E7 solid;background:#E1E4E9;}
.qu_pinglun_list_loop_tit span{display:block; padding:0 6px;float:left; color:#3366CC;}
.qu_pinglun_list_loop_tit span.qu_time{ color:#878787; }

.qu_conbg{ padding:16px;}
.qu_con_neirong{ line-height:22px;}
.qu_con_yinyong{ border:#D8D8D8 1px solid; width:80%; margin:10px auto 0 auto; padding:10px;line-height:20px;}
.qu_con_yinyong p.qu_yinyioz{ color:#878787;}

.qu_ipbg{ line-height:22px;}
.qu_ip_left{ width:150px; padding:8px 0 0 10px; float:left; color:#878787;}

.qu_ip_right{ width:450px; padding:8px 0 0 0px; float:right;}
.qu_nom{ width:200px; float:right;}
.qu_nom a{ float:left; display:block; padding-right:8px;}
.qu_nom a:hover{ text-decoration:none; color:#cc6600;}
.qu_loading{ width:250px; float:right; text-align:right;}

.qu_inputbg_list{ height:144px; width:auto; margin-top:4px; border:1px #bcbcbc solid;}
.qu_inputbg_list textarea{ height:140px; width:608px; border:none;}












































