/* CSS Document */

body,div,dl,dt,dd,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,textarea,blockquote,th,td { margin:0; padding:0;}
table { border-collapse:collapse; border-spacing:0; font-size:12px;}
fieldset,img{ border:0;}
input,textarea,select,button{ padding:1px; font-size:12px;}
ol,ul { list-style:none;}
caption,th { text-align:left;}
cite,em{ font-style:normal;}

body { font-family:Arial, Helvetica, sans-serif,"宋体"; font-size:12px; background:#204b82 url(http://icon.zdnet.com.cn/network_security_zone/pic/utd/images/bg_body_y.gif) repeat-y center top; color:#323432;}
h1, h2, h3, h4, h5, h6, p, ol, ul, li, dl, dd{ font-size:12px;}

/* 链接颜色*/
a { text-decoration:none; color:#0065A2;}
a:hover{ text-decoration:underline; color:#0065A2;}

/*其他*/
.fltl{ float:left;}
.fltr{ float:right;}
.nobod{ border:none;}
.dis{ display:block;}
.undis{ display:none;}
.fix{ clear: both; font-size:0px; width:auto; height:0; visibility: hidden;}


.headu2{ width:968px; margin:0 auto; background:#fff/*url(http://icon.zdnet.com.cn/network_security_zone/pic/utd/images/headu2_bg.gif) repeat-x 0 2px height:228px;*/;}
.nav1st{ /*background:url(http://icon.zdnet.com.cn/software_zone/pic/utd/images/headu2_bg.gif) repeat-x;*/ height:35px;}
.zdnetlogo{ float:left; padding:4px 8px 0 12px;}
.zdnetlogo a{width:75px;height:28px;display:block;text-indent:-9999px;background: url(http://icon.zdnet.com.cn/network_security_zone/pic/utd/images/zdnetlogo75x28.gif) no-repeat 0 0;}

.a_nav{ background:#f6f6f6; border:1px solid #e2e2e2; height:21px; width:690px; margin-top:5px; float:left;}
.a_nav ul{ padding:4px 0 0 5px;}
.a_nav li{ float:left; color:#333; border-right:1px solid #878787; padding-right:4px; margin-right:4px;}
.a_nav li a ,.a_nav li a:hover{ color:#333;}
li.nobod{ border-right:0; margin-right:0; padding-right:0;}

.website{ float:left; padding:8px 0 0 6px;}
.website a ,.website a:hover{ color:#878787; text-decoration:underline;}

.headads{ height:101px; margin-bottom:4px; clear:both;}
.l_ads{ float:left; width:742px; text-align:center;}
.r_ads{ float:left; text-align:center;}
.i_ad{ margin-bottom:4px;}

.nav2nd{ background:url(http://icon.zdnet.com.cn/network_security_zone/pic/utd/images/nav2nd_bg.gif) no-repeat 0 0; width:962px; padding-right:6px; height:66px; clear:both;}
.channel{ float:left; width:152px;}
.b_nav{ float:left; width:800px; padding-left:10px;}
.b_nav_1{ }
.b_nav_2{ text-align:left;}

.rgnav{ background:url(http://icon.zdnet.com.cn/network_security_zone/pic/utd/images/r_navbg.gif) no-repeat; margin-top:1px; height:20px; padding:6px 4px 0 10px; float:right;}
.rgnav a{ padding:0 3px; font-weight:bold; color:#fff;}
.rgnav a:hover, .rgnav a:visited{ color:#fff;}
.nav_one ul{ height:30px;}
.nav_one li{ float:left; background:url(http://icon.zdnet.com.cn/network_security_zone/pic/utd/images/nav_r1px.gif) no-repeat right 1px; padding:4px 4px 0 3px; height:26px;}
.nav_one li a{ float:left; display:block; color:#20558a; padding:0 0 0 2px;}
.nav_one li span{ float:left; display:block; cursor:pointer; padding:6px 2px 0 0; height:21px;}
.nav_one li a:hover{ text-decoration:none;}

.nav_one li.m_li_a a{ background:url(http://icon.zdnet.com.cn/network_security_zone/pic/utd/images/nav2_bg.gif) no-repeat left top; color:#fff; padding-left:6px;}
.nav_one li.m_li_a span{ background:url(http://icon.zdnet.com.cn/network_security_zone/pic/utd/images/nav2_bg.gif) no-repeat right top; padding-right:6px;}

.nav_two ,.s_li ,.s_li_a{ width:622px; height:35px; padding-left:12px; line-height:30px;}
.nav_two a ,.s_li a ,.s_li_a a, .s_li a:visited, .s_li_a a:visited{ background:url(http://icon.zdnet.com.cn/network_security_zone/pic/utd/images/nav_r2px.gif) no-repeat right 50%; padding-right:10px; margin-right:10px; color:#a8d7ff; font-weight:bold; font-family:Arial;}
.nav_two a:hover ,.s_li a:hover ,.s_li_a a:hover{ color:#fff;}
a.nobod{ background:none;}
.mainsign{ float:right; width:116px; margin:-16px 0 0 50px;}
.mainsign a ,.mainsign a:hover, .mainsign a:visited{ color:#fff;}


.s_li{ display:none;}
.m_li_a{ display:block;}

/*0407*/
ul.hd_text{ clear:both; height:22px; padding-left:10px; margin-bottom:4px;}
ul.hd_text li{ padding-left:20px; width:216px; line-height:22px; height:22px; overflow:hidden; float:left;}
ul.hd_text li a{ color:#c00;}
ul.hd_text li.head_text_2 a{ color:#0065A2;}
.site_tu{ line-height:26px; font-size:14px; padding:20px 0 20px 10px;}
.site_tu li a{ text-decoration:underline;}
.site_tu li.tu_2{ clear:both;}
.site_tu li ul.tu_1{ float:left;}
.site_tu li ul.tu_1 li{ float:left; padding-left:12px; white-space:nowrap; font-size:14px;}
.site_tu li ul.tu_1 .a1{ float:left; width:90px;}
