/* CSS Document */
.mainbox{background-image: url(http://icon.zdnet.com.cn/product/pic/b_product/article/bg_dig.jpg);background-repeat: repeat-x;background-position: 0 top;background-color: #4381c4;
	float: left;padding-bottom: 10px;}
.mainleft{width:174px;padding-left:6px;padding-top:48px;background:none;float: left;}
p.zdsite{ background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/zdnet_mark.gif) no-repeat; width:172px; height:15px;}

.leflst{ margin-bottom:8px;}



h2.letit{ background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/bg_titm.gif) repeat-x; font-size:12px;border-bottom: 1px solid #8EB4CE; }
h2.letit span{ background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/bg_titl.gif) no-repeat left top; padding:6px 0 3px 12px; display:block;}



.leflstcon{background:#edf2f8; /*border-left:1px solid #4975ad;*/margin-left: 1px;}
.leflstbg{ background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/bg_titb.gif) no-repeat left bottom; height:6px; font-size:0;}
.prodimg{ width:170px; text-align:center; padding:10px 0 0 0;}
.prodimg a{ padding:4px; background:#d8dee4;}
.prodimg a img{ border:1px solid #abbac6;}
ul.produl{ padding:8px 8px 0 12px;}
ul.produl li{ border-bottom:1px dashed #d0d0d0; line-height:22px;}
p.morerg{ text-align:right; padding:4px 6px;}
ul.produ2{ padding:8px 8px 0 4px;}
ul.produ2 li{ line-height:21px; color:#878787;}
ul.produ2 li a{ color:#474747;}

.mainright{ float:left; width:772px;}
.mainrigcon{width:771px;border-left:1px solid #abbac6;background:#fff;/*margin-left: 1px;*/}
.mainrgtbgbt{ background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/bg_mainb_b.gif) no-repeat left bottom; height:10px; font-size:0;}
.maintt{ height:60px; background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/bg_mainb_t.gif) no-repeat left bottom; text-align:center;}
.maintt h1{ color:#fff; padding-top:16px; font-size:20px;}
.posroad{border-bottom:1px solid #ccc;color:#878787;padding: 0 0 8px 24px;background: url(http://icon.zdnet.com.cn/product/pic/b_product/article/wei.jpg) repeat-x;}
.posroad a{ color:#878787; }

ul.canshu{ height:26px; padding:10px 0 4px 20px; background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/param_x.gif) repeat-x bottom; margin-left:8px;}
ul.canshu li{ background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/param_on_l.gif) no-repeat left top; line-height:26px; margin-right:4px; padding-left:7px; float:left;}
ul.canshu li h3{ background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/param_on_r.gif) no-repeat right top; line-height:24px; padding:2px 22px 0 15px; float:left;}
ul.canshu li a{ color:#474747;}
ul.canshu li.on{ background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/param_off_l.gif) no-repeat left top;}
ul.canshu li.on h3{ background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/param_off_r.gif) no-repeat right top;}
ul.canshu li.on a{ color:#fff;}

.ltrow{ float:left; width:556px; padding:0 10px; margin-top:6px;}
.rg_tt{background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/param_tit_m.gif) repeat-x;clear: both;height: 25px;}
.rg_tt h2{ float:left; background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/param_tit_l.gif) no-repeat; padding:6px 0 0 16px; height:19px; font-size:12px; }
.rg_tt h2 a{ /*color:#fff;*/}
.rg_tt span{ float:right; background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/param_tit_r.gif) no-repeat right top; padding-right:4px; padding-top:6px; height:19px;}
.rg_tt span a{ /*color:#474747;*/}
.ltrowcon{width:530px;border:1px solid #b5b5b5;border-top:0;padding-left: 15px;padding-right: 9px;}


.rtrow{ float:left; border-left:1px solid #ccc; width:180px; margin-top:6px; padding-left:8px;}
.ad_rg{ width:180px; margin-bottom:8px;}

h3.related{ border:1px solid #ccc; height:39px; padding:3px 4px 0; line-height:18px; background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/article_ttx.gif) repeat-x;}
ul.grad{ background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/article_conbg.gif) no-repeat 0 top; padding:6px 0 8px 8px;}
ul.grad li{ line-height:21px; color:#878787;}
ul.grad li a{ color:#474747;}
ul.grad1{background: none no-repeat 0 top;float: left;padding-top: 6px;padding-bottom: 8px;padding-left: 8px;width: 250px;}
ul.grad1 li{ line-height:21px; color:#878787;}
ul.grad1 li a{ color:#474747;}
ul.grad2{background: none no-repeat 0 top;padding-top: 6px;padding-bottom: 8px;padding-left: 8px;width: 250px;}
ul.grad2 li{ line-height:21px; color:#878787;}
ul.grad2 li a{ color:#474747;}
tr{	line-height:24px;}
td{	border: 1px solid #DFDFDF;	padding-left: 10px;}
.ltrowcon dl {	padding-top: 10px;	border-bottom: 1px dashed #ccc;	padding-bottom: 10px;}
.f_left {float: left;width: 410px;border-bottom-style: none;border-bottom-width: 0px;}

.ltrowcon dt {	line-height: 24px;}
.ltrowcon dd {	line-height: 18px;}
.ltrowcon cite {color: #878787;	margin-right: 20px;}
.ltr_img {margin-top: 2px;margin-left: 5px;}
.ltr_magtop {margin-top: 10px;}
.ltrowcon dd a {color: #c60;}
.mid_two {	width: 273px;float: left;}
.mid_title_left {background-image: url(http://icon.zdnet.com.cn/product/pic/b_product/article/mid_bg.jpg);height: 17px;width: 273px;	text-indent: 15px;	margin-top: 10px;font-size: 12px;padding-top: 7px;}
.mid_con {	width: 271px;border: 1px solid #8EB4CE;}
.left_mag {	margin-left: 10px;}

ul.tagcon li{ float:left; line-height:21px; padding-right:16px; color:#999; white-space:nowrap;}
.tu_news {	border: 1px solid #666;	margin-top: 17px;	margin-right: 10px;	float: left;}
.bian {	border-bottom: 1px dashed #CCC;}
.pic_con{width:538px;border:1px solid #b5b5b5;	border-top:0;background-color: #EFEFEF;	padding: 10px 8px ;}
.pic_con dl {float: left;width: 134px;	text-align: center;	margin-bottom: 10px;}
.pic_con dt {border: 1px solid #999;height: 90px;width: 120px;margin-bottom: 5px;}


/*×ÛÊö*/
.mainsum{ width:940px; padding-left:10px;}
.mainsum .mainrigcon{ width:940px;}
.mainrow{ clear:both; margin-bottom:10px; padding-left:10px;}
.prodimg2{ float:left; width:240px; height:222px; padding-top:40px; text-align:center;}
.prodcon2{ float:left; width:360px; margin-right:30px;}

.ad300x250{ float:left; width:300px; text-align:center; padding-top:8px;}
.mainrowleft{ float:left; width:232px; /*margin-right:10px;*/}
.ten_r ,.ten_r2{ margin-bottom:10px;}
.ten_r20 ,.ten_r21{ width:336px; margin-right:14px; float:left;}
.ten_r21{ margin-right:0;}
.ten_r20 .ten_con ,.ten_r21 .ten_con{ border:0;}
.ten_r21 .ten_con ul.produ2 li img{ margin-right:6px; float:left; cursor:pointer;}
.ten_r21 .ten_con ul.produ2 li a{ float:left; }
.ten_r21 .ten_con ul.produ2 li{ clear:both;}
.ten_r2 .ten_con{ background:#edf2f8;}
.ten_con{ border:1px solid #8eb4ce; border-top:0; padding:0 0 8px 8px;}
.rg_tt2 ,.rg_tt3{ background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/hotdot_m.gif) repeat-x; height:25px; clear:both;}
.rg_tt2 h2 ,.rg_tt3 h2{ float:left; background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/hotdot_l.gif) no-repeat; padding:6px 0 0 16px; height:19px; font-size:12px; }
.rg_tt2 h2 a{}
.rg_tt2 span ,.rg_tt3 span{ float:right; background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/hotdot_r.gif) no-repeat right top; padding-right:4px; padding-top:6px; height:19px;}
.rg_tt2 span a{}
.rg_tt3{ background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/tt_bg_cate_m.gif) repeat-x; height:35px;}
.rg_tt3 h2{ background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/tt_bg_cate_l.gif) no-repeat; padding-top:10px; height:25px;}
.rg_tt3 span{ background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/tt_bg_cate_r.gif) no-repeat right top; padding-right:4px; padding-top:6px; height:29px;}

.shchsh{ padding:10px 0 0 0; text-align:center;}
.shchsh a img{ border:1px solid #c9c9c9; padding:3px; width:90px; height:50px;}
.shchsh p{ line-height:20px; text-align:left; padding-top:6px;}

.mainrowright{ float:left; width:696px;}
.ltrowcon2{ width:684px; border:1px solid #b5b5b5; border-top:0;}
.fettrow{ padding:9px 8px 8px 0px; margin:0 10px; width:640px; /* float:left;width:620px; margin:8px 8px 0 16px!important; margin:8px 8px 0 8px; background:#eee;*/ border-bottom:1px dashed #ddd;}
.nobottd{ border-bottom:0;}
.fettrow p{ line-height:20px;}
.fettrow h2{ color:#2d5299; font-size:12px;}
.fettrow h2 a{ color:#2d5299;}
.fettrow h4{ color:#878787; font-weight:normal;}
.fettrow h4 a{ color:#ce3537;}

.fettrow h3{ color:#6b3; line-height:20px;}
.fettrow h3 a{ color:#6b3;}
.fettrow h3 span{ margin-left:20px; font-weight:normal; color:#666;}
.fettrow h3 span a{ color:#666;}

.commentsbox{ background:#d8d8d8; border:1px solid #b7b7b7; padding-bottom:5px;}
h3.letit2{ background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/pinglun_ttbg.gif) repeat-x; height:19px; padding:8px 0 0 12px;}

ul.com_tag { background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/pinglun_ulbg.gif) repeat-x 0 bottom; height:25px; padding-left:8px; margin-top:4px; margin-left:6px; margin-right:6px;}
ul.com_tag li{ float:left; display:block; text-align:center; background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/pinglun_off.gif) no-repeat right top; list-style:none; margin-right:3px;}
ul.com_tag li a{ padding-top:8px; height:17px; width:78px; display:block; float:left; }
ul.com_tag li a:hover{ color:#1e629e;}
ul.com_tag img{ float:left;}
ul.com_tag li.on{ background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/pinglun_on.gif) no-repeat right top;}
.comscon{ width:650px; padding:10px; border:1px solid #b7b7b7; border-top:0; margin:0 auto; background:#fff;}

table.commentlist{ border-top:1px solid #e7e7e7; border-left:1px solid #e7e7e7;}
table.commentlist tr.comm_username{ color:#36c; text-align:center; font-weight:bold;}
table.commentlist td{ line-height:18px; height:26px; padding-left:6px; border-right:1px solid #e7e7e7; border-bottom:1px solid #e7e7e7;}
table.commentlist td.f_col{ color:#999;}

.comments_con{ /*border:1px solid #ccc; border-top:0; width:558px;*/ padding-top:0px; padding-left:10px;}
.comments_con .fo_comm{ padding:8px 0px;}
.comments_con .fo_comm input{ width:80px; font-size:12px;}
.comments_con .fo_comm img{ margin-left:8px;}
.comments_con textarea{ width:450px; height:120px;}
.comments_con .fo_wid{ width:300px;}
.comments_con .fo_wid input{ width:80px; margin:14px 0 0 10px; color:#666;}
.comments_con .fo_wid img{ float:right;}
.comments_con .fo_wid a{ float:right; margin:22px 0 0 10px;}
.comments_con .fo_inp{ width:550px; margin:10px 0 10px 0px;}
.comments_con .fo_inp input{ font-size:12px;}
.comments_con table{ border:1px solid #ccc; border-right:0; border-bottom:0;}
.comments_con table td{ padding-left:4px; border:1px solid #ccc; border-top:0; border-left:0;}

.nobotmg{ margin-bottom:0;}
/*0407*/
.alone{ width:948px; margin:0 auto; background:#fff url(http://icon.zdnet.com.cn/software_zone/pic/utd/mid_bg_y.gif) repeat-y;}

.lead{padding:10px 8px 0; width:952px; background:url(http://icon.zdnet.com.cn/software_zone/pic/utd/main_topbg.gif) no-repeat center top; clear:both;}
.bgbotm{ width:968px; margin:0 auto; background:url(http://icon.zdnet.com.cn/software_zone/pic/utd/main_botbg.gif) no-repeat center top; height:9px; font-size:0px; clear:both;}
.nav2nd{ background-position:0 bottom!important; height:37px!important;}
.road{ padding:12px 0 0 12px; color:#8cbef3; float:left;}
.road a{ font-size:14px; color:#fff;}
.road a:hover{ font-weight:normal; color:#fff;}
.road i{ margin:0 6px; color:#fff; font-size:14px;}
.mainsign{ margin-top:20px!important;}
#zdfooter { 
clear:both;
padding:10px 0px 30px 0px;
margin-top:10px;
}
.leadbtm{ width:948px; margin:0 auto; padding-top:12px; background:#fff url(http://icon.zdnet.com.cn/zdnet/pic/bg_ftr_950x89.gif) no-repeat;}
#zdfooter a:visited {
color:#039;
}


#f 
{
float:left;
margin:0;
padding:0;
width:180px;
height:100px;
background:url(http://icon.zdnet.com.cn/zdnet/pic/logo_zdnet_hd_430x62.gif) 5px 40px no-repeat;
}

#zdfooter li { 
display:inline;
border:none;
background:none;
padding:0;
font-weight:normal;
}

#zdfooter span {
font-weight:bold;
}

#infoblock
{
padding:0;
margin:0 0 0 125px;
text-align:left;
clear:none;
}
#infoblock .f_copy{float:left; padding-left:56px; width:720px;}
#infoblock .f_copy img{ float:right;/* margin-right:40px;*/}
#infoblock a.normallink ,.services a{ color:#369;}
.services
{
border-bottom:1px solid #d6d7d9;
border-top:1px solid #d6d7d9;
overflow:hidden;
padding:12px 0;
margin:12px 0;
}

*html .services 
{
height:1%;
}

.services ul
{
float:left;
clear:none;
margin:0;
margin-top:5px;
padding:0;
}

.networkFooter
{
float:right;
display:inline;
}