/* CSS Document */

body,div,dl,dt,dd,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,textarea,blockquote,th,td { margin:0; padding:0;}
table { border-collapse:collapse; border-spacing:0; font-size:12px;}
fieldset,img{ border:0;}
input,textarea,select,button{ padding:1px; font-size:12px;}
ol,ul { list-style:none;}
caption,th { text-align:left;}
cite,em{ font-style:normal;}

body { font-family:Arial, Helvetica, sans-serif,"宋体"; font-size:12px; background:#204b82 url(http://icon.zdnet.com.cn/product/pic/b_product/article/bg_body_y.gif) repeat-y; color:#474747;}
h1,h2{ font-size:14px;}
h3, h4, h5, h6, p, ol, ul, li, dl, dd{ font-size:12px;}

/* 链接颜色*/
a{ text-decoration:none; color:#175fb7;}
a:hover{ text-decoration:underline; color:#c60;}

/*其他*/
.fltl{ float:left;}
.fltr{ float:right;}
.nobod{ border:none;}
.dis{ display:block;}
.undis{ display:none;}
.fix{ clear:both;/* font-size:1px; height:1px; visibility: hidden;*/}


.flagsite{ width:972px; margin:0 auto; height:20px;}
.flagsite h3{ float:left; padding:4px 0 0 10px; color:#a7a7a7; font-size:12px;}
.flagsite p{ float:right; color:#a7a7a7; padding:3px 20px 0 0; font-size:10px; margin:0px;}
.flagsite p a{  color:#a7a7a7;}

.alone{ width:952px; margin:0 auto; padding:0 10px; background:#fff url(http://icon.zdnet.com.cn/product/pic/b_product/article/bg_body_top.gif) no-repeat center top;}

#zdheader{
	background-image: url(http://icon.zdnet.com.cn/product/pic/b_product/article/top_bg.jpg);
	background-repeat: repeat-x;
	padding-bottom: 4px;
}


.navigation{
	width:atuo;
	clear:both;
	background-repeat: repeat-;
}
/*.alone .navigation{ width:atuo!important;}*/
.newlogo{ float:left; padding:7px 0 0 0px; width:148px;}
.newlogo a{ width:148px; height:68px; background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/zdnet_logo148x68.gif) no-repeat; display:block; text-indent:-9999px;}
#it_services{ background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/it_services.gif) no-repeat right top; margin-top:4px; width:148px; height:15px; float:left;}

.fixednav{
	width:770px;
	padding-left:20px;
	height:90px;
	margin-top:10px; margin-left:10px!important; margin-left:5px;
	float:left;
	background-image: url(http://icon.zdnet.com.cn/product/pic/b_product/article/menu_bg.jpg);
	background-repeat: no-repeat;
	background-position: 14px 0px;
}


ul.channelnav{ padding:14px 0 0 8px;}
ul.channelnav li{ float:left; color:#474747; border-right:1px solid #474747; padding-right:3px; margin-right:3px;}
ul.channelnav li h3{ font-size:14px;}
ul.channelnav li a{ /*padding:6px 6px 0 6px;*/ color:#474747; }
ul.channelnav li a:hover{ color:#c60;}
/*ul.channelnav li a span,ul.channelnav li a:visited{ color:#1b3e73; display:block; text-decoration:none; line-height:20px;}
ul.channelnav li a:hover{ background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/bg_hovbg_l.gif) no-repeat left bottom; padding:3px 0 0 6px;}
ul.channelnav li a:hover span{ background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/bg_hovbg_r.gif) no-repeat right top; padding:3px 6px 0 0px;}
ul.channelnav li.on a{ background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/bg_hovbg_l.gif) no-repeat left bottom; padding:3px 0 0 6px;}
ul.channelnav li.on a span{ background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/bg_hovbg_r.gif) no-repeat right top; padding:3px 6px 0 0px; }*/
ul.channelnav li.nobod{ border:0; margin-right:0; padding-right:0;}
ul.channelnav li.nobdg{ background:none;}

.secondnav{ width:766px; height:47px; padding-top:6px; margin-left:0px!important; margin-left:0px; margin-top:6px; background:#e5f0f5 url(http://icon.zdnet.com.cn/product/pic/b_product/article/bg_topheadsec.gif) no-repeat left top; float:left;}

.secondnav li a{ color:#3071c1;}
.secondnav li a:visited {color:#3071c1;}
.secondnav li a:hover { color:#3071c1;}
.secondnav li a:active {color:#3071c1;}
.secondnav li a.red ,.secondnav li.nobod a.red { color:#e01e26; font-weight:bold;}
.secondnav ul{ padding:4px 0 0 18px; clear:both;}
.secondnav li{ /*float:left;*/ display:inline; border-right:1px solid #93a9bb; padding-right:5px!important; padding-right:2px;  margin-right:4px!important; margin-right:5px;}

.secondnav li.nobod{ border-right:0;}

.headsearch{ padding-left:160px; padding-top:4px; height:32px; color:#777; clear:both;}
.headsearch label{ margin-right:12px; color:#1b3e73; font-weight:bold;}
.headsearch input{ width:90px; margin-right:4px;}
.headsearch input.imsear{ width:170px;}
.headsearch button{ margin:0 4px 0 3px; width:25px; height:23px; border:0; text-indent:-9999px;/* vertical-align:middle;*/ cursor:pointer; }
.headsearch button.btnbg1{background:url(http://www.zdnet.com.cn/i/zdnet/images/btn_search.gif) no-repeat;}
.headsearch button.btnbg2{background:url(http://www.zdnet.com.cn/i/zdnet/images/btn_logn.gif) no-repeat;}
.headsearch span a,{ color:#3071c1; text-decoration:underline; margin-right:20px; margin-left:6px;}
.headsearch .coluser a{ color:#1b3e73;}

/*ads*/
.ad_top{ width:atuo; text-align:center; margin:0 0 4px 0;}
/*.alone .ad_top{ width:auto!important;}*/
.second_box{ clear:both;}
ul.newstopchanl{ padding:4px 0 2px 10px; clear:both;}
ul.newstopchanl img{ margin-right:50px; float:left;}
ul.newstopchanl li{ float:left; background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/lcn_yellow.gif) no-repeat 0px 50%; padding-left:10px; width:200px; line-height:22px;}
ul.newstopchanl li a.red{ color:#cd3739;}
a.red ,a.red:hover{ color:#ed1c24;}

.second_nav{ background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/bg_darknav_m.gif) repeat-x; height:30px; clear:both;}
ul.second_con{ background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/bg_darknav_l.gif) no-repeat left top; height:30px; padding-left:10px;}
ul.second_con li{ float:left; color:#fff; padding-top:4px; height:26px;}
ul.second_con li h4{ background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/line_navl.gif) no-repeat right bottom; margin-right:8px; padding-right:8px;}
ul.second_con li h4.nobdg{ background:none;}
ul.second_con li a{ color:#fff; display:block; padding:4px 6px 0px 6px;}
ul.second_con li.on a ,ul.second_con li.on a:hover ,ul.second_con li h4 a:hover
{ background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/nav_cur_r.gif) no-repeat right top; padding:0px 4px 0 0px;/**/ display:block; float:left;}

ul.second_con li.on a span ,ul.second_con li.on a:hover span ,ul.second_con li h4 a:hover span
{ background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/nav_cur_l.gif) no-repeat left top; padding:4px 0px 3px 6px!important; padding:4px 2px 6px 6px; display:block; /* float:left;height:23px;*/ cursor:pointer;}
ul.second_con li a:hover{ color:#c3eeff;}
ul.rgnew{ float:right; background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/bg_darknav_r.gif) no-repeat right top; padding-top:6px; padding-right:8px;}
ul.rgnew li{ float:left;}
ul.rgnew li h4{ background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/line_navl.gif) no-repeat left 50%; padding-left:8px; padding-top:4px;}
ul.rgnew li.on{ background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/serpro_r.gif) no-repeat right top; padding-right:12px; margin-right:6px; float:left;}
ul.rgnew li.on h4{ background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/serpro_l.gif) no-repeat left top; padding-left:36px; padding-top:6px; /*float:left;*/}
ul.rgnew li.on a{ color:#474747;}
ul.rgnew li a{ color:#fff;}

.sonnav ,.s_li ,.s_li_a{ background:#eeeff1; border:1px solid #d0d0d0; border-bottom:0; height:20px; line-height:22px; padding:4px 0 0 20px; color:#b1c3d3; text-align:left;}
.sonnav a ,.s_li a ,.s_li_a a{ /*text-decoration:underline;*/ color:#404040;}
.sonnav a.red ,.s_li a.red ,.s_li_a a.red{ color:#c30;}

.s_li{ display:none;}
.m_li_a{ display:block;}

/*footer*/
/* CSS Document */

.main_bottom{ padding:15px 0; background:#f0f5f7; border-top:1px solid #d4e4eb; height:30px; clear:both;}
.main_bottom .bott_width{ position:relative; width:980px; margin:0 auto;}
.main_bottom .tab { padding:0 0 0 20px; position:absolute; top:-28px!important; top:-16px; right:-1px; background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/footer_tab_left.gif) no-repeat 0 100%;}
.main_bottom .tab a { padding:0 13px 0 5px; float:left; display:block; height:21px; background:url(http://icon.zdnet.com.cn/product/pic/b_product/article/footer_tab_right.gif) no-repeat 100% 100%; color:#25549d;}


#zdfooter { 
clear:both;
padding:10px 0px 50px 0px;
margin-top:10px;
}
.leadbtm{ width:952px; margin:0 auto; padding-top:12px; background:#fff url(http://www.zdnet.com.cn/i/zdnet/images/bg_ftr_950x89.gif) no-repeat;}
#zdfooter a:visited {
color:#039;
}

#f 
{
float:left;
margin:0;
padding:0;
width:180px;
height:100px;
background:url(http://www.zdnet.com.cn/i/zdnet/images/logo_zdnet_hd_430x62.gif) 5px 40px no-repeat;
}

#zdfooter li { 
display:inline;
border:none;
background:none;
padding:0;
font-weight:normal;
}

#zdfooter span {
font-weight:bold;
}

#infoblock
{
padding:0;
margin:0 0 0 125px;
text-align:left;
clear:none;
}
#infoblock .f_copy{float:left; padding-left:56px; width:720px;}
#infoblock .f_copy img{ float:right;/* margin-right:40px;*/}
#infoblock a.normallink ,.services a{ color:#369;}
.services
{
border-bottom:1px solid #d6d7d9;
border-top:1px solid #d6d7d9;
overflow:hidden;
padding:12px 0;
margin:12px 0;
}

*html .services 
{
height:1%;
}

.services ul
{
float:left;
clear:none;
margin:0;
margin-top:5px;
padding:0;
}

.networkFooter
{
float:right;
display:inline;
}

#subnav_s {clear:both; font-size:12px; text-align:left; padding:5px 0 4px 160px;}
#subnav_s a {font-weight:bold;}
#subnav_s a.on{ color:#900;}

.footcopy{ float:left; padding-left:56px;}
.clkent{ text-align:center; font-size:14px;}
.clkent a ,.clkent a:visited{ text-decoration:underline;}
.newsimg{ margin:10px 0; text-align:center;}
.newsimg img{ border:1px solid #cdcdcd; padding:2px;}
