@import url("calendar.css");

html { margin: 0; padding: 0; }
body 
{
	font-size: 1em;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;	
	background: #F9FBFF;
	margin: 1em;	
}
ul { margin: 0;	padding: 0;	list-style: none; }
a {	color : #7297CE; text-decoration: none; }
a:hover { text-decoration: underline; }
img { border: none; }
h1,h2,h3,h4,h5,h6 { margin: 0; padding: 0; }

#maincontainer
{
	/*width: 890px;*/
	text-align: left;
	margin: 0 auto;
	background: #DFE8F2;
	border: 1px solid #5274AB;
}

#header {}
#header h1 { margin: 3px 0;	padding: 0; }
#header h1 a:visited,
#header h1 a:active,
#header h1 a:link,
#header h1 a:hover 
{
	color : #5274AB;
	margin-left : 5px;
	padding-top : 5px;
	text-decoration : none;
	font-size: 0.7em;
}

#tagline
{
	font-size: 0.7em;
	margin: 0 0 3px 5px;
	font-weight: bold;
	color: #7297CE;
}

#blogstats
{
	font-size: 0.9em;
	font-weight: bold;
	margin: 0 75px 0 0;
	float: right;
}

#blogstats span
{
	background: url(Images/icon_stats.gif) left no-repeat;
	padding: 0 0 0 18px;
	margin: 0 5px 0 0;
	color: #DFE8F2;
}

#menubar
{
	background: #7297CE url(Images/ergonomic_titleback.gif) right no-repeat;
	font-size: 0.7em;
	font-weight: bold;
	color: #FFF;	
	margin: 0 0 10px 0;
	padding: 3px 0;
}

#menubar li
{
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
}

#menubar a { color: #FFF; }
#menubar .home { background: url(Images/icon_home.gif) no-repeat; padding: 0 0 0 18px; }
#menubar .contact {	background: url(Images/icon_contact.gif) no-repeat; padding: 0 0 0 18px; }
#menubar .syndication {	background: url(Images/xmlsmall.gif) no-repeat; padding: 0 0 0 32px; }
#menubar .admin { background: url(Images/icon_login.gif) no-repeat;	padding: 0 0 0 18px; }

.clearing
{
	font-size: 0;
	line-height: 0;
	clear: both;
}

.container
{
	/*width: 665px; */
	margin: 0 10px 10px 0;	
	font-size: 1em;
}

.containerheader
{
	padding: 0 0 0 18px;
	background: #7297CE url(Images/icon_windows.gif) left no-repeat; 
	font-weight: bold; 
	color: #FFF;
	line-height: 16px;	
}

.containerheader h3
{
	background: #7297CE url(Images/ergonomic_titleback.gif) right no-repeat;
	font-size: 0.7em;
}

.containerheader a { color: #FFF; }

.containercontent
{
	font-size: 0.7em;
	border-left: 1px solid #5274AB; 
	border-right: 1px solid #5274AB;
	border-bottom: 1px solid #5274AB; 
	border-top: 1px solid #5274AB;
	margin: 0; padding: 0;
	background: #FFF;	
}

.containercontent h5
{
	font-size: 1em;
	margin: 10px 0;
	padding: 0;
}

.containercontent li { line-height: 15px; }
.containercontent p { margin: 10px 0; padding: 0; }
.containerfooter {}

#left
{
	width : 180px;
	float: left;
	margin: 0 0 0 10px;
}

* html #left { margin: 0 0 0 5px; }

#left .container
{
	width: 180px; 
	margin: 0 0 10px 0;
	background: #FFF;	
}

#left .containercontent { padding: 5px; }

#right
{
	/*width: 665px;*/
	margin-left: 200px;	
	background: #DFE8F2;
}

#footer
{
	font-size: 0.7em;
	text-align: center;
	clear: both;
	margin: 10px 0 0 0;
}

.post
{
	padding: 10px;
	background: #FFF;
	font-size: 1em;
}

.post h2
{
	background: url(Images/icon_posttitle.png) left no-repeat;
	padding: 0 0 0 25px;
	font-size: 1.2em;
}

.postfoot
{
	background: #DFE8F2;
	text-align: right;
	font-size: 0.8em;
	font-weight: bold;
	margin: 5px 0;
	padding: 0;
}

#comments { font-size: 0.8em; }
#comments h4 {font-size: 0.9em; }
#comments h5 { font-size: 0.8em; }

#commentform { padding: 10px 0 0 10px; }
#commentform td { font-size: 10px; }
#contactform { padding: 0 0 10px 10px; }
#contactform p { margin: 10px 0; padding: 0; }
#contactform td { font-size: 10px; }

.rsslink
{
	padding: 0 0 0 23px;
	background: url(Images/xmlsmall.gif) left no-repeat;
}

.textbox { border: 1px solid #5274AB; }
.textarea { border: 1px solid #5274AB; }
.button { border: 1px solid #5274AB; }
