/****** General Styles ******/
html{border:0; overflow-y:scroll;}
body{
	margin:0;
	padding:0;
	font:12px Verdana, Arial, Helvetica, "ו", sans-serif;
}
body>table,body>div{margin-left:auto; margin-right:auto; clear:both;}
form,div,img,td,dl,dt,dd,h1,h2,h3,h4{margin:0 auto; padding:0; border:0;}
b,strong{font-weight:bold;}
table,input,textarea,select{color:#333;font:12px Verdana, Arial, Helvetica, "ו", sans-serif;}
h1{
	font-size:18px;
}
h1.subject{
	text-align:center;
}
.act_div {
	width:150px;
	background:#dddddd;
}
.nas li a{
	color:#fff;
}

a{
	text-decoration: none;
}
a:hover{
	color: red;
	text-decoration: underline;
}
a:focus{
	-moz-outline-style: none;
}
a.texta{
	color:#333;
}
textarea{
	padding: 2px;
	background-color: white;
	border: 1px solid #ccc;
}
select{
	background-color: white;
	border: 1px solid #ccc;
}
input.text{
	height: 18px;
	line-height: 16px;
	background-color: white;
	border: 1px solid #ccc;
}
input.button{
	height: 20px;
	line-height: 18px;
	padding: 0px 5px 0px;
	background-color: white;
	border: 1px solid #ccc;
	cursor: pointer;
}
input.button-submit{
	height: 20px;
	line-height: 18px;
	padding: 0px 5px 0px;
	background-color: white;
	border: 1px solid #ccc;
	cursor: pointer;
	color: red;
}
/****** Sortable Element Styles ******/
.targeter {
	border: none;
	border: 1px dashed red;
	background: none;
	padding: 2px;
}

/* a style which makes div touch the bottom of content */
.clear{
	border-top:1px solid transparent !important;
	margin-top:-1px !important;
	border-top:0;
	margin-top:0;
	clear:both;
	visibility:hidden;
}



.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
* html>body .clearfix {
	display: inline-block;
	width: 100%;
}
* html .clearfix {
	/* Hides from IE-mac \*/
	height: 1%;
	/* End hide from IE-mac */
}
/* ie7 hack*/
*+html .clearfix {
	min-height: 1%;
}
/*----*/
a{
	color: #000;
	line-height:1.5em;
}
a:hover{
	color: #F00;
	text-decoration: underline;
}
/****** Main Layout Styles ******/
#topPadding{
	height: 5px;
	line-height: 1px;
	display:none;
}
#wrapper{
}
#innerWrapper{
	width:990px;
	background: #F8E4E0;
}
#header{
	margin:0px;
	padding:0px;
	height:200px;
}
#innerHeader{
	padding:0px;
	height:200px;
	background-image: url(http://img1.51cto.com/image/skin/12/top.gif);
	background-repeat: no-repeat;
	background-position: right;
}

/****** Header Elements Styles ******/
#blogTitle{
	padding-top:20px;
	height:50px;
	padding-left:32px;
}
#blogTitle a, #blogTitle input{
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.6em;
	text-decoration: none;
}
#blogDesc{
	color: #fff;
	font-size: 14px;
	padding: 0px;
	padding-top:0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 35px;
}
#blogDesc a{
	color: #fff;
}
#head_right{
	width:35%;
	float:right;
	font-size: 12px;
	text-align:right;
	font-weight: normal;
	margin-top: 10px;
	margin-right:30px;
	padding-top: 10px;
}
#head_right a{
	color:#000;
}
#head_right .sign{
	color:#000;
	float:right;
	height:20px;
	height:17px !important;
	width:61px;
	padding-top:0px;
	margin-right:10px;
	text-align:center;
	background-image: url(http://img1.51cto.com/image/skin/1/sign_1.gif);
}
.top_bottom_left{
	margin-top:95px;
	padding-left:30px;
	margin-top:88px !important;
	padding-left:40px !important;
	float:left;
	width:8%;
}
.top_bottom_right{
	margin-top:100px;
	padding-right:30px;
	margin-top:88px !important;
	padding-right:40px !important;
	float:right;
	width:80%;
	text-align:right;
}
.top_message{
	padding-top:4px;
	width:120px;
	color:#ff0;
	float:right;
}
.top_message a{
	color:#ff0;
}
.top_link{
	width:70px;
	height:24px;
	height:18px !important;
	padding-top:4px;
	margin-left:6px;
	text-align:center;
	color:#000;
	float:right;
	background-image: url(http://img1.51cto.com/image/skin/2/top_button.gif);
}
.top_link a{
	color:#000;
}
/****** NavBar Elements Styles ******/
#navBar a{
	color: #000;
	font-size: 12px;
	text-decoration: none;
}
#navBar{
	border:none;
	margin-left:2px;
	height:34px;
	padding:0px;
	background-image: url(http://img1.51cto.com/image/skin/12/nav_bg.gif);
}
#innerNavBar{
	margin-left:0px;
	margin-right:0px;
	padding: 10px 10px 0px 10px;
	
}
#neckWrapper{
background:none;
display:none;
}
#innerNeckWrapper{
background:none;
display:none;
}
#mainWrapper{
	margin-left:4px;
	border:none;
	padding:0px;
}
#innerMainWrapper{
	border:none;
	margin:0px 0px 0px 0px;
	padding:0px 10px 0px 10px;
}
.uservisit{
	float:left;
	width:80px;
	height:82px;
	text-align:center;
	vertical-align:bottom;
	background-color:#eeeeee;
	border:1px solid #CCCCCC;
	margin:1px
}

.userdir{
	color:#000;
	float:left;
	width:100%;
	vertical-align:bottom;
}
.userdir a{
	color:#FFF;
}
.tempDIV {
	position:absolute;
	cursor:move;
	z-index:10;
}
/****** Mod Elements Styles ******/
.mod{
	margin:5px 6px 10px 10px;
	float:right;
}
.modgroup{
	margin:5px 6px 5px 5px;
}
#content img{
	max-width:610px!important;
	width:expression(this.width > 610 && "610px");
}
#content a{
	text-decoration:underline;
}
#contentlist img{
	max-width:450px!important;
	width:expression(this.width > 450 && "450px");
}
.lastvisit{
	max-width:72px!important;
	width:expression(this.width > 72 && "72px");
	max-height:58px!important;
	height:expression(this.height > 58 && "58px");
}
#userface{
	max-width:160px!important;
	width:expression(this.width > 160 && "160px");
}
.mod1{
	width:0px;height:0px;
}

.sidebar{
	margin:5px 5px 5px 8px;
}

.sidebar1{
	margin:5px 0px 5px 5px;
}
#tooltip{
	border: 3px solid #eee;
	position: absolute;
	z-index: 2000;
	background: white;
}
#tooltip .mod{
background:none;
}
#tooltip .modFrame{
background:none;
	padding: 5px;
	overflow: hidden;
	border: 1px solid #ccc;
}

#tooltip .modFrame, #tooltip .modFrame div{
background:none;
	color: #333;
}
/***********/
.mod .mheader{
	border: none;
	padding-top:0px;
	height:30px;
	}
.nouse{
	border:1px solid #F86060;
	margin-bottom:6px;
}
.nouse li{
list-style:none;
}
.lt{
	background-image: url(http://img1.51cto.com/image/skin/12/left_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	float:left;
	width: 4px;
	height:28px;
}
.t{
	background-image: url(http://img1.51cto.com/image/skin/12/center_bg.gif);
	padding:0px;
	border: none;
	height:28px;
}
.modHeader{
	padding-top: 8px;
	color:#000;
	height:20px;
}
.rt{
	/*background-image: url(http://img1.51cto.com/image/skin/12/right_bg.jpg);*/
	background-repeat: no-repeat;
	background-position: right top;
	float:right;
	width: 6px;
	height:28px;
}
.mod .mbody{
	background: none;
	border: none;
	
}
.l{
	background:#FFF;
	width:100%;
	color:#000
}
.c{
	color:#000
}
.mod .modCon{
overflow:hidden;
}
.r{
	width:100%;
	color:#FFF;
}

.mod .lb{
	background:none;
	height: 16px;
	width: 5px;
}
#innerFooter{
	color:#fff;
	margin-top:10px;
}
#contact {
	color: #000;
	padding-top: 6px;
	padding-bottom: 6px;
	margin:0px;
	margin-top:20px;
}

#contact a{
	color: #000;
}
#powered {
	padding-top: 6px;
	padding-bottom: 6px;
	margin:0px;
}

#copyright {
	color: #fff;
	padding-top: 6px;
	padding-bottom: 6px;
	margin:0px;
}
.addarticle{
	float:right;
	text-align:right;
	width:10%;
}
<!-- 51cto -->
form{
	margin:0px;
	display:inline;
}
#banner51cto{
	width:990px;
	background:#FFF;
	height:36px !important;
	height:40px;
	padding:2px;
}
#blogtopart{
	margin-top: 3px;
	margin-left: 10px;
}
.user_login{
	width:135px;
	height:26px;
	border:0px;
	background:url(http://img1.51cto.com/images/user_login.gif);
}
/*#my_menu{
	font-size:14px;
	color:#000;
	top:32px;
	left:12%;
	padding:5px;
	position:absolute;
	width:320px;
	line-height:20px;
	background-color:#FFF;
	border:1px solid #777;
}*/
/*add by cao2xi*/
ul,li{list-style:none; padding:0px; margin:0px;}
.wd { width:285px; height:166px;top:32px;left:12%;padding:5px;position:absolute; background:url(http://img1.51cto.com/images/wd_bg.gif) no-repeat;}
.wd1 { width:279px; height:160px; border:1px solid #C7C7C7; background-color:#FFF;}
.wd_tit { width:265px; height:28px; margin:7px auto; background:url(http://img1.51cto.com/images/wd_bg1.gif) no-repeat;}
.wd_l { width:190px; height:12px; float:left; margin:10px 0 0 10px; background:url(http://img1.51cto.com/images/wd_go.gif) no-repeat; padding-left:28px;}/* Moz */   
* html .wd_l { margin:10px 0 0 5px;} /* IE6 */   
*+html .wd_l { margin:10px 0 0 10px;} /* IE7 */
.wd_l span { font-weight:bold; color:c00;}
.wd_r { width:15px; height:14px; float:right; padding:8px 8px 0 0;}
.wd_list { width:265px; height:116px; margin:6px auto 0 auto;}
.wd_list_l { width:84px; float:left;}
.wd_list_t { width:69px; height:14px; background:url(http://img1.51cto.com/images/wd_list_bg1.gif) no-repeat; padding:12px 0 0 15px; font-weight:bold; margin-bottom:1px;}
.wd_list_t a{ color:#4C7AB0; text-decoration: none;}
.wd_list_t a:visited{ color:#4C7AB0; text-decoration: none;}
.wd_list_t a:hover{ text-decoration: underline; color:#c00;}
.wd_list_t1 { width:69px; height:14px; background:url(http://img1.51cto.com/images/wd_list_bg2.gif) no-repeat; padding:12px 0 0 15px; font-weight:bold; margin-bottom:1px;}
.wd_list_t1 a{ color:#4C7AB0;text-decoration: none;}
.wd_list_t1 a:visited{ color:#4C7AB0;text-decoration: none;}
.wd_list_t1 a:hover{ text-decoration: underline; color:#c00;}
.wd_list_li { width:70px; height:76px; background:url(http://img1.51cto.com/images/wd_list_bg3.gif) no-repeat; padding:8px 7px 0 7px; line-height:24px;}
.wd_list_li a{ margin:1px 0; padding:6px 16px 5px 6px; color:#747474;text-decoration: none;}
.wd_list_li a:visited{ margin:1px 0; padding:6px 16px 5px 6px; color:#747474;text-decoration: none;}
.wd_list_li a:hover{ background:url(http://img1.51cto.com/images/wd_list_bg4.gif) no-repeat; text-decoration: underline; color:#c00;}
.wd_list_m { width:84px; float:left; margin-left:6px;}
.wd_list_r { width:84px; float:right;}
/*end*/
.hot_art{
	height:18px;
	color:#e10;
	padding-top:3px;
	padding-left:4px;
	padding-right:4px;
}
#keyword{
	border:1px solid #FF0000;
	width:90px;
	height:14px;
}
#blogtopart a{
	color: #000000;
}
#blogtopart a:hover{
	color: #353840;
}
#blogso{
	margin-top: 2px;
	margin-top: 0px !important;
	margin-left: 2px;
	width:40px;
	width:44px !important;
	float:right;
}
#blogsotext{
	width:90px;
	width:94px !important;
	float:right;
}
#blogword{
	margin-top: 2px;
	width:145px;
	float:right;
}

#head a{
	color:#fff;
}
#domain{
	width:50%;
	float:left;
	text-align:left;
	font-size:20px;
}
#head_demain{
	width:38%;
	float:left;
	text-align:left;
	font-size:12px;
}
#head_left{
	width:100%;
	float:left;
	text-align:left;
	font-weight:bold;
}
#head_right_link{
	width:60%;
	float:right;
	font-size: 11px;
	text-align:right;
	font-weight: normal;
}
#headlogo{
	width:100%;
	height:100px;
	margin: auto;
}
#dir{
	width:97%;
	padding:3px;
	text-align:left;
	color:#FFFFFF;
	margin: auto;
	background:#4D4D4D url('/');
}
#dir a{
	color:#FFFFFF;
}

#body{
	width:96%;
	color:#fff;
	text-align:left;
	margin: auto;
	background: url('');
}
#list{
	padding-top:10px;
	float:left;
	font-weight:normal;
	color:#FFFFFF;
	text-align:left;
}
#title{
	width:92%;
	padding:6px;
	height:28px;
	color:#FFFFFF;
	text-align:left;
	vertical-align:middle;
	border-bottom:1px solid #CCC;
}
#title a{
	color:#FFFFFF;
}
#title .subject{
	color:#EEAA20;
	font-size:14px;
	font-weight:bold;
}
.title{
	padding:3px;
	height:20px;
	color:#000;
	text-align:left;
	vertical-align:middle;
	border-bottom:1px dotted #CCC;
	table-layout: fixed;
	word-wrap: break-word;
}
.posttime{
	width:94%;
	margin-left:10px;
	margin-right:10px;
	text-align:right;
}
#content{
	width:94%;
	line-height:1.8;
	margin-left:10px;
	margin-right:10px;
	color:#000;
	text-align:left;
	overflow: hidden;
}
#contentlist{
	width:94%;
	line-height:1.8;
	margin-left:10px;
	margin-right:10px;
	color:#000;
	text-align:left;
	overflow: hidden;
}
.side_head{
	font-size:12px;
	color:#FFF3E5;
	font-weight:bold;
	height:21px;
}
.side_left{
	font-size:12px;
	text-align:left;
	color:#FFFFFF;
}
.side_center{
	font-size:12px;
	text-align:center;
	color:#FFFFFF;
	overflow: hidden;
}
.side_sinfo{
	text-align:left;
	font-size:12px;
	line-height: 1.8;
	padding:10px 10px 10px 10px;
	overflow: hidden;
	width:90%
}
.side_sinfo li{
	width:250px;
	float:left;
	margin:0px;
	padding:0px;
}
.related{
	width:48%;
	float:left;
}
.side_cal{
	font-size:12px;
	text-align:center;
	color:#FFFFFF;	
}
.side_user{
	text-align:left;
	width:100%;
	padding-top:1px;
	padding-bottom:1px;
	font-size:12px;
	color:#FFFFFF;
	overflow: hidden;
}
#side .xml{
	font-family: Tahoma, Verdana;
	BORDER:	#8C8E7B	1px	solid;
	background:#FFFFFF;
}
#side .xml a{
	color:#FFFFFF;
}
#side .xml_1{
	background:#FF6500;
	font-size: 7pt;
	color:#ffffff;
}
#side .xml_2{
	background:#8C8E7B;
	font-size: 7pt;
	color:#FFFFFF;
}
.side_content{
	overflow: hidden;
}

#article .subject{
	margin-top:10px;
	font-size:18px;
	font-weight:bold;
	text-align:center;
}
.content{
	font-size:12px;
	width:96%;
	color:#000;
	line-height:1.8;
	overflow: hidden;
}
#tool{
	width:94%;
	border-bottom:1px dashed #CCC;
	color:#000000;
	padding:3px;
	height:20px;
}
#tool a{

}
.itcomment{
	padding:10px;
	line-height:1.6;
	color:#40403D;
}
#gbook{
	width:73%;
	float:left;
	font-weight:normal;
	padding:5px;
	background:#5E5E5E;
	border:1px solid #FFFFFF;
}
#g_content{
	border-bottom:1px dashed #FFFFFF;
	padding:3px;
	background:#5E5E5E;
}
#g_content .subject{
	color:#FFFFFF;
}
#g_content .content{
	color:#FFFFFF;
}
#g_reply{
	padding:3px;
	margin-left:20px;
	width:90%;
	border:1px dashed #FFFFFF;
}
#g_reply .subject{
	color:#FFFFFF;
}
#g_reply .content{
	color:#FFFFFF;
}
#reply_box{
	border:1px dashed #cccccc;
	margin:10px 10px 10px 10px;
}
#footer{
	width:100%;
	margin-left:0px;
	height:76px;
	text-align: center;
	color:#000;
	background:url(http://img1.51cto.com/image/skin/12/footer.gif) no-repeat center;
	
}
#footer	a{
	color:#fff;
}
.line{
   height:1px;
   background:url('http://img1.51cto.com/image/skin/dot.gif') repeat-x;
}
.plusfile{
	border: 1px dashed #999999;
	padding: 10px;
	margin: 10px;
}
.copy{
	letter-spacing:1px;
	line-height:20px;
	padding:4px;
	border:1px dashed #bcbcbc;
	font-size:12px;
	margin:10px;
	color:#888;
}
a.hidden:link{
	display:none;
}
a.hidden:visited{
	display:none;
}
a.hidden:hover{
	display:none;
}
a.hidden:active{
	display:none;
}
.hidden {display:none; }
.sun_div {
	cursor: pointer;
}
a.editorlink{
	color:#2B58A3;
	text-decoration:underline;
}
a.operlink:link{
	color:#EE9020;
	text-decoration:underline;
}
a.operlink:visited{
	color:#EE9020;
	text-decoration:underline;
}
a.operlink:hover{
	color:#EEAA30;
	text-decoration:underline;
}
.article_views{
color:#ee9020;
}
a.ffa{
	color:#000;
	text-decoration:underline;
}
a.ffb{
	color:#D95C00;
	text-decoration:underline;
}
a.ffc{
	color:#000;
	font-size:14px;
	text-decoration:none;
}