h5 {
	border-bottom:1px solid #AAA;
}
.gjoin{
	color:#999;
}
.group_wd{
	color:#777777;
}
.group_or{
	color:#f06000;
}
a.gname:link {
	font-size:14px;
	color:#1040A0;
	text-decoration: none;
}
a.gname:visited {
	font-size:14px;
	text-decoration: none;
	color:#1040A0;
}
a.gname:hover {
	font-size:14px;
	text-decoration: underline;
	color:#1050b0;
}
a.gname:active {
	font-size:14px;
	text-decoration: none;
	color:#1040A0;
}
a.group_op:link {
	color: #F00000;
	text-decoration: none;
}
a.group_op:visited {
	text-decoration: none;
	color: #F00000;
}
a.group_op:hover {
	text-decoration: underline;
	color: #DE0000;
}
a.group_op:active {
	text-decoration: none;
	color: #DE0000;
}
a.font_addmod:link {
	color: #FFFFFF;
	text-decoration: none;
}
a.font_addmod:visited {
	text-decoration: none;
	color: #FFFFFF;
}
a.font_addmod:hover {
	text-decoration: underline;
	color: #FFFFFF;
}
a.font_addmod:active {
	text-decoration: none;
	color: #FFFFFF;
}

a.grouplink:link {
	color: #000000;
	text-decoration: none;
}
a.grouplink:visited {
	text-decoration: none;
	color: #000000;
}
a.grouplink:hover {
	text-decoration: underline;
	color: #ff0000;
}
a.grouplink:active {
	text-decoration: none;
	color: #000000;
}
