/* Effective stylesheet produced by snapshot save */
.jiathis_style dl, .jiathis_style dt, .jiathis_style dd, .jiathis_style ol, .jiathis_style ul, .jiathis_style li, .jiathis_style fieldset, .jiathis_style form, .jiathis_style label, .jiathis_style legend, .jiathis_style table, .jiathis_style caption, .jiathis_style tbody, .jiathis_style tfoot, .jiathis_style thead, .jiathis_style tr, .jiathis_style th, .jiathis_style td, .jiathis_style span { vertical-align: middle; margin: 0px; padding: 0px; font-family: "Microsoft YaHei",arial,tahoma,宋体,sans-serif; }
.jiathis_style .jtico { text-align: left; overflow: hidden; display: block ! important; height: 16px ! important; line-height: 16px ! important; padding-left: 20px ! important; background: transparent url("jiathis_ico.png") no-repeat scroll left center; cursor: pointer; }
.jiathis_style .jtico:hover { opacity: 0.8; }
.jiathis_style .jtico_qzone { background-position: 0px -64px; }
.jiathis_style .jtico_tsina { background-position: 0px -96px; }
.jiathis_style .jtico_renren { background-position: 0px -160px; }
.jiathis_style .jtico_douban { background-position: 0px -560px; }
.jiathis_style .jtico_fb { background-position: 0px -688px; }
.jiathis_style .jtico_ydnote { background-position: 0px -848px; }
.jiathis_style .jtico_evernote { background-position: 0px -1120px; }
.jiathis_style .jtico_more, .jiathis_style .jtico_jiathis { background-position: 0px -1408px; }
.jiathis_style .jtico_weixin { background-position: 0px -1809px; }
.jiathis_style .button, .jiathis_style .jiathis_txt { float: left; font-size: 12px; text-decoration: none; line-height: 18px ! important; }
.jiathis_style .separator, .jiathis_style .jiathis_separator { display: block; float: left; margin: 0px 5px; line-height: 16px ! important; }
.jiathis_style_24x24 .jtico { text-align: left; overflow: hidden; display: block ! important; height: 24px ! important; line-height: 24px ! important; padding-left: 28px ! important; background: transparent url("jiathis_ico_24x24.png") no-repeat scroll left center; cursor: pointer; }
.jiathis_style_24x24 .jtico:hover { opacity: 0.8; }
.jiathis_style_24x24 .jiathis_txt { float: left; font-size: 22px; text-decoration: none; line-height: 24px ! important; }
.jiathis_style_24x24 .jiathis_separator { display: block; float: left; margin: 0px 5px; line-height: 24px ! important; }
.jiathis_style_24x24 .jtico_qzone { background-position: 0px -96px; }
.jiathis_style_24x24 .jtico_tsina { background-position: 0px -144px; }
.jiathis_style_24x24 .jtico_renren { background-position: 0px -240px; }
.jiathis_style_24x24 .jtico_douban { background-position: 0px -840px; }
.jiathis_style_24x24 .jtico_fb { background-position: 0px -1032px; }
.jiathis_style_24x24 .jtico_ydnote { background-position: 0px -1272px; }
.jiathis_style_24x24 .jtico_evernote { background-position: 0px -1680px; }
.jiathis_style_24x24 .jtico_more, .jiathis_style_24x24 .jtico_jiathis { background-position: 0px -2112px; }
.jiathis_style_24x24 .jtico_weixin { background-position: 0px -2712px; }
.jiathis_style_24x24 .jtico_googleplus { background-position: 0px -2952px; }
