/* Effective stylesheet produced by snapshot save */
.dw-how-many-comments-label { margin-left: 360px; }
.rating-image2 { margin-left: 2970px ! important; }
:first-child + html .rating-image { margin-left: 2975px ! important; }
:first-child + html .rating-image2 { margin-left: 2975px ! important; }
body:nth-of-type(1) .rating-image2 { margin-left: 2975px ! important; }
body:nth-of-type(1) .rating-image { margin-left: 2975px ! important; }
