/* Effective stylesheet produced by snapshot save */
div.ibm-landing-page #ibm-content-body, div.ibm-landing-page #ibm-pcon, #ibm-pcon, #ibm-footer { background: none no-repeat scroll 0px 0px rgb(255, 255, 255); }
div.ibm-landing-page #ibm-pcon { padding-top: 0px; }
#ibm-metrics { background: none repeat scroll 0% 0% rgb(204, 204, 204); height: 0px; margin: 0px; padding: 0px; }
#ibm-page-tools { background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 0px none; padding: 0px; }
#ibm-footer { border: 0px none; color: rgb(255, 255, 255); height: 0px; margin: 0px; padding: 0px; }
div.ibm-landing-page #ibm-content { background: url("c.gif") no-repeat scroll 99% 0px transparent; }
#ibm-content-head.dwwordmark { background: url("c.gif") no-repeat scroll 99% 0px transparent; }
#dw-footer-module { background-color: rgb(255, 255, 255); padding-bottom: 30px; }
#dw-footer-module .footer-module-container .footer-module-column-first { width: 360px; padding-top: 8px; }
#dw-footer-module img.footer-module-image.footer-promotion-image { padding-left: 0px; padding-right: 20px; }
#dw-footer-module .footer-module-container .footer-module-column-second { width: 20px; }
#dw-footer-module .footer-module-container .footer-module-column-third { width: 500px; }
#ibm-masthead-dw ul { margin: 0px; padding: 0px; }
#ibm-masthead-dw li { list-style-type: none; }
#dw-masthead-top-row { width: 930px; overflow: hidden; background: -moz-linear-gradient(center top , rgb(102, 102, 102), rgb(0, 0, 0)) repeat scroll 0% 0% transparent; height: 34px; border-bottom: 1px solid rgb(68, 68, 68); }
#dw-masthead-top-row ul#ibm-mast-options-dw { padding-right: 10px; }
#dw-masthead-top-row li#dw-mast-top-0, #dw-masthead-top-row li#dw-mast-top-1 { float: right; }
#dw-masthead-top-row li a { font-size: 14px; font-weight: normal; font-family: arial,sans-serif; color: rgb(153, 153, 153); text-decoration: none; }
#dw-masthead-top-row #ibm-unav-home-dw li { padding: 8px 0px 8px 15px; }
#dw-masthead-top-row #ibm-mast-options-dw li { padding: 6px 10px 5px 16px; }
img.dw-preload { display: none; }
#dw-masthead-top-row li#dw-mast-top-1 { margin-right: 34px; }
#dw-masthead-top-row li#dw-mast-top-1 a { background: url("arrow-down.gif") no-repeat scroll right center transparent; padding-right: 20px; }
#dw-masthead-top-row li#dw-mast-top-1 a:hover { background: url("arrow-down-active.gif") no-repeat scroll right center transparent; color: rgb(204, 204, 204); }
#dw-masthead-top-row li#dw-mast-top-1 a.current { background: url("arrow-down-active.gif") no-repeat scroll right center transparent; color: rgb(204, 204, 204); }
#dw-masthead-top-row li#dw-mast-top-1.dw-mast-top-1-cn a { background: url("arrow-down.gif") no-repeat scroll right center transparent; padding-right: 20px; }
#dw-masthead-top-row li#dw-mast-top-1.dw-mast-top-1-cn a:hover { background: url("arrow-down-active.gif") no-repeat scroll right center transparent; color: rgb(204, 204, 204); }
#dw-masthead-top-row li#dw-mast-top-1.dw-mast-top-1-cn a.current { background: url("arrow-down-active.gif") no-repeat scroll right center transparent; color: rgb(204, 204, 204); }
#dw-masthead-top-row li#dw-mast-top-1.dw-mast-top-1-br a { background: url("arrow-down.gif") no-repeat scroll right center transparent; padding-right: 20px; }
#dw-masthead-top-row li#dw-mast-top-1.dw-mast-top-1-br a:hover { background: url("arrow-down-active.gif") no-repeat scroll right center transparent; color: rgb(204, 204, 204); }
#dw-masthead-top-row li#dw-mast-top-1.dw-mast-top-1-br a.current { background: url("arrow-down-active.gif") no-repeat scroll right center transparent; color: rgb(204, 204, 204); }
#dw-masthead-top-row li#dw-mast-top-1.dw-mast-top-1-ssa a { background: url("arrow-down.gif") no-repeat scroll right center transparent; padding-right: 20px; }
#dw-masthead-top-row li#dw-mast-top-1.dw-mast-top-1-ssa a:hover { background: url("arrow-down-active.gif") no-repeat scroll right center transparent; color: rgb(204, 204, 204); }
#dw-masthead-top-row li#dw-mast-top-1.dw-mast-top-1-ssa a.current { background: url("arrow-down-active.gif") no-repeat scroll right center transparent; color: rgb(204, 204, 204); }
#dw-masthead-top-row li#dw-mast-top-1.dw-mast-top-1-ru a { background: url("arrow-down.gif") no-repeat scroll right center transparent; padding-right: 20px; }
#dw-masthead-top-row li#dw-mast-top-1.dw-mast-top-1-ru a:hover { background: url("arrow-down-active.gif") no-repeat scroll right center transparent; color: rgb(204, 204, 204); }
#dw-masthead-top-row li#dw-mast-top-1.dw-mast-top-1-ru a.current { background: url("arrow-down-active.gif") no-repeat scroll right center transparent; color: rgb(204, 204, 204); }
#dw-masthead-top-row li#dw-mast-top-1.dw-mast-top-1-jp a { background: url("arrow-down.gif") no-repeat scroll right center transparent; padding-right: 20px; }
#dw-masthead-top-row li#dw-mast-top-1.dw-mast-top-1-jp a:hover { background: url("arrow-down-active.gif") no-repeat scroll right center transparent; color: rgb(204, 204, 204); }
#dw-masthead-top-row li#dw-mast-top-1.dw-mast-top-1-jp a.current { background: url("arrow-down-active.gif") no-repeat scroll right center transparent; color: rgb(204, 204, 204); }
#dw-masthead-top-row li#dw-mast-top-1.dw-mast-top-1-kr a { background: url("arrow-down.gif") no-repeat scroll right center transparent; padding-right: 20px; }
#dw-masthead-top-row li#dw-mast-top-1.dw-mast-top-1-kr a:hover { background: url("arrow-down-active.gif") no-repeat scroll right center transparent; color: rgb(204, 204, 204); }
#dw-masthead-top-row li#dw-mast-top-1.dw-mast-top-1-kr a.current { background: url("arrow-down-active.gif") no-repeat scroll right center transparent; color: rgb(204, 204, 204); }
#dw-masthead-top-row li#dw-mast-top-1.dw-mast-top-1-vn a { background: url("arrow-down.gif") no-repeat scroll right center transparent; padding-right: 20px; }
#dw-masthead-top-row li#dw-mast-top-1.dw-mast-top-1-vn a:hover { background: url("arrow-down-active.gif") no-repeat scroll right center transparent; color: rgb(204, 204, 204); }
#dw-masthead-top-row li#dw-mast-top-1.dw-mast-top-1-vn a.current { background: url("arrow-down-active.gif") no-repeat scroll right center transparent; color: rgb(204, 204, 204); }
#dw-masthead-top-row li#dw-mast-top-0 a.dw-mf-noscript:hover, #dw-masthead-top-row li#dw-mast-top-0 a.dw-mf-noscript { background: url("c.gif") no-repeat scroll 134px 5px transparent; padding-right: 22px; color: rgb(102, 102, 102); cursor: default; }
#dw-masthead-top-row li#dw-mast-top-0.authenticated:hover, #dw-masthead-top-row li#dw-mast-top-0.authenticated.popen { background-color: rgb(0, 0, 0); }
#dw-masthead-top-row li#dw-mast-top-0 a { background: url("arrow-down.gif") no-repeat scroll right center transparent; padding-right: 22px; }
#dw-masthead-top-row li#dw-mast-top-0 a.current, #dw-masthead-top-row li#dw-mast-top-0 a:hover { background: url("arrow-down-active.gif") no-repeat scroll right center transparent; color: rgb(204, 204, 204); }
#dw-masthead-top-row li#dw-mast-top-3 a img { background: url("arrow-down.gif") no-repeat scroll right center transparent; padding-right: 14px; }
#dw-masthead-top-row li#dw-mast-top-3 a.current img, #dw-masthead-top-row li#dw-mast-top-3 a:hover img { background: url("arrow-down-active.gif") no-repeat scroll right center transparent; color: rgb(204, 204, 204); }
#dw-masthead-top-row li#dw-mast-top-3 a img { margin-top: 2px; }
#dw-masthead-top-row li#dw-mast-top-3 { width: 50px; }
#ibm-mast-options-dw.ssa li#dw-mast-top-0 a.dw-mf-noscript:hover, #ibm-mast-options-dw.ssa li#dw-mast-top-0 a.dw-mf-noscript { background: url("c.gif") no-repeat scroll 154px 5px transparent; padding-right: 22px; color: rgb(102, 102, 102); cursor: default; }
#ibm-mast-options-dw.ssa li#dw-mast-top-0 a { background: url("arrow-down.gif") no-repeat scroll right center transparent; padding-right: 22px; }
#ibm-mast-options-dw.ssa li#dw-mast-top-0 a.current, #ibm-mast-options-dw.ssa li#dw-mast-top-0 a:hover { background: url("arrow-down-active.gif") no-repeat scroll right center transparent; color: rgb(204, 204, 204); }
#ibm-mast-options-dw.cn li#dw-mast-top-0 a.dw-mf-noscript:hover, #ibm-mast-options-dw.cn li#dw-mast-top-0 a.dw-mf-noscript { background: url("c.gif") no-repeat scroll 96px 5px transparent; padding-right: 22px; color: rgb(102, 102, 102); cursor: default; }
#ibm-mast-options-dw.cn li#dw-mast-top-0 a { background: url("arrow-down.gif") no-repeat scroll right center transparent; padding-right: 22px; }
#ibm-mast-options-dw.cn li#dw-mast-top-0 a.current, #ibm-mast-options-dw.cn li#dw-mast-top-0 a:hover { background: url("arrow-down-active.gif") no-repeat scroll right center transparent; color: rgb(204, 204, 204); }
#ibm-mast-options-dw.jp li#dw-mast-top-0 a.dw-mf-noscript:hover, #ibm-mast-options-dw.jp li#dw-mast-top-0 a.dw-mf-noscript { background: url("c.gif") no-repeat scroll 160px 5px transparent; padding-right: 22px; color: rgb(102, 102, 102); cursor: default; }
#ibm-mast-options-dw.jp li#dw-mast-top-0 a { background: url("arrow-down.gif") no-repeat scroll right center transparent; padding-right: 22px; }
#ibm-mast-options-dw.jp li#dw-mast-top-0 a.current, #ibm-mast-options-dw.jp li#dw-mast-top-0 a:hover { background: url("arrow-down-active.gif") no-repeat scroll right center transparent; color: rgb(204, 204, 204); }
#ibm-mast-options-dw.br li#dw-mast-top-0 a.dw-mf-noscript:hover, #ibm-mast-options-dw.br li#dw-mast-top-0 a.dw-mf-noscript { background: url("c.gif") no-repeat scroll 176px 5px transparent; padding-right: 22px; color: rgb(102, 102, 102); cursor: default; }
#ibm-mast-options-dw.br li#dw-mast-top-0 a { background: url("arrow-down.gif") no-repeat scroll right center transparent; padding-right: 22px; }
#ibm-mast-options-dw.br li#dw-mast-top-0 a.current, #ibm-mast-options-dw.br li#dw-mast-top-0 a:hover { background: url("arrow-down-active.gif") no-repeat scroll right center transparent; color: rgb(204, 204, 204); }
#ibm-mast-options-dw.ru li#dw-mast-top-0 a.dw-mf-noscript:hover, #ibm-mast-options-dw.ru li#dw-mast-top-0 a.dw-mf-noscript { background: url("c.gif") no-repeat scroll 178px 5px transparent; padding-right: 22px; color: rgb(102, 102, 102); cursor: default; }
#ibm-mast-options-dw.ru li#dw-mast-top-0 a { background: url("arrow-down.gif") no-repeat scroll right center transparent; padding-right: 22px; }
#ibm-mast-options-dw.ru li#dw-mast-top-0 a.current, #ibm-mast-options-dw.ru li#dw-mast-top-0 a:hover { background: url("arrow-down-active.gif") no-repeat scroll right center transparent; color: rgb(204, 204, 204); }
#ibm-mast-options-dw.kr li#dw-mast-top-0 a.dw-mf-noscript:hover, #ibm-mast-options-dw.kr li#dw-mast-top-0 a.dw-mf-noscript { background: url("c.gif") no-repeat scroll 128px 5px transparent; padding-right: 22px; color: rgb(102, 102, 102); cursor: default; }
#ibm-mast-options-dw.kr li#dw-mast-top-0 a { background: url("arrow-down.gif") no-repeat scroll right center transparent; padding-right: 22px; }
#ibm-mast-options-dw.kr li#dw-mast-top-0 a.current, #ibm-mast-options-dw.kr li#dw-mast-top-0 a:hover { background: url("arrow-down-active.gif") no-repeat scroll right center transparent; color: rgb(204, 204, 204); }
#ibm-mast-options-dw.vn li#dw-mast-top-0 a.dw-mf-noscript:hover, #ibm-mast-options-dw.vn li#dw-mast-top-0 a.dw-mf-noscript { background: url("c.gif") no-repeat scroll 183px 5px transparent; padding-right: 22px; color: rgb(102, 102, 102); cursor: default; }
#ibm-mast-options-dw.vn li#dw-mast-top-0 a { background: url("arrow-down.gif") no-repeat scroll right center transparent; padding-right: 22px; }
#ibm-mast-options-dw.vn li#dw-mast-top-0 a.current, #ibm-mast-options-dw.vn li#dw-mast-top-0 a:hover { background: url("arrow-down-active.gif") no-repeat scroll right center transparent; color: rgb(204, 204, 204); }
#ibm-mast-options-dw.cn li#dw-mast-top-0 a.authenticated, #ibm-mast-options-dw.cn li#dw-mast-top-0 a.current.authenticated, #ibm-mast-options-dw.ssa li#dw-mast-top-0 a.authenticated, #ibm-mast-options-dw.ssa li#dw-mast-top-0 a.current.authenticated, #ibm-mast-options-dw.jp li#dw-mast-top-0 a.authenticated, #ibm-mast-options-dw.jp li#dw-mast-top-0 a.current.authenticated, #ibm-mast-options-dw.vn li#dw-mast-top-0 a.authenticated, #ibm-mast-options-dw.vn li#dw-mast-top-0 a.current.authenticated, #ibm-mast-options-dw.kr li#dw-mast-top-0 a.authenticated, #ibm-mast-options-dw.kr li#dw-mast-top-0 a.current.authenticated, #ibm-mast-options-dw.ru li#dw-mast-top-0 a.authenticated, #ibm-mast-options-dw.ru li#dw-mast-top-0 a.current.authenticated, #ibm-mast-options-dw.br li#dw-mast-top-0 a.authenticated, #ibm-mast-options-dw.br li#dw-mast-top-0 a.current.authenticated, #dw-masthead-top-row li#dw-mast-top-0 a.authenticated, #dw-masthead-top-row li#dw-mast-top-0 a.current.authenticated { background: url("arrow-down.gif") no-repeat scroll right center transparent; color: rgb(255, 223, 78); font-weight: bold; display: inline-block; }
img.dw-mast-profimg { vertical-align: -5px; margin-top: 1px; margin-left: 0px; margin-right: 4px; top: 0px; }
.dw-mf-hide { display: none; }
#ibm-search-form { width: 200px; clear: right; float: right; padding-top: 6px; padding-bottom: 5px; }
#ibm-universal-nav-dw #ibm-search-form p { position: relative ! important; margin-right: 80px; }
#ibm-universal-nav-dw input#q { background: url("dw-mf-search-sprite.gif") no-repeat scroll 0px -75px transparent; width: 174px; text-indent: 3px; color: rgb(102, 102, 102); padding: 5px 0px 4px 5px; font-size: 12px; display: inline; }
#ibm-universal-nav-dw input#q:focus { color: rgb(0, 0, 0); }
#ibm-universal-nav-dw input.ibm-btn-search { background: url("dw-mf-search-sprite.gif") no-repeat scroll 0px -220px rgb(255, 255, 255); cursor: pointer; text-indent: -999em; position: absolute ! important; top: 21px; right: -59px; color: rgb(204, 204, 204); font-size: 0px ! important; width: 20px; height: 17px; margin-bottom: 0px; margin-top: 0px; padding: 0px ! important; display: inline; clip: rect(4px, 20px, 24px, 0px); }
#ibm-universal-nav-dw input.ibm-btn-search:hover { background: url("dw-mf-search-sprite.gif") no-repeat scroll 0px -150px transparent; }
#ibm-universal-nav-dw { width: 930px; overflow: hidden; background: -moz-linear-gradient(center top , rgb(204, 84, 34), rgb(231, 141, 44)) repeat scroll 0% 0% transparent; height: 77px; border-top: 1px solid rgb(199, 111, 71); }
#ibm-universal-nav-dw li { float: left; }
#ibm-universal-nav-dw #ibm-unav-links-dw li { padding: 24px 14px 0px 35px; }
#ibm-universal-nav-dw #ibm-menu-links-dw li { padding: 27px 13px 0px; height: 50px; }
#ibm-universal-nav-dw #ibm-menu-links-dw.ibm-menu-links-dw-cn li { padding: 27px 30px 0px; }
#ibm-universal-nav-dw #ibm-menu-links-dw.ibm-menu-links-dw-ssa li { padding: 27px 30px 0px; }
#ibm-universal-nav-dw #ibm-menu-links-dw.ibm-menu-links-dw-br li { padding: 27px 24px 0px; }
#ibm-universal-nav-dw #ibm-menu-links-dw.ibm-menu-links-dw-jp li { padding: 27px 10px 0px; }
#ibm-universal-nav-dw #ibm-menu-links-dw.ibm-menu-links-dw-kr li { padding: 27px 20px 0px; }
#ibm-universal-nav-dw #ibm-menu-links-dw.ibm-menu-links-dw-kr li { padding: 27px 22px 0px; }
#ibm-universal-nav-dw #ibm-menu-links-dw.ibm-menu-links-dw-vn li { padding: 27px 20px 0px; }
#ibm-universal-nav-dw #ibm-menu-links-dw.ibm-menu-links-dw-ru li { padding: 27px 18px 0px; }
#ibm-universal-nav-dw #ibm-menu-links-dw li:hover { background-color: rgb(208, 66, 18); }
#ibm-universal-nav-dw #ibm-menu-links-dw li.current { background-color: rgb(208, 66, 18); }
#ibm-universal-nav-dw li a { font-size: 13px; font-weight: bold; font-family: arial,sans-serif; color: rgb(255, 255, 255); text-decoration: none; }
#ibm-page-tools-dw ul, #ibm-footer-module-dw { margin: 0px; padding: 0px; }
#ibm-page-tools-dw li, #ibm-footer-module-dw li { list-style-type: none; }
#dw-footer-top-row { width: 930px; overflow: hidden; background: -moz-linear-gradient(center top , rgb(231, 141, 44), rgb(204, 84, 34)) repeat scroll 0% 0% transparent; height: 30px; border-top: 1px solid rgb(231, 105, 5); border-bottom: 1px solid rgb(153, 153, 153); }
#dw-footer-top-row li { float: left; }
#dw-footer-top-row li a { font-size: 12px; font-weight: bold; font-family: arial,sans-serif; color: rgb(255, 255, 255); text-decoration: none; }
#dw-footer-top-row #dw-foot-options li, #dw-footer-top-row #ibm-foot-options-dw li { padding: 4px 0px 12px; height: 30px; margin-left: 10px; }
#dw-footer-top-row #dw-foot-options li:hover, #dw-footer-top-row #ibm-foot-options-dw li:hover { background-color: rgb(208, 66, 18); }
#dw-footer-top-row #ibm-foot-options-dw li.current { background-color: rgb(208, 66, 18); }
#dw-footer-top-row li#dw-print { padding-right: 14px; padding-left: 10px; }
#dw-footer-top-row li#dw-foot-1, #dw-footer-top-row li#dw-foot-0 { padding-right: 10px; padding-left: 10px; }
#dw-footer-top-row li#dw-foot-0 a { background: url("arrow-down-white.gif") no-repeat scroll right center transparent; padding-right: 16px; }
#dw-footer-top-row li#dw-foot-0.dw-foot-0-jp a { background: url("arrow-down-white.gif") no-repeat scroll right center transparent; padding-right: 16px; }
#dw-footer-top-row li#dw-foot-0.dw-foot-0-ru a { background: url("arrow-down-white.gif") no-repeat scroll right center transparent; padding-right: 16px; }
#dw-footer-top-row li#dw-foot-0.dw-foot-0-kr a { background: url("arrow-down-white.gif") no-repeat scroll right center transparent; padding-right: 16px; }
#dw-footer-top-row li#dw-foot-0.dw-foot-0-vn a { background: url("arrow-down-white.gif") no-repeat scroll right center transparent; padding-right: 16px; }
#dw-footer-top-row li#dw-foot-0.dw-foot-0-ssa a { background: url("arrow-down-white.gif") no-repeat scroll right center transparent; padding-right: 16px; }
#dw-footer-top-row li#dw-foot-0.dw-foot-0-br a { background: url("arrow-down-white.gif") no-repeat scroll right center transparent; padding-right: 16px; }
#dw-footer-top-row li#dw-foot-0.dw-foot-0-cn a { background: url("arrow-down-white.gif") no-repeat scroll right center transparent; padding-right: 16px; }
#dw-footer-top-row li#dw-foot-1 a { background: url("arrow-down-white.gif") no-repeat scroll right center transparent; padding-right: 16px; }
#dw-footer-top-row li#dw-foot-1.dw-foot-1-jp a { background: url("arrow-down-white.gif") no-repeat scroll right center transparent; padding-right: 16px; }
#dw-footer-top-row li#dw-foot-1.dw-foot-1-cn a { background: url("arrow-down-white.gif") no-repeat scroll right center transparent; padding-right: 16px; }
#dw-footer-top-row li#dw-foot-1.dw-foot-1-kr a { background: url("arrow-down-white.gif") no-repeat scroll right center transparent; padding-right: 16px; }
#ibm-footer-module-dw { width: 930px; background: -moz-linear-gradient(center top , rgb(221, 221, 221), rgb(255, 255, 255)) repeat scroll 0% 0% transparent; border-bottom: 1px solid rgb(204, 204, 204); min-height: 140px; }
.ibm-ribbon-pane-dw { position: relative; overflow: hidden; width: 930px; }
.ibm-ribbon-section-dw { position: absolute; width: 20000em; }
#ibm-masthead-dw .ibm-ribbon-pane-dw .dw-mast-columns { clear: none; float: left; width: 930px; }
#ibm-page-tools-dw .ibm-ribbon-pane-dw .dw-footer-columns { clear: none; float: left; width: 930px; }
#ibm-my-menu-dw, #ibm-common-menu-dw, #dw-page-tools-menu { overflow: hidden; background: -moz-linear-gradient(center top , rgb(255, 255, 255), rgb(254, 242, 182)) repeat scroll 0% 0% transparent; display: none; font-size: 0.8em; }
#ibm-common-menu-dw, #dw-page-tools-menu { padding: 12px 0px 0px; }
#dw-page-tools-menu { padding: 12px 0px; }
#ibm-my-menu-dw .ibm-ribbon-pane-dw { height: 200px; }
#ibm-common-menu-dw .ibm-ribbon-pane-dw { height: 150px; }
#ibm-common-menu-dw .ibm-ribbon-pane-dw.dw-ribbon-pane-en { height: 154px; }
#ibm-common-menu-dw .ibm-ribbon-pane-dw.dw-ribbon-pane-jp { height: 170px; }
#dw-page-tools-menu { border-bottom: 1px solid rgb(153, 153, 153); height: 106px; }
#dw-page-tools-menu .ibm-ribbon-pane-dw { height: 120px; }
#ibm-common-menu-dw .dw-mast-columns h2 { font-size: 12px; font-weight: bold; font-family: arial,sans-serif; color: rgb(0, 0, 0); text-decoration: none; padding: 0px 0px 6px; margin: 0px; }
#ibm-my-menu-dw .dw-mast-columns h2, #dw-page-tools-menu .dw-footer-columns h2 { font-size: 12px; font-weight: bold; font-family: arial,sans-serif; color: rgb(0, 0, 0); text-decoration: none; padding: 0px 0px 10px; margin: 0px; }
#ibm-common-menu-dw .dw-mast-columns h2 a { text-decoration: none; }
#ibm-common-menu-dw .dw-mast-columns h2 a:hover { text-decoration: underline; }
#ibm-my-menu-dw li, #ibm-common-menu-dw li { padding-bottom: 5px; }
#ibm-my-menu-dw li a, #ibm-common-menu-dw li a { font-size: 12px; font-weight: normal; font-family: arial,sans-serif; color: rgb(74, 102, 148); text-decoration: none; }
#ibm-common-menu-dw li a:hover, #ibm-my-menu-dw li a:hover { text-decoration: underline; }
#ibm-common-menu-dw .dw-mast-columns ul li.dw-mast-newline { line-height: 110%; }
#dw-page-tools-menu .ibm-link-list li a, #ibm-footer-module-dw .dw-footer-columns li a { font-size: 12px; font-weight: normal; font-family: arial,sans-serif; text-decoration: none; }
#dw-page-tools-menu .ibm-link-list li a { color: rgb(74, 102, 148); }
#ibm-footer-module-dw .dw-footer-columns ul li a { color: rgb(102, 102, 102); }
#dw-page-tools-menu .ibm-link-list li a:hover, #ibm-footer-module-dw .dw-footer-columns ul li a:hover { text-decoration: underline; }
#ibm-my-menu-dw .dw-mast-columns { width: 440px; }
#ibm-common-menu-dw .dw-mast-columns { width: 760px; }
#ibm-my-menu-dw .dw-mast-col-1-1 { float: left; width: 890px; padding-bottom: 12px; margin-left: 30px; }
#ibm-my-menu-dw .dw-mast-col-1-1 #dw-mast-dname { width: 790px; }
#ibm-my-menu-dw .dw-mast-col-2-1 { float: left; width: 200px; padding-top: 16px; padding-bottom: 16px; }
#ibm-my-menu-dw .dw-mast-col-2-2 { float: left; width: 200px; padding-top: 42px; padding-bottom: 12px; }
#ibm-my-menu-dw .dw-mast-col-2-2-no-pad { float: left; width: 200px; padding-top: 16px; padding-bottom: 16px; }
#ibm-my-menu-dw .dw-mast-col-2-2.dw-mast-ibm { padding-top: 16px; }
#ibm-my-menu-dw .dw-mast-close ul, #ibm-common-menu-dw .dw-mast-close ul { margin-left: 455px; }
#ibm-my-menu-dw .dw-mast-col-1-1 .dw-mast-close ul { margin-left: 425px; }
#ibm-my-menu-dw .dw-mast-close { clear: left; }
#ibm-my-menu-dw .dw-mast-close li a { background: url("urn:not-loaded:http://dw1.s81c.com/developerworks/i/mf/close-icon.gif") no-repeat scroll 0px 0px transparent; width: 20px; height: 10px; }
#ibm-my-menu-dw .dw-mast-close li a:hover { background-position: 0px -60px; }
#ibm-my-menu-dw #dw-mast-sso .dw-mast-close .dw-mast-close-sign { padding-top: 22px; margin-left: -4px; }
#ibm-my-menu-dw #dw-mast-sso .dw-mast-close .dw-mast-close-sign-vn { padding-top: 20px; margin-left: -4px; }
#ibm-my-menu-dw #dw-mast-sso .dw-mast-close .dw-mast-close-sign-jp { padding-top: 8px; margin-left: -4px; }
#ibm-my-menu-dw #dw-mast-sso .dw-mast-close .dw-mast-close-sign-ru { padding-top: 12px; margin-left: -4px; }
#ibm-my-menu-dw #dw-mast-sso .dw-mast-close .dw-mast-close-sign-kr { padding-top: 23px; margin-left: -4px; }
#ibm-my-menu-dw #dw-mast-sso .dw-mast-close .dw-mast-close-sign-br { padding-top: 6px; margin-left: -4px; }
#ibm-my-menu-dw #dw-mast-sso .dw-mast-close .dw-mast-close-sign-ssa { padding-top: 7px; margin-left: -4px; }
#ibm-my-menu-dw #dw-mast-sso .dw-mast-close .dw-mast-close-sign-cn { padding-top: 11px; margin-left: -4px; }
#ibm-my-menu-dw #dw-mast-sso .dw-mast-close .dw-mast-close-sign {  }
@media not all {
  #ibm-my-menu-dw #dw-mast-sso .dw-mast-close .dw-mast-close-sign { padding-top: 11px; }
}
#ibm-my-menu-dw #dw-mast-dname .dw-mast-close .dw-mast-close-sign { padding-top: 16px; margin-left: 0px; }
#ibm-my-menu-dw #dw-mast-dname .dw-mast-close .dw-mast-close-sign-ru { padding-top: 25px; margin-left: 0px; }
#ibm-my-menu-dw #dw-mast-dname .dw-mast-close .dw-mast-close-sign-cn { padding-top: 18px; margin-left: 0px; }
#ibm-my-menu-dw #dw-mast-dname .dw-mast-close .dw-mast-close-sign-br { padding-top: 17px; margin-left: 0px; }
#ibm-my-menu-dw #dw-mast-dname .dw-mast-close .dw-mast-close-sign-ssa { padding-top: 17px; margin-left: 0px; }
#ibm-my-menu-dw #dw-mast-dname .dw-mast-close .dw-mast-close-sign-kr { padding-top: 40px; margin-left: 0px; }
#ibm-my-menu-dw #dw-mast-dname .dw-mast-close .dw-mast-close-sign-vn { padding-top: 25px; margin-left: 0px; }
#ibm-my-menu-dw #dw-mast-dname .dw-mast-close .dw-mast-close-sign-jp { padding-top: 20px; margin-left: 0px; }
#ibm-my-menu-dw #dw-mast-dname .dw-mast-close .dw-mast-close-sign {  }
@media not all {
  #ibm-my-menu-dw #dw-mast-dname .dw-mast-close .dw-mast-close-sign { padding-top: 15px; }
}
#ibm-my-menu-dw #dw-mast-auth .dw-mast-close .dw-mast-close-sign { padding-top: 76px; margin-left: 0px; }
#ibm-my-menu-dw .dw-mast-close .dw-mast-close-ibm { padding-top: 64px; }
#ibm-my-menu-dw .dw-mast-close .dw-mast-close-ibm-ssa { padding-top: 22px; }
#ibm-my-menu-dw .dw-mast-close .dw-mast-close-ibm-cn { padding-top: 85px; }
#ibm-my-menu-dw .dw-mast-close .dw-mast-close-lang { padding-top: 39px; }
#ibm-common-menu-dw .dw-mast-close { clear: left; }
#ibm-common-menu-dw .dw-mast-close li { padding-bottom: 0px; }
#ibm-common-menu-dw .dw-mast-close li a { background: url("urn:not-loaded:http://dw1.s81c.com/developerworks/i/mf/close-icon.gif") no-repeat scroll 0px 0px transparent; width: 20px; height: 10px; }
#ibm-common-menu-dw .dw-mast-close li a:hover { background-position: 0px -60px; }
#ibm-common-menu-dw .dw-mast-close .dw-mast-close-tech { padding-top: 9px; }
#ibm-common-menu-dw .dw-mast-close .dw-mast-close-tech {  }
#ibm-common-menu-dw .dw-mast-close .dw-mast-close-tech-vn { padding-top: 9px; }
#ibm-common-menu-dw .dw-mast-close .dw-mast-close-tech-jp { padding-top: 29px; }
#ibm-common-menu-dw .dw-mast-close .dw-mast-close-tech-br { padding-top: 5px; }
#ibm-common-menu-dw .dw-mast-close .dw-mast-close-tech-cn { padding-top: 3px; }
#ibm-common-menu-dw .dw-mast-close .dw-mast-close-tech-ssa { padding-top: 5px; }
#ibm-common-menu-dw .dw-mast-close .dw-mast-close-tech-kr { padding-top: 8px; }
#ibm-common-menu-dw .dw-mast-close .dw-mast-close-eval { padding-top: 50px; }
#ibm-common-menu-dw .dw-mast-close .dw-mast-close-eval-vn { padding-top: 38px; }
#ibm-common-menu-dw .dw-mast-close .dw-mast-close-eval-jp { padding-top: 70px; }
#ibm-common-menu-dw .dw-mast-close .dw-mast-close-eval-ru { padding-top: 38px; }
#ibm-common-menu-dw .dw-mast-close .dw-mast-close-eval-cn { padding-top: 45px; }
#ibm-common-menu-dw .dw-mast-close .dw-mast-close-eval-br { padding-top: 47px; }
#ibm-common-menu-dw .dw-mast-close .dw-mast-close-eval-ssa { padding-top: 47px; }
#ibm-common-menu-dw .dw-mast-close .dw-mast-close-event { padding-top: 50px; }
#ibm-common-menu-dw .dw-mast-close .dw-mast-close-event-jp { padding-top: 70px; }
#ibm-common-menu-dw .dw-mast-close .dw-mast-close-event-cn { padding-top: 24px; }
#ibm-common-menu-dw .dw-mast-close .dw-mast-close-comm { padding-top: 8px; }
#ibm-common-menu-dw .dw-mast-close .dw-mast-close-comm-vn { padding-top: 9px; }
#ibm-common-menu-dw .dw-mast-close .dw-mast-close-comm-jp { padding-top: 28px; }
#ibm-common-menu-dw .dw-mast-close .dw-mast-close-comm-ru { padding-top: 9px; }
#ibm-common-menu-dw .dw-mast-close .dw-mast-close-comm-cn { padding-top: 3px; }
#ibm-common-menu-dw .dw-mast-close .dw-mast-close-comm-ssa { padding-top: 5px; }
#ibm-common-menu-dw .dw-mast-close .dw-mast-close-comm-br { padding-top: 5px; }
#ibm-my-menu-dw .dw-mast-col-2-1, #ibm-common-menu-dw .dw-mast-col-1-1, #ibm-common-menu-dw .dw-mast-col-2-1, #ibm-common-menu-dw .dw-mast-col-3-1, #ibm-common-menu-dw .dw-mast-col-4-1, #ibm-common-menu-dw .dw-mast-col-5-1 { margin-left: 30px; }
#ibm-common-menu-dw .dw-mast-col-1-1 { float: left; width: 380px; }
#ibm-common-menu-dw .dw-mast-col-2-1, #ibm-common-menu-dw .dw-mast-col-2-2 { float: left; width: 200px; }
#ibm-common-menu-dw .dw-mast-col-2-2 { padding-top: 21px; }
#ibm-common-menu-dw .dw-mast-col-3-1, #ibm-common-menu-dw .dw-mast-col-3-2, #ibm-common-menu-dw .dw-mast-col-3-3 { float: left; width: 160px; }
#ibm-common-menu-dw .dw-mast-col-3-3.dw-mast-col-3-3-en { width: 180px; margin-right: 30px; }
#ibm-common-menu-dw .dw-mast-col-3-1.dw-mast-col-3-1-ru, #ibm-common-menu-dw .dw-mast-col-3-2.dw-mast-col-3-2-ru, #ibm-common-menu-dw .dw-mast-col-3-3.dw-mast-col-3-3-ru, #ibm-common-menu-dw .dw-mast-col-3-1.dw-mast-col-3-1-br, #ibm-common-menu-dw .dw-mast-col-3-2.dw-mast-col-3-2-br, #ibm-common-menu-dw .dw-mast-col-3-3.dw-mast-col-3-3-br, #ibm-common-menu-dw .dw-mast-col-3-1.dw-mast-col-3-1-ssa, #ibm-common-menu-dw .dw-mast-col-3-2.dw-mast-col-3-2-ssa, #ibm-common-menu-dw .dw-mast-col-3-3.dw-mast-col-3-3-ssa { float: left; width: 180px; }
#ibm-common-menu-dw .dw-mast-col-3-2, #ibm-common-menu-dw .dw-mast-col-3-3 { padding-top: 21px; }
#ibm-common-menu-dw .dw-mast-col-3-3.dw-mast-col-3-3-ru { padding-top: 0px; }
#ibm-common-menu-dw .dw-mast-col-3-3.dw-mast-col-3-3-br { padding-top: 0px; }
#ibm-common-menu-dw .dw-mast-col-3-3.dw-mast-col-3-3-ssa { padding-top: 0px; }
#ibm-common-menu-dw .dw-mast-col-4-1, #ibm-common-menu-dw .dw-mast-col-4-2, #ibm-common-menu-dw .dw-mast-col-4-3, #ibm-common-menu-dw .dw-mast-col-4-4 { float: left; width: 200px; }
#ibm-common-menu-dw .dw-mast-col-4-2, #ibm-common-menu-dw .dw-mast-col-4-3 { padding-top: 20px; }
#ibm-common-menu-dw .dw-mast-col-5-1, #ibm-common-menu-dw .dw-mast-col-5-2 { float: left; width: 210px; }
#ibm-common-menu-dw .dw-mast-col-5-3, #ibm-common-menu-dw .dw-mast-col-5-4 { float: left; width: 160px; }
#ibm-common-menu-dw .dw-mast-col-5-5 { float: left; width: 120px; }
#ibm-common-menu-dw .dw-mast-col-5-2, #ibm-common-menu-dw .dw-mast-col-5-3, #ibm-common-menu-dw .dw-mast-col-5-4 { padding-top: 20px; }
#ibm-common-menu-dw .dw-mast-more { float: left; width: 300px; margin-left: 20px; }
#ibm-common-menu-dw .dw-mast-more.dw-mast-more-en { width: 255px; }
#ibm-common-menu-dw .dw-mast-more ul.ibm-link-list a { padding: 0px 5px 5px 19px; }
input#pw_mf, input#ibmid_mf, input#dname_mf { width: 140px; font-family: arial,sans-serif; font-size: 0.9em; padding-left: 2px; border-top: 1px solid rgb(85, 85, 85); height: 18px; }
input#pw_mf.novalue, input#ibmid_mf.novalue, input#ibmid.novalue, input#password.novalue { border: 1px solid rgb(255, 0, 0); }
input#dname_mf { margin-right: 50px; }
input.dw-mf-submit-btn { background: url("urn:not-loaded:http://dw1.s81c.com/developerworks/i/submit.gif") no-repeat scroll 0px -80px transparent; cursor: pointer; font-size: 0px ! important; width: 93px; height: 30px; border: 0px none; margin-top: 12px; }
input.dw-mf-submit-btn:hover { background: url("urn:not-loaded:http://dw1.s81c.com/developerworks/i/submit.gif") no-repeat scroll 0px 0px transparent; }
input.dw-mf-submit-btn-jp { background: url("urn:not-loaded:http://dw1.s81c.com/developerworks/i/submit-jp.gif") no-repeat scroll 0px -80px transparent; cursor: pointer; font-size: 0px ! important; line-height: 0 ! important; color: rgb(204, 204, 204); width: 93px; height: 30px; border: 0px none; margin-top: 12px; margin-left: 20px; }
input.dw-mf-submit-btn-jp:hover { background: url("urn:not-loaded:http://dw1.s81c.com/developerworks/i/submit-jp.gif") no-repeat scroll 0px 0px transparent; }
input.dw-mf-submit-btn-cn { background: url("urn:not-loaded:http://dw1.s81c.com/developerworks/i/submit-cn.gif") no-repeat scroll 0px -80px transparent; cursor: pointer; font-size: 0px ! important; line-height: 0 ! important; color: rgb(34, 84, 118); width: 93px; height: 30px; border: 0px none; margin-top: 25px; margin-left: 20px; }
input.dw-mf-submit-btn-cn:hover { background: url("urn:not-loaded:http://dw1.s81c.com/developerworks/i/submit-cn.gif") no-repeat scroll 0px 0px transparent; }
input.dw-mf-submit-btn-ru { background: url("urn:not-loaded:http://dw1.s81c.com/developerworks/i/submit-ru.gif") no-repeat scroll 0px -80px transparent; cursor: pointer; font-size: 0px ! important; width: 93px; height: 30px; border: 0px none; margin-top: 12px; margin-left: 16px; }
input.dw-mf-submit-btn-ru:hover { background: url("urn:not-loaded:http://dw1.s81c.com/developerworks/i/submit-ru.gif") no-repeat scroll 0px 0px transparent; }
input.dw-mf-submit-btn-kr { background: url("urn:not-loaded:http://dw1.s81c.com/developerworks/i/submit-kr.gif") no-repeat scroll 0px -80px transparent; cursor: pointer; font-size: 0px ! important; line-height: 0 ! important; color: rgb(34, 84, 118); width: 93px; height: 30px; border: 0px none; margin-top: 12px; margin-left: 18px; }
input.dw-mf-submit-btn-kr:hover { background: url("urn:not-loaded:http://dw1.s81c.com/developerworks/i/submit-kr.gif") no-repeat scroll 0px 0px transparent; }
input.dw-mf-submit-btn-ssa { background: url("urn:not-loaded:http://dw1.s81c.com/developerworks/i/submit-ssa.gif") no-repeat scroll 0px -80px transparent; cursor: pointer; font-size: 0px ! important; line-height: 0 ! important; color: rgb(153, 153, 153); width: 93px; height: 30px; border: 0px none; margin-top: 12px; margin-left: 10px; }
input.dw-mf-submit-btn-ssa:hover { background: url("urn:not-loaded:http://dw1.s81c.com/developerworks/i/submit-ssa.gif") no-repeat scroll 0px 0px transparent; }
input.dw-mf-submit-btn-br { background: url("urn:not-loaded:http://dw1.s81c.com/developerworks/i/submit-br.gif") no-repeat scroll 0px -80px transparent; cursor: pointer; font-size: 0px ! important; line-height: 0 ! important; color: rgb(153, 153, 153); width: 93px; height: 30px; border: 0px none; margin-top: 12px; }
input.dw-mf-submit-btn-br:hover { background: url("urn:not-loaded:http://dw1.s81c.com/developerworks/i/submit-br.gif") no-repeat scroll 0px 0px transparent; }
input.dw-mf-submit-btn-vn { background: url("urn:not-loaded:http://dw1.s81c.com/developerworks/i/submit-vn.gif") no-repeat scroll 0px -80px transparent; cursor: pointer; font-size: 0px ! important; width: 93px; height: 30px; border: 0px none; margin-top: 12px; margin-left: 20px; }
input.dw-mf-submit-btn-vn:hover { background: url("urn:not-loaded:http://dw1.s81c.com/developerworks/i/submit-vn.gif") no-repeat scroll 0px 0px transparent; }
#dw-mast-sso-form input.dw-mf-submit-btn-br { margin-left: -2px; }
#dw-mast-dname-form input.dw-mf-submit-btn-br { margin-left: 20px; }
#dw-mast-sso, #dw-mast-dname { font-family: arial,sans-serif; font-size: 1em; }
#dw-mast-sso p, #dw-mast-dname p { font-size: 0.9em; }
#dw-mast-sso { padding-top: 4px; }
#dw-mast-sso li { font-size: 0.9em; padding: 0px 0px 0px 4px; }
#dw-mast-sso li a { font-weight: bold; }
#dw-mast-sso-form div, #dw-mast-sso-update ul, #dw-mast-dname-form div, dw-mast-sso-update div { float: left; }
#dw-mast-sso-target { width: 164px; }
#dw-mast-sso-target.dw-mast-sso-target-jp { width: 190px; }
#dw-mast-sso-target p { padding-top: 8px; padding-left: 10px; }
#dw-mast-sso-target.dw-mast-sso-target-cn p { padding-top: 8px; padding-left: 10px; }
#dw-mast-sso-target.dw-mast-sso-target-jp p { padding-top: 8px; padding-left: 10px; }
#dw-mast-sso-target p { font-size: 0.85em; }
#dw-mast-sso-target input#perm_mf { vertical-align: middle; margin: 0px; }
#dw-mast-sso-target p label { padding-left: 4px; vertical-align: middle; }
#dw-mast-sso-form { padding-top: 26px; }
#dw-mast-dname-form { margin-top: 30px; }
#dw-mast-sso-id.dw-mast-sso-id-ssa, #dw-mast-sso-pw.dw-mast-sso-pw-ssa, #dw-mast-sso-target.dw-mast-sso-target-ssa { margin-top: 6px; }
#dw-mast-sso-id.dw-mast-sso-id-br, #dw-mast-sso-pw.dw-mast-sso-pw-br, #dw-mast-sso-target.dw-mast-sso-target-br { margin-top: 6px; }
#dw-mast-sso-id.dw-mast-sso-id-vn, #dw-mast-sso-pw.dw-mast-sso-pw-vn, #dw-mast-sso-target.dw-mast-sso-target-vn { margin-top: 6px; }
#dw-mast-sso-id.dw-mast-sso-id-cn, #dw-mast-sso-pw.dw-mast-sso-pw-cn, #dw-mast-sso-target.dw-mast-sso-target-cn { margin-top: 11px; }
#dw-mast-sso-id.dw-mast-sso-id-jp, #dw-mast-sso-pw.dw-mast-sso-pw-jp, #dw-mast-sso-target.dw-mast-sso-target-jp { margin-top: 1px; }
#dw-mast-sso-target.dw-mast-sso-target-jp { margin-left: 6px; width: 190px; }
#dw-mast-sso-target.dw-mast-sso-target-kr { margin-left: 4px; width: 168px; }
#dw-mast-sso-id label, #dw-mast-sso-pw label, #dw-mast-dname-mf label { display: block; font-weight: bold; font-size: 0.9em; color: rgb(85, 85, 85); padding: 0px 0px 2px 4px; margin: 0px; }
#dw-mast-sso-id input, #dw-mast-sso-pw input { margin: 0px 16px 0px 0px ! important; padding: 0px ! important; }
#dw-mast-sso-update-id ul { width: 160px; }
#dw-mast-sso-update-id ul li { padding-bottom: 2px; }
#dw-mast-sso-update ul { margin-top: -14px; }
#dw-mast-sso-update.dw-mast-sso-update-ru ul { margin-top: -6px; }
#dw-mast-sso-update.dw-mast-sso-update-kr ul { margin-top: -4px; }
#dw-mast-sso-update.dw-mast-sso-update-jp ul { margin-top: -12px; }
#dw-mast-sso-update ul.dw-mf-pwupdate-br { margin-left: 32px; }
#dw-mast-sso-update ul.dw-mf-pwupdate-jp { margin-left: 20px; }
#dw-mast-sso-update ul.dw-mf-pwupdate-ssa { margin-left: 52px; }
#dw-mast-sso-update ul.dw-mf-pwupdate-kr { margin-left: 18px; }
#dw-mast-sso-update ul.dw-mf-pwupdate-cn { margin-left: 80px; }
#dw-mast-sso-update ul.dw-mf-pwupdate-vn { margin-left: 40px; }
#dw-mast-sso-update ul.dw-mf-pwupdate-ru { margin-left: 38px; }
#dw-mast-sso-update ul.dw-mf-pwupdate li, #dw-mast-sso-update ul.dw-mf-pwupdate-br li, #dw-mast-sso-update ul.dw-mf-pwupdate-ssa li, #dw-mast-sso-update ul.dw-mf-pwupdate-ru li, #dw-mast-sso-update ul.dw-mf-pwupdate-vn li, #dw-mast-sso-update ul.dw-mf-pwupdate-cn li, #dw-mast-sso-update ul.dw-mf-pwupdate-kr li, #dw-mast-sso-update ul.dw-mf-pwupdate-jp li { padding-bottom: 2px; }
#dw-mast-sso-terms { width: 200px; margin-left: 0px; margin-top: 19px; }
#dw-mast-sso-terms.dw-mast-sso-terms-ru, #dw-mast-sso-terms.dw-mast-sso-terms-kr { width: 210px; }
#dw-mast-dname-terms { width: 200px; }
#dw-mast-sso-terms p { font-size: 0.85em; }
#dw-mast-sso-terms p.dw-mf-perm-box { margin: 0px; padding: 0px; }
#dw-mast-sso-terms input#perm_mf { vertical-align: middle; margin: 0px 2px 0px -1px; }
#dw-mast-sso-terms p.dw-mast-sso-terms-en { margin-top: 0px; }
#dw-mast-dname-terms p { font-size: 0.85em; margin-top: 12px; }
#dw-mast-sso-terms p.dw-mast-sso-terms-br { margin-top: 2px; margin-bottom: 6px; padding-right: 4px; }
#dw-mast-dname-terms p.dw-mast-dname-terms-br { margin-top: 2px; margin-bottom: 6px; }
#dw-mast-sso-terms p.dw-mast-sso-terms-ssa, #dw-mast-dname-terms p.dw-mast-dname-terms-ssa { margin-top: 2px; margin-bottom: 6px; }
#dw-mast-sso-terms p.dw-mast-sso-terms-kr, #dw-mast-dname-terms p.dw-mast-dname-terms-kr { margin-top: 0px; margin-bottom: 0px; }
#dw-mast-sso-terms p.dw-mast-sso-terms-jp, #dw-mast-dname-terms p.dw-mast-dname-terms-jp { margin-top: 0px; margin-bottom: -6px; }
#dw-mast-sso-terms p.dw-mast-sso-terms-vn, #dw-mast-dname-terms p.dw-mast-dname-terms-vn { margin-top: 0px; margin-bottom: 0px; }
#dw-mast-sso-terms p.dw-mast-sso-terms-ru, #dw-mast-dname-terms p.dw-mast-dname-terms-ru { margin-top: 0px; margin-bottom: 0px; }
#dw-mast-sso-update, #dw-mast-sso-text, #dw-mast-sso-text-ru, #dw-mast-sso-text-br, #dw-mast-sso-text-ssa, #dw-mast-sso-text-vn { clear: left; }
#dw-mast-sso-text p { color: rgb(85, 85, 85); font-size: 0.85em; padding: 12px 30px 0px 0px; }
#dw-mast-sso-text-ru p { color: rgb(85, 85, 85); font-size: 0.85em; padding: 11px 30px 0px 0px; }
#dw-mast-sso-text-br p { color: rgb(85, 85, 85); font-size: 0.85em; padding: 3px 30px 0px 0px; margin-top: -7px; }
#dw-mast-sso-text-ssa p { color: rgb(85, 85, 85); font-size: 0.85em; padding: 2px 30px 0px 0px; margin-top: -7px; }
#dw-mast-sso-text-vn p { color: rgb(85, 85, 85); font-size: 0.85em; padding: 11px 30px 0px 0px; }
#dw-mast-dname-secure p { color: rgb(85, 85, 85); font-size: 0.85em; padding: 16px 30px 0px 0px; }
#dw-mast-sso-text-vn p.dw-mf-secure-vn, #dw-mast-sso-text p.dw-mf-secure-br, #dw-mast-sso-text-ru p.dw-mf-secure-ru, #dw-mast-sso-text-br p.dw-mf-secure-br, #dw-mast-sso-text-ssa p.dw-mf-secure-ssa, #dw-mast-sso-text p.dw-mf-secure-kr, #dw-mast-sso-text p.dw-mf-secure-jp, #dw-mast-sso-text p.dw-mf-secure-ssa, #dw-mast-sso-text p.dw-mf-secure-cn, #dw-mast-sso-text p.dw-mf-secure { float: right; padding: 0px 30px 0px 20px ! important; background: url("urn:not-loaded:http://dw1.s81c.com/i/v16/icons/lock.gif") no-repeat scroll 0px 0px transparent; line-height: 16px; }
#dw-mast-sso-text p.dw-mf-secure { margin-top: 0px; }
#dw-mast-sso-text p.dw-mf-secure-cn { margin-top: 0px; }
#dw-mast-sso-text p.dw-mf-secure-br { margin-top: -8px; }
#dw-mast-sso-text p.dw-mf-secure-ssa { margin-top: 0px; }
#dw-mast-sso-text p.dw-mf-secure-jp { margin-top: -10px; }
#dw-mast-sso-text p.dw-mf-secure-kr { margin-top: -10px; }
#dw-mast-sso-text p.dw-mf-secure-vn { margin-top: -10px; }
#dw-mast-sso-text-ru p.dw-mf-secure-ru { margin-top: -15px; }
#dw-mast-dname-secure p.dw-mf-secure-vn, #dw-mast-dname-secure p.dw-mf-secure-br, #dw-mast-dname-secure p.dw-mf-secure-ru, #dw-mast-dname-secure p.dw-mf-secure-kr, #dw-mast-dname-secure p.dw-mf-secure-ssa, #dw-mast-dname-secure p.dw-mf-secure-cn, #dw-mast-dname-secure p.dw-mf-secure { float: right; padding: 0px 0px 0px 20px ! important; background: url("urn:not-loaded:http://dw1.s81c.com/i/v16/icons/lock.gif") no-repeat scroll 0px 0px transparent; }
#dw-mast-dname-secure p.dw-mf-secure-jp { float: right; padding: 2px 0px 2px 20px ! important; background: url("urn:not-loaded:http://dw1.s81c.com/i/v16/icons/lock.gif") no-repeat scroll 0px -1px transparent; }
:first-child + html #dw-mast-dname-secure p.dw-mf-secure { background: url("urn:not-loaded:http://dw1.s81c.com/i/v16/icons/lock.gif") no-repeat scroll 0px 0px transparent; }
#dw-mast-dname-secure p.dw-mf-secure { margin-top: 0px; }
#dw-mast-dname-secure p.dw-mf-secure-vn { margin-top: 30px; }
#dw-mast-dname-secure p.dw-mf-secure-kr { margin-top: 14px; }
#dw-mast-dname-secure p.dw-mf-secure-cn { margin-top: 22px; }
#dw-mast-dname-secure p.dw-mf-secure-br { margin-top: 20px; }
#dw-mast-dname-secure p.dw-mf-secure-ssa { margin-top: 20px; }
#dw-mast-dname-secure p.dw-mf-secure-jp { margin-top: 23px; }
#dw-mast-dname-secure p.dw-mf-secure-ru { margin-top: 14px; }
#dw-mast-dname-secure { clear: left; margin-top: 20px; }
#signin_error_mf, #signin_dname_error_mf { height: 0px; }
#signin_dname_error_mf { margin-top: -11px; }
#signin_error_mf p.ibm-error, #signin_dname_error_mf p.ibm-error { background: url("urn:not-loaded:http://dw1.s81c.com/i/v16/icons/error.gif") no-repeat scroll 0px 0px transparent; padding: 0px 0px 2px 20px; line-height: 16px; display: inline; }
#signin_error_mf p.ibm-error em, #signin_dname_error_mf p.ibm-error em { font-style: normal; }
#dw-mast-auth { margin-top: 16px; }
#dw-mast-auth div { float: left; }
#dw-mast-auth div#dw-mast-notify { margin-left: 100px; }
#dw-mast-auth div.dw-mast-more { float: left; margin-left: 100px; }
#dw-mast-auth div.dw-mast-more ul.ibm-link-list a { padding: 0px 5px 5px 21px; }
a.dw-more-link { background: url("urn:not-loaded:http://dw1.s81c.com/developerworks/i/mf/blue-arrow.gif") no-repeat scroll 2px 1px transparent; margin-left: -18px ! important; }
.dw-mast-newgroup { padding-top: 20px; }
#dw-page-tools-menu .dw-footer-columns { width: 760px; }
#dw-page-tools-menu .dw-footer-col-1-1, #dw-page-tools-menu .dw-footer-col-3-1, #dw-page-tools-menu .dw-footer-col-4-1 { margin-left: 30px; }
#dw-page-tools-menu .dw-footer-col-1-1, #dw-page-tools-menu .dw-footer-col-3-1, #dw-page-tools-menu .dw-footer-col-3-2 { float: left; width: 180px; }
#dw-page-tools-menu .dw-footer-col-4-1, #dw-page-tools-menu .dw-footer-col-4-2, #dw-page-tools-menu .dw-footer-col-4-3 { float: left; width: 160px; }
#dw-page-tools-menu .dw-footer-col-3-3 { float: left; width: 300px; }
#dw-page-tools-menu .dw-footer-col-4-4 { float: left; width: 180px; }
#dw-page-tools-menu .dw-footer-col-3-2, #dw-page-tools-menu .dw-footer-col-3-3, #dw-page-tools-menu .dw-footer-col-4-2, #dw-page-tools-menu .dw-footer-col-4-3, #dw-page-tools-menu .dw-footer-col-4-4 { padding-top: 24px; }
#dw-page-tools-menu .dw-footer-close { clear: left; }
#dw-page-tools-menu .dw-footer-close ul { margin-left: 455px; }
#dw-page-tools-menu .dw-footer-close li a { background: url("urn:not-loaded:http://dw1.s81c.com/developerworks/i/mf/close-icon.gif") no-repeat scroll 0px 0px transparent; width: 20px; height: 10px; }
#dw-page-tools-menu .dw-footer-close li a:hover { background-position: 0px -60px; }
#dw-page-tools-menu .dw-footer-close .dw-footer-close-share { padding-top: 0px; }
#dw-page-tools-menu .dw-footer-close .dw-footer-close-follow { padding-top: 25px; }
#dw-page-tools-menu .dw-footer-close .dw-footer-close-follow-cn { padding-top: 50px; }
#dw-page-tools-menu .dw-footer-close .dw-footer-close-follow-jp { padding-top: 49px; }
#dw-page-tools-menu .dw-footer-close .dw-footer-close-follow-kr { padding-top: 50px; }
#dw-page-tools-menu .dw-footer-close .dw-footer-close-follow-br { padding-top: 50px; }
#ibm-footer-module-dw { padding: 14px 0px; }
#ibm-footer-module-dw .dw-footer-col-5-1, #ibm-footer-module-dw .dw-footer-col-5-2, #ibm-footer-module-dw .dw-footer-col-5-3, #ibm-footer-module-dw .dw-footer-col-5-4, #ibm-footer-module-dw .dw-footer-col-5-5 { float: left; width: 176px; }
#ibm-footer-module-dw .dw-footer-col-5-1 { margin-left: 20px; }
#ibm-footer-module-dw .dw-footer-col-5-5 { padding-top: 20px; }
#ibm-footer-module-dw .dw-footer-col-6-1, #ibm-footer-module-dw .dw-footer-col-6-2, #ibm-footer-module-dw .dw-footer-col-6-3 { float: left; width: 168px; }
#ibm-footer-module-dw .dw-footer-col-6-5, #ibm-footer-module-dw .dw-footer-col-6-6 { float: left; width: 100px; }
#ibm-footer-module-dw .dw-footer-col-6-4 { float: left; width: 130px; }
#ibm-footer-module-dw .dw-footer-col-6-1 { margin-left: 20px; }
#ibm-footer-module-dw .dw-footer-col-6-2 { padding-top: 0px; }
#ibm-footer-module-dw .dw-footer-col-6-6 { padding-left: 30px; }
#ibm-footer-module-dw .dw-footer-columns { padding-top: 5px; }
#ibm-footer-module-dw .dw-footer-columns h2 { font-size: 13px; font-weight: bold; font-family: arial,sans-serif; padding: 0px 0px 5px; margin: 0px; }
#ibm-footer-module-dw .dw-footer-columns h2.dw-footer-newgroup { padding: 20px 0px 5px; }
#ibm-footer-module-dw .dw-footer-columns h2.dw-footer-headonly { color: rgb(85, 85, 85); }
#ibm-footer-module-dw .dw-footer-columns h2.dw-footer-more { padding-top: 4px; }
#ibm-footer-module-dw .dw-footer-columns h2 a { text-decoration: none; color: rgb(74, 102, 148) ! important; }
#ibm-footer-module-dw .dw-footer-columns h2 a:hover { text-decoration: underline; }
#ibm-footer-module-dw .dw-footer-columns ul { margin: 0px; padding: 0px; }
#ibm-footer-module-dw .dw-footer-columns ul li { padding-bottom: 4px; }
#ibm-footer-module-dw .dw-footer-columns ul li.dw-footer-newline { line-height: 90%; }
#ibm-footer-module-dw .dw-footer-columns ul li.dw-footer-newline.dw-footer-newline-en { padding-top: 3px; }
.dw-footer-newgroup { padding-top: 20px; }
#ibm-footer-module-dw #dw-footer-selectlang { clear: left; }
#ibm-footer-module-dw #dw-footer-selectlang h2 { padding: 20px 0px 0px ! important; margin: 0px ! important; }
#ibm-footer-module-dw #dw-footer-selectlang h2 a { font-size: 13px; padding-left: 20px; color: rgb(85, 85, 85); }
#ibm-footer-module-dw #dw-footer-selectlang ul { display: inline; -moz-padding-start: 0px; margin-left: 12px ! important; }
#ibm-footer-module-dw #dw-footer-selectlang ul li { display: inline; padding-left: 0px ! important; }
#ibm-footer-module-dw #dw-footer-selectlang ul li a { font-size: 12px; color: rgb(102, 102, 102); text-decoration: none; padding-left: 8px; padding-right: 8px; }
#dw-mast-top-0, #dw-mast-top-1, #dw-mast-top-2, #dw-mast-top-3, #dw-mast-top-0-0, #dw-mast-top-1-0, #dw-mast-top-3-0, #dw-mast-nav-0-0, #dw-mast-nav-1-0, #dw-mast-nav-2-0, #dw-mast-nav-3-0, #dw-foot-0-0, #dw-foot-1-0 { outline: 0px none; }
:first-child + html #ibm-my-menu-dw .dw-mast-close .dw-mast-close-ibm { padding-top: 63px; }
:first-child + html #ibm-my-menu-dw #dw-mast-sso .dw-mast-close .dw-mast-close-sign { padding-top: 22px; }
:first-child + html #ibm-my-menu-dw #dw-mast-auth .dw-mast-close .dw-mast-close-sign { padding-top: 77px; }
:first-child + html #ibm-my-menu-dw #dw-mast-dname .dw-mast-close .dw-mast-close-sign { padding-top: 16px; }
:first-child + html #ibm-my-menu-dw #dw-mast-sso .dw-mast-close .dw-mast-close-sign-kr { padding-top: 12px; margin-left: -3px; }
:first-child + html #ibm-my-menu-dw #dw-mast-sso .dw-mast-close .dw-mast-close-sign-jp { padding-top: 20px; margin-left: 0px; }
:first-child + html #ibm-my-menu-dw #dw-mast-sso .dw-mast-close .dw-mast-close-sign-ru { padding-top: 10px; margin-left: -3px; }
:first-child + html #ibm-my-menu-dw #dw-mast-sso .dw-mast-close .dw-mast-close-sign-br { padding-top: 5px; margin-left: -3px; }
:first-child + html #ibm-my-menu-dw #dw-mast-sso .dw-mast-close .dw-mast-close-sign-ssa { padding-top: 5px; margin-left: -3px; }
:first-child + html #ibm-my-menu-dw #dw-mast-sso .dw-mast-close .dw-mast-close-sign-vn { padding-top: 12px; margin-left: -3px; }
:first-child + html #ibm-my-menu-dw #dw-mast-sso .dw-mast-close .dw-mast-close-sign-cn { padding-top: 12px; margin-left: -3px; }
:first-child + html #ibm-my-menu-dw #dw-mast-dname .dw-mast-close .dw-mast-close-sign-cn { padding-top: 37px; margin-left: -3px; }
:first-child + html #ibm-my-menu-dw #dw-mast-dname .dw-mast-close .dw-mast-close-sign-jp { padding-top: 7px; margin-left: 0px; }
:first-child + html #ibm-my-menu-dw #dw-mast-dname .dw-mast-close .dw-mast-close-sign-kr { padding-top: 10px; margin-left: 0px; }
:first-child + html #ibm-my-menu-dw #dw-mast-dname .dw-mast-close .dw-mast-close-sign-ru { padding-top: 8px; margin-left: 0px; }
:first-child + html #ibm-my-menu-dw #dw-mast-dname .dw-mast-close .dw-mast-close-sign-br { padding-top: 6px; margin-left: 0px; }
:first-child + html #ibm-my-menu-dw #dw-mast-dname .dw-mast-close .dw-mast-close-sign-ssa { padding-top: 6px; margin-left: 0px; }
:first-child + html #ibm-my-menu-dw #dw-mast-dname .dw-mast-close .dw-mast-close-sign-vn { padding-top: 4px; margin-left: 0px; }
:first-child + html #ibm-common-menu-dw .dw-mast-close .dw-mast-close-comm-ru { padding-top: 8px; }
:first-child + html #ibm-common-menu-dw .dw-mast-close .dw-mast-close-tech-vn { padding-top: 4px; }
:first-child + html #ibm-common-menu-dw .dw-mast-close .dw-mast-close-eval-vn { padding-top: 36px; }
:first-child + html #ibm-common-menu-dw .dw-mast-close .dw-mast-close-comm-vn { padding-top: 8px; }
:first-child + html #dw-mast-sso-form { padding-top: 16px; }
:first-child + html #dw-mast-sso-target { margin-top: 9px; }
:first-child + html #dw-mast-sso-target.dw-mast-sso-target-kr p { padding-top: 12px; padding-left: 5px; }
:first-child + html #dw-mast-sso-target.dw-mast-sso-target-jp p { padding-top: 6px; padding-left: 5px; }
:first-child + html #dw-mast-sso-target.dw-mast-sso-target-cn p { padding-top: 15px; padding-left: 10px; }
:first-child + html #dw-mast-sso-terms input#perm_box { margin: 0px 0px 0px -2px; }
:first-child + html #dw-mast-sso-terms input#perm_mf { margin: 0px 2px 0px -4px; }
:first-child + html #dw-mast-sso-update ul { margin-top: -5px; }
:first-child + html #dw-mast-sso-text p.dw-mf-secure { margin: 0px; }
:first-child + html #dw-mast-sso-text p { padding: 0px 30px 0px 0px; margin-top: 12px; }
:first-child + html #dw-mast-sso-text-ru p { padding: 0px 30px 0px 0px; margin-top: 12px; }
:first-child + html #dw-mast-sso-text-br p { padding: 0px 30px 0px 0px; margin-top: 1px; }
:first-child + html #dw-mast-sso-text-ssa p { padding: 0px 30px 0px 0px; margin-top: 1px; }
:first-child + html #dw-mast-sso-text-vn p { padding: 0px 30px 0px 0px; margin-top: 5px; }
:first-child + html #dw-mast-sso-text p.dw-mf-secure { margin-top: -18px; }
:first-child + html #dw-mast-dname p { margin: 12px 0px 0px; }
:first-child + html #signin_dname_error_mf { margin-top: 0px; }
:first-child + html #signin_dname_error_mf p.ibm-error { padding: 0px 0px 2px 20px; }
:first-child + html #dw-mast-dname-form { margin-top: 16px; }
:first-child + html #dw-mast-dname-secure p.dw-mf-secure { margin-top: 0px; }
:first-child + html input#q { color: rgb(51, 51, 51); }
:first-child + html input.ibm-btn-search.ibm-btn-search-jp { top: 19px; }
:first-child + html #dw-mast-sso-id.dw-mast-sso-id-ssa { margin-top: 10px; }
:first-child + html #dw-mast-sso-pw.dw-mast-sso-pw-ssa { margin-top: 10px; }
:first-child + html #dw-mast-sso-target.dw-mast-sso-target-ssa { margin-top: 10px; }
:first-child + html #dw-mast-sso-id.dw-mast-sso-id-br { margin-top: 10px; }
:first-child + html #dw-mast-sso-pw.dw-mast-sso-pw-br { margin-top: 10px; }
:first-child + html #dw-mast-sso-target.dw-mast-sso-target-br { margin-top: 10px; }
:first-child + html #dw-mast-sso-id.dw-mast-sso-id-vn { margin-top: 10px; }
:first-child + html #dw-mast-sso-pw.dw-mast-sso-pw-vn { margin-top: 10px; }
:first-child + html #dw-mast-sso-target.dw-mast-sso-target-vn { margin-top: 10px; }
:first-child + html #dw-mast-sso-terms.dw-mast-sso-terms-kr { width: 230px; }
:first-child + html #dw-mast-sso-update.dw-mast-sso-update-ru ul { margin-top: -8px; }
:first-child + html #dw-mast-sso-update.dw-mast-sso-update-kr ul { margin-top: -8px; }
:first-child + html #dw-mast-sso-update.dw-mast-sso-update-jp ul { margin-top: -10px; }
:first-child + html #dw-mast-sso-text p.dw-mf-secure-cn { margin-top: -10px; }
:first-child + html #dw-mast-sso-text p.dw-mf-secure-vn { margin-top: -22px; }
:first-child + html #dw-mast-sso-text p.dw-mf-secure-ssa { margin-top: -20px; }
:first-child + html #dw-mast-sso-text p.dw-mf-secure-br { margin-top: -16px; }
:first-child + html #dw-mast-sso-text p.dw-mf-secure-ru { margin-top: -16px; }
:first-child + html #dw-mast-sso-text p.dw-mf-secure-jp { margin-top: 10px; }
:first-child + html #dw-mast-sso-text p.dw-mf-secure-kr { margin-top: -16px; }
:first-child + html #dw-mast-sso-text p.dw-mf-secure-br { margin-top: -16px; }
:first-child + html #dw-mast-sso-text p.dw-mf-secure-ru { margin-top: -8px; }
:first-child + html #dw-mast-sso-terms p.dw-mast-sso-terms-ssa { margin-bottom: 0px; }
:first-child + html #dw-mast-sso-terms p.dw-mast-sso-terms-br { margin-top: 2px; margin-bottom: 0px; }
:first-child + html #dw-mast-sso-terms p.dw-mast-sso-terms-vn { margin-top: 2px; margin-bottom: 0px; }
:first-child + html #dw-mast-sso-terms p.dw-mast-sso-terms-cn { margin-top: 8px; }
:first-child + html #dw-mast-sso-terms p.dw-mast-sso-terms-kr { margin-top: 4px; margin-bottom: 0px; }
:first-child + html #dw-mast-sso-terms p.dw-mast-sso-terms-jp { margin-bottom: -12px; }
:first-child + html #dw-mast-sso-terms p.dw-mast-sso-terms-ru { margin-top: 2px; margin-bottom: 0px; }
:first-child + html #dw-mast-dname-secure p.dw-mf-secure-cn { margin-top: -24px; }
:first-child + html #dw-mast-dname-secure p.dw-mf-secure-ssa { margin-top: -18px; }
:first-child + html #dw-mast-dname-secure p.dw-mf-secure-jp { margin-top: -16px; }
:first-child + html #dw-mast-dname-secure p.dw-mf-secure-vn { margin-top: -18px; }
:first-child + html #dw-mast-dname-secure p.dw-mf-secure-br { margin-top: -18px; }
:first-child + html #dw-mast-dname-secure p.dw-mf-secure-ru { margin-top: -18px; }
:first-child + html #dw-mast-dname-secure p.dw-mf-secure-kr { margin-top: -24px; }
:first-child + html #dw-mast-sso-text p.dw-mf-secure-jp { background: url("urn:not-loaded:http://dw1.s81c.com/i/v16/icons/lock.gif") no-repeat scroll 0px 0px transparent; line-height: 16px; }
:first-child + html #dw-mast-dname-secure p.dw-mf-secure-jp { background: url("urn:not-loaded:http://dw1.s81c.com/i/v16/icons/lock.gif") no-repeat scroll 0px 0px transparent; line-height: 16px; }
