/* Effective stylesheet produced by snapshot save */
#ibm-search-form { width: 445px; }
div.ibm-landing-page #ibm-pcon { background: url("urn:not-loaded:http://dw1.s81c.com/i/v16/t/sprites-t1.gif") repeat-x scroll 0px -810px transparent; margin: 0px; padding: 10px 0px 0px; }
div.ibm-landing-page #ibm-content { background: url("c.gif") no-repeat scroll 99% 0px transparent; }
div.ibm-landing-page #ibm-content-head { min-height: 20px; }
div.ibm-landing-page #ibm-content-head ul#ibm-navigation-trail { padding: 0px 10px 5px; margin-top: 4px; }
:first-child + html div.ibm-landing-page #ibm-content-head ul#ibm-navigation-trail { margin-top: 6px; }
#dw-summary-article { width: 930px; background: -moz-linear-gradient(center top , rgb(255, 255, 255), rgb(236, 236, 236)) repeat scroll 0% 0% transparent; margin-top: 3px; border-bottom: 1px solid rgb(204, 204, 204); }
#dw-summary-article .dw-content-head { padding: 10px 10px 0px; }
#dw-summary-article .dw-content-head h1 { height: 1%; list-style-type: none; margin: 0px; padding: 0px; }
#dw-summary-article .dw-content-head p { padding-left: 4px; }
#dw-summary-article .dw-content-head em { font-family: verdana,sans-serif; font-weight: bold; font-size: 1.1em; font-style: normal; color: rgb(102, 102, 102); }
#dw-summary-article .ibm-two-column .ibm-column.ibm-first { width: 500px; float: left; padding-left: 14px; margin-bottom: 10px; }
#dw-summary-article .ibm-two-column .ibm-column.ibm-second { width: 380px; float: right; padding-right: 10px; }
#dw-summary-article div.author { font-size: 0.76em; font-family: arial,sans-serif; }
#dw-summary-article p { font-size: 0.76em; }
#dw-summary-article p { margin: 0em; padding: 0em 0em 1em; }
#dw-summary-article p.leading { line-height: 150%; }
#dw-summary-article a.ibm-external-link { background: url("urn:not-loaded:http://dw1.s81c.com/i/v16/icons/sout.gif") no-repeat scroll 0px -1px transparent; padding: 0px 0px 0px 18px; margin-left: 12px; }
#rateTxt { font-family: arial,sans-serif; font-size: 0.76em; vertical-align: 5px; }
#art-rating-widget { margin: -5px 0px 6px; width: 370px; height: 20px; }
* html #art-rating-widget { margin-bottom: 0px; }
#dw-summary-article .ibm-two-column .ibm-column.ibm-first .feedback { width: 450px; background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); padding: 6px 0px 0px; margin-top: 0px; }
#dw-summary-article .ibm-two-column .ibm-column.ibm-first .feedback p { margin-bottom: -3px; }
p.dw-feedback-icon { background: url("urn:not-loaded:http://dw1.s81c.com/developerworks/i/feedback.gif") no-repeat scroll 2px 0px transparent; }
.dw-feedback-text { padding: 0px 0px 0px 20px; color: rgb(207, 0, 0); font-weight: bold; }
#dw-related-searches-article { padding: 0px 3px; font-size: 1em; font-family: arial,sans-serif; }
#dw-related-searches-article .ibm-container.ibm-alternate-two { border-top: 1px solid rgb(204, 204, 204); }
#dw-related-searches-article .ibm-container .ibm-container-body { border-bottom: 1px solid rgb(204, 204, 204); border-left: 1px solid rgb(204, 204, 204); border-right: 1px solid rgb(204, 204, 204); }
#dw-related-searches-article .ibm-simple-show-hide .ibm-container-body { border-bottom: 1px solid rgb(255, 255, 255); border-left: 1px solid rgb(255, 255, 255); border-right: 1px solid rgb(255, 255, 255); }
#dw-related-searches-article .ibm-simple-show-hide h3 a.ibm-show-hide-link { font-family: arial,sans-serif; font-size: 1.3em; font-weight: bold; margin-left: -5px; }
#dw-related-searches-article .ibm-hideable { width: 660px; }
#dw-related-searches-article ul.ibm-twisty li .ibm-twisty-head { display: inline; margin-left: 0px; }
#dw-related-searches-article .ibm-code-sample { width: 660px; overflow: auto; padding: 2px; }
div.ibm-landing-page #ibm-content-body { background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 15px 0px; }
div.ibm-landing-page #ibm-content-main { width: 710px; padding-left: 10px; }
div.ibm-landing-page #ibm-content-sidebar { width: 190px; margin: 0px 0px 0px 730px; }
* html div.ibm-landing-page #ibm-content-sidebar { margin: 0px 0px 0px 727px; }
#ibm-top.ibm-landing-page div#ibm-page-tools { background: url("urn:not-loaded:http://dw1.s81c.com/i/v16/t/pagetools-gradient.gif") repeat-x scroll 0% 100% transparent; }
#ibm-content-main .ibm-container img.dw-icon-align { vertical-align: middle; padding: 0px; }
.smalltitle { font-size: 1.2em; font-weight: bold; }
.atitle { font-size: 1.5em; font-weight: bold; }
a span.smalltitle code, a span.smalltitle b code { font-size: 1.1em ! important; font-weight: bold; }
a span.atitle code, a span.atitle b code { font-size: 1.1em ! important; font-weight: bold; }
a span.smalltitle strong code { font-size: 1.2em ! important; }
* html a span.smalltitle strong code { font-size: 1.1em ! important; }
a span.atitle strong code { font-size: 1.2em ! important; }
* html a span.atitle strong code { font-size: 1.1em ! important; }
b { font-size: 1em; font-weight: bold; }
#ibm-content-main .ibm-container a strong, #ibm-content-main .ibm-container a b { padding: 0.3em 5px 0.7em; font-size: 0.76em; font-family: arial,sans-serif; }
#ibm-content-main .ibm-container strong a, #ibm-content-main .ibm-container b a { padding: 0.3em 5px 0.7em; font-size: 0.76em; font-family: arial,sans-serif; }
#ibm-content-main .ibm-container p strong a, #ibm-content-main .ibm-container p a strong, #ibm-content-main .ibm-container p b a, #ibm-content-main .ibm-container p a b { padding: 0em 0px; font-size: 1em; font-family: arial,sans-serif; }
#ibm-content-main .ibm-container img { padding: 0.3em 5px 0.7em; }
#ibm-content-main .ibm-container p img { padding: 0.3em 5px 0.7em 0px; }
#ibm-content-main .ibm-container ul.ibm-bullet-list { font-size: 0.76em; }
#ibm-content-main .ibm-container ul { font-size: 0.76em; }
#ibm-content-main .ibm-container ul ul { font-size: 1em; }
#ibm-content-main .ibm-container ul p { font-size: 1em; padding-left: 0px; padding-bottom: 0px; }
#ibm-content-main .ibm-container ul li a strong, #ibm-content-main .ibm-container ul li strong a, #ibm-content-main .ibm-container ul li b a, #ibm-content-main .ibm-container ul li b { font-size: 1em; }
#ibm-content-main .ibm-container ul ol { font-size: 1em; }
#ibm-content-main .ibm-container ul dl { font-size: 1em; }
#ibm-content-main .ibm-container ul div.dw-container-sidebar h2 { font-size: 1em; font-weight: bold; }
#ibm-content-main .ibm-container ul div.dw-container-sidebar div.ibm-container-body { font-size: 1em; }
#ibm-content-main .ibm-container ol { font-size: 0.76em; }
#ibm-content-main .ibm-container ol ol { font-size: 1em; }
#ibm-content-main .ibm-container ol p { font-size: 1em; padding-left: 0px; padding-bottom: 0px; }
#ibm-content-main .ibm-container ol li a strong, #ibm-content-main .ibm-container ol li strong a, #ibm-content-main .ibm-container ol li b a, #ibm-content-main .ibm-container ol li b { font-size: 1em; }
#ibm-content-main .ibm-container ol ul { font-size: 1em; }
#ibm-content-main .ibm-container ol dl { font-size: 1em; }
#ibm-content-main .ibm-container ol div.dw-container-sidebar h2 { font-size: 1em; font-weight: bold; }
#ibm-content-main .ibm-container ol div.dw-container-sidebar div.ibm-container-body { font-size: 1em; }
#ibm-content-main .ibm-container dl { font-size: 0.76em; }
#ibm-content-main .ibm-container dl dd ol { font-size: 1em; margin-top: 4px; }
#ibm-content-main .ibm-container dl dd p { font-size: 1em; margin-top: 4px; padding-left: 0px; padding-bottom: 0px; }
#ibm-content-main .ibm-container dl dd ul { font-size: 1em; margin-top: 4px; }
#ibm-content-main .ibm-container dl dd strong a, #ibm-content-main .ibm-container dl dd a strong, #ibm-content-main .ibm-container dl dd b a, #ibm-content-main .ibm-container dl dd a b { padding: 0.3em 5px 0.7em; font-size: 1em; font-family: arial,sans-serif; }
#ibm-content-main .ibm-container dl div.dw-container-sidebar h2 { font-size: 1em; font-weight: bold; }
#ibm-content-main .ibm-container dl div.dw-container-sidebar div.ibm-container-body { font-size: 1em; }
#ibm-content-main .ibm-container blockquote { font-weight: normal; font-size: 0.76em; padding: 0.3em 20px 0.7em; }
table.data-table-1 caption { background: url("urn:not-loaded:http://dw1.s81c.com/i/v16/t/sprites-t1.gif") repeat-x scroll 0px -545px rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); margin: 0px; padding: 3px 5px; height: 1%; }
table.data-table-1 caption { border-bottom: 0px none; text-align: left; }
table.data-table-1 td, table.data-table-1 th { border-top: 1px solid rgb(204, 204, 204); padding: 3px 5px; vertical-align: top; }
table.data-table-1 td, table.data-table-1 tbody th { padding: 8px 5px; }
table.data-table-1 th { background: url("urn:not-loaded:http://dw1.s81c.com/i/v16/t/text-tabs-bg.gif") repeat-x scroll 0% 0% rgb(247, 248, 252); text-align: left; }
table.data-table-1 { border-right: 1px solid rgb(204, 204, 204); border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(204, 204, 204) rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; margin-bottom: 8px; width: 100%; }
#ibm-content-main table.data-table-1 caption { font-size: 0.75em; }
#ibm-content-main table.data-table-1 th, #ibm-content-main table.data-table-1 td { font-size: 0.7em; }
#ibm-content-main table.data-table-1 th table th, #ibm-content-main table.data-table-1 th table td, #ibm-content-main table.data-table-1 td table th, #ibm-content-main table.data-table-1 td table td { font-size: 1em; }
#ibm-content-main table.data-table-1 caption em { font-weight: bold; font-style: normal; }
#ibm-content-main table.data-table-1 th p, #ibm-content-main table.data-table-1 td p, #ibm-content-main table.ibm-data-table td ul, #ibm-content-main table.ibm-data-table td ol, #ibm-content-main table.ibm-data-table td dl, #ibm-content-main table.data-table-1 td ul, #ibm-content-main table.data-table-1 td ol, #ibm-content-main table.data-table-1 td dl, #ibm-content-main table.data-table-1 th ul.ibm-link-list, #ibm-content-main table.data-table-1 td ul.ibm-link-list { font-size: 1em; }
#ibm-content-main table.data-table-1 th.tb-row { background: none repeat scroll 0% 0% rgb(255, 255, 255); font-weight: normal; }
#ibm-content-main .ibm-container dl dd table.data-table-1 th, #ibm-content-main .ibm-container dl dd table.data-table-1 td, #ibm-content-main .ibm-container ul li table.data-table-1 th, #ibm-content-main .ibm-container ul li table.data-table-1 td, #ibm-content-main .ibm-container ol li table.data-table-1 th, #ibm-content-main .ibm-container ol li table.data-table-1 td { font-size: 0.9em; }
#ibm-content-main .ibm-container dl dd table.ibm-data-table th, #ibm-content-main .ibm-container dl dd table.ibm-data-table td, #ibm-content-main .ibm-container ul li table.ibm-data-table th, #ibm-content-main .ibm-container ul li table.ibm-data-table td, #ibm-content-main .ibm-container ol li table.ibm-data-table th, #ibm-content-main .ibm-container ol li table.ibm-data-table td { font-size: 0.9em; }
#ibm-content-main .ibm-container table.ibm-data-table td strong a, #ibm-content-main .ibm-container table.ibm-data-table td a strong, #ibm-content-main .ibm-container table.ibm-data-table td b a, #ibm-content-main .ibm-container table.ibm-data-table td a b { font-size: 1em; padding-left: 0px; }
.ibm-container ul { margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-right: 5px; padding-bottom: 5px; }
.ibm-container ul li { margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-right: 5px; padding-bottom: 3px; }
.ibm-container ol { margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-right: 5px; padding-bottom: 5px; }
.ibm-container ol li { margin-top: 0px; margin-bottom: 0px; padding-top: 5px; padding-right: 5px; padding-bottom: 3px; }
.ibm-container dl { margin-top: 5px; margin-bottom: 5px; margin-left: 10px; padding-top: 0px; padding-right: 5px; padding-bottom: 0px; }
.ibm-container dl dt { margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-right: 5px; padding-bottom: 0px; }
#ibm-content-main .ibm-container p a.ibm-forward-link { background: url("urn:not-loaded:http://dw1.s81c.com/i/v16/icons/fw.gif") no-repeat scroll 0px 1px transparent; display: inline; margin: 0px; padding: 0px 0px 0px 18px; text-decoration: none; }
#ibm-content-main .ibm-container p a.ibm-external-link { background: url("urn:not-loaded:http://dw1.s81c.com/i/v16/icons/sout.gif") no-repeat scroll 0px 1px transparent; display: inline; margin: 0px; padding: 0px 0px 0px 18px; text-decoration: none; }
.displaycode { width: 694px; margin-top: 0px; margin-bottom: 0px; font-family: Andale Mono,Lucida Console,Monaco,Liberation,fixed,monospace; font-size: 11px; overflow: auto; background: none repeat scroll 0% 0% rgb(247, 247, 247) ! important; color: rgb(0, 0, 0); }
.displaycodeliquid { margin-top: 0px; margin-bottom: 0px; font-family: Andale Mono,Lucida Console,Monaco,Liberation,fixed,monospace; font-size: 11px; overflow: auto; background: none repeat scroll 0% 0% rgb(247, 247, 247) ! important; color: rgb(0, 0, 0); }
#ibm-content-main .ibm-container ol li pre.displaycode { width: 635px; }
#ibm-content-main .ibm-container ul li pre.displaycode { width: 635px; }
#ibm-content-main .ibm-container ul li ol li pre.displaycode { width: 600px; }
#ibm-content-main .ibm-container ul li ul li pre.displaycode { width: 600px; }
.dw-container-sidebar .displaycode { width: 290px; }
.dw-container-sidebar-noheading .displaycode { width: 290px; }
.boldcode { font-family: Andale Mono,Lucida Console,Monaco,fixed,monospace; font-size: 11px; font-weight: bold; }
.code-outline { background-color: rgb(247, 247, 247) ! important; border: 1px solid rgb(204, 204, 204); padding: 2px 2px 5px; }
code { font-family: monospace; font-size: small ! important; }
.ibm-container.ibm-alt-header h2 { background-image: none; background-color: rgb(247, 248, 252); }
.dw-container-sidebar { width: 320px; margin-left: 10px; float: right; }
.dw-container-sidebar .ibm-container-body { font-size: 0.76em; font-family: arial,sans-serif; padding: 5px; }
.dw-container-sidebar .ibm-container-body p { font-size: 1em ! important; padding-left: 0px ! important; }
.dw-container-sidebar .ibm-container-body ol, .dw-container-sidebar .ibm-container-body dl, .dw-container-sidebar .ibm-container-body ul { font-size: 1em ! important; }
.dw-sidebar-custom { background: none repeat scroll 0% 0% rgb(247, 247, 247) ! important; }
.dw-no-background { background: none repeat scroll 0% 0% transparent ! important; }
.dw-icomment-container { background-color: rgb(255, 255, 255); margin-bottom: 10px; width: 710px; overflow: auto; }
.dw-icomment-body { background-color: rgb(231, 238, 244); border-bottom: 1px solid rgb(204, 204, 204); width: 710px; }
.dw-icomment-body td { font-size: 0.76em; font-family: arial,sans-serif; padding-left: 5px; }
table.dw-icomment-body td p { font-size: 1em ! important; padding-left: 0px ! important; }
table.dw-icomment-body td p.ibm-item-note-alternate a { font-size: 1em ! important; }
table.dw-icomment-body td p.ibm-item-note-alternate { font-size: 0.9em ! important; padding-left: 0px ! important; }
.dw-icomment-link { text-decoration: underline; color: rgb(76, 110, 148); cursor: pointer; }
.dw-icomment-report { margin-left: 135px; }
textarea#newCmt { max-width: 90%; }
.dw-bar { color: rgb(153, 153, 153) ! important; margin: 0px 3px; }
#ibm-content-sidebar .ibm-show-hide h2 a { width: 162px; }
#ibm-content-sidebar .ibm-container-body p.dw-special-offers { padding-bottom: 0px; }
#dw-summary-article #dw-tag-this { background: url("dwtag_icon_maverick.gif") no-repeat scroll 2px 0px transparent; font-size: 0.76em; font-family: arial,sans-serif; display: inline; }
#dw-summary-article #dw-tag-this a.ibm-external-link { background: url("dwtag_icon_maverick.gif") no-repeat scroll 0px 0px transparent; margin-left: 2px; margin-right: 18px; padding-left: 19px; font-weight: bold ! important; }
#dw-summary-article #interestShow { display: inline; }
#dw-summary-article #interestShow div#dw-interest-anon { background: url("urn:not-loaded:http://dw1.s81c.com/developerworks/i/updateinterests.gif") no-repeat scroll 2px 0px transparent; font-size: 0.76em; font-family: arial,sans-serif; display: inline; }
#dw-summary-article #interestShow div#dw-interest-anon a.ibm-external-link { background: url("urn:not-loaded:http://dw1.s81c.com/developerworks/i/updateinterests.gif") no-repeat scroll 0px 0px transparent; margin-left: 2px; margin-right: 4px; padding-left: 20px; font-weight: bold ! important; color: rgb(76, 110, 148); }
#dw-summary-article #interestShow div#dw-interest-add { background: url("urn:not-loaded:http://dw1.s81c.com/developerworks/i/addinterests.gif") no-repeat scroll 2px 0px transparent; font-size: 0.76em; font-family: arial,sans-serif; display: inline; }
#dw-summary-article #interestShow div#dw-interest-add a.ibm-external-link { background: url("urn:not-loaded:http://dw1.s81c.com/developerworks/i/addinterests.gif") no-repeat scroll 0px 0px transparent; margin-left: 2px; margin-right: 4px; padding-left: 20px; font-weight: bold ! important; color: rgb(76, 110, 148); }
#dw-summary-article #interestShow div#dw-interest-remove { background: url("urn:not-loaded:http://dw1.s81c.com/developerworks/i/addedtointerest-mav.gif") no-repeat scroll 0px 0px transparent; font-size: 0.76em; font-family: arial,sans-serif; display: inline; padding-left: 18px; }
#dw-summary-article #interestShow a.dw-interest:link { text-decoration: none; font-size: 0.9em; }
#dw-summary-article #interestShow a.dw-interest:visited { text-decoration: none; color: rgb(76, 110, 148); font-size: 0.9em; }
#dw-summary-article #interestShow a.dw-interest:hover { text-decoration: underline; font-size: 0.9em; }
#ibm-top.ibm-landing-page #ibm-social-tools-sidebar { padding-bottom: 0px ! important; margin-bottom: 12px ! important; }
#dw-tag-select a:link { text-decoration: none; }
#dw-tag-select a:visited { text-decoration: none; color: rgb(76, 110, 148); }
#dw-tag-select a:hover { text-decoration: underline; }
.dw-hidetag { display: none; }
#dw-tag-help { float: right; margin-top: -18px; padding-right: 7px; }
#dw-tag-cloud li a.lotusF1 { font-size: 0.7em; }
#dw-tag-cloud li a.lotusF2 { font-size: 0.7em; font-weight: bold; }
#dw-tag-cloud li a.lotusF3 { font-size: 0.8em; }
#dw-tag-cloud li a.lotusF4 { font-size: 0.8em; font-weight: bold; }
#dw-tag-cloud li a.lotusF5 { font-size: 0.9em; font-weight: bold; }
#dw-tag-cloud a:link { text-decoration: none; }
#dw-tag-cloud a:visited { text-decoration: none; color: rgb(76, 110, 148); }
#dw-tag-cloud a:hover { text-decoration: underline; }
#dogearTagList .lotusList, #dogearTagCloud #cloud-container { overflow: auto; height: auto; }
* html #dogearTagList .lotusList { width: 168px; overflow-x: auto; overflow-y: hidden; }
* html #dogearTagCloud #cloud-container { width: 170px; overflow-x: auto; overflow-y: hidden; }
#dw-tag-cloud li a.lotusLeft { font-size: 0.7em; }
#dw-tag-cloud center { font-size: 0.7em; font-family: arial,sans-serif; color: rgb(255, 102, 0); font-weight: bold; }
#content-slider { width: 165px; height: 4px; margin: 5px 0px 5px 5px; background: none repeat scroll 0% 0% rgb(187, 187, 187); position: relative; border-width: 1px; border-style: solid; border-color: rgb(153, 153, 153) rgb(204, 204, 204); }
.ui-slider-horizontal .ui-slider-handle { margin-left: -0.1em; top: -0.3em; background: url("tagsliderhandle.gif") no-repeat scroll 0% 0% transparent; }
.ui-slider .ui-slider-handle { cursor: default; height: 1.2em; position: absolute; width: 1.2em; z-index: 2; outline: medium none; }
#dogearTagCloud .content-slider-more { font-size: 0.9em; margin-left: 5px; }
#dogearTagCloud .content-slider-less { font-size: 0.9em; margin-left: 122px; }
#dogearTagCloud #ui-slider-scale p { margin: 0px; padding: 0px; }
#dogearTagCloud #cloud-container { padding: 5px 5px 18px; }
#dogearTagCloud #cloud-container ul, #dogearTagCloud #cloud-container li { margin: 0px; padding: 0px; line-height: 100%; }
#dogearTagCloud #cloud-container li { display: inline; }
#dogearTagList ul.lotusList { margin: 0px; padding: 0px; }
#dogearTagList li { margin: 0px; list-style: none outside none; text-align: right; }
#dogearTagList ul.lotusList { font-family: arial,sans-serif; font-size: 0.7em ! important; }
#dogearTagList ul.lotusList li { color: rgb(102, 102, 102); }
#dogearTagList a.lotusLeft { font-size: 1em ! important; float: left; text-align: left; }
#dogearTagList #list-container { padding: 0px 5px; }
#dogearTagList ul.lotusList li { line-height: 130%; }
#dogearTagList ul { display: inline; }
#dogearTagList .ibm-rule, #dogearTagCloud .ibm-rule { padding-bottom: 2px; }
#dw-summary-article #dw-tag-content a:link { text-decoration: none; }
#dw-summary-article #dw-tag-content a:visited { text-decoration: none; color: rgb(76, 110, 148); }
#dw-summary-article #dw-tag-content a:hover { text-decoration: underline; }
#dw-summary-article #dw-tag-content a.dwmoretags { color: rgb(76, 110, 148); }
#dw-summary-article #dw-tag-content p { line-height: 120%; padding-bottom: 0px; }
#dw-summary-article p.dw-customize { line-height: 120%; padding-bottom: 10px; padding-top: 7px; }
#dw-summary-article #dw-tag-content #moretags { line-height: 120%; padding: 0px; }
#dw-signin { overflow: auto; height: auto; }
* html #dw-signin { width: 168px; height: auto; }
#dw-signin ul.dw-signin-links { width: 167px; }
p.dw-perm-box span { position: relative; }
input#perm { position: absolute; left: 0px; }
p.dw-perm-box span label { margin: 2px 0px 0px 24px; }
.dw-author-img { padding-bottom: 5px ! important; }
.dw-author-level-img { padding-right: 420px ! important; padding-left: 0px ! important; padding-bottom: 0px ! important; }
.dw-author-level-img-alt { padding-right: 500px ! important; padding-left: 0px ! important; padding-bottom: 0px ! important; }
table.ibm-data-table th.dw-th-center { text-align: center; }
