/* Effective stylesheet produced by snapshot save */
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("urn:not-loaded:http://ask.csdn.net/assets/fontawesome-webfont-d8970a29b6bda4953188db1bf11caa77.eot?#iefix&v=3.2.1") format("embedded-opentype"), url("urn:not-loaded:http://ask.csdn.net/assets/fontawesome-webfont-b6eacf39cdd874409fca9bbfa0fd5524.woff?v=3.2.1") format("woff"), url("urn:not-loaded:http://ask.csdn.net/assets/fontawesome-webfont-e6510d64f0dee7530f4c35b4eccbe2eb.ttf?v=3.2.1") format("truetype"), url("urn:not-loaded:http://ask.csdn.net/assets/fontawesome-webfont-4bb899176c47fb8cc6662a8929eebc8a.svg#fontawesomeregular?v=3.2.1") format("svg");
}
.clearfix::after { content: "."; height: 0px; visibility: hidden; display: block; clear: both; }
body > .pop_edit { font-family: "microsoft yahei"; clear: both; position: fixed; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(220, 220, 220); top: 50%; left: 50%; margin-left: -333px; margin-top: -270px; z-index: 1000; opacity: 0; }
body > .pop_edit * { box-sizing: border-box; }
body > .pop_edit .icon-preview.active::before { z-index: 10002; position: relative; color: rgb(0, 68, 204) ! important; }
body > .pop_edit .icon-preview.active::after { content: ""; position: absolute; z-index: 3; width: 600px; height: 40px; background: rgba(255, 255, 255, 0.7) none repeat scroll 0% 0%; margin: -10px 0px 0px -520px; }
body > .pop_edit .cm_box { position: relative; }
body > .pop_edit .cm_box .cm_dialog { position: fixed; z-index: 10000; display: none; width: 100%; height: 100%; top: 0px; left: 0px; background: rgba(0, 0, 0, 0.01) none repeat scroll 0% 0%; }
body > .pop_edit .pop_cm { position: absolute; z-index: 10001; top: 48px; margin: -5px 0px 0px 275px; width: 300px; padding: 10px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(204, 204, 204); display: none; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
body > .pop_edit .pop_cm::after, body > .pop_edit .pop_cm::before { content: ""; position: absolute; border-width: 10px; border-style: solid; border-color: transparent transparent rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; top: -20px; left: 40px; }
body > .pop_edit .pop_cm::after { border-bottom-color: rgb(255, 255, 255); top: -19px; }
body > .pop_edit .pop_cm.cm_add_img { margin-left: 310px; }
body > .pop_edit .pop_cm .nav-tabs { border-bottom: 1px solid rgb(221, 221, 221); font-size: 12px; height: 30px; margin: -5px -10px 10px; padding: 5px 10px; }
body > .pop_edit .pop_cm .nav-tabs a { border: 1px solid transparent; display: inline-block; padding: 3px 20px; color: rgb(153, 153, 153); height: 25px; text-decoration: none; }
body > .pop_edit .pop_cm .nav-tabs a.active { color: rgb(102, 102, 102); border-color: rgb(221, 221, 221) rgb(221, 221, 221) rgb(255, 255, 255); border-radius: 3px 3px 0px 0px; }
body > .pop_edit .pop_cm .tab_panel { display: none; }
body > .pop_edit .pop_cm .tab_panel.active { display: block; }
body > .pop_edit .pop_cm .set_img { height: 101px; margin: 0px; position: relative; }
body > .pop_edit .pop_cm .set_img iframe { border: 0px none; width: 100%; height: 101px; }
body > .pop_edit .pop_cm input { width: 278px; padding: 5px 10px; border: 1px solid rgb(221, 221, 221); margin-bottom: 10px; }
body > .pop_edit .pop_cm .text-right { text-align: right; }
body > .pop_edit .pop_cm .btn { font: 12px/20px "microsoft yahei"; background: rgb(153, 153, 153) none repeat scroll 0% 0%; color: rgb(255, 255, 255); display: inline-block; padding: 2px 10px; cursor: pointer; }
body > .pop_edit h3 { position: relative; font-weight: normal; font-size: 18px; color: rgb(102, 102, 102); padding-left: 19px; border-bottom: 1px solid rgb(240, 240, 240); margin-bottom: 10px; margin-top: 0px; height: 50px; line-height: 50px; font-family: microsoft yahei; }
body > .pop_edit .close { position: absolute; text-decoration: none; right: 19px; top: 8px; font-size: 30px; color: rgb(85, 85, 85); background: transparent none repeat scroll 0% 0%; }
body > .pop_edit .close:hover { color: rgb(85, 136, 204); }
body > .pop_edit .ask_float_channel:link, body > .pop_edit .ask_float_channel:visited, body > .pop_edit .ask_float_channel:hover, body > .pop_edit .ask_float_channel:focus { color: rgb(69, 139, 202); cursor: pointer; }
body > .pop_edit .ask_float_span { color: rgb(102, 102, 102); font-size: 14px; position: absolute; top: 14px; left: 70px; font-family: "microsoft yahei"; }
body > .pop_edit .context { padding: 0px 20px 10px; font-size: 16px; color: rgb(51, 51, 51); }
body > .pop_edit .success { border-top: 1px solid rgb(240, 240, 240); text-align: right; padding: 15px 20px 20px; }
body > .pop_edit .success a { display: inline-block; width: 80px; height: 28px; line-height: 28px; text-align: center; color: rgb(255, 255, 255); text-decoration: none; margin-left: 10px; font-size: 14px; }
body > .pop_edit .success .cancel { background: rgb(153, 153, 153) none repeat scroll 0% 0%; }
body > .pop_edit .success .ok { background: rgb(190, 0, 0) none repeat scroll 0% 0%; }
.ask_second { display: none; text-align: left; }
.ask_second .err_div { width: 100%; border: 1px solid rgb(255, 218, 218); margin-bottom: 5px; height: 28px; }
.ask_second .err_div .err_ico { background: transparent url("urn:not-loaded:http://c.csdnimg.cn/comm_ask/images/ph_pop_err_icon.fw.png") no-repeat scroll 0px 0px; margin-top: 6px; margin-right: 10px; margin-left: 5px; width: 16px; height: 16px; display: inline-block; float: left; }
.ask_second .err_div .err_txt { font-size: 12px; color: rgb(183, 77, 70); height: 16px; display: inline-block; margin-top: 2px; float: left; }
.ask_second .input_div { width: 100%; height: 35px; margin-right: 20px; margin-bottom: 10px; }
.ask_second .input_div input { box-sizing: border-box; font-size: 16px; color: rgb(101, 101, 101); width: 100%; height: 35px; border: 1px solid rgb(220, 220, 220); text-indent: 5px; }
.ask_second .div_tags { width: 100%; height: 35px; }
.ask_second .tags_con { width: 100%; height: 35px; font-size: 14px; padding: 0px 5px; float: left; border: 1px solid rgb(220, 220, 220); overflow-y: auto; }
.ask_second .tags_con input { height: 20px; width: 200px; border: 0px none; margin-top: 7px; float: left; outline: medium none; }
.ask_second .drt_tagRecomm { height: 20px; margin-top: 20px; margin-bottom: 15px; }
.ask_second .drt_tagRecomm .drt_tit { font-size: 14px; color: rgb(101, 101, 101); }
.ask_second .left_area { display: inline-block; float: left; }
.ask_second .left_area > * { vertical-align: middle; }
.ask_second .left_area .wyxs { font-size: 14px; color: rgb(102, 102, 102); margin-right: 10px; margin-left: 10px; }
.ask_second .left_area .cb_num { width: 157px; line-height: 23px; border: 1px solid rgb(220, 220, 220); }
.ask_second .left_area .phib_rii { text-align: left; margin-left: 10px; width: 183px; height: 20px; display: inline-block; color: rgb(249, 191, 71); }
.ask_second .left_area .phib_rii span { background: transparent url("urn:not-loaded:http://c.csdnimg.cn/comm_ask/images/ph_right_cb.fw.png") no-repeat scroll 0px 2px; display: inline-block; padding-left: 20px; height: 25px; margin-top: 0px; line-height: 21px; }
.ask_second textarea { font-size: 12px; font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif; }
.ask_second pre { margin: 0px 0px 7px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif; max-height: 600px; overflow: auto; padding: 5px; width: auto; }
.ask_second textarea, .ask_second #notes-preview { border: 1px solid rgb(128, 128, 128); }
body .searchContainer { border: 1px solid rgb(221, 221, 221); position: absolute; width: 628px; background-color: rgb(255, 255, 255); min-height: 90px; display: none; }
body .searchContainer .sTitle { margin-right: 10px; margin-left: 10px; line-height: 30px; font-size: 14px; color: rgb(101, 101, 101); border-bottom: 1px solid rgb(221, 221, 221); }
body .searchContainer .sFooter { border-top: 1px solid rgb(221, 221, 221); background-color: rgb(245, 245, 245); }
body .searchContainer .sFooter .sFirstNewAsk { float: right; margin-right: 10px; font-size: 14px; color: rgb(101, 101, 101); text-decoration: none; cursor: pointer; line-height: 27px; }
body .searchContainer .sFooter a:link { color: rgb(101, 101, 101); }
body .searchContainer .sFooter a:hover, body .searchContainer .sFooter a:focus { color: rgb(190, 26, 33); }
#com-quick-reply { cursor: pointer; border: 0px none; bottom: 82px; min-width: 40px; height: 28px; width: 90px; margin: 0px; padding: 0px; position: fixed; right: 40px; border-radius: 0px; line-height: 16px; color: rgb(255, 255, 255); background: transparent url("common_float_block.png") no-repeat scroll 0px -33px; z-index: 9999999; }
#com-quick-reply:hover { background: transparent url("common_float_block.png") no-repeat scroll -100px -33px; }
#com-quick-collect { cursor: pointer; border: 0px none; bottom: 82px; min-width: 40px; height: 28px; width: 90px; margin: 0px; padding: 0px; position: fixed; right: 40px; border-radius: 0px; line-height: 16px; color: rgb(255, 255, 255); background: transparent url("common_float_block.png") no-repeat scroll 0px -502px; z-index: 9999999; }
#com-quick-collect:hover { background: transparent url("common_float_block.png") no-repeat scroll -100px -502px; }
.pop_CA_cover { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 10000000; display: none; }
.pop.pop_CA { display: none; position: fixed; left: 50%; top: 50%; margin-left: -325px; margin-top: -179px; width: 650px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(206, 206, 206); box-shadow: 0px 0px 10px 0px rgb(206, 206, 206); z-index: 10000001; }
.pop .CA_header { height: 50px; line-height: 50px; padding: 0px 20px; border-bottom: 1px solid rgb(206, 206, 206); position: relative; text-align: left; font-size: 16px; color: rgb(51, 51, 51); }
.pop .CA_header .cancel_icon { display: block; width: 15px; height: 15px; position: absolute; right: 16px; top: 18px; background: transparent url("urn:not-loaded:http://c.csdnimg.cn/comm_ask/css/images/cancel_icon.png") no-repeat scroll center center; cursor: pointer; }
.pop .CA_header .cancel_icon:hover { opacity: 0.8; }
#com-d-top-a { cursor: pointer; border: 0px none; bottom: 40px; min-width: 40px; height: 28px; width: 90px; margin: 0px; padding: 0px; position: fixed; right: 40px; border-radius: 0px; line-height: 16px; color: rgb(255, 255, 255); display: none; background: transparent url("common_float_block.png") no-repeat scroll 0px -165px; z-index: 9999999; }
#com-d-top-a:hover { background: transparent url("common_float_block.png") no-repeat scroll -100px -165px; }
.editor-toolbar .icon-preview::before { content: ""; }
.editor-toolbar .icon-preview.active::before { content: ""; }
.editor-toolbar .icon-info::before { content: ""; }
.editor-toolbar .icon-headline::before { content: "H1"; font: bold 18px/24px "Times"; }
.editor-toolbar .icon-heading::before { content: "H2"; font: bold 18px/24px "Times"; }
.editor-toolbar .icon-code { margin-right: 6px; }
.editor-toolbar .icon-code::before { content: "</>"; font-weight: bold; letter-spacing: -3px; }
.ask_second.pop_edit .CodeMirror { width: 630px; height: 200px; }
.CodeMirror { border: 1px solid rgb(238, 238, 238); }
.CodeMirror-scroll { overflow: auto; }
.CodeMirror-lines { padding: 4px 0px; }
.CodeMirror pre { padding: 0px 4px; }
.CodeMirror-scrollbar-filler { background-color: rgb(255, 255, 255); }
.CodeMirror div.CodeMirror-cursor { border-left: 1px solid rgb(0, 0, 0); z-index: 3; }
.CodeMirror div.CodeMirror-secondarycursor { border-left: 1px solid rgb(192, 192, 192); }
.CodeMirror { position: relative; overflow: hidden; }
.CodeMirror-scroll { margin-bottom: -30px; margin-right: -30px; padding-bottom: 30px; padding-right: 30px; height: 100%; outline: medium none; position: relative; }
.CodeMirror-sizer { position: relative; }
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler { position: absolute; z-index: 6; display: none; }
.CodeMirror-vscrollbar { right: 0px; top: 0px; overflow-x: hidden; overflow-y: scroll; }
.CodeMirror-hscrollbar { bottom: 0px; left: 0px; overflow-y: hidden; overflow-x: scroll; }
.CodeMirror-scrollbar-filler { right: 0px; bottom: 0px; z-index: 6; }
.CodeMirror-lines { cursor: text; }
.CodeMirror pre { border-radius: 0px; border-width: 0px; background: transparent none repeat scroll 0% 0%; font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif; font-size: inherit; margin: 0px; white-space: pre-wrap; overflow-wrap: normal; line-height: inherit; color: inherit; z-index: 2; position: relative; overflow: visible; }
.CodeMirror-measure { position: absolute; width: 100%; height: 0px; overflow: hidden; visibility: hidden; }
.CodeMirror-measure pre { position: static; }
.CodeMirror div.CodeMirror-cursor { position: absolute; visibility: hidden; border-right: medium none; width: 0px; }
.CodeMirror-focused div.CodeMirror-cursor { visibility: visible; }
@media print {
  .CodeMirror div.CodeMirror-cursor { visibility: hidden; }
}
:-moz-full-screen { padding: 0.5em 1em; background: rgb(249, 249, 245) none repeat scroll 0% 0%; width: 100%; height: 100%; }
.editor-toolbar { position: relative; opacity: 0.6; -moz-user-select: none; }
.editor-toolbar::before, .editor-toolbar::after { display: block; content: " "; height: 1px; background: transparent linear-gradient(45deg, rgb(249, 249, 249), rgb(189, 195, 199), rgb(249, 249, 249)) repeat scroll 0% 0%; }
.editor-toolbar::before { margin-bottom: 8px; }
.editor-toolbar::after { margin-top: 8px; }
.editor-toolbar:hover { opacity: 0.8; }
.editor-toolbar a { display: inline-block; text-align: center; text-decoration: none ! important; color: rgb(44, 62, 80) ! important; width: 24px; height: 24px; font-size: 16px; margin: 0px 4px; border: 1px solid transparent; border-radius: 3px; cursor: pointer; }
.editor-toolbar a:hover, .editor-toolbar a.active { background: rgb(252, 252, 252) none repeat scroll 0% 0%; border-color: rgb(149, 165, 166); }
.editor-toolbar a::before { line-height: 24px; }
.editor-toolbar i.separator { display: inline-block; width: 0px; border-left: 1px solid rgb(217, 217, 217); border-right: 1px solid rgb(255, 255, 255); color: transparent; text-indent: -10px; margin: 0px 6px; }
.editor-toolbar i.separator:first-child { margin-left: 0px; }
.editor-toolbar i.separator:last-child { margin-right: 0px; }
.editor-statusbar { padding: 2px 5px 8px 0px; font-size: 12px; color: rgb(149, 150, 148); text-align: right; }
.editor-statusbar span { display: inline-block; min-width: 4em; margin-left: 1em; }
.editor-statusbar .lines::before { content: "lines: "; }
.editor-statusbar .words::before { content: "words: "; }
[class^="icon-"], [class*=" icon-"] { font-family: FontAwesome; font-weight: normal; font-style: normal; text-decoration: inherit; }
[class^="icon-"]::before, [class*=" icon-"]::before { text-decoration: inherit; display: inline-block; }
.icon-bold::before { content: ""; }
.icon-italic::before { content: ""; }
.icon-quote-left::before { content: ""; }
.icon-list-ul::before { content: ""; }
.icon-list-ol::before { content: ""; }
.icon-link::before { content: ""; }
.icon-picture::before { content: ""; }
.icon-reply::before { content: ""; }
.icon-share-alt::before { content: ""; }
.icon-preview::before { content: ""; }
