/* Effective stylesheet produced by snapshot save */
.bds_more { background-image: url("urn:not-loaded:http://bdimg.share.baidu.com/static/images/is.png?cdnversion=20131219") ! important; background-position: 0px 4px ! important; }
.bds_qzone { background-position: 0px -75px ! important; }
.bds_tsina { background-position: 0px -115px ! important; }
.bds_renren { background-position: 0px -195px ! important; }
.bds_tqq { background-position: 0px -235px ! important; }
