/* Effective stylesheet produced by snapshot save */
.csdn-toolbar { background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 0px; border-bottom: 1px solid rgb(233, 233, 233); font-family: "Helvetica","Tahoma, Arial","sans-serif"; font-size: 0.75em; color: rgb(51, 51, 51); line-height: 1.5em; }
.csdn-toolbar *, .csdn-toolbar *::before, .csdn-toolbar *::after { box-sizing: content-box; }
.csdn-toolbar div, .csdn-toolbar dl, .csdn-toolbar dt, .csdn-toolbar dd, .csdn-toolbar ul, .csdn-toolbar li, .csdn-toolbar h1, .csdn-toolbar h2, .csdn-toolbar h3, .csdn-toolbar h4, .csdn-toolbar h5, .csdn-toolbar h6, .csdn-toolbar pre, .csdn-toolbar code, .csdn-toolbar form, .csdn-toolbar fieldset, .csdn-toolbar legend, .csdn-toolbar input, .csdn-toolbar textarea, .csdn-toolbar p, .csdn-toolbar blockquote, .csdn-toolbar th, .csdn-toolbar td { margin: 0px; padding: 0px; line-height: 1.5em; text-align: left; }
.csdn-toolbar fieldset, .csdn-toolbar img { border: 0px none; }
.csdn-toolbar address, .csdn-toolbar caption, .csdn-toolbar cite, .csdn-toolbar code, .csdn-toolbar dfn, .csdn-toolbar em, .csdn-toolbar strong, .csdn-toolbar th, .csdn-toolbar var { font-style: normal; font-weight: normal; }
.csdn-toolbar ul { list-style: outside none none; }
.csdn-toolbar .clearfix::before, .csdn-toolbar .clearfix::after { content: " "; display: table; }
.csdn-toolbar .clearfix::after { clear: both; }
.csdn-toolbar .clearfix { overflow: visible; }
.csdn-toolbar .col-sm-2 { float: left; }
.csdn-toolbar h1, .csdn-toolbar h2, .csdn-toolbar h3, .csdn-toolbar h4, .csdn-toolbar h5, .csdn-toolbar h6 { font-family: "Helvetica","Tahoma, Arial","sans-serif"; font-weight: bold; line-height: 1.5em; color: rgb(51, 51, 51); background: transparent none repeat scroll 0% 0%; margin: 0px; text-align: left; }
.csdn-toolbar h5 { font-size: 1.16667em; }
.csdn-toolbar a:link, .csdn-toolbar a:visited { color: rgb(51, 51, 51); text-decoration: none; }
.csdn-toolbar a:hover { color: rgb(204, 0, 0); text-decoration: none; }
.csdn-toolbar a:focus { outline: medium none; }
.csdn-toolbar .col-sm-1, .csdn-toolbar .col-sm-2, .csdn-toolbar .col-sm-3, .csdn-toolbar .col-sm-4, .csdn-toolbar .col-sm-5, .csdn-toolbar .col-sm-6, .csdn-toolbar .col-sm-7, .csdn-toolbar .col-sm-8, .csdn-toolbar .col-sm-9, .csdn-toolbar .col-sm-10, .csdn-toolbar .col-sm-11 { float: left; }
.csdn-toolbar .form-horizontal .form-group::after { clear: both; }
.csdn-toolbar .form-horizontal .form-group::before, .csdn-toolbar .form-horizontal .form-group::after { content: " "; display: table; }
.csdn-toolbar .col-sm-10 { width: 86.3333%; }
.csdn-toolbar .col-sm-8 { width: 66.6667%; }
.csdn-toolbar .col-sm-4 { width: 33.3333%; }
.csdn-toolbar .col-sm-2 { width: 16.6667%; }
.csdn-toolbar .pull-left { float: left; }
.csdn-toolbar .pull-right { float: right; }
.csdn-toolbar a { color: rgb(153, 153, 153); text-decoration: none; font-size: 12px; font-weight: normal; }
.csdn-toolbar a:hover { color: rgb(51, 51, 51); }
.csdn-toolbar dl { margin: 0px; font-size: 12px; }
.csdn-toolbar ul, .csdn-toolbar li { margin: 0px; padding: 0px; }
.csdn-toolbar li { list-style: outside none none; float: left; height: 40px; width: 40px; border-style: solid; border-color: rgb(238, 238, 238) rgb(255, 255, 255) rgb(238, 238, 238) rgb(238, 238, 238); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 0px 1px; position: relative; background: transparent none repeat scroll 0% 0%; }
.csdn-toolbar input:focus, .csdn-toolbar textarea:focus { border-color: rgb(153, 204, 255); box-shadow: none; }
.csdn-toolbar .form-horizontal .form-group { margin: 0px 0px 10px; }
.csdn-toolbar .form-horizontal .form-group .ft { margin-left: 25px; padding-left: 12px; width: 362px; }
.csdn-toolbar .form-horizontal .control-label { padding: 7px 10px 0px 0px; width: 38px; text-align: right; box-sizing: border-box; }
.csdn-toolbar .form-control { display: block; width: 100%; border-radius: 0px; height: 28px; padding: 0px 7px; font-size: 14px; line-height: 1.42857; color: rgb(85, 85, 85); vertical-align: middle; background-color: rgb(255, 255, 255); background-image: none; border: 1px solid rgb(204, 204, 204); box-shadow: none; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
.csdn-toolbar .icon-hasnotes-sm, .csdn-toolbar .icon-enter-sm, .csdn-toolbar .write-icon { background-image: url("f_icon.png"); }
.csdn-toolbar .icon-enter-sm { background-position: 0px -192px; }
.csdn-toolbar .icon { background-image: url("f_icon.png"); font-size: 16px; width: 20px; height: 20px; background-position: 1px 1px; margin: 10px auto 0px; position: relative; z-index: 1001; background-repeat: no-repeat; }
.csdn-toolbar .icon .wrap { font-size: 12px; display: none; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(204, 204, 204); padding: 7px; position: absolute; top: 30px; box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.15); }
.csdn-toolbar .icon .curr-icon-wrap { border-bottom: 1px solid rgb(255, 255, 255); height: 3px; position: absolute; top: -4px; width: 41px; }
.csdn-toolbar .container { width: 960px; margin: 0px auto; }
.csdn-toolbar .container::before, .csdn-toolbar .container::after { content: " "; display: table; }
.csdn-toolbar .btn { display: inline-block; padding: 0px; margin-bottom: 0px; font-size: 14px; font-weight: normal; line-height: 28px; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; background-image: none; border: 1px solid transparent; border-radius: 0px; box-sizing: border-box; -moz-user-select: none; width: 80px; height: 28px; color: rgb(255, 255, 255); }
.csdn-toolbar .btn:focus { outline: thin dotted rgb(51, 51, 51); outline-offset: -2px; }
.csdn-toolbar .btn:hover, .csdn-toolbar .btn:focus { color: rgb(51, 51, 51); text-decoration: none; }
.csdn-toolbar .btn:active { background-image: none; outline: 0px none; box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset; }
.csdn-toolbar .btn:hover, .csdn-toolbar .btn:focus { color: rgb(255, 255, 255); }
.csdn-toolbar .btn-default:hover, .csdn-toolbar .btn-default:focus, .csdn-toolbar .btn-default:active, .csdn-toolbar .btn-default.active, .csdn-toolbar .open .dropdown-toggle.btn-default { background-color: rgb(235, 235, 235); border-color: rgb(173, 173, 173); color: rgb(238, 238, 238); }
.csdn-toolbar .btn-default:hover, .csdn-toolbar .btn-default:focus { background-color: rgb(102, 102, 102); }
.csdn-toolbar .btn-default { background-color: rgb(153, 153, 153); }
.csdn-toolbar .btn-primary { background-color: rgb(220, 60, 0); }
.csdn-toolbar .btn-primary:hover, .csdn-toolbar .btn-primary:focus { background-color: rgb(180, 50, 0); }
.csdn-toolbar .loginlink { background: transparent none repeat scroll 0% 0%; padding: 10px 13px; height: 20px; display: none; border: 0px none; }
.csdn-toolbar .logo { font-size: 12px; height: 40px; width: auto; padding: 0px; }
.csdn-toolbar .logo .icon { background-position: 0px 0px; display: block; float: left; height: 40px; line-height: 18px; margin: 0px; padding: 0px; width: 40px; }
.csdn-toolbar .logo .img { background-image: url("f_name.png"); margin-left: 10px; width: 120px; height: 40px; float: left; }
.csdn-toolbar .blog-icon { background-position: 0px -52px; }
.csdn-toolbar .search .icon { background-position: 0px -130px; }
.csdn-toolbar .search .wrap { width: 400px; padding: 10px; }
.csdn-toolbar .search .wrap .border { border: 1px solid rgb(204, 204, 204); }
.csdn-toolbar .search .wrap input { width: 356px; border: 0px none; line-height: 22px; height: 26px; padding: 0px 5px; }
.csdn-toolbar .search .wrap input:focus { border: medium none; outline: medium none; }
.csdn-toolbar .search .wrap .icon-enter-sm { height: 18px; margin-top: 4px; position: absolute; right: 15px; width: 20px; }
.csdn-toolbar .unlogin .search { border-width: 0px 1px; }
.csdn-toolbar .unlogin .search .wrap { right: -53px; }
.csdn-toolbar .unlogin .search .curr-icon-wrap { right: 41px; }
.csdn-toolbar .favor .icon { background-position: 0px -111px; }
.csdn-toolbar .favor .favor-btns { text-align: right; padding: 0px; }
.csdn-toolbar .favor .favor-btns .btn { margin-left: 4px; }
.csdn-toolbar .favor .wrap { padding: 20px; }
.csdn-toolbar .favor .checkbox label { display: block; }
.csdn-toolbar .favor .share { margin: 2px 5px 0px 0px; height: 14px; vertical-align: middle; position: static; }
@-moz-document url-prefix("") {
  .csdn-toolbar .favor .share { margin: 0px 5px 0px 0px; }
}
.csdn-toolbar .share, .csdn-toolbar x:-moz-any-link, .csdn-toolbar x:default { background: rgb(255, 0, 0) none repeat scroll 0% 0%; height: 100px; margin-top: 50px; }
.csdn-toolbar .notify .on-notify-icon { display: block ! important; }
.csdn-toolbar .notify .icon { background-position: 0px -90px; }
.csdn-toolbar .notify .icon-hasnotes-sm { background-position: -23px -196px; height: 10px; left: 23px; position: absolute; top: 9px; width: 10px; z-index: 1002; }
.csdn-toolbar .notify .number { background: rgb(220, 60, 0) none repeat scroll 0px 0px; color: rgb(255, 255, 255); font-size: 12px; height: 13px; left: 24px; line-height: 14px; position: absolute; text-align: center; top: 9px; width: 12px; z-index: 1002; }
.csdn-toolbar #header_notice_num { background: transparent none repeat scroll 0% 0% ! important; display: none; }
.csdn-toolbar .csdn_note { display: block ! important; }
.csdn-toolbar .ugc .icon { background-position: 0px -70px; }
.csdn-toolbar .ugc .p-news .icon { background-position: -42px -52px; }
.csdn-toolbar .ugc .p-news:hover .icon { background-position: -62px -52px; }
.csdn-toolbar .ugc .p-doc .icon { background-position: -42px -72px; }
.csdn-toolbar .ugc .p-doc:hover .icon { background-position: -62px -72px; }
.csdn-toolbar .ugc .p-ask .icon { background-position: -42px -131px; }
.csdn-toolbar .ugc .p-ask:hover .icon { background-position: -62px -131px; }
.csdn-toolbar .ugc .c-obj .icon { background-position: -42px -92px; }
.csdn-toolbar .ugc .c-obj:hover .icon { background-position: -62px -92px; }
.csdn-toolbar .ugc .c-code .icon { background-position: -42px -191px; }
.csdn-toolbar .ugc .c-code:hover .icon { background-position: -62px -191px; }
.csdn-toolbar .ugc .p-src .icon { background-position: -42px -170px; }
.csdn-toolbar .ugc .p-src:hover .icon { background-position: -62px -170px; }
.csdn-toolbar .ugc .p-blog .icon { background-position: -42px -111px; }
.csdn-toolbar .ugc .p-blog:hover .icon { background-position: -62px -111px; }
.csdn-toolbar .profile .icon { background-position: 0px 1px; }
.csdn-toolbar .profile .curr-icon-img { display: block; height: 20px; margin: 0px; width: 20px; }
.csdn-toolbar .apps { border-width: 0px 1px; border-right-color: rgb(238, 238, 238); }
.csdn-toolbar .apps .icon { background-position: 0px -51px; }
.csdn-toolbar .hasnew { background-position: -23px -196px; height: 10px; left: 23px; position: absolute; top: 9px; width: 10px; z-index: 1002; background-image: url("f_icon.png"); }
.csdn-toolbar .unlogin .loginlink { display: block; border-right: medium none; line-height: 24px; height: 20px; width: 60px; font-size: 12px; }
.csdn-toolbar .unlogin .favor, .csdn-toolbar .unlogin .notify, .csdn-toolbar .unlogin .ugc, .csdn-toolbar .unlogin .profile { display: none; }
.csdn_notice_tip { display: none ! important; }
.csdn-toolbar-skin-black { height: 40px; background: rgb(72, 82, 94) none repeat scroll 0% 0%; border-bottom: medium none; }
.csdn-toolbar-skin-black li { border-left: 1px solid rgb(116, 121, 126); border-right: 1px solid rgb(72, 82, 94); height: 40px; }
.csdn-toolbar-skin-black .icon .wrap { top: 30px; }
.csdn-toolbar-skin-black .icon .curr-icon-wrap { width: 41px; }
.csdn-toolbar-skin-black .apps { border-right-color: rgb(116, 121, 126); }
.csdn-toolbar-skin-black .loginlink { background: transparent none repeat scroll 0% 0%; color: rgb(221, 221, 221); }
.csdn-toolbar-skin-black .loginlink a { color: rgb(221, 221, 221); }
.csdn-toolbar-skin-black .loginlink a:hover { color: rgb(254, 254, 254); }
.csdn-toolbar-skin-black .blog-icon { background-position: -162px -52px; }
.csdn-toolbar .icon-signout { line-height: 40px; }
.csdn-toolbar .on .on-profile-icon .ft .icon-cog::before, .csdn-toolbar .on .on-profile-icon .ft .icon-signout::before { display: none; }
