/* Effective stylesheet produced by snapshot save */
#relate, .relage_t, .relate_t span, .relate_c, .relate_list, .relate_list dt, .relate_list dt img, .relate_list dd, .relate_list dd h4, .relate_list dd p, .relate_list dd p span { margin: 0px; padding: 0px; }
#relate { display: none; background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 0px 20px 20px; margin: 20px 0px; overflow: hidden; }
.relate_t { height: 35px; line-height: 35px; border-bottom: 1px solid rgb(204, 204, 204); }
.relate_t span { display: inline-block; height: 35px; border-bottom: 1px solid rgb(204, 0, 0); }
.relate_c { padding: 0px; margin-right: -40px; }
.relate_list { float: left; width: 285px; margin: 20px 40px 0px 0px; }
.relate_list dt { float: left; width: 50px; height: 50px; border: 1px solid rgb(223, 223, 223); padding: 5px; }
.relate_list dt img { height: 50px; width: 50px; }
.relate_list dd { padding-left: 20px; float: left; margin: 0px; }
.relate_list dd h4 a { font-size: 14px; color: rgb(51, 51, 51); text-decoration: none; display: block; width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.relate_list dd p { padding-top: 10px; font-size: 12px; }
.relate_list dd p span, .relate_list dd p em, .relate_list dd p i { font-style: normal; }
.relate_list dd p span { color: rgb(100, 177, 203); margin-right: 6px; }
.relate_list dd p i { margin: 0px 6px; }
#res-relatived { clear: both; }
