/* Effective stylesheet produced by snapshot save */
#tag-suggest-pop { display: none; position: fixed; z-index: 999; bottom: 0px; left: 50%; width: 680px; margin-left: -340px; }
#tag-suggest-pop * { font: 12px simsun; color: rgb(255, 255, 255); }
#tag-suggest-pop .relative { position: relative; text-align: left; padding: 0px 20px; background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%; border-radius: 6px 6px 0px 0px; }
#tag-suggest-pop .content { margin: 0px; overflow: hidden; }
#tag-suggest-pop .close { position: absolute; width: 24px; height: 24px; right: -12px; top: -12px; background: transparent url("urn:not-loaded:http://csdnimg.cn/public/common/tag-suggest-pop/images/close.png") no-repeat scroll 0% 0%; cursor: pointer; opacity: 1; }
#tag-suggest-pop .content {  }
