/* Effective stylesheet produced by snapshot save */
pre code, pre { display: block; padding: 0.3em; color: rgb(51, 51, 51); overflow-y: auto; background-color: rgb(246, 246, 246); font-size: 12px; }
pre .string, pre .tag .value, pre .phpdoc, pre .tex .formula { color: rgb(221, 17, 68); }
