/* Effective stylesheet produced by snapshot save */
.clearfix::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.clearfix { display: inline-table; }
.clearfix { display: block; }
body { text-align: left; font-family: Helvetica,Tahoma,Arial,sans-serif; font-size: 12px; line-height: 1.5; color: black; }
img { border: 0px none; }
h1 { font-size: 2em; line-height: 1.5em; margin: 0px 0px 0.5em; padding: 0px; color: black; }
h3 { font-size: 1.2em; line-height: 1.5em; margin: 0px 0px 0.5em; padding: 0px; color: black; }
h5 { font-size: 1.1em; line-height: 1.3em; margin: 0px 0px 0.25em; padding: 0px; color: black; }
p { margin: 0px; padding: 0px; }
strong, b { font-weight: bold; }
em, i { font-style: italic; }
ul { margin: 0px 0px 1.5em; padding: 0px; }
ul li { margin: 0px 0px 0.25em 30px; padding: 0px; }
dl { margin: 0px 0px 1.5em; padding: 0px; line-height: 1.4em; }
dl dt { margin: 0.25em 0px; padding: 0px; }
dl dd { margin: 0px 0px 0px 30px; padding: 0px; }
hr { height: 1px; margin: 1.5em 10px; border-bottom: thin none black; }
form { margin: 0px; padding: 0px; clear: both; }
div#content { position: relative; width: 701px; margin: 0px auto 20px; padding: 0px; text-align: left; }
div#main { float: right; width: 500px; display: inline; }
div#local { float: left; width: 200px; display: inline; }
body { margin: 0px; padding: 0px; background: white none repeat scroll 0% 0%; text-align: center; }
div#page { width: 950px; margin: 0px auto; padding: 0px; background: white none repeat scroll 0% 0%; text-align: center; }
div#header { padding: 0px; margin: 0px; color: white; background-color: white; }
div#branding { float: left; width: 200px; margin: 1px 0px; text-align: left; }
div#content { width: 100%; margin-top: 35px; }
div#footer { color: black; background-color: white; }
a { color: rgb(0, 102, 153); text-decoration: none; }
a:hover, a:active { color: rgb(188, 42, 77); text-decoration: underline; }
div#user_nav { margin: 3px 0px 0px; padding: 2px; text-align: right; float: right; }
div#user_nav a.nobg { background: transparent none repeat scroll 0% 0%; }
div#user_nav a.welcome { color: rgb(226, 136, 34); font-weight: bold; padding-right: 10px; }
div#user_nav a.welcome:hover { text-decoration: none; color: rgb(226, 136, 34); background-color: transparent; }
div#user_nav a { text-decoration: none; padding: 2px 6px 1px; color: gray; line-height: 1em; background-image: url("line_gray.gif"); background-position: right center; background-repeat: no-repeat; }
div#user_nav a:hover { text-decoration: underline; color: white; background-color: gray; }
div.quick_menu { background-color: white; border: 1px solid rgb(221, 221, 221); text-align: left; top: 30px; position: absolute; width: 70px; z-index: 9999; }
div.quick_menu a { background-image: none ! important; display: block ! important; padding: 3px 6px 3px 10px ! important; text-decoration: none ! important; line-height: 20px ! important; }
div#copyright { padding: 10px; }
div.attachments { border-top: 1px solid rgb(153, 153, 153); margin-top: 10px; }
div.attachments ul, div.postauthor ul { list-style: outside none none; }
div.attachments ul { margin: 5px; padding: 5px; border: 1px solid rgb(204, 204, 204); }
img.magplus { cursor: url("magplus.gif"), pointer; }
div.logo { float: left; padding: 2px 6px 6px 2px; background-image: url("logo_bg.gif"); background-repeat: no-repeat; }
.left { float: left; }
div#header { z-index: 2; position: relative; }
.logo a:hover { background-color: inherit; }
.news_tag { clear: both; display: block; margin: 10px 0px 5px; line-height: 20px; }
.news_tag::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.news_tag a { display: inline-block; margin: 0px 5px 5px 0px; padding: 0px 10px; background-color: rgb(170, 181, 195); border-radius: 10px; color: rgb(255, 255, 255); text-decoration: none; }
.news_tag a:hover, #suggested_tags_panel a.added { background-color: rgb(248, 123, 0); }
div#page { width: 100%; }
div#header { height: 30px; }
div#header, div#content, div#branding { margin: 0px auto; width: 950px; position: relative; }
div#blog_site_nav { float: left; margin-top: 3px; }
div#blog_site_nav a.homepage { background-image: url("logo-small.gif"); background-position: left center; background-repeat: no-repeat; padding-left: 77px; }
div#blog_site_nav a { padding: 3px 5px; line-height: 2.2em; }
a#msna { text-decoration: none; }
div#branding { float: none; padding: 10px 0px 0px; color: white; }
div#branding h1 { margin: 0px; padding-top: 8px; font-size: 30px; }
div#branding a, div#branding a:link, div#branding a:active, div#branding a:visited { color: white; text-decoration: underline; }
div#branding a:hover { color: white; text-decoration: none; }
div#branding h1 a, div#branding h1 a:link, div#branding h1 a:active, div#branding h1 a:visited { text-decoration: none; }
div#local { overflow: hidden; }
div#local h5 { margin-left: 10px; }
div#local li { margin-left: 25px; line-height: 2.1em; list-style: outside none square; }
#blog_name { padding-left: 38px; float: left; }
div#content { margin-top: 5px; }
div#local { width: 188px; border: 1px solid black; padding: 10px 3px 0px; margin: 3px 3px 0px 0px; }
div#main { width: 714px; border: 1px solid; padding: 5px 12px; margin: 3px 0px 0px 5px; overflow: hidden; }
#blog_owner { text-align: center; padding: 0px 13px; }
div#blog_owner_logo { border: 1px solid rgb(204, 204, 204); padding: 10px; }
div#blog_owner_logo img { width: 120px ! important; }
#blog_owner_name { padding-top: 5px; font-weight: bolder; }
#user_visits { margin-bottom: 20px; }
#user_visits div.left { width: 75px; overflow: hidden; }
div.user_visit { float: left; width: 75px; height: 90px; margin: 10px 0px 0px 5px; overflow: hidden; }
#blog_actions { margin-bottom: 20px; }
#blog_actions ul li { list-style: outside none none; margin-left: 10px; }
div.blog_nav { right: 20px; margin-bottom: 15px; }
div.pre_next { float: right; text-align: right; padding-top: 5px; }
div.pre_next a { padding: 0px 15px; background-repeat: no-repeat; }
div.pre_next a.pre { background-image: url("gray_east_arrow.gif"); background-position: right center; }
.blog_main { margin: auto auto 10px; width: 700px; border-bottom: 1px dotted; padding: 10px 11px 15px; }
.blog_title { margin-bottom: 15px; }
.blog_bottom { padding: 15px 0px 5px; }
.blog_bottom li { list-style: outside none none; display: inline; float: left; margin: 0px 10px 0px 0px; padding-right: 10px; border-right: 1px solid; }
.blog_bottom li.last { border-right: medium none; }
.blog_bottom a.more { padding-right: 50px; background-repeat: no-repeat; background-image: url("icon_more.gif"); background-position: right center; }
.blog_comment { margin-top: 15px; padding: 15px; border-top: 1px solid gray; width: 685px; }
.comment_title, .comment_content { padding: 3px; }
.comment_content { margin-bottom: 10px; }
div#digg_bottom { margin: 5px 0px; padding-left: 270px; display: inline-block; }
div#digg_bottom div { width: 72px; height: 50px; background-image: url("urn:not-loaded:http://www.iteye.com/images/digg_bottom.gif"); float: left; text-align: center; padding-top: 9px; margin-right: 10px; font-size: 14px; line-height: 25px; cursor: pointer; }
div#digg_bottom strong { color: white; }
#share_weibo { display: inline-block; float: right; width: 160px; height: 32px; margin: 0px; padding: 27px 5px 0px 0px; background: transparent none repeat scroll 0% 0%; color: rgb(51, 51, 51); font: 12px/32px Arial,Helvetica,sans-serif ! important; text-align: right; cursor: auto; }
#share_weibo img { margin: 0px 5px; }
#share_weibo a { background: transparent none repeat scroll 0% 0%; }
div#digg_bottom div.digged { background-image: url("digged_bottom.gif"); color: rgb(241, 78, 16); cursor: auto; }
div.blog_title h3 { font-size: 16px; padding-top: 10px; }
ul.blog_categories { list-style-type: none; margin: 0px; }
ul.blog_categories li { list-style-type: none; display: inline; padding: 0px; margin: 0px 5px 0px 0px; }
div#blog_content { font-size: 14px; line-height: 1.8em; }
#blog_navbar { margin: 0px auto; width: 950px; }
#blog_navbar li { padding: 0px; margin: 0px; }
#blog_navbar ul { margin-left: 210px; }
.blog_navbar_for { border-radius: 10px 10px 0px 0px; border: 0px none; margin-top: 10px; font-weight: bold; }
#blog_navbar li { line-height: 30px; height: 30px; float: left; list-style: outside none none; color: rgb(255, 255, 255); font-size: 15px; margin-top: 5px; padding: 0px 27px; }
#blog_navbar li a:visited { color: rgb(255, 255, 255); text-decoration: none; }
#blog_navbar .search { float: left; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 2px; width: 200px; margin: 5px; }
#blog_navbar input.button, input.submit_search { border: 0px none ! important; }
.submit_search { border: 0px none; height: 22px; width: 22px; background: transparent url("search.gif") no-repeat scroll 0% 0% ! important; }
input.search_text { border: 0px none; width: 150px ! important; height: 22px ! important; }
#fd { clear: both; }
.series::after { clear: both; content: "."; display: block; height: 0px; visibility: hidden; }
.medal_bg::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.medal_s_list::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.my_medal::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.medal_user_list::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
#medal_top_list::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
#medal_top_material::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.medal_top_son::after {  }
.medal_list dl::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.dlnewlist { padding: 18px 0px 0px; }
.dlnewlist dd { float: left; width: 60px; height: 60px; margin: 0px; }
.dlnewlist dd a { display: block; }
.dlnewlist dd a img { border: 1px solid rgb(245, 245, 245); }
.dlnewlist dt { float: left; width: 158px; margin-left: 10px; padding-top: 5px; }
.dlnewlist dt span { display: block; color: rgb(153, 153, 153); font-size: 14px; font-weight: normal; margin-top: 12px; vertical-align: middle; }
.dlnewlist dt span em { color: rgb(100, 177, 203); font-weight: normal; vertical-align: middle; font-style: normal; }
.dlnewlist dt span i { font-size: smaller; color: rgb(153, 153, 153); font-style: normal; }
.h3titles { color: rgb(51, 51, 51); font-size: 1.1em; font-weight: normal; font-family: "微软雅黑"; }
.dlnewlist { float: left; height: 60px; overflow: hidden; }
