/* Effective stylesheet produced by snapshot save */
div.topic_page, a { color: rgb(16, 138, 198); text-decoration: underline; }
a:hover { color: white; }
div.app_nav, div#page, .comment_title, tr.mouse_over { background-color: rgb(239, 250, 255); }
div#local, div#main, .blog_main, .pagination a:hover, .pagination a:active { background-color: white; border-color: rgb(16, 138, 198); }
div.nav, div#app_list div.decorate, a:hover, div#branding, input.button, input.submit, td.buttons a, .pagination span.current { background-color: rgb(16, 138, 198); }
.blog_bottom li { border-right-color: rgb(16, 138, 198); color: rgb(16, 138, 198); }
.blog_comment, div.picture_full { border-top-color: rgb(16, 138, 198); }
#blog_navbar { background-color: rgb(16, 138, 198); }
.blog_navbar_for { color: rgb(16, 138, 198); background-color: rgb(239, 250, 255); }
#blog_navbar .blog_navbar_for a:visited { color: rgb(16, 138, 198); background-color: rgb(239, 250, 255); }
#blog_navbar .blog_navbar_for a:link { color: rgb(16, 138, 198); background-color: rgb(239, 250, 255); }
