/* Effective stylesheet produced by snapshot save */
* { font-family: Arial,Helvetica,sans-serif; padding: 0px; }
body, html { background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(63, 63, 63); text-decoration: none; height: 100%; margin: 0px auto; }
table, td, div { font-size: 12px; color: rgb(63, 63, 63); text-decoration: none; }
p { font-size: 12px; color: rgb(63, 63, 63); text-decoration: none; line-height: 25px; }
A:link { text-decoration: none; }
A:visited { text-decoration: none; }
A:hover { text-decoration: none; }
A:active { text-decoration: none; }
a:hover { text-decoration: underline; }
a { color: rgb(51, 51, 51); }
a:hover { color: rgb(51, 51, 51); text-decoration: underline; }
.tb { height: 20px; padding: 3px 0px 0px; border: 1px solid rgb(218, 218, 218); border-radius: 5px; }
.btnspan { cursor: pointer; padding: 3px 8px; font-size: 14px; border: 1px solid rgb(225, 225, 225); border-radius: 5px; }
.mbtn1 { padding: 3px 20px; font-size: 14px; border-radius: 5px; }
.divyuan5 { border-radius: 5px; }
.divfloatleft { float: left; }
.divfloatright { float: right; }
.divfloatclear { clear: both; }
.divtextalignleft { text-align: left; }
.divtextaligncenter { text-align: center; }
.divtextalignright { text-align: right; }
.divmargin0auto { margin: 0px auto; }
.divbackgroundcolor { background-color: rgb(240, 240, 240); }
.divbackgroundcolor1 { background-color: rgb(249, 249, 249); }
.divborder { border: 1px solid rgb(225, 225, 225); border-radius: 5px; }
.divborderbottomdotted { border-bottom: 1px dotted rgb(218, 218, 218); }
.divtitle { margin: 10px 10px 0px; padding-bottom: 5px; border-bottom: 1px dotted rgb(218, 218, 218); }
.divtitlefont { font-size: 14px; font-weight: bold; }
.divullititle { list-style-type: decimal; margin-left: 28px; padding: 1px 10px 1px 0px; table-layout: fixed; word-break: break-all; word-wrap: break-word; }
.divmain { width: 1000px; text-align: center; min-height: 300px; height: auto ! important; margin: 0px auto; }
.divdaohang { width: 1000px; text-align: left; height: 25px; margin: 0px auto; padding-top: 10px; }
.width10px { width: 10px; }
.width120px { width: 120px; }
.width300px { width: 300px; }
.width880px { width: 880px; }
.width1000px { width: 1000px; }
.width100bi { width: 100%; }
.width30bi { width: 30%; }
.width70bi { width: 70%; }
.width100bi { width: 100%; }
.height20px { height: 20px; }
.height30px { height: 30px; }
.heightline25px { line-height: 25px; }
.heightline30px { line-height: 30px; }
.heightline25px { line-height: 25px; }
.heightline30px { line-height: 30px; }
.margintop10 { margin-top: 10px; }
.margintop20 { margin-top: 20px; }
.margintop10bottom10 { margin-top: 10px; margin-bottom: 10px; }
.margintop20bottom20 { margin-top: 20px; margin-bottom: 20px; }
.marginright20 { margin-right: 20px; }
.padding10 { padding: 10px; }
.paddingtop3 { padding-top: 3px; }
.paddingtop10 { padding-top: 10px; }
.paddingtop20 { padding-top: 20px; }
.paddingbottom10 { padding-bottom: 10px; }
.paddingbottom20 { padding-bottom: 20px; }
.paddingtop20bottom20 { padding-top: 20px; padding-bottom: 20px; }
.paddingleft10right10 { padding-left: 10px; padding-right: 10px; }
.bottomline { border-bottom: 1px solid rgb(230, 230, 230); border-top: 1px solid rgb(255, 255, 255); }
.acursorpointer { cursor: pointer; }
.colorboldHong { font-weight: bold; color: rgb(218, 70, 49); }
.colorboldlan { font-weight: bold; color: rgb(16, 101, 231); }
.colorlan { color: rgb(16, 101, 231); }
.bottomdiv { border-top: 1px solid rgb(225, 225, 225); background-color: rgb(250, 250, 250); }
.menuDiv { width: 100%; margin-top: 26px; }
.menuDiv ul { list-style: outside none none; margin: 0px; }
.menuDiv ul li { float: left; padding: 8px 12px; font-size: 14px; }
.title0 { background-color: rgb(248, 248, 248); border-width: 1px; border-style: solid; border-color: rgb(217, 217, 217); }
.title1 { background-color: rgb(248, 248, 248); border-top: 1px solid rgb(217, 217, 217); border-right: 1px solid rgb(217, 217, 217); border-bottom: 1px solid rgb(217, 217, 217); }
.taga { color: rgb(218, 70, 49); font-size: 14px; padding: 1px 10px 1px 1px; word-wrap: break-word; }
.detailtitle { padding: 15px 0px; color: rgb(2, 62, 154); font-size: 16px; font-weight: bold; }
.detail1 { margin: 20px 0px; }
.detailcontennt { text-align: left; margin: 20px 0px; font-size: 12px; line-height: 30px; word-wrap: break-word; }
.detailcontennt p { font-size: 14px; line-height: 30px; }
.detailcontennt div { font-size: 14px; line-height: 30px; }
.detailcontennt img { max-width: 680px; overflow: hidden; }
.detailpinglun1 { height: 30px; border-bottom: 1px solid rgb(225, 225, 225); }
.detailpinglun2 { float: left; text-align: center; display: block; padding: 5px 20px 4px; border-left: 1px solid rgb(225, 225, 225); border-top: 1px solid rgb(225, 225, 225); border-right: 1px solid rgb(225, 225, 225); }
.detailpinglun3 { float: left; text-align: center; display: block; padding: 10px 0px 2px 5px; }
.detailpinglundetail { line-height: 25px; word-wrap: break-word; }
.detailcai { width: 60px; margin-left: 20px; float: right; cursor: pointer; }
.detailcai1 { width: 60px; padding: 10px 0px 6px; font-size: 22px; border: 1px solid rgb(225, 225, 225); }
.detailcai2 { width: 60px; padding: 5px 0px; border-left: 1px solid rgb(225, 225, 225); border-bottom: 1px solid rgb(225, 225, 225); border-right: 1px solid rgb(225, 225, 225); }
.detailzan { width: 60px; float: right; cursor: pointer; }
.detailzan1 { width: 60px; padding: 10px 0px 6px; font-size: 22px; border: 1px solid rgb(225, 225, 225); }
.detailzan2 { width: 60px; padding: 5px 0px; border-left: 1px solid rgb(225, 225, 225); border-bottom: 1px solid rgb(225, 225, 225); border-right: 1px solid rgb(225, 225, 225); }
.detailjubao { padding: 4px 8px; color: red; font-size: 14px; font-weight: bold; border: 1px solid rgb(225, 225, 225); cursor: pointer; }
.title6 { font-size: 18px; font-weight: bold; color: rgb(93, 93, 93); }
.youqingtitle { margin: 10px 30px 10px 10px; padding: 0px 0px 5px; font-size: 14px; font-weight: bold; }
.youqingcontent { margin: 10px 30px 10px 10px; line-height: 25px; }
.pagecolorc { color: rgb(218, 70, 49); font-weight: bold; }
pre { background-color: rgb(246, 246, 246); border: 1px dotted rgb(170, 170, 170); padding: 5px; }
