/* Effective stylesheet produced by snapshot save */
.tbox { overflow: hidden; border-bottom: 1px solid rgb(234, 239, 245); width: 670px; margin: 0px 0px 8px; }
.tbox dt { height: 24px; border: 1px solid rgb(234, 239, 245); overflow: hidden; clear: both; font-size: 14px; }
.tbox dd { overflow: auto; border-right: 1px solid rgb(234, 239, 245); border-left: 1px solid rgb(234, 239, 245); width: 668px; }
.tbox dt strong { height: 30px; line-height: 25px; padding-left: 15px; padding-right: 4px; display: block; float: left; color: rgb(37, 124, 161); letter-spacing: 1px; font-size: 14px; font-weight: normal; overflow: hidden; }
.tbox dt strong a { color: rgb(37, 124, 161); }
.tbox dt strong a:hover { color: rgb(255, 51, 51); text-decoration: none; }
.light { background: none repeat scroll 0% 0% transparent; }
.light dt { height: 25px; overflow: hidden; clear: both; background-image: url("v4-title-icon.gif"); background-repeat: no-repeat; background-position: left center; text-indent: 10px; line-height: 25px; }
.light dd, .bengxia dd { overflow: hidden; width: 300px; }
.light .lightimages { width: 300px; overflow: visible; float: left; padding-top: 10px; height: auto; }
.light .lightimages li { float: left; width: 140px; overflow: auto; list-style-type: none; line-height: 25px; margin-right: 9px; clear: none; }
.light .lightimages li img { height: 100px; width: 138px; float: left; border: 1px solid rgb(204, 204, 204); }
dt.light strong { color: rgb(153, 153, 153); font-size: 14px; }
.c1 { padding: 4px 0px; clear: right; }
.c1 li { height: 27px; line-height: 27px; overflow: hidden; background-image: url("ico-2.gif"); background-repeat: no-repeat; background-position: left 11px; }
.ico2 li { background-image: url("ico-2.gif"); background-repeat: no-repeat; background-position: left 11px; padding-left: 10px; }
.project { float: left; width: 300px; overflow: auto; margin-bottom: 10px; height: auto; }
.project h2 { background-image: url("v4-title-icon1.gif"); background-repeat: no-repeat; line-height: 25px; font-size: 14px; text-indent: 10px; background-position: left center; font-weight: bold; color: rgb(198, 0, 0); }
.project .projectlist { width: 290px; float: left; overflow: auto; margin-top: 5px; margin-bottom: 5px; height: auto; }
.project .projectlist ul { background-image: url("v4-sort3.png"); background-repeat: no-repeat; background-position: left 5px; }
.project .projectlist li { text-indent: 20px; list-style-type: none; line-height: 25px; }
.cloud { float: left; width: 298px; overflow: auto; margin-top: 10px; border: 1px solid rgb(234, 239, 245); margin-bottom: 10px; }
.cloud { float: left; width: 298px; overflow: auto; margin-top: 10px; border: 1px solid rgb(234, 239, 245); margin-bottom: 10px; }
