/* Effective stylesheet produced by snapshot save */
.pleft { width: 670px; float: left; overflow: auto; }
.place { height: 30px; line-height: 30px; text-indent: 10px; color: rgb(153, 153, 153); overflow: hidden; text-align: left; width: 668px; border: 1px solid rgb(234, 239, 245); }
.place strong { font-weight: normal; letter-spacing: 1px; }
.place a:link, .place a:visited { color: rgb(153, 153, 153); text-decoration: none; }
.place a:hover { color: rgb(204, 204, 204); }
.pright { width: 300px; float: right; overflow: hidden; }
.dede_pages ul { float: left; padding: 12px 0px 12px 16px; list-style-type: none; }
.viewbox { width: 620px; overflow: hidden; margin-bottom: 10px; padding-right: 24px; padding-left: 24px; border-right: 1px solid rgb(234, 239, 245); border-bottom: 1px solid rgb(234, 239, 245); border-left: 1px solid rgb(234, 239, 245); }
.viewbox .title { line-height: 40px; padding-top: 10px; height: auto; width: 610px; margin: 0px auto; }
.viewbox .title h1 { font-size: 24px; color: rgb(0, 0, 0); font-weight: bold; text-align: center; }
.viewbox .info { height: 30px; line-height: 30px; overflow: hidden; color: rgb(153, 153, 153); width: 610px; float: left; text-align: center; }
.viewbox .info small { margin-left: 8px; margin-right: 3px; color: rgb(153, 153, 153); font-size: 12px; }
.viewbox .info a { color: rgb(153, 153, 153); }
.viewbox .info a:hover { color: rgb(204, 204, 204); text-decoration: none; }
.viewbox .content { font-size: 14px; line-height: 25px; color: rgb(51, 51, 51); width: 620px; margin-right: auto; margin-left: auto; overflow: hidden; }
.viewbox .content img { border: 1px solid rgb(204, 204, 204); }
.viewbox .content a { color: rgb(0, 85, 154); font-size: 14px; text-decoration: underline; }
.viewbox .content p { margin: 10px 0px; }
.viewbox .tag { line-height: 30px; font-size: 14px; clear: both; height: 30px; width: 610px; float: left; }
.viewbox .tag a:visited { color: rgb(0, 85, 154); font-size: 14px; }
.viewbox .cloud { float: left; height: auto; width: 610px; }
.viewbox .relevant { width: 610px; float: left; height: auto; margin-top: 10px; }
.viewbox .relevant h2 { font-size: 14px; line-height: 25px; color: rgb(0, 0, 0); font-weight: normal; }
.viewbox .relevant ul { margin: 0px; padding: 0px; }
.viewbox .relevant li { font-size: 12px; line-height: 25px; list-style-type: none; }
.viewbox .relevant li span { color: rgb(153, 153, 153); font-size: 12px; margin-left: 10px; }
.viewbox .dede_pages { width: 610px; float: none; overflow: hidden; text-align: center; }
.viewbox .dede_pages ul { margin: 0px auto; float: none; clear: both; overflow: hidden; text-align: center; white-space: nowrap; }
.viewbox .boxoff { height: 10px; overflow: hidden; clear: both; background: url("boxoff.gif") repeat-x scroll left 15px transparent; margin: 4px auto; padding-top: 10px; }
.viewbox .boxoff strong { display: block; width: 8px; height: 10px; overflow: hidden; font-size: 0px; line-height: 100px; background: url("boxoff.gif") no-repeat scroll right -10px transparent; float: left; }
.viewbox .newdigg { width: 406px; height: 51px; overflow: hidden; margin-top: 8px; margin-bottom: 8px; }
.viewbox .diggbox { width: 195px; height: 51px; float: left; margin-right: 8px; overflow: hidden; cursor: pointer; }
.viewbox .diggbox .digg_act { font-size: 14px; float: left; line-height: 31px; text-indent: 32px; height: 29px; overflow: hidden; font-weight: bold; }
.viewbox .diggbox .digg_num { float: left; line-height: 29px; text-indent: 5px; }
.viewbox .diggbox .digg_percent { width: 180px; clear: both; padding-left: 10px; overflow: hidden; }
.viewbox .diggbox .digg_percent .digg_percent_bar { width: 100px; height: 7px; background: none repeat scroll 0% 0% rgb(232, 232, 232); border-right: 1px solid rgb(204, 204, 204); float: left; overflow: hidden; margin-top: 3px; }
.viewbox .diggbox .digg_percent .digg_percent_num { font-size: 10px; float: left; padding-left: 10px; }
.viewbox .diggbox .digg_percent .digg_percent_bar span { display: block; height: 5px; overflow: hidden; background: none repeat scroll 0% 0% rgb(0, 0, 0); }
.viewbox .newdigg .digg_good { background: url("newdigg-bg.png") no-repeat scroll left top transparent; }
.viewbox .newdigg .digg_bad { background: url("newdigg-bg.png") no-repeat scroll right top transparent; }
.viewbox .newdigg .digg_good .digg_act { color: rgb(204, 51, 0); }
.viewbox .newdigg .digg_good .digg_num { color: rgb(204, 102, 51); }
.viewbox .newdigg .digg_bad .digg_act { color: rgb(51, 102, 204); }
.viewbox .newdigg .digg_bad .digg_num { color: rgb(51, 153, 204); }
.viewbox .newdigg .digg_good .digg_percent .digg_percent_bar span { border: 1px solid rgb(227, 127, 36); background: none repeat scroll 0% 0% rgb(255, 197, 53); }
.viewbox .newdigg .digg_bad .digg_percent .digg_percent_bar span { border: 1px solid rgb(104, 154, 204); background: none repeat scroll 0% 0% rgb(148, 192, 228); }
.viewbox .handle { height: 59px; padding-top: 12px; overflow: hidden; clear: both; }
.viewbox .handle .context { float: left; }
.viewbox .handle .context ul li a { line-height: 29px; }
.viewbox .handle .context li { display: block; width: 350px; word-break: keep-all; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: rgb(153, 153, 153); }
.viewbox .articlecntcp { font-size: 12px; line-height: 23px; padding: 10px; border-left: 7px solid rgb(37, 124, 161); width: 583px; overflow: auto; color: rgb(153, 153, 153); }
.viewbox .actbox { width: 250px; text-align: center; float: right; overflow: auto; }
.viewbox .actbox h3 a { font-size: 14px; line-height: 25px; color: rgb(153, 153, 153); font-weight: normal; text-decoration: none; }
.viewbox .actbox h3 a:hover { color: rgb(204, 204, 204); }
.viewbox .actbox ul { margin-top: 5px; margin-right: auto; margin-left: auto; }
.viewbox .actbox ul li { display: inline; padding-left: 22px; background-image: url("actbox-ico.gif"); background-repeat: no-repeat; margin-right: 10px; }
.viewbox .actbox ul li a { color: rgb(153, 153, 153); }
.viewbox .actbox ul li a:hover { color: rgb(204, 204, 204); text-decoration: none; }
.viewbox .actbox ul li#act-fav { background-position: 4px 0px; }
.viewbox .actbox ul li#act-err { background-position: 4px -37px; }
.viewbox .actbox ul li#act-pus { background-position: 4px -73px; }
.viewbox .actbox ul li#act-pnt { background-position: 4px -109px; }
