BODY {
scrollbar-face-color:#3396ff;
scrollbar-highlight-color:#FFFFFF;
scrollbar-3dlight-color:#3367ff;
scrollbar-darkshadow-color:#3366ff;
scrollbar-shadow-color:#336699;
scrollbar-arrow-color:#FFFFFF;
scrollbar-track-color:#E0E0E0;
}
A:unknown {
	COLOR: black; FONT-SIZE: 12px; TEXT-DECORATION: none; FONT-WEIGHT: normal
}
A:link {
	COLOR: black; FONT-SIZE: 12px; TEXT-DECORATION: none; FONT-WEIGHT: normal
}
A:visited {
	COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none; FONT-WEIGHT: normal
}
A:hover {
	COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: underline; FONT-WEIGHT: normal
}
A.black:hover {
	COLOR: black; TEXT-DECORATION: none
}
A.black:unknown {
	TEXT-DECORATION: none
}
A.black:link {
	COLOR: black; TEXT-DECORATION: none
}
A.black:visited {
	COLOR: black; TEXT-DECORATION: none
}
A.top:unknown {
	TEXT-DECORATION: none
}
A.top:link {
	COLOR: #000000; TEXT-DECORATION: none; face: Arial
}
A.top:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.top:hover {
	COLOR: red; TEXT-DECORATION: none
}
A.l2:link { COLOR: #336699; FONT-SIZE: 12px; LINE-HEIGHT: 14px; TEXT-DECORATION: none } 
A.l2:visited { COLOR: #336699; FONT-SIZE: 12px; LINE-HEIGHT: 14px; TEXT-DECORATION: none } 
A.l2:hover { COLOR: #000000; FONT-SIZE: 12px; LINE-HEIGHT: 14px; TEXT-DECORATION: underline } 
A.l3:link { COLOR: #cc3333; FONT-SIZE: 14px; FONT-WEIGHT: bolder; LINE-HEIGHT: 18px } 
A.l3:visited { COLOR: #cc3333; FONT-SIZE: 14px; FONT-WEIGHT: bolder; LINE-HEIGHT: 18px } 
A.l3:hover { COLOR: #000000; FONT-SIZE: 14px; FONT-WEIGHT: bolder; LINE-HEIGHT: 18px }
A.normal:unknown {
	COLOR: black; FONT-SIZE: 12px; TEXT-DECORATION: none; FONT-WEIGHT: normal
}
A.normal:link {
	COLOR: black; FONT-SIZE: 12px; TEXT-DECORATION: none; FONT-WEIGHT: normal
}
A.normal:visited {
	COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none; FONT-WEIGHT: normal
}
A.normal:hover {
	COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: underline; FONT-WEIGHT: normal
}
.title1 {
	FONT-SIZE: 14pt; LINE-HEIGHT: 120%
}
.title3 {
	FONT-SIZE: 12pt; LINE-HEIGHT: 120%
}
.title2 {
	FONT-SIZE: 14px; LINE-HEIGHT: 120%; TEXT-DECORATION: underline
}
TR {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 145%; FONT-FAMILY: Arial
}
TD {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 145%; FONT-FAMILY: Arial
}
.tdmain {
	FONT-SIZE: 11pt; COLOR: #000000; LINE-HEIGHT: 19pt
}
.td1 {
	BORDER-RIGHT: #006699 1px solid; BORDER-TOP: #006699 1px solid; BORDER-LEFT: #006699 1px solid; BORDER-BOTTOM: #006699 1px solid
}
.td2 {
	BORDER-RIGHT: #006699 1px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: #006699 1px solid
}
.td3 {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: #006699 1px solid; BORDER-BOTTOM: #006699 1px solid
}
.td4 {
	BORDER-RIGHT: #ff9933 1px solid; BORDER-TOP: #ff9933 1px solid; BORDER-LEFT: #ff9933 1px solid; BORDER-BOTTOM: #ff9933 1px solid
}
.FormText {
	BORDER-RIGHT: #0066cc 1px solid; BORDER-TOP: #0066cc 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #0066cc 1px solid; CURSOR: hand; LINE-HEIGHT: 150%; BORDER-BOTTOM: #0066cc 1px solid; BACKGROUND-COLOR: #f1f5fa
}
.FormText1 {
	BORDER-RIGHT: #0066cc 1px solid; BORDER-TOP: #0066cc 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #0066cc 1px solid; LINE-HEIGHT: 120%; BORDER-BOTTOM: #0066cc 1px solid; BACKGROUND-COLOR: #f1f5fa
}
.p1{
		font-size:9pt;
}
.p2{
		font-size:9pt;line-height:14pt;
}
.p3{
		font-size:14.8px;
}
.p4{
		font-size:14.8px;line-height:14pt;
}
.p5{
		font-size:12pt;line-height:14pt;
}
INPUT{
		BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #cccccc; PADDING-BOTTOM: 1px; BORDER-TOP-COLOR: #cccccc; PADDING-TOP: 1px; HEIGHT: 18px; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #cccccc
}
.gray-link {
	FONT-SIZE: 9pt; COLOR: #a6a6a6; LINE-HEIGHT: 12pt; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.gray-link:link {
	FONT-SIZE: 9pt; COLOR: #a6a6a6; LINE-HEIGHT: 12pt; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.gray-link:visited {
	FONT-SIZE: 9pt; COLOR: #a6a6a6; LINE-HEIGHT: 12pt; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.gray-link:active {
	FONT-SIZE: 9pt; COLOR: #a6a6a6; LINE-HEIGHT: 12pt; FONT-FAMILY: 宋体; TEXT-DECORATION: underline
}
.gray-link:hover {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 12pt; FONT-FAMILY: 宋体; TEXT-DECORATION: underline
}
.filter1 {
	FILTER: DropShadow(Color=#ff0000, OffX=1, OffY=1, Positive=yes)
}
.filter2 {
	FILTER: DropShadow(Color=#006699, OffX=1, OffY=1, Positive=yes)
}
.filter3 {
	FILTER: DropShadow(Color=#000000, OffX=1, OffY=1, Positive=yes)
}
.filter4 {
	FILTER: DropShadow(Color=#666600, OffX=1, OffY=1, Positive=yes)
}
.filter5 {
	FILTER: DropShadow(Color=#993300, OffX=1, OffY=1, Positive=yes)
}
.filter6 {
	FILTER: DropShadow(Color=#006600, OffX=1, OffY=1, Positive=yes)
}

.rtable {TABLE-LAYOUT: fixed; word-wrap:break-word}
.text {  font-size: 13px; line-height: 22px; width:100%; word-break: break-all}
.3dfont {FILTER: glow(color=ffffff,strength=0) shadow(color=aaaaaa,direction:135); POSITION: relative; WIDTH: 100%; font-size:11pt}
.3dfont2 {FILTER: glow(color=ffffff,strength=0) shadow(color=aaaaaa,direction:135); POSITION: relative; WIDTH: 100%; font-size:12pt}
.gen { font-size : 12px; }
.genmed { font-size : 12px; }
.gensmall { font-size : 12px; }
.gen,.genmed,.gensmall { color : #000000; }
.helpline {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM-STYLE: none
}
.codeStyle {	padding-right: 0.5em; margin-top: 1em; padding-left: 0.5em;  font-size: 14pt; margin-bottom: 1em; padding-bottom: 0.5em; margin-left: 0pt; padding-top: 0.5em;  background-color: #ffffff;  }
.classLink {	font-size: 14pt; color: #ff0000;  }
.online {color: #0000ff;}
