/* Effective stylesheet produced by snapshot save */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0px; padding: 0px; word-wrap: break-word; }
body, html, input { font: 12px/1.5 tahoma,arial,宋体,sans-serif; }
img { border: medium none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
h5 { font-size: 14px; }
input, label, img, th { vertical-align: middle; }
.hidden { display: none; }
.clear::after, .main::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.bk, .bk3, .bk6, .bk8, .bk10, .bk15, .bk20, .bk30 { clear: both; font-size: 1px; height: 0px; line-height: 1px; }
.bk10 { height: 10px; }
.text-c { text-align: center; }
