/* Effective stylesheet produced by snapshot save */
.mt20 { margin-top: 20px; }
body { font-family: "微软雅黑"; background: rgb(229, 229, 229) none repeat scroll 0% 0%; overflow-x: hidden; }
a { text-decoration: none; }
a:link { text-decoration: none; }
.label { font-weight: normal; padding: 0.3em 0.6em; }
.navbar-default { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.navbar-nav { padding: 20px 0px; }
@media (min-width: 768px) {
  .navbar-nav > li > a { padding-top: 3px; padding-bottom: 3px; }
  .navbar-nav > li { margin: 0px 9px; }
}
.hot-news.media-list { padding: 0px; margin: 0px; }
.hot-news.media-list .media-object { display: block; }
.hot-news.media-list .media { margin-top: 15px; border-bottom: 1px solid rgb(221, 221, 221); padding-bottom: 15px; }
.hot-news.media-list .media:first-child { margin-top: 0px; }
.hot-news.media-list .media:last-child { padding-bottom: 0px; border: medium none; }
.hot-news.media-list .media-body { height: 40px; }
.hot-news.media-list .btnbox span { margin-right: 10px; }
.hot-news.media-list h5 { margin-top: 0px; line-height: 20px; margin-bottom: 5px; height: 40px; }
.advertising img { max-width: 100%; margin: 0px 0px 20px; }
.activity.panel-body { padding-bottom: 0px; position: relative; max-height: 500px; overflow-y: auto; }
.activity.panel-body .lines { position: absolute; width: 2px; background: rgb(204, 204, 204) none repeat scroll 0% 0%; top: 30px; bottom: 0px; }
.activity ul { margin: 0px; padding-left: 20px; }
.activity ul li { list-style-type: none; padding: 15px 0px; border-bottom: 1px solid rgb(221, 221, 221); position: relative; }
.activity ul li .state { width: 21%; }
.activity ul li .state .label { width: 100%; display: inline-block; }
.activity ul li .text { width: 79%; padding-left: 10px; box-sizing: border-box; }
.activity ul li .date { margin-top: 5px; color: rgb(153, 153, 153); }
.activity ul li .date span { padding-right: 15px; }
.activity ul li:first-child { padding-top: 0px; }
.activity ul li:last-child { border: medium none; margin-bottom: 0px; }
.activity ul li .dot { background: rgb(255, 255, 255) none repeat scroll 0% 0%; display: inline-block; position: absolute; left: -24px; line-height: 14px; top: 17px; }
.activity ul li:first-child .dot { top: 10px; }
.activity ul li .dot em { display: inline-block; width: 8px; height: 8px; border-radius: 50%; background: rgb(0, 172, 238) none repeat scroll 0% 0%; }
.new-show h2.title { font-size: 18px; font-weight: bold; font-family: "微软雅黑"; margin: 0px; }
.new-show .adress { margin-top: 10px; }
.new-show .adress span { color: rgb(153, 153, 153); padding-right: 15px; }
.new-show .adress .glyphicon { background: transparent url("icon.png") no-repeat scroll 0% 0%; width: 13px; height: 13px; margin-right: 5px; padding-right: 5px; }
.new-show .adress .glyphicon-timea { background-position: -14px 0px; }
.new-show .adress .glyphicon-hits { background: transparent url("hits-icon.png") no-repeat scroll 0% 0%; width: 13px; height: 13px; margin-right: 5px; padding-right: 5px; }
.new-show .new-detailed { color: rgb(102, 102, 102); font-size: 12px; line-height: 1.8; word-break: break-all; }
footer { background: rgb(63, 63, 63) none repeat scroll 0% 0%; color: rgb(252, 252, 255); padding: 0px 0px 10px; margin: 20px 0px 0px; }
footer dl { margin: 0px; padding: 0px; }
footer dl dt { border-bottom: 1px dashed rgb(252, 252, 255); padding-bottom: 5px; font-size: 16px; font-weight: 600; font-family: "Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif; color: rgb(255, 255, 255); margin: 0px 0px 15px; }
footer dl dd { margin-top: 3px; font-size: 13px; color: rgb(177, 209, 232); }
footer dl dd p { text-align: justify; }
footer dl dd b { height: 6px; width: 6px; border-radius: 50%; display: inline-block; background: rgb(0, 172, 238) none repeat scroll 0% 0%; margin: 0px 10px 2px 0px; }
footer dl dd a { color: rgb(177, 209, 232); }
footer dl dd a:hover { color: rgb(248, 255, 255); text-decoration: none; }
footer .sao { margin-top: 10px; color: rgb(136, 139, 144); text-align: right; }
.footer-bottom { background: rgb(43, 43, 43) none repeat scroll 0% 0%; color: rgb(255, 255, 255); height: 40px; }
.footer-bottom .foot-info { margin: 10px 0px 0px; }
footer .dba { text-align: right; }
@media (max-width: 768px) {
  footer .sao, footer .dba { text-align: left; }
}
@media (max-width: 767px) {
  .media-left, .media > .pull-left { padding-right: 0px; width: 100%; }
}
.new-detailed p, .campaign-detail p { color: rgb(126, 126, 126); }
.new-detailed img, .campaign-detail img { max-width: 100%; }
@media (max-width: 767px) {
  .media-body { width: 100%; padding: 0px 0px 0px 10px; display: block; }
  .hot-news.media-list .btnbox span { margin: 0px 0px 0px 10px; }
  .new-show .new-detailed { word-break: break-all; width: 100%; }
}
.side-pannel { position: fixed; z-index: 99; right: 30px; bottom: 50px; padding: 0px; margin: 0px; }
.side-bar { border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(231, 231, 231) rgb(231, 231, 231) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; bottom: 100px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.side-bar a { display: block; cursor: pointer; width: 40px; height: 40px; border-bottom: 1px solid rgb(231, 231, 231); position: relative; color: rgb(103, 103, 103); text-align: center; }
.side-bar a s { display: block; margin-left: auto; margin-right: auto; }
.side-bar a.qr s { position: absolute; }
.side-bar a.qr i { width: 128px; height: 128px; position: absolute; right: 40px; top: 50%; margin-top: -109px; display: none; background-position: 0px 0px; }
.side-bar a.qr:hover i { display: block; }
.side-bar a.qr i { background-image: url("dma.png"); }
.g-icon-top { height: 40px; width: 40px; background-image: url("bottomicon-top.png"); }
.g-icon-qr1 { height: 40px; width: 40px; background-image: url("bottomicon-weixin.png"); }
.g-icon-qr2 { height: 40px; width: 40px; background-image: url("bottomicon-weibo.png"); }
.relative { position: relative; }
.media { background-color: rgb(255, 255, 255); border-radius: 4px; padding: 20px; }
@media (min-width: 768px) {
  .media-body { padding: 0px 0px 0px 10px; }
}
