/* Effective stylesheet produced by snapshot save */
.syntaxhighlighter { background-color: white ! important; }
.syntaxhighlighter .line.alt1 { background-color: white ! important; }
.syntaxhighlighter .line.alt2 { background-color: white ! important; }
.syntaxhighlighter .gutter { color: rgb(175, 175, 175) ! important; }
.syntaxhighlighter .gutter .line { border-right: 3px solid rgb(108, 226, 108) ! important; }
.syntaxhighlighter .plain, .syntaxhighlighter .plain a { color: black ! important; }
.syntaxhighlighter .comments, .syntaxhighlighter .comments a { color: rgb(0, 130, 0) ! important; }
.syntaxhighlighter .string, .syntaxhighlighter .string a { color: blue ! important; }
.syntaxhighlighter .keyword { color: rgb(0, 102, 153) ! important; }
.syntaxhighlighter .value { color: rgb(0, 153, 0) ! important; }
.syntaxhighlighter .keyword { font-weight: bold ! important; }
