/* Effective stylesheet produced by snapshot save */
@import url("font-awesome.css");
@import url("font-awesome-ie7.css");
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, xmp { border: 0px none; margin: 0px; padding: 0px; font-size: 100%; }
html, body { height: 100%; }
a { text-decoration: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, video { display: block; }
b, strong { font-weight: bold; }
img { color: transparent; font-size: 0px; vertical-align: middle; }
li { display: list-item; }
table { border-collapse: collapse; border-spacing: 0px; }
th, td, caption { font-weight: normal; vertical-align: top; text-align: left; }
q::before, q::after { content: none; }
body { min-width: 960px; background: rgb(221, 221, 221) none repeat scroll 0% 0%; color: rgb(51, 51, 51); position: relative; }
.container { display: block; width: 960px; margin: 0px auto; }
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 { display: block; margin: 0px 10px; float: left; }
.grid-2 { width: 140px; }
.grid-4 { width: 300px; }
.grid-8 { width: 620px; }
.grid-12 { width: 940px; }
.container .container { margin-left: -10px; }
.container .grid-4 .container { width: 320px; }
.container .grid-8 .container { width: 640px; }
@media only screen and (min-width: 768px) and (max-width: 959px) {
  body { min-width: 720px; }
  .container { width: 720px; }
  .grid-2 { width: 100px; }
  .grid-4 { width: 220px; }
  .grid-8 { width: 460px; }
  .grid-12 { width: 700px; }
  .container .container { margin-left: -10px; }
  .container .grid-4 .container { width: 240px; }
  .container .grid-8 .container { width: 480px; }
}
@media only screen and (max-width: 767px) {
  body { min-width: 100%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
  .container { width: 95%; }
  .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 { width: 100%; margin: 0px; }
  .container .container { margin-left: 0px; }
  .container .grid-1 .container, .container .grid-2 .container, .container .grid-3 .container, .container .grid-4 .container, .container .grid-5 .container, .container .grid-6 .container, .container .grid-7 .container, .container .grid-8 .container, .container .grid-9 .container, .container .grid-10 .container, .container .grid-11 .container, .container .grid-12 .container { width: 100%; }
}
body { font: 13px/21px "Microsoft YaHei","宋体","Myriad Pro","Lato","Helvetica Neue",Helvetica,Arial,sans-serif; }
p, dl, hr, h1, h2, h3, h5, h6, ol, ul, pre, table, address, blockquote, fieldset, figure { margin-bottom: 20px; }
pre, code { font-family: Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace; }
h1 { font: 28px/42px "Microsoft YaHei","Myriad Pro","Lato","Helvetica Neue",Helvetica,Arial,sans-serif; margin-top: -10px; }
h2 { font: 24px/36px "Microsoft YaHei","Myriad Pro","Lato","Helvetica Neue",Helvetica,Arial,sans-serif; margin-top: -9px; }
h3 { font: 20px/30px "Microsoft YaHei","Myriad Pro","Lato","Helvetica Neue",Helvetica,Arial,sans-serif; margin-top: -8px; }
ol { list-style: inside none decimal; }
ul { list-style: inside none disc; }
li { margin-left: 0px; }
a { color: rgb(0, 153, 204); }
.alignright { text-align: right; float: right; margin-left: 20px; }
.alignleft { text-align: left; float: left; margin-right: 20px; }
table { border: 1px solid rgb(232, 232, 232); padding: 0px 5px; width: 100%; }
table thead th { font-weight: bold; color: rgb(102, 102, 102); }
tr { border-bottom: 1px solid rgb(232, 232, 232); }
th, td { padding: 5px; vertical-align: middle; text-align: center; }
#wrapper { background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 20px 10px; }
.header-wrapper { position: relative; }
#logo a { display: block; }
#logo.leaderboard-true { float: left; margin: 0px 20px 10px 10px; }
#logo.leaderboard-true img { width: 100%; }
#leaderboard { width: 728px; height: 90px; float: right; margin-right: 10px; }
footer { background: rgb(248, 248, 248) none repeat scroll 0% 0%; padding: 40px 0px 0px; border-top: 1px solid rgb(238, 238, 238); }
#bottom { background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin-top: 20px; padding: 10px 0px; border-top: 1px solid rgb(238, 238, 238); }
#bottom p { font-size: 11px; line-height: 20px; margin-bottom: 0px; color: rgb(153, 153, 153); }
#top-nav { height: 30px; z-index: 300; position: relative; background: rgb(248, 248, 248) none repeat scroll 0% 0%; border-bottom: 1px solid rgb(238, 238, 238); margin-top: 0px; }
.selectnav { display: none; }
#main-nav { height: 40px; z-index: 299; margin-top: 10px; margin-bottom: 20px; position: relative; border-bottom: 10px solid rgb(51, 51, 51); border-radius: 0px 0px 2px 2px; }
#main-nav ul { margin: 0px; padding: 0px; list-style: outside none none; line-height: 40px; position: relative; font-size: 14px; font-family: "Microsoft YaHei","Myriad Pro","Lato","Helvetica Neue",Helvetica,Arial,sans-serif; }
#main-nav ul a { display: inline-block; position: relative; text-decoration: none; }
#main-nav ul li { float: left; position: relative; }
#main-nav ul li:hover { visibility: inherit; }
#main-nav ul li { border-right: 1px solid rgb(255, 255, 255); }
#main-nav ul li:last-child { border-right: medium none; }
#main-nav ul a { padding: 0px 20px; color: rgb(51, 51, 51); height: 40px; line-height: 40px; }
#main-nav ul a:hover, #main-nav ul li.sfHover a, #main-nav ul li.current-cat a, #main-nav ul li.current-menu-item a { background: rgb(51, 51, 51) none repeat scroll 0% 0%; color: rgb(255, 255, 255); border-radius: 2px 2px 0px 0px; }
#main-nav a { display: block; width: auto; }
#main-nav li { float: left; width: auto; position: relative; }
.entry-header h1 { font-size: 22px; line-height: 30px; font-weight: normal; padding-bottom: 10px; border-bottom: 1px solid rgb(232, 232, 232); margin: -5px 0px 10px; text-align: center; font-family: "Microsoft YaHei","Myriad Pro","Lato","Helvetica Neue",Helvetica,Arial,sans-serif; }
.entry-meta, .post-meta { text-transform: uppercase; font-size: 12px; color: rgb(153, 153, 153); }
.entry-meta a, .post-meta a { color: rgb(153, 153, 153); }
.entry-meta a:hover, .post-meta a:hover { color: rgb(51, 51, 51); }
.entry-meta p { margin-bottom: 5px; }
.entry-meta { border-bottom: 1px dotted rgb(232, 232, 232); margin-bottom: 5px; padding-bottom: 30px; }
.post-meta .meta-title { color: rgb(51, 51, 51); text-transform: none; font-weight: bold; font-size: 13px; text-decoration: none; font-family: "Microsoft YaHei","Myriad Pro","Lato","Helvetica Neue",Helvetica,Arial,sans-serif; }
.post { padding-bottom: 20px; }
.post img { max-width: 100%; height: auto; }
.entry { color: rgb(0, 0, 0); font-size: 14px; }
.navigation .alignleft { float: left; }
.navigation .alignright { float: right; }
.copyright-area { background-color: rgb(240, 240, 240); padding: 10px; margin-bottom: 10px; }
.navigation { background: rgb(248, 248, 248) none repeat scroll 0% 0%; border: 1px solid rgb(238, 238, 238); padding: 10px; border-radius: 2px; text-align: center; }
.navigation a { font-weight: bold; text-decoration: none; }
input, textarea { border: 1px solid rgb(232, 232, 232); outline: medium none; font: 12px/20px Arial,sans-serif; display: block; }
input:focus, textarea:focus { border-color: rgb(0, 153, 204); }
input { padding: 0px 4px; width: 280px; height: 28px; line-height: 28px; }
textarea { padding: 4px; width: 600px; height: 190px; resize: vertical; }
label { line-height: 40px; }
span.red { color: rgb(255, 0, 0); }
.input-wrapper { padding: 5px; background: rgb(248, 248, 248) none repeat scroll 0% 0%; }
.submit { width: auto; height: 28px; padding: 0px 20px; background: rgb(0, 153, 204) none repeat scroll 0% 0%; border: 1px solid rgb(0, 119, 204); display: inline-block; cursor: pointer; font: bold 12px/28px Arial,sans-serif; color: rgb(255, 255, 255) ! important; }
.submit-wrapper { border: 5px solid rgb(248, 248, 248); width: auto; display: inline-block; }
#cancel-comment-reply-link { margin-bottom: 40px; }
.widget { margin-bottom: 0px; }
h3.widget-title { color: rgb(0, 153, 204); border-bottom: 1px solid rgb(232, 232, 232); font-size: 13px; line-height: 20px; padding-bottom: 5px; margin-top: 0px; font-family: "Microsoft YaHei","Myriad Pro","Lato","Helvetica Neue",Helvetica,Arial,sans-serif; }
.floated-thumb { padding-bottom: 0px; margin-bottom: 0px; }
.floated-thumb p { margin-bottom: 5px; }
.floated-thumb .post-meta.no-thumb { margin-bottom: 20px; }
#searchform { position: relative; margin-bottom: 20px; }
#s { padding-right: 29px; width: 255px; }
#searchsubmit { position: absolute; display: block; top: 6px; right: 6px; z-index: 2; height: 28px; width: 28px; border: 0px none; padding: 0px; text-indent: -9999px; cursor: pointer; background: rgb(51, 51, 51) url("search.png") no-repeat scroll 0px 0px; }
#searchsubmit:hover { background-color: rgb(0, 153, 204); }
.slides::after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0px; }
.aw_socialcounter_widget li a { font-weight: bold; text-decoration: none; color: rgb(51, 51, 51); }
.aw_socialcounter_widget .alignleft { margin-right: 10px; margin-top: -4px; }
.tabs { margin: 0px 0px 20px; display: block; }
.tabs ul.nav { list-style: outside none none; margin: 0px; padding: 0px; }
.tabs ul.nav li { float: left; position: relative; z-index: 10; padding: 0px; margin: 0px 0px -1px; border-width: 1px; border-style: solid; border-color: transparent transparent rgb(232, 232, 232); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.tabs ul.nav li a { color: rgb(51, 51, 51); text-decoration: none; font-weight: bold; display: block; overflow: hidden; }
.tabs ul.nav li a:hover { color: rgb(0, 153, 204); }
.tabs ul.nav li.active { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-width: 1px; border-style: solid; border-top: 1px solid rgb(232, 232, 232); border-right: 1px solid rgb(232, 232, 232); border-left: 1px solid rgb(232, 232, 232); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-bottom-color: rgb(255, 255, 255) ! important; }
.tabs .tab { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(232, 232, 232); padding: 20px 12px 0px; }
.tabs ul.nav li.active a { color: rgb(0, 153, 204); }
.aw_tabbed_widget .nav { font-family: "Microsoft YaHei","Myriad Pro","Lato","Helvetica Neue",Helvetica,Arial,sans-serif; }
.aw_tabbed_widget .tabs ul.nav li a { display: block; padding: 10px; background: transparent none repeat scroll 0% 0%; text-indent: 0px; width: auto; outline: medium none; }
.aw_tabbed_widget .tabs ul.nav li.active a, .aw_tabbed_widget .tabs ul.nav li a:hover { background: transparent none repeat scroll 0% 0%; }
.aw_tabbed_widget #link-latest-comments { background-position: -32px 0px; }
.aw_tabbed_widget #link-tags { background-position: -48px 0px; }
.aw_tabbed_widget #tab-latest-comments a { font-size: 13px; text-transform: none; text-decoration: none; color: rgb(51, 51, 51); font-weight: normal; }
.aw_tabbed_widget #tab-most-discussed a { font-size: 13px; text-transform: none; text-decoration: none; color: rgb(51, 51, 51); font-weight: normal; }
.aw_tabbed_widget #tab-most-discussed a:hover { color: rgb(0, 153, 204); }
.aw_tabbed_widget .tabs ul.nav li.active a, .aw_tabbed_widget .tabs ul.nav li.active a:hover, .aw_tabbed_widget .tabs ul.nav li a, .aw_tabbed_widget .tabs ul.nav li a:hover { background: transparent none repeat scroll 0% 0% ! important; }
#full, #full-btm { margin-left: 495px ! important; width: 20px ! important; height: 40px ! important; position: fixed; left: 50%; top: 520px; z-index: 100; text-align: center; cursor: pointer; }
#full img, #full-btm img { width: 100% ! important; height: auto ! important; }
.numb { float: left; color: rgb(34, 188, 221); font-size: 16px; font-weight: bold; padding: 0px 10px 0px 0px; }
.tabs .floated-thumb .post-meta.no-thumb { margin-bottom: 0px; }
.view-rss { float: left; position: relative; z-index: 99; }
.view-rss .children ul::before { content: " "; position: absolute; width: 0px; height: 0px; right: 3px; top: -8px; border-width: 9px; border-style: solid outset solid solid; border-color: transparent transparent rgb(232, 232, 232); }
.view-rss .children ul::after { content: " "; position: absolute; width: 0px; height: 0px; right: 1px; top: -9px; border-width: 11px; border-style: solid outset solid solid; border-color: transparent transparent rgb(255, 255, 255); }
.widget_archive li, .widget_categories li, .widget_nav_menu li, .widget_links li, .widget_meta li, .widget_pages li, .widget_post-views li, .widget_recent_comments li, .widget_recent_entries li, .widget_rss li, .aw_socialcounter_widget li { list-style: outside none none; border-bottom: 1px dotted rgb(232, 232, 232); padding: 10px 0px; display: block; }
.widget_archive li:first-child, .widget_categories li:first-child, .widget_nav_menu li:first-child, .widget_links li:first-child, .widget_meta li:first-child, .widget_pages li:first-child, .widget_post-views li:first-child, .widget_recent_comments li:first-child, .widget_recent_entries li:first-child, .widget_rss li:first-child, .aw_socialcounter_widget li:first-child { padding-top: 0px; }
.widget_archive li:last-child, .widget_categories li:last-child, .widget_nav_menu li:last-child, .widget_links li:last-child, .widget_meta li:last-child, .widget_pages li:last-child, .widget_post-views li:last-child, .widget_recent_comments li:last-child, .widget_recent_entries li:last-child, .widget_rss li:last-child, .aw_socialcounter_widget li:last-child { border-bottom: 0px none; padding-bottom: 0px; }
@media only screen and (max-width: 959px) {
  .aw_tabbed_widget .tabs ul.nav li { padding: 0px; }
  .aw_tabbed_widget .tabs ul.nav li a { display: block; padding: 10px 7px; background: transparent none repeat scroll 0% 0%; text-indent: 0px; width: auto; }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  #leaderboard { display: none; }
  #logo.leaderboard-true, #logo.leaderboard-true p { margin-bottom: 0px; }
  #logo.leaderboard-true { margin-top: 0px ! important; position: inherit ! important; }
  input { width: 200px; }
  textarea { width: 440px; height: 140px; }
  #s { width: 175px; }
}
@media screen and (max-width: 767px) {
  body { background: rgb(255, 255, 255) none repeat scroll 0% 0% ! important; }
  #wrapper { padding: 0px; }
  .entry-meta .entry-meta-hide-on-mobile { display: none; }
  #top-button, #top-nav { display: none ! important; }
  footer { padding-top: 20px; }
  #bottom { margin-top: 0px; }
  #leaderboard { display: none; }
  #logo.leaderboard-true, #logo.leaderboard-true img { margin: 0px; }
  #logo { padding: 20px 0px; text-align: center; width: 100% ! important; }
  #logo img { margin: 0px auto; width: auto ! important; max-width: 100%; }
  .selectnav { display: block; margin: 0px auto; width: 100%; }
  #main-nav { margin-top: 0px; margin-bottom: 20px; border-bottom: 0px none; height: auto; }
  #main-nav-menu { display: none; }
  input, textarea { padding: 0px 1%; width: 98%; line-height: normal; }
  label { line-height: 24px; }
  label.none { display: block ! important; }
  .input-wrapper { padding: 1%; background: rgb(248, 248, 248) none repeat scroll 0% 0%; }
  #sidebar { border-top: 1px dotted rgb(204, 204, 204); padding-top: 20px; }
  #s { width: 98%; padding: 0px 1%; }
  #searchform label { display: none ! important; }
  #searchsubmit { display: none; }
  .tabs ul.nav li { float: none; border: 1px solid rgb(232, 232, 232); display: block; padding: 10px 5%; }
  .tabs ul.nav li.active:last-child { border-bottom: 1px solid rgb(232, 232, 232); }
  .tabs .tab { background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 10px; }
  .aw_tabbed_widget .tabs ul.nav li a { text-indent: 0px; background: transparent none repeat scroll 0% 0% ! important; height: auto; width: auto; }
}
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0px; height: 0px; }
.clearfix::before, .clearfix::after { content: " "; display: block; overflow: hidden; visibility: hidden; width: 0px; height: 0px; }
.clearfix::after { clear: both; }
.clearfix {  }
*::-moz-selection { color: rgb(255, 255, 255); }
.margin-20 { margin-bottom: 20px; }
.none { display: none; }
.rc-item { padding-bottom: 8px; }
.rc-item .rc-avatar { background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 1px; border: 1px solid rgb(153, 153, 153); }
.rc-item .rc-left { display: inline; float: left; margin-right: 8px; }
.rc-item .rc-reviewer { font-weight: bold; float: right; }
.rc-item .rc-timestamp { margin-left: 8px; font-size: 11px; color: rgb(153, 153, 153); }
.rc-clearfix::after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0px; }
.rc-clearfix { display: block; }
