/* Effective stylesheet produced by snapshot save */
pre code, pre { display: block; padding: 0.3em; color: rgb(51, 51, 51); overflow-y: auto; background-color: rgb(246, 246, 246); font-size: 12px; }
pre .keyword, pre .css .rule .keyword, pre .winutils, pre .javascript .title, pre .nginx .title, pre .subst, pre .request, pre .status { color: rgb(51, 51, 51); font-weight: bold; }
pre .number, pre .hexcolor, pre .ruby .constant { color: rgb(0, 153, 153); }
pre .string, pre .tag .value, pre .phpdoc, pre .tex .formula { color: rgb(221, 17, 68); }
pre .tag, pre .tag .title, pre .rules .property, pre .django .tag .keyword { color: rgb(0, 0, 128); font-weight: normal; }
pre .attribute, pre .variable, pre .lisp .body { color: rgb(0, 128, 128); }
pre .class { color: rgb(68, 85, 136); font-weight: bold; }
pre .symbol, pre .ruby .symbol .string, pre .lisp .keyword, pre .tex .special, pre .prompt { color: rgb(153, 0, 115); }
