* {
	margin: 0px;
	padding: 0px;
	border:0px;
}
body,html {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#2F64B7;
	height:auto;
}
#box {
	width: 1003px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
	height:auto;
}
a:visited {
	color: #666666;
	text-decoration: none;
	
}
a:active {
	color: #FF6600;
	text-decoration: none;
}

a:hover {
	color: #FF0000;
	text-decoration: underline;
}
a:link {
	color: #2F64B7;
	text-decoration: none;
	
}
.head a:visited {
	color: #FFFF00;
}
#passage a {
	color: #000000;
}
#pass-cont a:hover {
	color: #FF0000;
	text-decoration: underline;
}
#linkpic a {
	color: #C1FFFF;
	line-height: 25px;
	text-decoration: underline;
}
#linkpic a:hover {
	color: #FFFF00;
	text-decoration: underline;
}
#copy a {
	color: #666666;
	text-decoration: none;
}
#copy a:hover {
	color: #0099FF;
}
.word a:visited {
	color: #FFFFFF;
}
#rightin-3 a:hover {
	color: #FE0009;
	text-decoration: underline;
}
#rightin-3 a:hover {
	color: #FE0000;
	text-decoration: underline;
}
.word a:hover {
}
#rightin-1 a:hover {
	color: #FF3300;
}
#rightin-2 a:hover {
	color: #FF3300;
}
#right #r-2 a:hover {
	color: #FF3300;
}

#login {
	height: 30px;
	font-size: 12px;
	line-height: 34px;
	background-image: url(/images/v_02.jpg);
	text-align: left;
	color: #000000;
}
.red {
	font-size: 12px;
	font-weight: bold;
	color: #FF3203;
}
.red02{
	font-size: 12px;
	font-weight: bold;
	color: #FF3203;
}
#loginform {
	height: 32px;
	width: 200px;
}
#log-left {
	float: left;
	margin-left: 6px;
	line-height: 32px;
}
#loginform {
	height: 32px;
	width: 200px;
}
.r-input{
	font-family: "宋体";
	font-size: 12px;
	text-align: left;
	padding-top:5px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border:1px solid #99CCFF;
	height: 15px;
	color: #666666;
	background-position: center center;
	line-height: 18px;
}

.r-textarea{
	font-family: "宋体";
	font-size: 12px;
	text-align: left;
	margin: 0px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border:1px solid #0099CC;
	height: 60px;
}

#input01 {
	height: 16px;
	width: 86px;
	border: 1px solid #9CC3E0;
	margin-top: 5px;
	color: #999999;
	margin-right: 3px;
	text-indent: 24px;
}
#input02{
	height: 16px;
	width: 86px;
	border: 1px solid #9CC3E0;
	margin-top: 5px;
	margin-right: 5px;
	color: #999999;
	margin-right: 3px;
	text-indent: 4px;
}
}
#log-left input03 {
	height: 19px;
	width: 99px;
}
#input03 {
	height: 19px;
	width: 99px;
	background-image: url(/images/icon_07.jpg);
	background-repeat: no-repeat;
}
#input05{
	height: 20px;
	width: 49px;
	background-image: url(/images/icon_10.gif);
	background-repeat: no-repeat;
}
#input04 {
	height: 20px;
	width: 63px;
	background-image: url(/images/icon_09.gif);
	background-repeat: no-repeat;
	margin-right: 4px;
}
#input06{
	height: 20px;
	width: 90px;
	background-image: url(/images/0785.gif);
	background-repeat: no-repeat;
	margin-right: 4px;
}
#input_search{
	height: 26px;
	width: 82px;
	background-image: url(/images/icon_11.gif);
	background-repeat: no-repeat;
}
#log-right {
	float: right;
	height: 32px;
	width: 200px;
	background-image: url(/images/v_04.jpg);
	background-repeat: no-repeat;
}
#menu {
	background-image: url(/images/00_18.jpg);
	background-repeat: repeat-x;
	height: 75px;
	background-position: left center;
}
#menu-left {
	height: 73px;
	float: left;
	width: 177px;
	margin-left: 4px;
	background-image: url(/images/logo/v_06.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
#menu-right {
	float: left;
	height: 38px;
	width: 790px;
	background-image: url(/images/v_08.jpg);
	background-repeat: no-repeat;
	padding-top: 19px;
	padding-bottom: 15px;
	padding-left: 18px;
	font-size: 14px;
	line-height: 38px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: left;
	background-position: left center;
}
#top－left {
	float: left;
	margin-left: 5px;
	padding: 1px;
	border: 1px solid #000000;
	height: 90px;
}
#top-right {
	float: left;
	margin-top: 8px;
	margin-left: 8px;
	text-align: left;
	width: 200px;
	height: auto;
}
#main {
	clear: both;
	height: auto;
}
#leftflash {
	float: left;
	width: 300px;
	margin-right: 6px;
	border: 1px solid #BDD2ED;
	padding: 0px;
	text-align: left;
}

#f-top {
	height: 25px;
	background-image: url(/images/v_21.jpg);
	background-repeat: repeat-x;
	line-height: 25px;
	font-weight: bold;
	color: #0A1773;
	text-align: left;
	text-indent: 8px;
}
#f-mid {
	height: 230px;
	width: 292px;
	margin-top: 7px;
	margin-bottom: 6px;
	margin-left: 4px;
}
#f-bottom {
	height: 25px;
	width: 278px;
}
#flashpic {
	float: right;
}
#f-bottom2 {
	height: 36px;
	background-image: url(/images/v_54.jpg);
	background-repeat: repeat-x;
	line-height: 36px;
	color: #0A1773;
}
#icon01 {
	margin-top: 5px;
	margin-right: 7px;
}
#news {
	float: left;
}
#news {
	width: 435px;
	float: left;
	margin-bottom: 4px;
}
#news-top {
	height: 46px;
	background-image: url(/images/v_25.jpg);
	background-repeat: repeat-x;
	text-align: left;
}
#person-title {
	height: 46px;
	background-image: url(/images/v_25.jpg);
	background-repeat: repeat-x;
	text-align: left;
}
#newtopleft {
	width: 320px;
	height: 46px;
	background-image: url(/images/v_24.jpg);
	background-repeat: no-repeat;
	padding-left: 98px;
	text-align: left;
	font-weight: bold;
	color: #02659C;
	line-height: 46px;
}
#person-title02 {
	height: 46px;
	background-image: url(/images/v_2400.jpg);
	background-repeat: no-repeat;
	text-align: center;
	font-weight: bold;
	color: #02659C;
	line-height: 46px;
	width: 100%;
}
#person-title002 {
	height: 46px;
	background-image: url(/images/dangan_03.gif);
	background-repeat: no-repeat;
	text-align: right;
	font-weight: bold;
	color: #02659C;
	line-height: 46px;
	padding-right: 15px;
	font-size: 12px;
}
#newmidtitle {
	font-size: 12px;
	background-color: #E6FCFF;
	height: 30px;
	margin-top: 5px;
	margin-bottom: 4px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #0A56AC;
}
#newsbottom {
	text-align: left;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}
#newsbottom dt {
	line-height: 23px;
	color: #0A56AC;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	text-indent: 17px;
	list-style-type: none;
	background-image: url(/images/813.gif);
	background-repeat: no-repeat;
	background-position: left center;
	font-size: 14px;
}
#newsbottom dd {
	float: right;
	color: #B0B0B0;
	line-height: 23px;
	font-size: 13px;
}
#newsbottom02 {
	height: 4px;
	background-color: #0D4372;
	background-position: left;
	text-align: left;
}
#left {
	float: left;
	width: 744px;
	margin-left: 4px;
	margin-top: 4px;
}
#leftp{
	float: left;
	width: 744px;
	margin-left: 4px;
	height: auto;
}
#left02 {
	float: left;
	width: 744px;
}
#right {
	float: left;
	width: 232px;
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	margin-left: 5px;
	padding: 4px;
	margin-top: 4px;
}
#right02 {
	float: left;
	width: 232px;
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	margin-left: 4px;
	padding: 4px;
	margin-top: 6px;
}
#r-2 {
	background-color: #FCFCFC;
	background-image: url(/images/22_70.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
}
#rightin {
	width: 225px;
	padding-top: 2px;
	padding-bottom: 8px;
}
#rightin-top {
	height: 28px;
	width: 225px;
	line-height: 27px;
	background-image: url(/images/66_45.jpg);
	background-repeat: no-repeat;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 12px;
	text-align: left;
	text-indent: 12px;
}
#rightin-1 {
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	text-align: left;
	line-height:24px;
	padding-left: 6px;
	font-size: 13px;
	color: #000000;

}
#rightin-1 img {
	border: 1px solid #000000;
	margin-right: 8px;
	float: left;
}
#rightin-1 p {
	width: 130px;
	float: left;
	display: block;
	line-height: 17px;
}
#rightin-2 {
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	text-align: left;
	padding-left: 6px;
	font-size: 12px;
	color: #000000;
	height: 70px;
}
#rightin-2 img {
	border: 1px solid #000000;
	margin-right: 8px;
	float: left;
}
#rightin-2 p {
	width: 130px;
	float: left;
	display: block;
	line-height: 17px;
}#more {
	float: right;
	margin-top: -15px;
	margin-right: 6px;
}
#rightin-3 div {
	text-align: left;
	text-indent: 15px;
	list-style-type: square;
	font-size: 14px;
	line-height:38px;
	color: #000000;
	line-height: 24px;
	background-image: url(/images/1115.gif);
	background-repeat: no-repeat;
	background-position: 3px center;
}
#rightin-3 dd {
	float: right;
	font-size: 12px;
	line-height: 26px;
	color: #BCBCBC;
}
#rightin-3 {
	padding: 6px;
	text-align:left;
	background-color: #FCFCFC;
}
#peple {
	clear: left;
	margin-top: 4px;
	border: 1px solid #BCD5F3;
	height: auto;

}
#peplesy {
	margin-top: 4px;
	border: 1px solid #BCD5F3;
	height: 225px;
	float: left;
	background-color: #F7FAFF;

}
#peple02 {
	clear: left;
	margin-bottom: 8px;
	margin-top: 5px;

}

#p-top {
	height: 25px;
	background-image: url(/images/v_21.jpg);
	background-repeat: repeat-x;
	line-height: 22px;
	font-weight: bold;
	color: #2353AB;
	text-align: left;
	text-indent: 8px;
	width: 100%;
}
#p-top02{
	height: 25px;
	background-image: url(/images/v_21.jpg);
	background-repeat: repeat-x;
	line-height: 22px;
	font-weight: normal;
	color: #004488;
	text-align: left;
	text-indent: 8px;
	font-size: 12px;
}
#p-mid {
	font-size:12px;
	color:#333333;
	padding-top: 8px;
	width: 100%;
	text-align: left;
}


.coment_isnew{
	width:600px; 
	height:20px; 
	text-align:left; 
	border-bottom:#666666 
	1px dotted; 
	margin-bottom:10px;
}
.comment_cs{
	 text-align:left; 
	 padding-left:10px;
	 font-size:14px; 
	 color:#333333;
	 text-align:left;
}
.comment_name{
	text-align:left;
	margin-bottom:10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DCE0E2;
	color: #000000;
	font-size: 12px;
	line-height: 28px;
	background-image: url(../images/gif-0560.gif);
	background-repeat: no-repeat;
	background-position: left 7px;
	text-indent: 20px;
	list-style-type: none;
	width: 710px;
}


#p-bottom{
	height: 30px;
	background-repeat: repeat-x;
	line-height: 30px;
	color: #0A1773;
	width: 100%;
	background-color: #F2F2FC;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #BCD5F3;
}
#p-mid img {
	margin-right: 20px;
	margin-left: 15px;
	border: 3px solid #B1B483;
	margin-bottom: 6px;
}
#p-bottom li {
	float: left;
	margin-right: 20px;
	margin-left: 35px;
	list-style-type: none;
	background-image: url(/images/55_03.gif);
	background-position: left center;
	background-repeat: no-repeat;
	text-indent: 3px;
}
#name01 {
	width: 110px;
	float: left;
	margin-left: 30px;
	text-align: left;
}
#kylist {
	clear: both;
	margin-top: 5px;
	float: left;
	width: 745px;
	margin-bottom: 3px;
}
#kylist02{
	clear: both;
	margin-top: 6px;
	float: left;
}
#l-l {
	width: 364px;
	float: left;
	padding: 1px;
	border: 2px solid #F9FBFD;
	background-color: #B4D4EF;
}
#lll{
	float: left;
	padding: 1px;
	border: 2px solid #EFF0F5;
	background-color: #99AEBF;
	width: 744px;
}
#l-2 {
	width: 364px;
	float: left;
	padding: 1px;
	border: 2px solid #EFF0F5;
	background-color: #FFFFFF;
	height: 500px;
}
#l-r {
	float: left;
	margin-left:5px;
	width: 364px;
	padding: 1px;
	border: 2px solid #F3F9FC;
	background-color: #B4D4EF;

}

#listleft-top {
	line-height:30px;
	width: 364px;
	line-height: 27px;
	color: #FFFFFF;
	background-image: url(/images/v_84.jpg);
	text-align: left;
	text-indent: 10px;
	font-weight: bold;
	font-size: 12px;
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: center center;
}
#listlefttop02 {
	height: 31px;
	width: 744px;
	line-height: 27px;
	color: #FFFFFF;
	background-image: url(/images/v_84.jpg);
	text-align: left;
	text-indent: 10px;
	font-weight: bold;
	font-size: 12px;
	background-color: #06C5FC;
	background-repeat: no-repeat;
	background-position: left center;
}
#listlefttop02 {
	height: 31px;
	width: 743px;
	line-height: 27px;
	color: #FFFFFF;
	background-image: url(/images/v_84.jpg);
	text-align: left;
	text-indent: 10px;
	font-weight: bold;
	font-size: 12px;
	background-color: #05C4FB;
	background-repeat: no-repeat;
	background-position: left center;
}

#more02 {
	float: right;
	margin-top: -20px;
	margin-right: 8px;
}
#listleft-mid {
	background-color: #FFFFFF;
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;
	text-align: left;
}
#listleftmid02 {
	background-color: #FFFFFF;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 8px;
	text-align: left;
}
#listleft-mid2 {
	background-color: #FFFFFF;
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;
	text-align: left;
}
#listleft-bottom {
	background-color: #FFFFFF;
	background-repeat: repeat-x;
	background-image: url(/images/v_54.jpg);
	height: 20px;
	line-height: 25px;
}
#listleft-mid dt {
	line-height: 23px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E6E6E6;
	background-image: url(/images/55_03.gif);
	background-repeat: no-repeat;
	background-position: left center;
	text-indent: 10px;
	font-size: 12px;
}
#listleftmid02 dt {
	line-height: 25px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E6E6E6;
	background-image: url(/images/55_03.gif);
	background-repeat: no-repeat;
	background-position: left center;
	text-indent: 10px;
}
#listleft-mid dd {
	color: #000000;
	float: right;
	line-height: 23px;
	font-size: 12px;
}
#listleftmid02 dd {
	color: #000000;
	float: right;
	line-height: 25px;
}
#ad{
	margin-top: 4px;
	clear: both;
	float: left;
	height: 91px;
	width: 737px;
}
#ad img {
	border: 1px solid #000000;
	padding: 1px;
	float: left;
	clear: right;
}
#rightin-4 dt {
	background:url(../images/icon/aight.gif) no-repeat;
	text-align: left;
	list-style-type: none;
	font-size: 12px;
	color: #000000;
	line-height: 24px;
	background-position: 3px center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
#rightin-4 dd {
	float: right;
	font-size: 12px;
	line-height: 24px;
	color: #0651A4;
	background-color: #FCFCFC;
	clear: both;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
#rightin-4 {
	padding: 6px;
	background-color: #FFFFFF;
	text-align: left;
}
#rightin-4 img {
	margin-right: 5px;
}
#main02 {
	clear: both;
	height: auto;
	width: 1002px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#mian02-top {
	height: 28px;
	background-image: url(/images/v_90.jpg);
	background-repeat: repeat-x;
	text-align: left;
	font-weight: bold;
	color: #045D87;
	line-height: 28px;
	text-indent: 15px;
}
#show01 {
	height: 133px;
	background-image: url(/images/v_100.jpg);
	background-repeat: repeat-x;
}
#start-botton {
	width: 15px;
	height: 114px;
	float: left;
	padding-top: 19px;
	margin-left: 20px;
}
#book01 {
	float: left;
	width: 118px;
	height: 133px;
	background-image: url(/images/v_94.jpg);
	background-repeat: no-repeat;
}
#talk01 {
	height: 106px;
	width: 180px;
	float: left;
	margin-top: 12px;
	background-image: url(/images/v_104.jpg);
	background-repeat: no-repeat;
	padding-top: 5px;
	color: #FFFFFF;
	font-size: 12px;
}
#book02 {
	float: left;
	height: 133px;
	background-image: url(/images/v_96.jpg);
	width: 122px;
}
#talk02 {
	float: left;
	height: 106px;
	width: 180px;
	margin-top: 11px;
	background-image: url(/images/v_104.jpg);
	background-repeat: no-repeat;
	padding-top: 5px;
}
#book03 {
	float: left;
	height: 133px;
}
#talk03 {
	float: left;
	height: 133px;
}
#talk03 {
	height: 106px;
	width: 180px;
	margin-top: 11px;
	background-image: url(/images/v_104.jpg);
	background-repeat: no-repeat;
	padding-top: 5px;
}
#book03 {
	background-image: url(/images/v_98.jpg);
	background-repeat: no-repeat;
	height: 133px;
	width: 118px;
}
#end-botton {
	width: 15px;
	float: left;
	height: 95px;
	margin-top: 19px;
	margin-left: 15px;
}
.head {
	font-weight: bold;
	color: #FFFF00;
	font-size: 12px;
}
.more05 {
	float: right;
	color: #045D85;
	font-size: 12px;
}
.word {
	font-size: 12px;
	color: #FFFFFF;
}
#line {
	height: 2px;
}
#passage {
	height: 276px;
	background-image: url(/images/v_119.jpg);
	background-repeat: no-repeat;
	background-color: #008AC9;
	background-position: center;
}
#passage {
	padding-top: 18px;
	padding-right: 3px;
	padding-bottom: 10px;
	padding-left: 4px;
}
#passage1 {
	width: 232px;
	float: left;
	margin-right: 8px;
	margin-left: 5px;
}
#pass-top {
	background-image: url(/images/000_61.jpg);
	background-repeat: no-repeat;
	height: 30px;
	line-height: 30px;
	text-align: left;
	text-indent: 8px;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 12px;
}
#pass-cont {
	background-image: url(/images/000_65.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-color: #FCFCFC;
	height: 220px;
}
#passage1 dt {
	text-align: left;
	text-indent: 15px;
	list-style-type: square;
	font-size: 12px;
	color: #000000;
	line-height: 24px;
	background-image: url(/images/1115.gif);
	background-repeat: no-repeat;
	background-position: 3px center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E1E1E1;
}
#passage1 dd {
	float: right;
	font-size: 12px;
	line-height: 26px;
	color: #C8C8C8;
}
#passage-3{
	padding: 6px;
	background-color: #FCFCFC;
}
#pass-cont {
	padding-top: 8px;
	padding-right: 8px;
	padding-left: 10px;
	padding-bottom: 10px;
}
#link {
	height: 85px;
	background-image: url(/images/v_122.jpg);
	background-repeat: repeat-x;
}
#linkpic {
	height: 70px;
	background-image: url(/images/v_124.jpg);
	background-repeat: no-repeat;
	background-position: right;
	color: #FFFFFF;
	padding-top: 15px;
	text-align: left;
	text-indent: 15px;
}

#copy {
	height: 76px;
	background-image: url(/images/v_125.jpg);
	font-size: 12px;
	color: #666666;
	margin-bottom: 10px;
	float: left;
	width: 1000px;
}
#copypic1 {
	float: left;
	
	margin-left: 200px;
}
#copyline {
	float: left;
}
#copy p {
	float: left;
	display: block;
	margin-top: 15px;
	margin-left: 10px;
}
#icon08 {
	margin-top: 10px;
	margin-right: 8px;
}
#menu-right a {
	color: #FFFFFF;
}
#menu-right a:hover {
	color: #FFFF00;
}
#menu-right a:visited {
	text-decoration: none;
	color: #D2F7FF;
}
#newsbottom a:hover {
	color: #FF0000;
}
#box #mai #rightin-3 a {
	color: #000000;
}
#rightin  a {
	color: #000000;
}
#rightin a:hover {
	color: #FF0000;
	text-decoration: underline;
}
#rightin a:visited {
	color: #333333;
	text-decoration: none;
}
#kylist a:hover {
	color: #FF0000;
}
#listleft-mid dt a {
	color:#0036CC;
}
#listleftmid02 dt a {
	color:#0036CC;
}
#listleft-mid dd a:hover {
	color: #FF0000;
	text-decoration: underline;
}
#listleftmid02 dd a:hover {
	color: #FF0000;
	text-decoration: underline;
}
#listleft-mid dd a {
	color: #000000;
}
#listleftmid02 dd a {
	color: #000000;
}
#listleft-mid dt a:hover {
	color: #FF0000;
	text-decoration: underline;
}
#listleftmid02 dt a:hover {
	color: #FF0000;
	text-decoration: underline;
	line-height: 25px;
}

#rightin-4 dt a {
	font-size: 12px;
	margin-left:20px;
	color: #000000;
}
#rightin-4 a:hover {
	color: #FF0000;
	text-decoration: underline;
}
#rightin-4 dd a {
	font-size: 12px;
	color: #0651A4;
}
#rightin-4 dd a:hover {
	color: #FF6600;
	text-decoration: underline;
}
 .head a {
	color: #FFFF00;
}
 .head a:hover {
	color: #9900FF;
	text-decoration: underline;
}
.word a {
	color: #FFFFFF;
}
.word a:hover {
	color:#055A81;	
	text-decoration: underline;

}
.word a:visited {
	color:#FFFFFF1;

}
#rightin-4 img {
	float: left;
	margin-right: 10px;
	margin-top: 5px;
}
#rightin-4 a:visited {
	color: #000000;
}
#news a {
	color: #2F64B7;
	text-decoration: none;

}
#news a:hover {
	color: #FF0000;
	text-decoration: underline;
}

#news a visited{
	color: #0033CC;
	text-decoration: none;

}
#line {
	background-image: url(/images/v_115.jpg);
}
#menu2 {
	background-image: url(/images/yyy_05.jpg);
	background-repeat: repeat-x;
	height: 32px;
	margin-top: 6px;
	clear: both;
	line-height: 32px;
	color: #FFFFFF;
	text-align: left;
	text-indent: 24px;
	font-size: 12px;
	font-weight: bold;
	width:989px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #0063C8;
	border-left-color: #0063C8;
	margin-left: 6px;
}
#mian03 {
	height:auto;
	margin-bottom: 6px;
	float: left;
}
#menu2 a {
	color: #FFFFFF;
}
#menu2 a:hover {
	color: #FFFF00;
		text-decoration: underline;

}
#man {
	float: left;
	width: 745px;
}
#menu02m {
	background-image: url(/images/yyy_04.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 32px;
}
#interview {
	height: 102px;
	background-color: #E1F1FD;
	border: 1px solid #C1C2DB;
	color: #0036CC;
	font-size: 12px;
}
#p-information {
	clear: both;
	margin-top: 5px;
	margin-bottom: 6px;
	border: 1px solid #BCD5F3;
	text-align: left;
	height: auto;
	background-color: #FFFFFF;
}
#p-information001 {
	width:740px;
	clear: both;
	margin-top: 5px;
	margin-bottom: 6px;
	border: 1px solid #BCD5F3;
	text-align: left;
	height: auto;
	background-color: #FFFFFF;
	float: left;
}
#top-right dt {
	font-size: 12px;
	color: #000000;
	background-image: url(../images/1115.gif);
	background-repeat: no-repeat;
	background-position: left center;
	text-indent: 8px;
	line-height: 18px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EBEBEB;
}
#top-right li {
	font-size: 12px;
	color: #000000;
	line-height: 20px;
	list-style-type: none;
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D7D7D7;
	background-image: url(../images/55_03.gif);
	background-repeat: no-repeat;
	background-position: 2px center;
	text-indent: 10px;
	width: 198px;
}
#top-right li a {
	color: #000000;
}
#top-right li a:hover {
	color: #0066FF;
}
#interview img {
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
	border: 1px solid #000000;
	float: left;
}

.interview {
	font-size: 14px;
	font-weight: bold;
	color: #0036CC;
	line-height: 20px;

}
.interview a{
	font-size: 14px;
	font-weight: bold;
	color: #0036CC;
	text-decoration: underline;

}
#interview p {
	margin-top: 10px;
}



#person001 {
	float: left;
	width: 348px;
	height: auto;
	background-color: #F0F5FD;
	border: 1px solid #BCD5F3;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 8px;
	padding-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 2px;
}
#person0001 {
	float: left;
	width: 700px;
	height: 300px;
	background-color: #F0F5FD;
	border: 1px solid #BCD5F3;
	padding: 5px;
	margin-top: 6px;
	margin-bottom: 10px;
	margin-left: 6px;
}
#infor-mid {
	height: 226px;
}
#informid01 {
	height: 226px;
}
#person001 dt {
	line-height: 25px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #BDC7E8;
	background-image: url(/images/55_03.gif);
	background-repeat: no-repeat;
	background-position: left center;
	text-indent: 10px;
}
#person0001 dt {
	line-height: 25px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #BDC7E8;
	background-image: url(/images/55_03.gif);
	background-repeat: no-repeat;
	background-position: left center;
	text-indent: 10px;
}
#person001 dd {
	color: #000000;
	float: right;
	line-height: 25px;
}
#person0001 dd {
	color: #000000;
	float: right;
	line-height: 25px;
}
#infor-mid  a:hover {
	color: #FF0000;
	text-decoration: underline;
}
#informid01  a:hover {
	color: #FF0000;
	text-decoration: underline;
}
#person-title03 {
	height: 25px;
	color: #475374;
	line-height: 25px;
	font-size: 12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
#person-cont {
	text-align: left;
	line-height: 23px;
	font-size: 14px;
	color:#333333;
	padding: 8px;
}
#title04 {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	line-height: 30px;
}
#photo01 img {
	border: 1px solid #000000;
	margin-left: 25px;
	margin-top: 5px;
	margin-right: 25px;
	margin-bottom: 10px;
	padding: 3px;
	background-color: #FFFFFF;
	float: left;
}
#photo {
	width: 110px;
	border: 1px solid #C2D6F1;
	background-color: #FFFFFF;
	float: left;
	margin-top: 6px;
	margin-left: 6px;
	text-align: center;
	margin-bottom: 6px;
	margin-right: 3px;
}
#photo a:hover{
   color:#FF0000;   
}
#photo001 {
	height: 120px;
	padding: 3px;
	width: 104px;
	background-color: #FFFFFF;
}
#photo002 {
	height: 27px;
	background-image: url(../images/tab_17.jpg);
	background-repeat: repeat-x;
	font-size: 12px;
	color: #39699C;
	font-weight: bold;
	line-height: 27px;
}
#photo003 {
	background-image: url(../images/tab_19.jpg);
	background-repeat: repeat-x;
	height: 29px;
	font-size: 12px;
	color: #39699C;
	line-height: 29px;
}
#lineshu {
	float: left;
	height: 200px;
	width: 1px;
	background-color: #CCCCCC;
	margin-top: 5px;
}
#intro {
	float: left;
	margin-left: 25px;
	width: 700px;
	background-color: #FFFFFF;
	height: 185px;
	margin-top: 5px;
	border: 1px dashed #B9C8DF;
	text-align: left;
	padding-top: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 12px;
	line-height: 22px;
}
#intro-title {
	font-weight: bold;
	color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #B9C8DF;
	line-height: 25px;
}
#record-left {
	float: left;
	width: 267px;
	height:400px;
	background-repeat: repeat-y;
	background-image: url(/images/dangan_11.gif);
	background-position: left 12px;
}
#record-right {
	float: left;
	width: 730px;
	background-image: url(/images/dangan_10.gif);
    height:auto;
	background-repeat: repeat-y;
	background-position: left 18px;
}
#rl-top {
	height: 188px;
	width: 267px;
	background-image: url(/images/dangan_06.gif);
	background-repeat: no-repeat;
}
#rl-bottom {
	background-image: url(/images/dangan_12.gif);
	background-repeat: repeat-x;
	background-position: center bottom;
	width: 267px;
	height: 312px;
}

#rr-top {
	background-image: url(/images/dangan_07.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 150px;
}
#rr-bottom {
	background-image: url(/images/dangan_13.gif);
	background-repeat: repeat-y;
	background-position: left bottom;
	height: auto;
}
#rl-top img {
	margin-top: 10px;
	background-color: #FFFFFF;
	padding: 3px;
	border: 1px solid #666666;
	height: 158px;
	width: 126px;
}
#rlb01 {
	font-size: 14px;
	color: #000066;
	font-weight: bold;
	line-height: 30px;
	margin-right: 30px;
	margin-left: 30px;
	text-decoration: underline;
}
#rlb02 dt {
	font-size: 12px;
	line-height: 22px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C1D5DB;
}
#rrbottom2 {
	background-image: url(/images/dangan_14.gif);
}
#rr01 {
	padding-top: 50px;
	margin-right: 20px;
	padding-bottom: 10px;
	margin-left: 120px;
	text-align: left;
	line-height: 20px;
	color: #660000;
	font-weight: bold;

}

a:visited {
	color: #253FA7;
}
#line02 {
	clear: both;
	background-color: #AFBFC9;
	height: 1px;
}
#photo01 {
	height: 220px;
	background-color: #EBF4FD;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-top: 8px;
	text-align: left;
}
#rr-content {
	margin-right: 14px;
	margin-left: 39px;
	text-align: left;
	margin-bottom: 10px;
	padding: 8px;
	width: 650px;
}
#rr-content p {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}

#rlb02 {
	font-size: 14px;
	color: #000066;
	line-height: 30px;
	margin-right: 28px;
	margin-left: 35px;
	text-align: left;
}
#rr01 {
}
#rr02 {
	margin-right: 13px;
	margin-left: 38px;
	margin-top: 21px;
	height: 24px;
	padding: 3px;
	background-color: #DFF4FD;
	border: 1px solid #93E1FC;
	line-height: 24px;
	text-align: left;
	text-indent: 24px;
}
#rr-content dt {
	line-height: 25px;
	color: #333333;
	background-image: url(../images/gif-0560.gif);
	background-repeat: no-repeat;
	background-position: left 8px;
	text-indent: 24px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D3D6E0;
	font-size: 12px;
}
#rr-bottom02 {
	background-image: url(/images/dangan_15.gif);
	height: 14px;
	background-repeat: repeat-x;
	text-align: left;
}
#record {
}
#record {
	margin-bottom: 10px;
	float: left;
}
#record-di {
	clear: both;
}
#tree {
	width: 200px;
	float: left;
	margin-top: 6px;
	margin-bottom: 6px;
	border: 1px solid #BCD5F3;
	background-color: #EEF2F5;
}
#program {
	float: left;
	width: 528px;
	margin-top: 6px;
	margin-bottom: 6px;
	margin-left: 8px;
}

#program dd {
	line-height: 30px;
	text-align: left;
	border-bottom-width: 1px solid #8BCEEA;
	padding-left:50px;
	font-weight: bold;
	color: #0066FF;
	background-image: url(../images/jl_03.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	height: 34px;
}

#tree-top {
	height: 25px;
	line-height: 25px;
	height: 25px;
	background-image: url(/images/v_21.jpg);
	background-repeat: repeat-x;
	line-height: 22px;
	font-weight: bold;
	color: #0A1773;
	text-align: left;
	text-indent: 8px;
}

#tree-mid {
	text-align: left;
	padding-top: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	background-color: EEF2F5;
	color: #000060;
	line-height: 23px;
	font-size: 12px;
}
#program {
	color: 06609F;
}
a:visited {
	color: #253FA7;
}
#line02 {
	clear: both;
	background-color: #AFBFC9;
	height: 1px;
}
#tree-mid dt {
	background-image: url(/images/icon10_03.gif);
	background-repeat: no-repeat;
	background-position: left center;
	text-indent: 22px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #B8C5CB;
}
#program table {
	color: #06609F;
	text-align: left;
	line-height: 26px;
	background-color: #D4EEFB;
	border: 1px solid #06609F;
}
#program {
	background-color: #F0FBFF;
	border: 1px solid #9FCFE6;
	text-align: left;
	color: #06609F;
}
#program dd {
	line-height: 25px;
	background-color: #D4EEFB;
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9FCFE6;
	text-indent: 12px;
}
#program dt {
	line-height: 26px;
	background-color: #F0FBFF;
	text-align: left;
	text-indent: 12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9FCFE6;
}
.bold {
	font-size: 14px;
	font-weight: bold;
	color: #06609F;
}
#program dfn {
	line-height: 25px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9FCFE6;
	float: left;
	width: 425px;
	text-align: left;
}
#program p {
	font-size: 12px;
	color: #457296;
	line-height: 25px;
	background-color: #F0FBFF;
	padding-top: 10px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-left: 10px;
}
#login05 {
	background-image: url(/images/login_03.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 191px;
}
#login06 {
	text-align: left;
	color: #003300;
	margin-top: 60px;
}
#login06 input {
	background-image: url(/images/login02_06.gif);
	background-repeat: no-repeat;
	height: 35px;
	width: 176px;
	border: 1px solid #B9E14A;
	font-size: 12px;
	color: #4F6D12;
	float:left;
}
a:visited {
	color: #0036CC;
}
#line02 {
	clear: both;
	background-color: #AFBFC9;
	height: 1px;
}
log06-left {
	float: left;
}
#log06-left {
	float: left;
	width: 53px;
	text-align: center;
	line-height: 35px;
}
#log06-right {
	float: left;
	line-height: 35px;
}
#mian7 {
	clear: both;
}
#nb01 {
	line-height: 25px;
	color: #000000;
	text-align: right;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #CCCCCC;
}
#listleftmid005 {
	background-color: #FFFFFF;
	text-align: left;
	text-indent: 12px;
	padding: 8px;
}
#listleftmid008 {
	background-color: #FFFFFF;
	text-align: left;
	text-indent: 12px;
	width: 757px;
}
#listleftmid005 dt {
	font-weight: bold;
	line-height: 24px;
	color: #0099FF;
	font-size: 12px;
}
#listleftmid005 dt a {
	color: #0075C4;
}
#listleftmid005 a:hover {
	color: #FF0000;
}
#listleftmid005 p {
	color: #333333;
	font-size: 12px;
	line-height: 19px;
	font-weight: normal;
}
#listleftmid005 dd {
	line-height: 26px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6CFDD;
	text-align: right;
	color: #999999;
	font-size: 12px;
}
#ll02 {
	float: left;
	width: 364px;
	margin-left: 2px;
}
#p-mid textarea {
	height: 200px;
	width: 600px;
	font-size: 12px;
	color: #00A3D9;
	background-color: #F0FCFF;
	border: 1px solid #96A5BC;
	padding: 6px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 70px;
	line-height: 25px;
}
.textarea {
	height: 200px;
	width: 600px;
	font-size: 12px;
	color: #00A3D9;
	background-color: #F0FCFF;
	border: 1px solid #96A5BC;
	padding: 6px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 70px;
	line-height: 25px;
}
#listleftmid006 {
	text-align: left;
	padding: 10px;
	margin-bottom: 8px;
}
a:visited {
	color: #253FA7;
}
#line02 {
	clear: both;
	background-color: #AFBFC9;
	height: 1px;
}
#listleftmid006 dt {
	line-height: 25px;
	font-weight: bold;
	color: #1A95D9;
}
#listleftmid006 p {
	font-size: 12px;
	color: #666666;
	line-height: 22px;
	font-weight: lighter;
	text-decoration: none;
}
#listleftmid006 dd {
	text-align: right;
	color: #000000;
	line-height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #BCBCBC;
}
#dj {	margin-top: 8px;
	margin-bottom: 3px;
}
#listleftmid006 dt a {
	color: #0099FF;
}
#listleftmid006 dt a:hover {
	color: #FF3300;
	text-decoration: underline;
}
.red02 a {
	font-size: 12px;
	font-weight: bold;
	color: #FF3203;
}
.red02 a {
	color: #FF3203;
}
#mian04 {
	margin-top: 3px;
	margin-bottom: 5px;
}
#left04 {
	width: 757px;
	float: left;
	background-color: #D8F3FA;
	color: #FFFFFF;
	padding: 6px;
	margin-left: 4px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #A3C1D1;
}
#left08 {
	width: 757px;
	float: left;
	color: #FFFFFF;
	margin-left: 4px;
}
#right04 {
	float: right;
	width: 200px;
	background-color: #E3F7FE;
	background-image: url(../images/vip_03.jpg);
	background-repeat: repeat-x;
	padding-top: 10px;
	padding-right: 6px;
	padding-bottom: 10px;
	padding-left: 6px;
	margin-right: 3px;
}
#zi-top {
	background-image: url(/images/vip_34.jpg);
	background-repeat: no-repeat;
	height: 34px;
	line-height: 34px;
	text-align: left;
	padding-left: 65px;
	font-weight: bold;
}
#zi {
	width: 752px;
	margin-bottom: 8px;
}
#xiangxi {
	float: right;
	width: 85px;
	margin-right: 12px;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	height: 20px;
	line-height: 20px;
	margin-top: 10px;
}
#z-cont {
	background-image: url(/images/vip_37.jpg);
	background-repeat: repeat-x;
	height: 217px;
}
#zicont-left {
	float: left;
	height: 217px;
	width: 76px;
	background-image: url(/images/vip_35.jpg);
	background-repeat: no-repeat;
}
#zicontright {
	float: left;
	width: 660px;
	height: 201px;
	background-image: url(/images/vip_39.jpg);
	background-repeat: no-repeat;
	background-position: right;
	padding: 8px;
	text-align: left;
}
#chengtop {
	background-image: url(/images/vip_20.jpg);
	background-repeat: no-repeat;
	height: 34px;
	line-height: 34px;
	text-align: left;
	padding-left: 65px;
	font-weight: bold;
}
#cheng {
	width: 752px;
	margin-bottom: 8px;
}
#xiangxi {
	float: right;
	width: 85px;
	margin-right: 12px;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	height: 20px;
	line-height: 20px;
	margin-top: 10px;
}
#chengcont {
	background-image: url(/images/vip_23.jpg);
	background-repeat: repeat-x;
	height: 217px;
}
#chengcontleft {
	float: left;
	height: 217px;
	width: 76px;
	background-image: url(/images/vip_23.jpg);
	background-repeat: no-repeat;
}
#chengcontright {
	float: left;
	width: 660px;
	height: 201px;
	background-image: url(/images/vip_25.jpg);
	background-repeat: no-repeat;
	background-position: right;
	text-align: left;
	padding: 8px;
}
#chengcontright 0{
	float: left;
	width: 660px;
	height: 201px;
	background-image: url(/images/vip_25.jpg);
	background-repeat: no-repeat;
	background-position: right;
	text-align: left;
	padding: 8px;
}
#lantop {
	background-image: url(/images/vip_20.jpg);
	background-repeat: no-repeat;
	height: 34px;
	line-height: 34px;
	text-align: left;
	padding-left: 65px;
	font-weight: bold;
}
#lan{
	width: 752px;
	margin-bottom: 8px;
}
#xiangxi {
	float: right;
	width: 85px;
	margin-right: 12px;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	height: 20px;
	line-height: 20px;
	margin-top: 10px;
}
#lancont {
	background-image: url(/images/vip_23.jpg);
	background-repeat: repeat-x;
	height: 217px;
}
#lancontleft {
	float: left;
	height: 217px;
	width: 76px;
	background-image: url(/images/vip_21.jpg);
	background-repeat: no-repeat;
}
#lancontright {
	float: left;
	width: 660px;
	height: 201px;
	background-image: url(/images/vip_25.jpg);
	background-repeat: no-repeat;
	background-position: right;
	padding: 8px;
	text-align: left;
}
#hongtop {
	background-image: url(/images/vip_43.jpg);
	background-repeat: no-repeat;
	height: 34px;
	line-height: 34px;
	text-align: left;
	padding-left: 65px;
	font-weight: bold;
}
#hong{
	width: 752px;
	margin-bottom: 8px;
}
#xiangxi {
	float: right;
	width: 85px;
	margin-right: 12px;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	height: 20px;
	line-height: 20px;
	margin-top: 10px;
}
#hongcont {
	background-image: url(/images/vip_46.jpg);
	background-repeat: repeat-x;
	height: 217px;
	text-align:left;
}
#hongcontleft {
	float: left;
	height: 217px;
	width: 76px;
	background-image: url(/images/vip_44.jpg);
	background-repeat: no-repeat;
}
#hongcontright {
	float: left;
	width: 660px;
	height: 201px;
	background-image: url(/images/vip_48.jpg);
	background-repeat: no-repeat;
	background-position: right;
	text-align: left;
	padding: 8px;
}
.yellow {
	font-size: 14px;
	color:#000000;
	line-height: 26px;
}
#chengcontright dt {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #86C1EA;
	line-height: 25px;
	font-size: 12px;
	color: #FFFFFF;
}
.yellow a:hover {
	color:#FFFF99;
}
#chengcontright a {
	color: #FFFF33;
	text-decoration: none;
}
a:visited {
	color: #253FA7;
}
#line02 {
	clear: both;
	background-color: #AFBFC9;
	height: 1px;
}
#chengcontright img {
	float: left;
	border: 1px solid #FFFFFF;
	background-color: #FFFFFF;
	margin-right: 8px;
}
.blue {
	font-weight: bold;
	color:#FFFFFF;
	font-size: 12px;
	line-height: 26px;
}
#lancontright dt {
	line-height: 25px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #86C1EA;
	font-size: 12px;
}
#lancontright img {
	float: left;
	margin-top: 8px;
	border: 1px solid #FFFFFF;
	margin-right: 8px;
}
.zisw {
	line-height: 25px;
	font-weight: bold;
	color: #E0CBF5;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D1B1F1;
}

#vip04-title {
	line-height: 28px;
	font-weight: bold;
	color: #FFFFFF;
	height: 28px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	background-image: url(/images/icon_322.gif);
	background-repeat: no-repeat;
	background-position: left center;
	text-indent: 20px;
}
#vip04 {
	margin-top: 15px;
	text-align: left;
	padding: 5px;
	border-bottom-width: 2px;
	border-bottom-style: dashed;
	border-bottom-color: #DDEEFF;
}
#vip04 dt {
	color: #FFFFFF;
	line-height: 23px;
	font-size: 12px;
	border-bottom: 1px solid #6CB7EE;
	background-image: url(/images/55_0333.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	text-indent: 8px;
}

#vip05{
	background:url(/images/vip/channels.gif);
	font-size:12px;
	height:186px;
	margin-top: 0px;
	line-height:30px;
	text-align: left;
	padding-left: 20px;
	padding-top:50px;
}

#vip_new{
	height:auto;
	margin-top:5px;
	border: 1px solid #1C6CA8;
	background-image: url(/images/vip/new_vip_header.gif);
	background-repeat: no-repeat;
	background-color: #F4F6F8;
}

#vip_hot{
	background:url(/images/vip/hot_vip_header.gif);
	height:46px;
	margin-top:10px;
}

.v_content{
	background:#F4F6F8; 
	border-left:#ffffff 1px solid;
	border-bottom:#ffffff 1px solid;
	border-right:#ffffff 1px solid;
	font-size:12px; 
	text-align:left; 
	line-height:20px;
	padding-left: 5px;
	margin-bottom:10px;
}
.v_content dt{
	font-size:12px;
	color:#666666;
}

.vip_content{
	width:775px;
	height:atuo;
	float:left;
	background:#FFFFFF;
	color:#333333;
	font-size:14px;
	line-height:40px;
}

.vip_header{
	background:url(/images/vip/vip_header.gif);
	width:680px;
	height:78px;
	font-size:16px;
	color:#FFFFFF;
	font-weight:bold;
	line-height:70px;
	padding-left:10px;
	margin-left:15px;
}


.vip_bottom{
	background:url(/images/vip/vip_bottom.gif);
	width:694px;
	height:70px;
	float:right;
	padding-left:10px;
	margin-top:10px;
	margin-left:15px;
	
}

.vip_div{
	margin-top:30px;
	margin-left:28px;
	border:1px #CCCCCC solid;
	 float:left; 
	 width:314px; 
	 height:338px; 
}
/**
	以下是针对某些单个页面,进行单独的CSS设置，但有些样式也会被其它地方用到。	
**/


/*new页面*/
#new-left-form {
	width: 298px;
	float: left;
	padding: 1px;
	border: 2px solid #EFF0F5;
	background-color: #99AEBF;
}

#new-right-form  {
	width: 435px;
	float: left;
	padding: 1px;
	border: 2px solid #EFF0F5;
	background-color: #99AEBF;
}

#new-listleft-top {
	height: 25px;
	background-image: url(/images/v_21.jpg);
	background-repeat: repeat-x;
	line-height: 25px;
	font-weight: bold;
	color: #0A1773;
	text-align: left;
	text-indent: 10px;
	font-size: 12px;
	background-color: #FFFFFF;
	background-position: left right;
}

#new-listleftmid005 {
	background-color: #FFFFFF;
	text-align: left;
	text-indent: 12px;
	padding: 8px;
	height: auto;
}
#new-listleftmid006 {
	background-color: #FFFFFF;
	text-align: left;
	padding: 8px;
	height: auto;
}
#new-listleftmid005 dt {
	/*font-weight: bold;*/
	/*text-decoration: underline;*/	
	line-height: 26px;
}
#new-listleftmid005 dt a {
	color:#0099FF;
	font-weight: bold;
	/*text-decoration: underline;*/
}
#new-listleftmid005 a:hover {
	color: #FF9900;
}
#new-listleftmid005 p {
	color:#000000;
	font-size: 12px;
	text-indent:24px;
	line-height: 19px;
	display: block;
	height: auto;
}
#new-listleftmid005 dd {
	line-height: 26px;
	text-align: right;
	font-size:12px;
	color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #B8C2D6;
}

#new-title04{
	margin-top:10px;
	text-align:left;
	color:#000000;
	font-size:14px;
	font-weight:bold;
	line-height:24px;
	margin-bottom:20px;
}

#new-person-cont{
	font-size:14px;
	line-height:24px;
	color:#666666;
	text-align:left;
}

#new-left04 {
	width: 800px;
	float: left;
	color: #FFFFFF;
	padding: 10px;
	margin-left: 3px;
}
/*开源人物页面*/


/*学院页面*/




/*开源人物*/
#public-info-mid{
	font-size:12px;
	height: 234px;
	text-align: left;
}

#preson-listleft-mid {
	background-color: #FFFFFF;
	padding-top: 5px;
	padding-right: 7px;
	padding-bottom: 5px;
	padding-left: 7px;
	text-align: left;
}

#preson-listleft-bottom {
	background-color: #FFFFFF;
	background-repeat: repeat-x;
	background-image: url(/images/v_54.jpg);
	height: 28px;
	line-height: 25px;
}
#preson-listleft-mid dt {
	line-height: 23px;
	font-size:12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E6E6E6;
	background-image: url(/images/55_03.gif);
	background-repeat: no-repeat;
	background-position: left center;
	text-indent: 10px;
}
#preson dt a:hover{
	line-height: 23px;
	font-size:12px;
	color:#FF0000
}


#preson-listleft-mid dd {
	color: #999999;
	font-size:12px;
	float: right;
	line-height: 23px;
}



/*下拉框样式*/
.box 
{ 
border: 1px solid #99CCFF; 
width: 182px; 
height: 20px; 
clip: rect( 0px, 181px, 20px, 0px ); 
overflow: hidden; 
} 
.box2 
{ 
border: 1px solid #99CCFF; 
width: 180px; 
height: 18px; 
clip: rect( 0px, 179px, 18px, 0px ); 
overflow: hidden; 
} 
select 
{ 
font-size:12px;
position: relative; 
left: -2px; 
top: -2px; 
width: 183px; 
line-height: 14px; color: #909993; 
border-style: none; 
border-width: 0px; 
} 


/*注册*/
#fenge{
background: #FEF4D9;
width:700px;
height:30px;
font-size:12px;
color:#000000;
line-height:30px;
border-bottom:1px solid #E5D065;}

#input_bg{
	width:100%;
	padding-top:10px;
	font-size:12px;
	color:#333333;
	text-align:left;
	height:auto;
	background-color: #FFFFFF;
	padding-bottom: 8px;
	padding-left: 8px;
}

#r_left{
padding-left:20px;
width:400px;
height:70px;
line-height:20px;
float:left;
}

#zf_right{
width:240px;
height:70px;
line-height:20px;
display:inline; 
font-size:11px; 
color:#999999;
width:200px;
float:left;
position:relative;

}

#r_content{
 float:center;
 width:760px;
}

#r_header {
	clear: both;
	margin-top: 10px;
	margin-right:0px;
	margin-left:0px;
	margin-bottom: 20px;
	border: 1px solid #BCD5F3;
	text-align: left;
}

.button{
	width:115px;
	height:36px;
	font-size:14px;
	color:#0066CC;
	line-height:23px;
	background-image: url(../images/gif-0114.jpg);
	background-repeat: no-repeat;
}
.button2{
	width:115px;
	height:36px;
	font-size:14px;
	color:#0066CC;
	line-height:23px;
	background-image: url(../images/gif-01144.jpg);
	background-repeat: no-repeat;
}

/*这个主要是控制登录框内，右边那部分的控件位置*/
.r_right_content{
border-bottom:1px solid #dddddd; 
width:220px;
margin-left:auto; 
margin-right:auto;
}


/*博客主面右侧留言板样式*/

#new-rightin-4 p{
	font-size:12px;
	color:#CCCCCC;
	text-align:left;
}
#new-rightin-4 h2{
	font-size:12px;
	color:#666666;
	text-align:right;
	border-bottom:1px #CCCCCC dotted;
}
#new-rightin-4 {
	padding: 6px;
	background-color: #FFFFFF;
	text-align: left;
}
#new-rightin-4 img {
	margin-right: 5px;
}

/*下载页面*/
.down-entry{
	width:auto;
	border:1px solid #C4CFDD;
	margin-top:10px;
	background-color: #F4FBFF;
	padding: 4px;
}
.down-entry h2{
	font-size:14px;
	color:#0099FF;
}
.down-entry p{
	font-size:12px;
	color:#003366;
	line-height: 24px;
}
#down-leftico{
	text-align: left;
	height: 128px;
	width: 128px;
	float:left;
	background-image: url(/images/downloadweb.gif);
	background-position: center;
}
#down-post{
	text-align: right;
	width:auto;
	float: right;
	background-color: #FFFFFF;
}

/*搜索页面*/
.result_box{
	background-repeat:repeat-x;
	height:145px;
	width:96%;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 15;
	margin-left: auto;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #B9C1CE;
	border-bottom-color: #B9C1CE;
	border-left-color: #B9C1CE;
	background-color: #FFFFFF;
	background-image: url(/images/search_result.gif);
}
.result_titl{
	margin-bottom:10px;
	height:30px;
	line-height:30px;
}
.result_t_logo{
	background:url(/images/result_titlelogo.gif);
	background-repeat:repeat-y;
	width:18px;
	height:20px;
	margin-left:5px;
	margin-top:5px;
	float:left;
}
.result_info{
	color:#333333;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:5px;
}
.result_date{
	margin-top:10px;
	margin-bottom:10px;
	margin-left:5px;
}

/*定单页面 公用*/
.train_box{
	width:700px;
	height:260px;
}
.train_row{
	height:35px;
	width:700px;
	color:#333333;
	font-size:12px;
}
.train_title{
	text-align:left;
	width:90px;
	color:#333333;
	font-size:12px;
	float:left;
}
.train_input{
	width:600px;
	color:#333333;
	font-size:12px;
	float:left;
}
#flash {
	border: 1px solid #000000;
}
#flashcontent {
	border: 1px solid #000000;
}
#copyline {
	margin-top: 8px;
}
#vipleft {
	float: left;
	height: auto;
	width: 775px;
	margin-top: 4px;
}
#qyvip {
	background-image: url(../images/qyVIP.jpg);
	background-repeat: no-repeat;
	height: 447px;
}
#grvip {
	background-image: url(../images/grVIP.jpg);
	background-repeat: no-repeat;
	height: 449px;
}
#zyvip {
	height: 35px;
	line-height: 30px;
	padding-left: 8px;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
}
#vip_new p {
	line-height: 24px;
}
#vip_new dt {
	line-height: 24px;
}

#qqonline p {
	font-size: 14px;
	font-weight: bold;
	color: #05A5C1;
	font-family: "Times New Roman", Times, serif;
}
#vipr01 {
	color: #0095B6;
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
	line-height: 14px;
}
#picshow img {
	border: 2px solid #0242A3;
	margin-right: 8px;
	margin-left: 18px;
}
#picshow {
	height: 184px;
}
#chengcontright p {
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
}
#picname {
	width: 130px;
	margin-right: 8px;
	margin-left: 18px;
	line-height: 18px;
	font-weight: bold;
	font-size: 12px;
	float: left;
	text-align: center;
}
#ywdl {
	height: auto;
	width: 140px;
	float: left;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 8px;
}
#ywdl img {
	margin-bottom: 12px;
	border: 1px solid #0242A3;
}
#ywdl-r {
	float: left;
	margin-left: 10px;
	width: 500px;
	font-size: 12px;
}
#rightin-3 img {
	line-height: 24px;
	margin-top: 8px;
}
#top {
	height: 94px;
	text-align: left;
	float: left;
}
#swsy {
	float: right;
	width: 170px;
	line-height: 30px;
	height: 30px;
}
.green {
	font-weight: bold;
	color: #339900;
}
.red05 {
	color: #00609D;
	font-weight: bold;
}
.brown {
	color: #660000;
	font-weight: bold;
}
#pinglun{
	width:96%;
	text-align:left;
	margin-bottom:6px;
	background-image: url(../images/TEAM.gif);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9FAAB0;
	background-repeat: no-repeat;
	background-position: left center;
	line-height: 25px;
	text-indent: 20px;
	margin-left: 15px;
}#pinglun02 {
	width: 710px;
	text-align: left;
	margin-left: 15px;
}
.blue03 {
	color: #5C8DCF;
}
pmidpinglun {
	padding-top: 6px;
	padding-bottom: 8px;
}
#reviewFormMsg {
	padding-bottom: 8px;
}
#subinput {
	background-image: url(../images/gif-00634.gif);
	background-repeat: no-repeat;
	height: 51px;
	width: 120px;
	background-position: center;
	background-color: #FFFFFF;
	margin-left: 280px;
}
.reviewFormMsginput {
	background-image: url(../images/gif-00634.gif);
	background-repeat: no-repeat;
	height: 51px;
	width: 120px;
	background-position: center;
	background-color: #FFFFFF;
	margin-left: 280px;
}
.red005{
	color: #8A0000;
	background-image: url(../images/gif-0933.gif);
	background-repeat: no-repeat;
	background-position: left top;
	text-align: left;
	line-height: 20px;
}
#rr-content textarea {
	width: 400px;
	height: 150px;
	margin-left: 100px;
	margin-top: 10px;
	margin-bottom: 12px;
	background-color: #F4FDFF;
	border: 1px solid #B0C4CC;
	padding: 8px;
	font-size: 12px;
	line-height: 24px;
	color: #00A3D9;
}
#reviews dd {
	color: #999999;
	font-size: 12px;
	line-height: 23px;
}
#dangntj {
	background-image: url(../images/gif-0114.jpg);
	background-repeat: no-repeat;
	height: 36px;
	width: 115px;
	margin-left: 160px;
	margin-bottom: 8px;
	background-color: #FFFFFF;
}
#dangnqk {
	background-image: url(../images/gif-01144.jpg);
	height: 36px;
	width: 115px;
	margin-bottom: 8px;
	background-color: #FFFFFF;
}
#rr-content0 dt {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DFDFDF;
	text-align: left;
	font-size: 12px;
	line-height: 23px;
	background-image: url(../images/55_03.gif);
	text-indent: 10px;
	background-repeat: no-repeat;
	background-position: 2px center;
	list-style-type: none;
}
#rr-content0 dd {
	line-height: 23px;
	color: #666666;
	float: right;
	font-size: 12px;
}
#rr-content0 {
	margin-right: 14px;
	margin-left: 42px;
}
#pinglun02 li {
	color: #333333;
	line-height:25px;
	font-size:12px; 
	list-style-type: none; 

}
#pmid02 {
	background-color: #F7FAFF;
	padding-top: 5px;
	height: auto;
	padding-bottom: 5px;
	text-align: left;
	font-size: 12px;
	float: left;
	width: 740px;
}
#pmid08 {
	background-color: #F7FAFF;
	padding-top: 5px;
	height: auto;
	padding-bottom: 5px;
	text-align: left;
	font-size: 12px;
	float: left;
	width: 740px;
}#zfzf {
	margin-right: 5px;
}
#listline {
	height: 10px;
}
.down-post {
	background-color: #FFFFFF;
	padding: 5px;
}
.down-post a {
	font-weight: bold;
	color: #26A507;
}
.down-post a:visited {
	color: #FF6600;
}#zf_right {
	float: left;
	width: 600px;
}
#r_left {
	width: 600px;
}
/*支付*/
#fenge{
	width:757px;
	height:30px;
	font-size:14px;
	color:#0099FF;
	line-height:30px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #74B4ED;
	background-color: #F4FDFF;
	font-weight: bold;
	background-image: url(../images/mom.jpg);
	background-repeat: no-repeat;
	background-position: 5px center;
	text-indent: 28px;
	float: left;
}

#input_bg{
	padding-top:10px;
	font-size:12px;
	color:#333333;
	text-align:left;
	height:auto;
	background-color: #FFFFFF;
	float: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	width: 749px;
}

#r_left{
padding-left:20px;
width:200px;
height:auto;
line-height:20px;
float:left;
text-align:left;
font-size:11px; 
color:#333333;
width:200px;
}

#zf_right{
	width:222px;
	height:70px;
	line-height:20px;
	display:inline;
	font-size:12px;
	color:#000000;
	text-align:right;
	width:222px;
	float:left;
	padding-top: 10px;
}

#r_content{
 float:center;
 width:760px;
}

#r_header {
	clear: both;
	margin-top: 10px;
	margin-right:0px;
	margin-left:0px;
	margin-bottom: 20px;
	border: 1px solid #BCD5F3;
	text-align: left;
}
#onlinezf {
	line-height: 21px;
	color: #999999;
	width: 96%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: left;
}
#gmlx {
	padding-top: 6px;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-left: 10px;
	width: 560px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#onlinezf img {
	padding-top: 8px;
}
#zf_left {
	float: left;
	width: 400px;
	height: auto;
	line-height: 24px;
	color: #999999;
}
#zf_right {
	float: left;
	height: auto;
	line-height: 24px;
}
.green05 {
	font-size: 14px;
	font-weight: bold;
	color: #009900;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#tel {
	background-image: url(../images/djh-18.jpg);
	background-repeat: no-repeat;
	height: 56px;
	width: 115px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-left: 80px;
	padding-top: 8px;
	color: #01A3C4;
	line-height: 20px;
	background-position: left center;
}
#smqh {
	width: 195px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#qqonline {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 3px;
}#talk {
	width: 187px;
	background-image: url(../images/djh-03.jpg);
	height: 59px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 6px;
	padding-left: 6px;
	font-size: 12px;
	background-repeat: no-repeat;
	background-position: left top;
}
#qq01 {
	margin-left: 10px;
	margin-bottom: 6px;
}
#qq2 {
	margin-bottom: 5px;
	margin-left: 10px;
}
#lczf {
	width: 170px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#paynow {
	margin-left: 25px;
}
#r_headerzc {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#r_contentzc {
	width: 757px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#content{
	text-indent:24px;
	padding-right: 16px;
	padding-left: 16px;
}
#r_left0 {
	line-height: 40px;
	color: #999999;
	width: 350px;
	float: left;
}
#r_right0 {
	float: left;
	width: 350px;
	margin-left: 10px;
	line-height: 22px;
	color: #999999;
}
#r_left0 textarea {
	height: 100px;
	width: 300px;
	margin-bottom: 12px;
	background-color: #F4FDFF;
	border: 1px solid #B0C4CC;
	padding: 8px;
	font-size: 12px;
	line-height: 24px;
	color: #00A3D9;
}

#r_left00 {
	float: left;
	width: 400px;
}
#pxhd01 {
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-left: 12px;
	text-align: left;
	line-height: 24px;
}
#new-listleftmid006 li {
	list-style-type: none;
	font-size: 12px;
	line-height: 24px;
	color: #999999;
}
.brown02 {
	font-size: 12px;
	line-height: 35px;
	color: #660000;
	padding: 8px;
}
#flash02 {
	float: left;
	height: 180px;
	margin-bottom: 2px;
	clear: both;
	margin-left: 4px;
}
/*********************paginationDCҳʽʼ*********************/
.p_bar { margin: 1px 0px;font: 12px Tahoma, Verdana; }
.p_bar a { color: #000080; padding: 2px 6px; font-size: 12px; float: left; text-decoration:none;}
.p_input { width: 35px; height: 19px !important;height: 16px; padding:0; margin:0; border:0; }
.p_total { font-weight: bold; background: #f2f3f7; border: #666688 1px solid; border-right-width:0;}
.p_pages { font-weight: bold; margin-right:1px; background: #f2f3f7; border:#666688 1px solid; }
.p_num { VERTICAL-ALIGN: middle; margin-right: 1px; background: #ffffff; border:#666688 1px solid; cursor:pointer; }
.p_redirect { margin-right: 1px; background:#FFFFFF; border: #666688 1px solid; cursor:pointer; }
.p_num:hover,.p_redirect:hover { background-color: #f2f3f7; text-decoration: none; border: #666688 1px solid; }
.p_curpage { font-weight: bold; vertical-align: middle; border: #666688 1px solid; color: #666677; margin-right:1px;					             background: #dddde4;
}
/*********************paginationDCҳʽ*********************/
