/* Effective stylesheet produced by snapshot save */
#top { background-color: rgb(128, 175, 39) ! important; height: 75px; vertical-align: middle; color: rgb(204, 204, 204); padding-left: 10px; background-image: url(""); }
#sub { text-align: right; background-color: rgb(253, 249, 200) ! important; color: rgb(204, 204, 204); font-size: 14px; padding: 4px 4px 4px 10px; }
