/* Effective stylesheet produced by snapshot save */
body { font-size: 13px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; margin: 10px 30px; padding: 10px 30px; background-color: rgb(217, 214, 203); word-wrap: break-word; }
img { border: 0px none; }
td { font-size: 12px; }
a { color: rgb(34, 51, 85); text-decoration: none; }
.postbody a { color: rgb(29, 88, 209); }
a:hover { text-decoration: underline; }
h1 { margin: 0px; padding-top: 5px; font-size: 1.8em; }
h2 a, .postfoot a { color: rgb(34, 51, 85); }
h1 a:visited, h1 a:active, h1 a:link, h1 a:hover { color: rgb(255, 255, 255); margin-top: 10px; text-decoration: none; }
h2 { margin-top: 10px; font-size: 1em; }
#top { background-color: rgb(32, 55, 95); background-image: url("urn:not-loaded:http://www.blogjava.net/Skins/HabaHaba/images/HeaderBg.gif"); height: 75px; vertical-align: middle; }
#top td { color: white; text-align: left; }
#top h1 { font-weight: normal; }
#sub { text-align: right; background-color: black; background-image: url("SubHeaderBg.gif"); color: rgb(204, 204, 204); font-size: 0.8em; padding: 4px; }
.headermaintitle { font-family: "Trebuchet MS"; }
#leftmenu { left: 0px; width: 180px; padding: 0px 0px 5px; }
#leftmenu h3 { font-size: 1em; margin: 0px; padding: 4px; background-image: url("ColumnHeaderBg.gif"); background-repeat: repeat-x; color: rgb(102, 102, 102); }
#leftmenu ul { list-style: outside none none; margin: 0px 0px 10px 8px; padding: 0px; font-size: 13px; }
#leftmenu li { margin-top: 6px; }
#leftmenu a:active, #leftmenu a:visited, #leftmenu a:link { color: rgb(0, 0, 0); text-decoration: none; margin-right: 0px; padding: 2px; }
#leftmenu a:hover { text-decoration: underline; color: rgb(29, 88, 209); }
#main {  }
#footer { margin: 0px; padding-top: 5px; text-align: center; font-size: 0.7em; }
textarea { width: 300px; height: 200px; }
p { margin: 0px 0px 14px; }
h3 { font-size: 1.2em; }
.post { border-width: 1px 2px 2px 1px; border-style: solid; border-color: rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding: 0px; margin-bottom: 28px; }
.posthead { background-color: rgb(238, 238, 238); background-image: url("PostHeaderBg.gif"); background-position: center bottom; background-repeat: repeat-x; border-bottom: 1px solid rgb(204, 204, 204); padding: 4px; color: rgb(68, 68, 68); font-size: 9px; }
.postbody { padding: 4px; margin-bottom: 14px; font-size: 13px; }
.posthead h2 { font-size: 13px; margin: 0px; }
.Textbox, textarea { border: 1px solid rgb(170, 170, 170); width: 160px; font-size: 12px; }
input, textarea { font-family: Verdana,Geneva,Arial,sans-serif; font-size: 10px; }
.Framework { border: 1px solid black; background-color: rgb(238, 238, 238); }
.MainCell { border-left: 1px solid rgb(221, 221, 221); border-bottom: 1px solid rgb(221, 221, 221); padding: 10px; background-color: White; vertical-align: top; }
.LeftCell { width: 200px; vertical-align: top; }
.FooterCell { vertical-align: top; height: 30px; }
.Cal { border: 1px solid rgb(153, 153, 153); width: 100%; font-size: 15px; margin-top: 5px; margin-bottom: 5px; height: 170px; background-color: rgb(238, 238, 238); margin-left: 0px; font-weight: normal; font-style: normal; }
.CalTitle { font-size: 14px; font-family: Arial; margin-left: 0px; padding: 0px; height: 12px; }
.CalOtherMonthDay { color: rgb(128, 128, 128); }
.CalNextPrev {  }
.CalDayHeader { background-color: rgb(204, 204, 204); }
.CalWeekendDay {  }
.CalTodayDay { font-weight: bold; }
