/* Effective stylesheet produced by snapshot save */
@import url("font-awesome.css");
@import url("font-awesome-ie7.css");
.widget { margin-bottom: 0px; }
h3.widget-title { color: rgb(0, 153, 204); border-bottom: 1px solid rgb(232, 232, 232); font-size: 13px; line-height: 20px; padding-bottom: 5px; margin-top: 0px; font-family: "Microsoft YaHei","Myriad Pro","Lato","Helvetica Neue",Helvetica,Arial,sans-serif; }
h3.widget-title a { text-decoration: none; }
.widget p { font-size: 13px; }
#top-nav { height: 30px; width: 100%; z-index: 300; position: fixed; display: block; background: rgb(248, 248, 248) none repeat scroll 0% 0%; border-bottom: 1px solid rgb(238, 238, 238); margin-top: 0px; top: 0px; }
#top-nav ul { margin: 0px; padding: 0px; list-style: outside none none; line-height: 30px; position: relative; font-size: 12px; float: right; font-family: "Microsoft YaHei","Myriad Pro","Lato","Helvetica Neue",Helvetica,Arial,sans-serif; }
#top-nav ul a { display: inline-block; position: relative; text-decoration: none; }
#top-nav ul li { float: left; position: relative; }
#top-nav ul li:hover { visibility: inherit; }
#top-nav .left { float: left; text-align: left; }
#top-nav .parent-menu span a::after { display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; font-size: 15px; line-height: 0.9; content: ""; text-shadow: 0px 0px 1px rgb(239, 239, 239); margin-left: 3px; }
#top-nav ul li { border-right: 1px solid rgb(238, 238, 238); }
#top-nav ul li:last-child { border-right: medium none; }
#top-nav ul a { padding: 0px 10px; color: rgb(51, 51, 51); height: 30px; line-height: 30px; }
#top-nav ul a:hover, #top-nav ul li.sfHover a, #top-nav ul li.current-cat a, #top-nav ul li.current-menu-item a { background: rgb(221, 221, 221) none repeat scroll 0% 0%; }
#top-nav ul ul { padding: 10px 0px; background: rgb(221, 221, 221) none repeat scroll 0% 0%; font-size: 12px; }
#top-nav ul ul li { height: 30px; line-height: 30px; border: medium none; padding: 0px 10px; float: none; }
#top-nav ul ul li a { line-height: 30px; height: 30px; display: block; padding: 0px 10px; border-top: 1px solid rgb(204, 204, 204); }
#top-nav ul ul li:first-child a, .ie7 #top-nav ul ul li a { border-top: medium none; }
#top-nav ul ul li.sfHover, #top-nav ul ul li.sfHover, #top-nav ul ul a:focus, #top-nav ul ul a:hover, #top-nav ul ul a:active { outline: 0px none; }
#top-nav a { display: block; width: auto; }
#top-nav li { float: left; width: auto; position: relative; }
#top-nav li ul { position: absolute; width: auto; left: -999em; min-width: 100%; }
#top-nav li:hover ul, #top-nav li.sfHover ul { left: auto; top: 30px; }
#top-nav li li { white-space: nowrap; min-width: 140px; }
li.menu-item { list-style: outside none none; }
footer { background: rgb(248, 248, 248) none repeat scroll 0% 0%; padding: 40px 0px 0px; border-top: 1px solid rgb(238, 238, 238); }
footer .widget a { color: rgb(88, 176, 213); }
#bottom { background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin-top: 20px; padding: 10px 0px; border-top: 1px solid rgb(238, 238, 238); }
#bottom p { font-size: 11px; line-height: 20px; margin-bottom: 0px; color: rgb(153, 153, 153); }
#bottom a { color: rgb(153, 153, 153); }
#bottom a:hover { color: rgb(88, 176, 213); }
.post-adds { margin: 30px 0px; }
.post-adds .btn-bluet-bigger { margin-right: 5px; }
.href-style { cursor: pointer; }
.btn { padding: 6px 12px; font-size: 14px; border: medium none; border-radius: 5px; cursor: pointer; }
.btn:active, .btn.active { outline: 0px none; background: inherit; box-shadow: none; }
.btn:focus, .btn:active:focus, .btn.active:focus { outline: medium none; background: inherit; }
.btn-non-transparent { background: transparent none repeat scroll 0% 0%; border: 1px solid rgb(204, 204, 204); }
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active:focus { color: rgb(255, 255, 255); box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px -1px rgba(255, 255, 255, 0.88) inset; background: transparent linear-gradient(rgb(93, 164, 255), rgb(65, 123, 255)) repeat scroll 0% 0%; }
.btn-bluet-bigger { padding: 8px 10px; font-size: 16px; color: rgb(255, 177, 92); background: transparent none repeat scroll 0% 0%; border: 1px solid rgb(205, 205, 205); border-radius: 5px; }
.btn-bluet-bigger:hover, .btn-bluet-bigger:focus, .btn-bluet-bigger:active:focus { color: rgb(88, 176, 213); background: transparent none repeat scroll 0% 0%; border: 1px solid rgb(88, 176, 213); }
.dot-box { font-weight: normal; padding: 20px 10px; border: 1px dotted rgb(198, 198, 198); }
.dot-box button { margin-right: 10px; }
.center-align { text-align: center; }
.href-style { cursor: pointer; }
.comments { display: block; clear: both; padding: 20px 0px 10px; overflow: hidden; }
.pinkiconcolor { color: hotpink; }
#rewardbox img:nth-child(n+2) { margin-left: 10px; }
html .hide-on-480 {  }
@media (max-width: 480px) {
  html .hide-on-480 { display: none; }
}
