/* Effective stylesheet produced by snapshot save */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, xmp { border: 0px none; margin: 0px; padding: 0px; font-size: 100%; }
html, body { height: 100%; word-break: break-all; }
a { text-decoration: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, video { display: block; }
b, strong { font-weight: bold; }
img { color: transparent; font-size: 0px; vertical-align: middle; }
li { display: list-item; }
table { border-collapse: collapse; border-spacing: 0px; }
th, td, caption { font-weight: normal; vertical-align: top; text-align: left; }
q::before, q::after { content: none; }
body { min-width: 960px; background: rgb(221, 221, 221) none repeat scroll 0% 0%; color: rgb(51, 51, 51); position: relative; }
.container { display: block; width: 960px; margin: 0px auto; }
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 { display: block; margin: 0px 10px; float: left; }
.grid-2 { width: 140px; }
.grid-4 { width: 300px; }
.grid-5 { width: 380px; }
.grid-7 { width: 540px; }
.grid-8 { width: 620px; }
.grid-12 { width: 940px; }
.container .container { margin-left: -10px; }
.container .grid-4 .container { width: 320px; }
.container .grid-8 .container { width: 640px; }
@media only screen and (min-width: 768px) and (max-width: 959px) {
  body { min-width: 720px; }
  .container { width: 720px; }
  .grid-2 { width: 100px; }
  .grid-4 { width: 220px; }
  .grid-5 { width: 280px; }
  .grid-7 { width: 400px; }
  .grid-8 { width: 460px; }
  .grid-12 { width: 700px; }
  .container .container { margin-left: -10px; }
  .container .grid-4 .container { width: 240px; }
  .container .grid-8 .container { width: 480px; }
}
@media only screen and (max-width: 767px) {
  body { min-width: 100%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
  .container { width: 95%; }
  .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 { width: 100%; margin: 0px; }
  .container .container { margin-left: 0px; }
  .container .grid-1 .container, .container .grid-2 .container, .container .grid-3 .container, .container .grid-4 .container, .container .grid-5 .container, .container .grid-6 .container, .container .grid-7 .container, .container .grid-8 .container, .container .grid-9 .container, .container .grid-10 .container, .container .grid-11 .container, .container .grid-12 .container { width: 100%; }
}
body { font: 13px/21px "Microsoft YaHei","宋体","Myriad Pro","Lato","Helvetica Neue",Helvetica,Arial,sans-serif; }
dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, blockquote, fieldset, figure { margin-bottom: 20px; }
p { margin-bottom: 20px; }
pre, code { font-family: Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace; }
h1 { font: bold 26px/40px "Microsoft YaHei","Myriad Pro","Lato","Helvetica Neue",Helvetica,Arial,sans-serif; }
h2 { font: bold 24px/36px "Microsoft YaHei","Myriad Pro","Lato","Helvetica Neue",Helvetica,Arial,sans-serif; }
h3 { font: bold 20px/30px "Microsoft YaHei","Myriad Pro","Lato","Helvetica Neue",Helvetica,Arial,sans-serif; }
ol { list-style: inside none decimal; }
ul { list-style: inside none disc; }
ul ul { margin-bottom: 0px; margin-left: 20px; list-style-type: circle; }
li { margin-left: 0px; }
a { color: rgb(0, 153, 204); }
.alignright { text-align: right; float: right; margin-left: 20px; }
.alignleft { text-align: left; float: left; margin-right: 20px; }
table { border: 1px solid rgb(232, 232, 232); padding: 0px 5px; width: 100%; }
tr { border-bottom: 1px solid rgb(232, 232, 232); }
th, td { padding: 5px; vertical-align: middle; text-align: center; }
tr td { border-right: 1px solid rgb(232, 232, 232); }
#wrapper { background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 20px 10px; }
.header-wrapper { position: relative; margin-top: 30px; }
#logo a { display: block; }
#logo.leaderboard-true { float: left; margin: 0px 20px 10px 10px; }
#logo.leaderboard-true img { width: 100%; }
#leaderboard { width: 728px; height: 90px; float: right; margin-right: 10px; }
footer { background: rgb(248, 248, 248) none repeat scroll 0% 0%; padding: 40px 0px 0px; border-top: 1px solid rgb(238, 238, 238); }
#bottom { background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin-top: 20px; padding: 10px 0px; border-top: 1px solid rgb(238, 238, 238); }
#bottom p { font-size: 11px; line-height: 20px; margin-bottom: 0px; color: rgb(153, 153, 153); }
#bottom a { color: rgb(153, 153, 153); }
#bottom a:hover { color: rgb(51, 51, 51); }
.tri-right-dark.left-top-dark::after { content: " "; position: absolute; width: 0px; height: 0px; left: -20px; right: auto; top: 10px; bottom: auto; border-width: 22px 0px 22px 22px; border-style: solid none solid solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: lightyellow transparent transparent; }
.tri-right-blue.left-top-blue::after { content: " "; position: absolute; width: 0px; height: 0px; left: -20px; right: auto; top: 10px; bottom: auto; border-width: 22px 0px 22px 22px; border-style: solid none solid solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgb(233, 250, 255) transparent transparent; }
#top-nav ul li { border-right: 1px solid rgb(238, 238, 238); }
#top-nav ul li:last-child { border-right: medium none; }
#top-nav ul a { padding: 0px 10px; color: rgb(51, 51, 51); height: 30px; line-height: 30px; }
#top-nav ul a:hover, #top-nav ul li.sfHover a, #top-nav ul li.current-cat a, #top-nav ul li.current-menu-item a { background: rgb(221, 221, 221) none repeat scroll 0% 0%; }
#top-nav ul ul { padding: 10px 0px; background: rgb(221, 221, 221) none repeat scroll 0% 0%; font-size: 12px; }
#top-nav ul ul li { height: 30px; line-height: 30px; border: medium none; padding: 0px 10px; float: none; }
#top-nav ul ul li a { line-height: 30px; height: 30px; display: block; padding: 0px 10px; border-top: 1px solid rgb(204, 204, 204); }
#top-nav ul ul li:first-child a, .ie7 #top-nav ul ul li a { border-top: medium none; }
#top-nav ul ul li.sfHover, #top-nav ul ul li.sfHover, #top-nav ul ul a:focus, #top-nav ul ul a:hover, #top-nav ul ul a:active { outline: 0px none; }
#top-nav a { display: block; width: auto; }
#top-nav li { float: left; width: auto; position: relative; }
#top-nav li ul { position: absolute; width: auto; left: -999em; min-width: 100%; }
#top-nav li:hover ul, #top-nav li.sfHover ul { left: auto; top: 30px; }
#top-nav li li { white-space: nowrap; min-width: 140px; }
#main-nav { height: 40px; z-index: 299; margin-top: 10px; margin-bottom: 20px; position: relative; border-bottom: 10px solid rgb(51, 51, 51); border-radius: 0px 0px 2px 2px; }
#main-nav ul { margin: 0px; padding: 0px; list-style: outside none none; line-height: 40px; position: relative; font-size: 14px; font-weight: bold; font-family: "Microsoft YaHei","Myriad Pro","Lato","Helvetica Neue",Helvetica,Arial,sans-serif; }
#main-nav ul a { display: inline-block; position: relative; text-decoration: none; }
#main-nav ul li { float: left; position: relative; }
#main-nav ul li:hover { visibility: inherit; }
#main-nav ul li { border-right: 1px solid rgb(255, 255, 255); }
#main-nav ul li:last-child { border-right: medium none; }
#main-nav ul a { padding: 0px 20px; color: rgb(51, 51, 51); height: 40px; line-height: 40px; }
#main-nav ul a:hover, #main-nav ul li.sfHover a, #main-nav ul li.current-cat a, #main-nav ul li.current-menu-item a { background: rgb(51, 51, 51) none repeat scroll 0% 0%; color: rgb(255, 255, 255); border-radius: 2px 2px 0px 0px; }
#main-nav ul ul { padding: 10px 0px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; }
#main-nav ul ul li { height: 30px; line-height: 30px; border: medium none; padding: 0px 10px; float: none; }
#main-nav ul ul li a { line-height: 30px; height: 30px; display: block; padding: 0px 10px; border-top: 1px solid rgb(102, 102, 102); border-radius: 0px ! important; }
#main-nav ul ul li:first-child a, .ie7 #main-nav ul ul li a { border-top: medium none; }
#main-nav ul ul li.sfHover, #main-nav ul ul li.sfHover, #main-nav ul ul a:focus, #main-nav ul ul a:hover, #main-nav ul ul a:active { outline: 0px none; }
#main-nav a { display: block; width: auto; }
#main-nav li { float: left; width: auto; position: relative; }
#main-nav li ul { position: absolute; width: auto; left: -999em; min-width: 100%; }
#main-nav li:hover ul, #main-nav li.sfHover ul { left: auto; top: 40px; }
#main-nav li li { white-space: nowrap; min-width: 140px; }
#breadcrumb { display: block; background: rgb(248, 248, 248) none repeat scroll 0% 0%; border: 1px solid rgb(238, 238, 238); border-radius: 2px; font-family: "Microsoft YaHei","Myriad Pro","Lato","Helvetica Neue",Helvetica,Arial,sans-serif; }
.breadcrumb-wrapper { display: block; padding: 10px; }
#breadcrumb a { text-decoration: none; }
.entry-header h1 { font-size: 24px; line-height: 30px; font-weight: normal; padding-bottom: 20px; border-bottom: 1px solid rgb(232, 232, 232); margin: 0px 0px 20px; text-align: center; font-family: "Microsoft YaHei","Myriad Pro","Lato","Helvetica Neue",Helvetica,Arial,sans-serif; }
.entry-meta, .post-meta { font-size: 12px; color: rgb(153, 153, 153); }
.entry-meta a, .post-meta a { color: rgb(153, 153, 153); }
.entry-meta a:hover, .post-meta a:hover { color: rgb(51, 51, 51); }
.entry-meta p { margin-bottom: 5px; }
.entry-meta { border-bottom: 1px dotted rgb(232, 232, 232); margin-bottom: 5px; padding-bottom: 30px; }
.post-meta .meta-title { color: rgb(51, 51, 51); text-transform: none; font-weight: bold; font-size: 13px; text-decoration: none; font-family: "Microsoft YaHei","Myriad Pro","Lato","Helvetica Neue",Helvetica,Arial,sans-serif; }
.post { padding-bottom: 20px; }
.post img { max-width: 100%; height: auto; }
.entry img { display: block; max-width: 100%; height: auto; clear: both; margin: auto; }
.entry { color: rgb(46, 46, 46); font-size: 15px; font-weight: normal; line-height: 1.6; word-break: break-all; padding: 0px 5px; }
.entry ul li, .entry ol li { margin-bottom: 5px; margin-left: 30px; }
.entry ul, .entry ol { display: block; list-style-position: outside; }
.entry #single-page-inner-widget { font-size: 15px; font-weight: bold; margin: 10px 0px 20px; padding: 10px; border: 1px dotted rgb(155, 155, 155); }
.post-thumb { margin-bottom: 20px; }
.navigation .alignleft { float: left; }
.navigation .alignright { float: right; }
.copyright-area { background-color: rgb(240, 240, 240); padding: 10px; margin-bottom: 20px; }
#author-bio { clear: both; margin-bottom: 20px; border-bottom: 1px solid rgb(232, 232, 232); }
#author-bio .alignleft a { width: 60px; height: 60px; display: block; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 5px solid rgb(232, 232, 232); transition: all 0.2s ease-in-out 0s; margin-top: 5px; overflow: hidden; }
#author-bio .alignleft a img { width: 100%; height: auto; min-height: 90%; }
#author-bio .alignleft { margin-bottom: 25px; }
.author-bio-info a { color: rgb(95, 95, 95); }
.author-bio-info .author-bio-info-block { display: block; margin: 10px 0px; }
.navigation { background: rgb(248, 248, 248) none repeat scroll 0% 0%; border: 1px solid rgb(238, 238, 238); padding: 10px; border-radius: 2px; text-align: center; }
.navigation a { font-weight: bold; text-decoration: none; }
input[type="text"], input[type="password"], textarea { border: 1px solid rgb(232, 232, 232); outline: medium none; font: 12px/20px Arial,sans-serif; display: block; }
input:focus, textarea:focus { border-color: rgb(0, 153, 204); }
input[type="text"], input[type="password"] { padding: 0px 4px; width: 280px; height: 28px; line-height: 28px; }
.input-wrapper { padding: 5px; background: rgb(248, 248, 248) none repeat scroll 0% 0%; }
.widget { margin-bottom: 0px; }
.textwidget img { max-width: 100%; height: auto; }
h3.widget-title { color: rgb(0, 153, 204); border-bottom: 1px solid rgb(232, 232, 232); font-size: 13px; font-weight: bold; line-height: 20px; padding-bottom: 5px; margin-top: 0px; font-family: "Microsoft YaHei","Myriad Pro","Lato","Helvetica Neue",Helvetica,Arial,sans-serif; }
h3.widget-title a { text-decoration: none; }
.floated-thumb { padding-bottom: 0px; margin-bottom: 0px; }
.floated-thumb p { margin-bottom: 5px; }
.floated-thumb .post-thumb { float: left; margin-right: 10px; margin-bottom: 20px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 4px; border: 1px solid rgb(232, 232, 232); transition: all 0.2s ease-in-out 0s; }
.floated-thumb .post-meta.no-thumb { margin-bottom: 20px; }
.nav-search-box { float: right; position: relative; top: -5px; }
#searchform { position: relative; margin-bottom: 20px; }
#s { padding-left: 82px; width: 205px; }
#searchselect { position: absolute; display: block; top: 6px; left: 6px; z-index: 2; height: 28px; width: auto; border: 0px none; padding: 0px; cursor: pointer; }
#searchsubmit { position: absolute; display: block; top: 6px; right: 6px; z-index: 2; height: 28px; width: 28px; border: 0px none; padding: 0px; text-indent: -9999px; cursor: pointer; background: rgb(51, 51, 51) url("search.png") no-repeat scroll 0px 0px; }
#searchsubmit:hover { background-color: rgb(0, 153, 204); }
.slides::after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0px; }
.tabs { margin: 0px 0px 20px; display: block; }
.tabs ul.nav { list-style: outside none none; margin: 0px; padding: 0px; }
.tabs ul.nav li { float: left; position: relative; z-index: 10; padding: 0px; margin: 0px 0px -1px; border-width: 1px; border-style: solid; border-color: transparent transparent rgb(232, 232, 232); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.tabs ul.nav li a { color: rgb(51, 51, 51); text-decoration: none; font-weight: bold; display: block; overflow: hidden; }
.tabs ul.nav li a:hover { color: rgb(0, 153, 204); }
.tabs .tab { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(232, 232, 232); padding: 20px 12px; }
.tabbed_widget .nav { font-family: "Microsoft YaHei","Myriad Pro","Lato","Helvetica Neue",Helvetica,Arial,sans-serif; }
.tabbed_widget ul { margin: 0px; }
.tabbed_widget li { list-style: outside none none; padding-bottom: 5px; margin-bottom: 5px; margin-left: 0px; width: auto; }
.tabbed_widget li:last-child { padding-bottom: 0px; border-bottom: 0px none; margin-bottom: 0px; }
.tabbed_widget ul.nav li a { display: block; padding: 10px; background: transparent none repeat scroll 0% 0%; text-indent: 0px; width: auto; outline: medium none; }
.tabbed_widget ul.nav li.active a, .tabbed_widget ul.nav li a:hover { background: transparent none repeat scroll 0% 0%; }
.tabbed_widget #tab1 a, .tabbed_widget #tab2 a { font-size: 13px; text-transform: none; text-decoration: none; color: rgb(51, 51, 51); font-weight: normal; }
.tabbed_widget #tab3 a { font-weight: normal; }
.tabbed_widget #tab1 a:hover, .tabbed_widget #tab2 a:hover, .tabbed_widget #tab3 a:hover { color: rgb(0, 153, 204); }
.tabbed_widget #link-tab2 { background-position: -32px 0px; }
.tabbed_widget #link-tab3 { background-position: -48px 0px; }
.tabbed_widget ul.nav li.active a, .tabbed_widget ul.nav li.active a:hover, .tabbed_widget ul.nav li a, .tabbed_widget ul.nav li a:hover { background: transparent none repeat scroll 0% 0% ! important; }
.numb { float: left; color: rgb(34, 188, 221); font-size: 16px; font-weight: bold; padding: 0px 10px 0px 0px; }
.tabs .floated-thumb .post-meta.no-thumb { margin-bottom: 0px; }
.view-rss .children ul::before { content: " "; position: absolute; width: 0px; height: 0px; right: 3px; top: -8px; border-width: 9px; border-style: solid outset solid solid; border-color: transparent transparent rgb(232, 232, 232); }
.view-rss .children ul::after { content: " "; position: absolute; width: 0px; height: 0px; right: 1px; top: -9px; border-width: 11px; border-style: solid outset solid solid; border-color: transparent transparent rgb(255, 255, 255); }
.hide-on-768-wider { display: none; }
@media only screen and (min-width: 768px) and (max-width: 959px) {
  #leaderboard { display: none; }
  #logo.leaderboard-true, #logo.leaderboard-true p { margin-bottom: 0px; }
  #logo.leaderboard-true { margin-top: 0px ! important; position: inherit ! important; }
  input { width: 200px; }
  .floated-thumb .post-thumb { height: 30px; width: 30px; }
  .floated-thumb .post-thumb img { width: 100%; height: auto; }
  #s { width: 175px; }
}
@media screen and (max-width: 767px) {
  body { background: rgb(255, 255, 255) none repeat scroll 0% 0% ! important; }
  #wrapper { padding: 0px; }
  #breadcrumb { display: none; }
  .entry-meta .entry-meta-hide-on-mobile { display: none; }
  .entry { padding: 0px 5px; }
  .hide-on-767 { display: none; }
  .hide-on-768-wider { display: inline; }
  footer { padding-top: 20px; }
  #bottom { margin-top: 0px; }
  #leaderboard { display: none; }
  #logo.leaderboard-true, #logo.leaderboard-true img { margin: 0px; }
  #logo { padding: 20px 0px; text-align: center; width: 100% ! important; }
  #logo img { margin: 0px auto; width: auto ! important; max-width: 100%; }
  #main-nav { margin-top: 0px; margin-bottom: 20px; border-bottom: 0px none; height: auto; }
  #main-nav-menu { display: none; }
  input, textarea { padding: 0px 1%; width: 98%; line-height: normal; }
  .input-wrapper { padding: 1%; background: rgb(248, 248, 248) none repeat scroll 0% 0%; }
  #sidebar { border-top: 1px dotted rgb(204, 204, 204); padding-top: 20px; }
  #s { width: 98%; padding: 0px 1%; }
  #searchsubmit { display: none; }
  .tabs ul.nav li { float: none; border: 1px solid rgb(232, 232, 232); display: block; padding: 10px 5%; }
  .tabs .tab { background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 10px; }
}
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0px; height: 0px; }
.clearfix::before, .clearfix::after { content: " "; display: block; overflow: hidden; visibility: hidden; width: 0px; height: 0px; }
.clearfix::after { clear: both; }
.clearfix {  }
*::-moz-selection { color: rgb(255, 255, 255); }
.margin-20 { margin-bottom: 20px; }
.rc-item { padding-bottom: 8px; }
.rc-item .rc-avatar { background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 1px; border: 1px solid rgb(153, 153, 153); }
.rc-item .rc-left { display: inline; float: left; margin-right: 8px; }
.rc-item .rc-timestamp { margin-left: 8px; font-size: 11px; color: rgb(153, 153, 153); }
.rc-clearfix::after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0px; }
.rc-clearfix { display: block; }
*::-moz-selection { background: rgb(92, 159, 223) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
