*{ margin: 0; padding: 0;}
* a{ color: #000;}
table{font-size: 12px; line-height: 18px; color: #333;}
td{padding-left: 3px;}
p{margin-top: 8px;}
.zhi12 { font-family: "宋体"; font-size: 12px; line-height: 18px;}
BODY {FONT-SIZE: 12px; line-height: 22px; MARGIN: 2px 0px 0px; WIDTH: 100%; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; HEIGHT: 100%; text-align: center; vertical-align: bottom;}
div {overflow: hidden;margin-right: auto; margin-left: auto; color: #000;}
A:link,A:visited{FONT-SIZE: 9pt; FONT-FAMILY: "宋体"; text-decoration: none; line-height: 20px; }
A:active,A:hover {FONT-SIZE: 9pt; COLOR: #FF6600; FONT-FAMILY: "宋体"; text-decoration: underline; line-height: 20px;}
form{height:20px; margin-top:0px; margin-bottom:0px; margin-top: 3px; margin-right: 10px; float: right;}
ul{ width: 960px; text-align: center; line-height: 25px; clear: both; display: block;}
li{ list-style: none; line-height: 22px;}
dl{ width:479px; text-align: left;}
dt{ width: 100%; text-align: center; height: 50px;}
dd{width: 239px; line-height: 20px; }
ul#dh{ height: 25px;  border-bottom: 1px solid #959595; background: url(http://windows.chinaitlab.com/images/art/z001.gif) }
li#dhl{ width: 112px; height: 25px; border-right: 1px solid #959595; float: left; font-weight: bold;}
li#dhr{ width: 846px!important; width: 848px; height: 25px; border-left: 1px solid #fff; text-align: left; float: right;}
ul#con{ clear: both; display: block; border: 1px solid #f2f2f2;}
li#lf{width: 729px; float: left; background-color: #fdfdfd; border-right: 1px solid #ccc; display: block;}
li#rt{width: 229px; float: right; background-color: #f6f6f6; text-align:left; display: block;}
.blank{height: 5px; width: 30px;display: block; clear: both;}
.tonglan{ width: 960px; height: auto; clear: both;display: block;}
.search{width: 960px; height: 25px; background-color: #636363; display: block; color: White;}
.search a{ color: #fff;}
.sea_in{	DISPLAY: inline;FONT-SIZE: 12px;border: 1px solid #808080;height: 17px;}
.sea_btn{ border: 0; width: 50px; height: 17px; background: url(http://windows.chinaitlab.com/images/art/z010.gif); background-repeat: no-repeat; background-position: left;}
.list_left{border-left: 1px solid #ccc; border-bottom: 1px solid #ccc; border-top : 1px solid #ccc; padding-left: 3px; }
.list_right{border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; border-top : 1px solid #ccc; padding-left: 3px; }
.font22 {font-size: 22px;color: #FFFFFF;font-weight: bold;text-align: center;line-height:35px;padding-top: 20px;}
.infor{ width: 97%; height: 30px; border-bottom: 3px solid #ccc; text-align: center;}
.wenzhang{text-align: left; font-size: 14px; line-height: 25px;color: #000; display: block; clear: both; padding: 0 5px 0 5px; display: block;}
.wenzhang A:link,.wenzhang A:visited,.wenzhang A:active,.wenzhang A:hover{font-size: 14px; line-height: 25px; FONT-FAMILY: "宋体";}
.huazhonghua{width: 362px; height: 302px; float: right;}
.xuxian{ width: 98%; height: 3px; background: url(http://www.chinaitlab.com/images/dian.gif); background-repeat: repeat-x;}
.peixun{ width: 675px; height: 193px; border: 1px solid #7cc255;}
.peixun_title{ text-align: left; width: 100%; height: 25px; background-color: #d4e7ba; border-top:1px solid #fff; border-right:1px solid #fff; border-left:1px solid #fff; border-bottom: 2px solid #7cc255;}
.peixun_list{ width: 100%; display: block; border-top: 1px solid #fff;}
ul#xiangguan{width: 98%; text-align: center; margin-top: 10px;}
li#xiangguanlf{ width: 356px; display: block; float: left; text-align: left;}
li#xiangguanrt{ width: 356px; display: block; text-align: right;  background: url(http://www.chinaitlab.com/images/dian.gif); background-repeat: repeat-y; float: right;}
.xiangguan_title{ width: 345px; border-bottom: 3px solid #3ba5d7; line-height: 25px; text-align: left; font-weight: bold; color: #3ba5d7; }
.xiangguan{width: 98%; text-align: left;font-size: 12px;line-height: 19px;font-family: "宋体"; height: 200px;}
div .xiangguan{width: 98%; text-align: left;font-size: 12px;line-height: 19px;font-family: "宋体"; padding-left: 5px;}
.pinglun{ width: 98%; height: 30px; background-color: #3ba5d7; text-align: left; font-size: 14px; font-weight: bold; color: #fff; line-height: 30px;}
.rt_ls1{width: 228px; text-align: left; font-size: 12px; line-height: 23px; background-image: url(http://windows.chinaitlab.com/images/art/z004.gif); height: 23px;}
.rt_con{width: 100%; display: block;font-size: 12px;line-height: 19px;font-family: "宋体"; }
.lf_ad{ width: 100%; display: block; clear: both;}
.rt_ls2{width: 228px;text-align: left;background-image: url(http://windows.chinaitlab.com/images/art/z012.gif);height: 23px;}
/*友情推荐链接部分*/
.tjtitle{ width: 672px; height:22px; line-height: 22px; background-color: #3ba5d7; font-size: 14px; font-weight: bold; color: #fff; text-align: left;}
.yqtj{width:672px; border:1px solid #cccccc; text-align: left; font-size: 12px; font-family: 宋体;}
.yqtj_lf{width:50%; float:left; border-right:1px dashed #cccccc;}
.yqtj_rt{width:49%; float:right;}