@import url(css/01.css);
@import url(css/02.css);
@import url(css/03.css);
@import url(css/04.css);
/* 
xhtml+css @ July 2004 by No3
*/
body       { margin:0; color:#111; font:12px/1.5em Arial, Tahoma, Verdana, Sans-Serif !important; font:11px/1.8em Verdana, Arial, Tahoma, Sans-Serif; text-align:center; }
a:link, 
a:visited  { color:#2C4C78; text-decoration:none; }
a:hover    { color:#06F; text-decoration:underline; }
a:active   { color:red; text-decoration:none; }
input,
select,
textarea,
option     { font:12px Tahoma, Sans-Serif; }
input#s2   { height:20px; font:12px Verdana, Sans-Serif; }
img        { border:0; }
td,
table      { text-align:left; font-size:12px !important; font-size:11px; line-height:18px;  }
#loader {display : none; position : absolute; left : 0px; top : 0px; z-index : 2; }