/* Effective stylesheet produced by snapshot save */
.header, .blogMain, .footer { width: 1000px; margin: 0px auto; }
.headerBox { clear: both; }
.header { position: relative; height: 240px; background: url("headerbg.jpg") no-repeat scroll 0% 0% transparent; }
.header_l { float: left; width: 54%; padding: 20px 0px 0px 20px; }
.header_r { float: right; width: 43%; }
.blogLogo { width: 171px; height: 70px; float: left; }
.blogName { padding: 35px 0px 0px; float: left; }
.blogName, .blogName a:link, .blogName a:visited { color: rgb(238, 137, 0); }
.blogName h1 { font-weight: 700; font-size: 26px; font-family: Arial,SimSun; }
.blogLink { font-size: 14px; clear: both; margin: 5px 0px 0px 10px; font-family: Arial,SimSun; }
.blogLink, .blogLink a:link, .blogLink a:visited { color: rgb(238, 137, 0); }
.blogInfo { text-align: right; margin: 25px 25px 0px 0px; }
.blogInfo a { padding: 0px 0px 0px 20px; color: rgb(176, 102, 0); }
.blogInfo, .blogInfo a:link, .blogInfo a:visited { color: rgb(176, 102, 0); }
.blogInfo span { padding-left: 20px; }
.blogNav { font-size: 14px; text-align: right; margin: 166px 10px 0px 0px; }
.blogNav a { padding: 0px 7px; }
.blogNav, .blogNav a:link, .blogNav a:visited, .blogNav a:hover { color: rgb(176, 102, 0); }
.mainNav { background: none repeat scroll 0% 0% rgb(232, 220, 196); border-bottom: 2px solid rgb(208, 194, 166); width: 1000px; margin: 0px auto 10px; padding: 10px 0px; }
.mainNav ul { padding-left: 20px; color: rgb(104, 39, 2) ! important; line-height: 18px ! important; }
.mainNav li { display: inline; }
.mainNav li a { padding: 0px 10px; }
.mainNav, .mainNav li a:link, .mainNav li a:visited { color: rgb(104, 39, 2); }
.box { background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(224, 214, 189); }
.blogLeft { float: left; width: 240px; overflow: hidden; }
.moduleUser { margin-bottom: 10px; padding-bottom: 10px; position: relative; }
.moduleUser { margin-bottom: 10px; padding-bottom: 10px; position: relative; }
.userImage { text-align: center; margin: 10px 0px 5px; }
.userImage img { padding: 3px; border: 1px solid rgb(202, 202, 202); }
.crumbs { background: url("crumbs.png") no-repeat scroll 0% 0% transparent; width: 177px; height: 80px; margin: 12px auto 0px; clear: both; }
.crumbs a { display: block; float: left; }
.crumbs a:link, .crumbs a:visited { color: rgb(85, 85, 85); }
.writeMessage { padding: 6px 0px 0px 25px; width: 40px; }
.inCircle { padding: 6px 0px 0px 45px; width: 60px; }
.message { padding: 15px 0px 0px 25px; width: 40px; }
.joinLinks { padding: 15px 0px 0px 45px; width: 60px; }
.joinLinks { padding: 15px 0px 0px 45px; width: 60px; }
.joinFriends { color: rgb(233, 53, 4) ! important; padding: 17px 0px 0px 60px; width: 80px; background: url("h.png") no-repeat scroll 40px 15px transparent; }
.infoList { margin-bottom: 10px; }
.infoList p { line-height: 24px; padding: 5px 5px 5px 15px; }
.infoListHead { display: block; }
.infoListHead a { font-weight: bold; margin-right: 10px; }
.infoListHead a:link, .infoListHead a:visited { text-decoration: underline; }
.myHome { margin-bottom: 10px; }
.myHome ul { padding: 5px 0px 10px; }
.myHome li { line-height: 24px; padding-left: 14px; background: url("list.jpg") no-repeat scroll 5px 10px transparent; border-bottom: 1px dashed rgb(217, 217, 217); margin: 0px 10px; }
.search { margin-bottom: 10px; }
.search .modCon { text-align: center; padding: 10px; }
.searchInput { width: 200px; height: 20px; border: 1px solid rgb(217, 217, 217); margin-bottom: 10px; }
.hotBlogArt { margin-bottom: 10px; }
.hotBlogArt ul { padding: 5px 0px 10px; }
.hotBlogArt li { line-height: 24px; padding-left: 14px; background: url("list.jpg") no-repeat scroll 5px 10px transparent; border-bottom: 1px dashed rgb(217, 217, 217); margin: 0px 10px; }
.friendLink { margin-bottom: 10px; }
.friendLink .modCon { line-height: 22px; }
.friendLink ul { padding: 5px 0px 10px; }
.friendLink li { line-height: 24px; padding-left: 14px; background: url("list.jpg") no-repeat scroll 5px 10px transparent; border-bottom: 1px dashed rgb(217, 217, 217); margin: 0px 10px; }
.hotArt { margin-bottom: 10px; }
.hotArt ul { padding: 5px 0px 10px; }
.hotArt li { line-height: 28px; background: url("list.jpg") no-repeat scroll 5px 13px transparent; padding-left: 15px; border-bottom: 1px dashed rgb(217, 217, 217); margin: 0px 12px; }
.newComments { margin-bottom: 10px; }
.newComments ul { padding: 0px 0px 10px; }
.newComments li { line-height: 22px; padding: 5px 0px 5px 2px; border-bottom: 1px dashed rgb(217, 217, 217); margin: 0px 12px; }
.recentGuests { margin-bottom: 10px; }
.recentGuests ul { width: 92%; margin: 15px auto 0px; }
.recentGuests li { float: left; text-align: center; width: 72px; height: 96px; }
.recentGuests li img { width: 60px; height: 60px; border: 1px solid rgb(204, 204, 204); padding: 2px; }
.recentGuests li p { margin-top: 8px; }
.recentGuests a:link, .recentGuests a:visited { text-decoration: underline; }
.recentGuests a:hover { text-decoration: none; }
.blogRight { float: right; width: 750px; overflow: hidden; }
.share { padding: 0px 10px; position: relative; }
.showBox { border-top: 2px solid rgb(239, 239, 239); margin: 5px 0px 0px; clear: both; position: relative; }
.art_tj { position: absolute; right: 0px; top: 0px; }
.showHead { height: 60px; margin: 5px 12px 0px; border-bottom: 1px dashed rgb(204, 204, 204); }
.showTitleBOx { padding: 20px 0px 0px; overflow: hidden; }
.artTime { float: right; padding: 0px 25px 0px 0px; color: rgb(102, 102, 102); }
.showTitle { font: bold 20px/20px SimSun; }
.showTags { margin-left: 12px; line-height: 40px; }
.showTags a { padding-right: 10px; }
.CopyrightStatement { border: 1px dashed rgb(213, 213, 213); margin: 0px 12px; padding: 10px; }
.showContent { line-height: 2; font-size: 14px; margin: 20px 15px; border-bottom: 1px dashed rgb(217, 217, 217); word-wrap: break-word; word-break: normal; }
.showContent p { padding-bottom: 0px; clear: both; height: auto; overflow: hidden; }
.support01, .support02 { background: url("support.png") no-repeat scroll 0% 0% transparent; width: 64px; height: 28px; font-weight: bold; padding-left: 10px; cursor: pointer; float: left; margin: 0px 5px; }
.support01 { color: rgb(1, 101, 179); }
.showType { text-align: right; margin: 0px 12px; line-height: 40px; clear: both; color: rgb(102, 102, 102); }
.prevNext { line-height: 50px; text-align: center; border-top: 1px dashed rgb(217, 217, 217); }
.relatedArt { margin-bottom: 10px; }
.relatedArt ul { margin: 5px 0px 0px 12px; }
.relatedArt ul li { width: 350px; float: left; line-height: 24px; background: url("list.jpg") no-repeat scroll 3px 11px transparent; padding-left: 12px; }
.artComm { margin-bottom: 10px; }
.itcomment { margin: 0px 15px; padding: 20px 0px; border-bottom: 1px dashed rgb(217, 217, 217); }
.commentcontent { line-height: 18px; }
.writeComm { margin-bottom: 10px; min-height: 260px; }
.writeComm .title { margin-bottom: 15px; }
.commForm { height: 216px; }
.writeComm dl { clear: both; height: 36px; }
.writeComm dl dd span { display: block; padding-top: 9px; float: left; }
.writeComm dl dt { width: 50px; padding-left: 20px; padding-top: 7px; }
.writeComm dl dt, .writeComm dl dd { float: left; }
.writeCommCon { width: 650px; float: left; height: 90px; padding: 2px; line-height: 20px; border: 1px solid rgb(214, 214, 214); }
.commInput, .code { height: 26px; line-height: 26px; float: left; margin-right: 10px; border: 1px solid rgb(214, 214, 214); }
.commInput { width: 380px; }
.code { width: 90px; }
.writeCommBot { width: 240px; clear: both; float: right; }
.commBtn { background: url("commBtn.png") no-repeat scroll 0% 0% transparent; width: 102px; height: 37px; border: medium none; cursor: pointer; }
.writeCommBot p { padding: 10px 0px 0px 5px; }
.writeCommBot p span { padding: 0px 0px 0px 4px; display: block; width: 100px; }
body { font-family: 宋体,Arial Narrow,arial,serif; background: none repeat scroll 0% 0% rgb(255, 249, 231); font-size: 12px; color: rgb(44, 44, 44); }
* { padding: 0px; margin: 0px; }
em { font-style: normal; }
img, div {  }
table, td, tr, th { font-size: 12px; }
table { margin: 0px auto; }
img { vertical-align: top; border: 0px none; }
.f12 { font-size: 12px; }
.lh22 { line-height: 22px; }
a:link { color: rgb(104, 39, 2); text-decoration: none; }
a:visited { color: rgb(104, 39, 2); text-decoration: none; }
a:hover { color: rgb(104, 39, 2); text-decoration: underline; }
a:active { color: rgb(104, 39, 2); }
.fl { float: left; }
.fr { float: right; }
.clear { clear: both; display: block; }
.blank { height: 10px; clear: both; overflow: hidden; display: block; }
.blank6 { height: 6px; clear: both; overflow: hidden; display: block; }
.pl5 { padding-left: 5px; }
.title { background: none repeat scroll 0% 0% rgb(240, 229, 207); border-top: 4px solid rgb(213, 201, 178); border-bottom: 1px solid rgb(224, 214, 189); height: 22px; padding: 8px 10px 2px 15px; }
.title h2 { font-size: 14px; font-weight: 700; color: rgb(104, 39, 2); }
.title a:link, .title a:visited { color: rgb(104, 39, 2); }
.modCon { clear: both; }
.modBot { display: block; height: 1px; overflow: hidden; clear: both; }
pre { background: none repeat scroll 0px 0px rgb(247, 247, 247); font-family: 'Courier New',Monospace; font-size: 12px; margin: 0px 0px 1em; overflow: auto; width: 99%; }
pre ol { background: none repeat scroll 0px 0px rgb(247, 247, 247); border-left: 3px solid rgb(20, 107, 0) ! important; color: rgb(92, 92, 92); list-style: decimal outside none; margin: 0px 0px 1px 3em ! important; padding: 5px 0px ! important; }
pre ol li.alt { color: inherit; }
pre ol li { color: rgb(92, 92, 92); line-height: 1.3em; list-style-image: none; list-style-position: outside ! important; list-style-type: decimal; margin: 0px ! important; padding: 0px 3px 0px 10px ! important; }
pre ol, pre ol li, pre ol li span { border: medium none; margin: 0px; padding: 0px; }
pre .comment, pre .comments { background-color: inherit; color: rgb(0, 0, 136); }
img { border: 0px none; }
