/* Effective stylesheet produced by snapshot save */
body { font-size: 12px; }
* { margin: 0px; padding: 0px; }
img { border: medium none; }
img { border: medium none; }
ul { list-style: none outside none; }
