BODY {
	SCROLLBAR-FACE-COLOR: #ddddff; FONT-SIZE: 9pt; SCROLLBAR-HIGHLIGHT-COLOR: #eeeeff; SCROLLBAR-SHADOW-COLOR: #ccccdd; COLOR: #000000; SCROLLBAR-ARROW-COLOR: #006600; SCROLLBAR-TRACK-COLOR: #ddffdd; BACKGROUND-COLOR: #ffffee
}
P {
	FONT-SIZE: 9pt
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt
}
OL {
	TEXT-INDENT: 18pt
}
UL {
	TEXT-INDENT: 9pt
}
LI {
	FONT-SIZE: 9pt
}
HR {
	COLOR: #000000; HEIGHT: 1px
}
TH {
	FONT-SIZE: 9pt; BACKGROUND-COLOR: #ffffe8
}
TD {
	FONT-SIZE: 9pt; BACKGROUND-COLOR: #ffffee
}
BLOCKQUOTE {
	TEXT-INDENT: 0px
}
PRE {
	FONT-SIZE: 9pt; BACKGROUND-COLOR: #ffffff
}
A:link {
	COLOR: #006600; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #006600; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
