* { font-family: arial,sans-serif,ËÎÌå; line-height:164.28%; }

body { font-size: 10pt; margin: 0 auto; color: #000;background:white;  }
img { border:0px; }
a:link, a:active, a:visited {color: #003195;text-decoration: none;}
a:hover { color:#0000FF;text-decoration:underline; }

#page { background-color: white; margin-left:20px;margin-right:20px; padding: 0; }
#header { width: 100%; background:url(/images/glow_b.png) repeat-x; height:72px;overflow: hidden; }
#logo { float: left; padding:12px; padding-top:8px; }
#header #header-banner1 {float:center;padding:6px;margin-right:6px;border:0px solid #CCC;}
#header_banner { float: right; padding: 6px; }
#toolbar { background: #EBF7F9 url('header_menu.gif') repeat-x top; height: 35px; border-bottom:1px solid #B4C0C1; }
#toolbar .menu { margin-top:5px; padding-left:6px; padding-right:6px; float: left; }
#main { padding-down:6px; padding-top:6px; }
#contents { margin-left:0px;margin-right:216px;  }


#contents .llist1 { background: #f5f8fd;float:left; width:99%; border: 1px solid #AFD3EB;overflow:hidden; }
#contents .llist1 .caption { color:#003195;padding:1px 3px;letter-spacing:4px;text-align:center;font-size:14px;font-weight:bold;margin-bottom:6px;border-bottom: 1px dotted #AFD3EB; }
#contents .llist1 .post { border-bottom: 1px solid #AFD3EB; margin-top:6px;}
#contents .llist1 .post .title { height:30px;font-size:14px;font-weight:bold;white-space:nowrap;overflow:hidden; }
#contents .llist1 .post .summary { margin-top:3px;padding: 3px 0px;font-size:12px; height:54px;overflow:hidden; }
#contents .llist1 .post .summary p { margin: 3px 0px; }
#contents .llist1 .post .cat_icon { float:right; }
#contents .llist1 .post .single_title{height:35px; line-height:35px; overflow:hidden; text-align:center; font-family:"ºÚÌå"; font-size:20px; font-weight:bold; color:#03005C;}
#contents .content { font-size:14px; }
#contents .content .intro {margin-top:12px;margin-bottom:12px;}
#contents .content .tbody {clear:both;}
#contents .llist1 .post a.hot1{color:#003195;}

#sidebar {
	position:relative;
	float: right;
	color:#222;
	width:204px;
	border: 1px solid #ADC5D5;
	background:#FFF;
	overflow:hidden;
}
#sidebar .menu { font-size: 12px;}
#sidebar .menu ul { margin:0; padding:0px 0px; }
#sidebar .menu ul li { list-style:none;  border-bottom:1px solid #FFF; }
#sidebar .menu ul li.caption { background: #D1E2FF; font-size: 14px; font-weight:bold; padding: 3px 12px;padding-top:6px;height:20px; }
#sidebar .menu ul li.item { padding: 3px 9px; clear:both; height:48px; text-align:center; }
#sidebar .menu ul li.listitem {padding-left:6px;padding-right:6px;padding-bottom:3px; }

#sidebar2 { display:none;}
#links_list {margin-top:12px;padding:3px;border-top:1px solid #AFD3EB;border-bottom:3px solid #AFD3EB;background:#EBF7F9;}
#links_list ul {margin: 0px;padding: 0px;}
#links_list ul li {margin: 0px;padding: 0px;}
#links_list ul li h2 { font-size:12px; }
#links_list ul li {margin: 0px; padding:0px;list-style: none;display: inline;} 
#links_list ul li ul li { list-style: none;display: inline;}

a.hot {color:#f30;}
a.plink { color:#FC7821;text-decoration:underline; }

.clear { clear: both; }
.padding6x { padding: 6px; }
.fl {float:left;}
.fm {float:middle;}
.fr {float:right;}

.share_link {padding:3px 12px;text-align:center;}
.post_link { text-align:right; }
.excerpt { margin-left:60px;padding:6px; border-top:1px solid #DEDEDE; border-bottom:1px solid #DEDEDE; background-color:#EEE;font-weight:bold; }
.page_nav { margin-bottom: 6px;}
.vote_icon { float:left;font-size:12px;background: url('vote.png') repeat; width:54px; height:71px; margin-top:3px; margin-right:3px; }
.vote_icon .votes { text-align:center; font-size:18px; margin-top:6px; font-weight:bold;}
.vote_icon .vote_click { text-align:center; margin-top:18px; }
.vote_icon a { color:#CE4A02;text-decoration:none; }
.vote_icon a.voted { color:#003195; }

#footer { clear: both; margin-top:12px; background-color:#EBF7F9; border-top:1px solid #ADC5D5;padding-left: 18px; font-size:10pt; }

pre,code{font-family:Fixedsys; color:#333;/*Consolas,"Courier New", Courier, monospace*/;background-color:#f8f8f8;}
pre{
	margin:4px 0;
	border:1px #ccc solid;
	border-bottom-width:2px;
	line-height:1.3em;
	padding:4px 8px;
	font-size:90%;
	/*max-height:180px;*/
	overflow:auto;
	word-wrap: normal;
	*word-wrap: break-word;
}

