/** æ­£æ??æ ¼å¼? **/
.entry ol li{}
.entry ul li{
	list-style: square inside;
	line-height:24px;
	text-indent:2em;
	}
#entry h1 {font-size: 18px;	line-height:185%;}
#entry h2 {font-size: 16px;	line-height:185%;}
#entry h3 {font-size: 14px;	line-height:185%;}
.entry code {
	width: 660px;
	font: 12px/17px tahoma, arial, sans-serif;
	color: #4e6384;
	display: block;
	margin: 5px auto 5px auto;
	padding: 10px;
	border-left: 3px solid #8391A7;
	border-right: 1px solid #8391A7;
	border-top: 1px solid #8391A7;
	border-bottom: 1px solid #8391A7;
	}
.entry blockquote {
	width: 660px;
	color: #4e6384;
	line-height: 23px;
	margin: 5px auto 5px auto;
	padding: 10px;
	clear: both;
	border: 1px solid #ccc;
	}
blockquote p {
	}
#entry blockquote td{
	border-bottom: 1px solid #ccc;
	padding: 2px;
	}
 /** æ?¥å¿?å??é¡µ **/
.pages {
	margin:10px auto 0;
	color: #0196e3;
	text-align:center;
	}
.pages a {
	padding: 0px 6px;
	border: 1px solid #ccc;
	}
/** 404 **/
.error h2 {
	font-size: 16px;
	text-align: center;
	}
.search_c {
	margin:20px 0 20px 250px;
	}
/** æ»?å±? **/
ul.scroll {
	width: 15px;
	float: right;
	display:block;
	position:fixed;
	top:40%;
	right:0;
	_position:absolute;
	_margin-top:300px;
	_top:expression(eval(document.documentElement.scrollTop));
	z-index: 6;
	}
.sct {background: url(scroll.png);}
.scb {background: url(scroll.png) 0 40px;}
.scc {background: url(scroll.png) 0 80px;}
.scroll_t,.scroll_c,.scroll_b{
	width: 80px;
	height:40px;
	line-height:40px;
	text-align:center;
	cursor: pointer;
	border-radius: 5px 0 0 5px;
	box-shadow:0 2px 2px 1px #666;
	}
.scroll_t{
	background: #d03f42;
	}
.scroll_b{
	background: #383838;
	}
.scroll_c{
	background: #467ebd;
	}
ul.scroll li {
	position: relative; 
	height:40px;
	float: right;
	}
ul.scroll li a{
	display: block;
	color:#fff;
	}
ul.scroll li div {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	}
 /** ç?»å½? **/
#showbtn {
	cursor:pointer;
	}
#smallLay {
	background:#303030;
	padding:15px;
	display:none;
	border:1px solid #000;
	opacity: .80;
	filter: alpha(opacity=80);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow:0px 1px 2px #000;
	-moz-box-shadow:0px 1px 2px #000;
	box-shadow:0px 1px 2px #000;
	}
#smallLay_box {
	background:#f2f2f2;
	width:220px;
	height:150px;
	padding:5px;
	}
.login_t p {
	display: block;
	margin: 20px 0 0 0;
	padding: 0 0 0 10px;
	}
.inputbox {
	margin: 2px 0 0 -4px;
	}
.password input {
	background: #fff url(login.png) no-repeat 0 -60px;
	width:170px;
	padding: 2px 4px 2px 25px;
	border:1px solid #ccc;
	margin: 1px 0;
	}
.login input {
	background: #fff url(login.png) no-repeat 0 -40px;
	width:170px;
	padding: 2px 4px 2px 25px;
	border:1px solid #ccc;
	margin: 1px 0;
	}
#submit_t {
	float:right;
	background:#454545;
	width:64px;
	height:22px;
	color:#fff;
	cursor:pointer;
	border:1px solid #000;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	}
#modlogn_remember {
	}

/** è®¢é?? **/
#rssfeed {
	padding: 5px 5px 0 5px;
	}
#message {
	display:none;
	}
#message a {
	padding: 2px 0 2px 60px;
	}
#message li {
	list-style:none
	}
#message,#rssfeed,.categories {
	background: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	}

/** ad **/
.ads_c {
	background: #fff;
	padding: 0 2px 0 2px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	}
.ad_h{
	position:relative;
	background: #fff;
	width:730px;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	}
.ad_h_c {
	padding: 10px 0 0 0;
	}
.ad_r {   
    float:right;
    margin:0 0 5px 5px;
    }
/** æ?¥å?? **/
#wp-calendar {
	width:100%;
	text-shadow:none;
	}
#wp-calendar, #wp-calendar th, #wp-calendar caption {
	text-align:center;
	}
#wp-calendar th {
	background:#4A9CE4;
	color:#fff;
	padding:2px;
	border:1px solid #4A9CE4;
	}
#wp-calendar td {
	border:1px solid #ccc;
	}
#wp-calendar caption {
	background:transparent;
	font-weight:bold;
	padding:3px 0px 5px 0px;
	color:#333;
	}
#wp-calendar #today {
	background:#4A9CE4;
	color:#fff;
	}
#wp-calendar a {
	color:#ff0000;
	}
/** å?¾æ??æ··æ?? **/
img.centered  {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	}
img.alignnone {
	margin: 0 0 10px 0;
	display: inline;
	}
img.alignright {
	margin: 0 0 10px 10px;
	display: inline;
	}
img.alignleft {
	margin: 0 10px 10px 0;
	display: inline;
	}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	}
.alignright {
	float: right;
	margin: 0 0 10px 10px;
	}
.alignleft {
	float: left;
	margin: 0 10px 10px 0;
	}
 /** ç??è¨?æ?¿ **/
.message {
	color:#0088CC;
	}
.message ul li {
	padding:5px 10px 10px 10px;
	border-bottom:1px dashed  #ccc;
	}
.message li {
	line-height:20px; 
	margin: 0 0 5px 0;
	}
.message img {
	height:32px;
	float:left;
	margin: 0 10px 0 0;
	padding:2px;
	border: 1px solid #ccc;
	}
.message_comment {
	padding:0 0 10px 15px;
	}
 /** è¯»è??å¢? **/
.readers {
	padding:30px 0 10px 31px;
	}
.readers a img {
	margin: 0 4px 4px 0;
	padding:4px;
	border: 1px solid #ccc;
	}
 /** Googleæ??ç´¢ **/
.search {
	margin: 10px 0 10px 0;
	}
.entry_box_s_g {
	position:relative;
	background:#fff;
	width:948px;
	margin: 10px 0 0 0;
	padding:15px;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	}
 /** æ??ç´¢å°?å·¥å?· **/
.search_k{
	width: 210px;
	height:30px;
	padding:10px 0 0 0;
	overflow:hidden;
	}
.swap_value {
	height:20px; 
	line-height:20px; 
	border:1px solid #ccc !important;
	}
 /** å??æ??é?¾æ?¥é¡µé?¢ **/
.link_page{
	padding:15px 0 15px 30px;
	list-style: none;
	}
.link_page li h2 {
	float:left;
	width:900px;
	margin: 10px 0;
	}
.link_page li ul li {
	display: inline;
	}
.link_page li a {
	float:left;
	width:170px;
	margin: 0 10px 10px 0;
 	padding:2px;
	border:1px solid #ccc;
	}
.link_page li img{
	float:left;
	width:16px;
	height:16px;
	margin: 0 4px 0 2px;
	}
#map_l {
	float:left;
	width:700px;
	height: 27px;
	}
#map_r {
	float:right;
	width:280px;
	height: 27px;
	}
.entry_box_s_l {
	position:relative;
	background:#fff;
	width:978px;
	margin: 10px 0 0 0;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	}
.entry_sb_l {
	position:relative;
	background:#fff;
	width:978px;
	height:10px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	}
 /** å?¬å?? **/
#gg{
	position: fixed;
	bottom: 0;
	background:#000;
	width: 100%;
	height:23px;
	line-height:23px;
	z-index: 9999;
	opacity: .60;
	filter: alpha(opacity=60);
	_bottom:auto;
	_width: 100%;
	_position: absolute;
	_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
	-webkit-box-shadow:10px 0 5px #000;
	-moz-box-shadow:10px 0 5px #000;
	box-shadow:10px 0 5px #000;
	}
#gg a{
	color: #fff;
	font-size: 13px;
	letter-spacing:2px;
	text-shadow: 0px 1px 0px #000;
	}
.close a {
	float:right;
	margin:0 10px 0 0;
	}
.bulletin {
	float:left;
	height:23px;
	color: #fff;
	margin:0 0 0 20px;
	background:url(bulletin.gif) no-repeat;
	min-height:23px;
	overflow:hidden;
	}
.bulletin a{
	float:left;
	}
.bulletin li{
	height:23px;
	padding-left:25px;
	}

/** å?¬å??æ­£æ?? **/
.archive_box_z{
	font-size: 13px;
	padding:10px;
	}
.archive_title_box_b {
	width: 948px;
	}
.archive_title_b {
	float:left;
	}
.archive_info_b {
	float:right;
	}
.archive_b {
	width: 948px;
	margin:10px 0 0 0;
	}
.clear12 {
	padding:5px;
	}
.author_a img{
	float:left;
	margin:3px 5px 0 0;
	}
 /** ä¾§è¾¹å??ç±»å?¾æ ? **/
.cat_h {
	height:40px;
	padding:5px 0 5px 0;
	line-height:18px;
	border-bottom:1px solid #dadada;
	margin-bottom:-1px;
	}
.cat_name_h a {
	margin-left:2px;
	}
.cat_description p{
	font-size:11px;
	color: #737373;
	width:145px;
	word-break:keep-all;
	white-space:nowrap;
	overflow:hidden;
	}

 /** ä¸?è½½æ ·å¼? **/
#download,#demo {
	float:left;
	width:90px;
	height:25px;
	color: #fff;
	margin:0 0 0 20px;
	padding-left:15px;
	}
#download {
	background: url(dd.png) no-repeat;
	}
#demo {
	background: url(dd.png) no-repeat 0 -25px;
	}
#download a,#demo a {
	color: #fff;
	line-height: 25px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #393939;
	}

 /** è?ªå?©é?¾æ?¥ **/
 .links_m {
	padding:15px;
	}
.bd {
	float:right;
	}
.bd p input{
	cursor:pointer;
	width:87px;	
	height:26px;
 	color: #fff;
	text-align:center;
	text-shadow: 0px 1px 0px #393939;
	border:0px;
	}
.bd table {
	padding:0 0 15px 0;
	}
.sm {
	float:left;
	width: 300px;
	}
.message {
	padding:10px;
	}

/** æ?¨è??æ??ç«  **/
#scat{
	height:208px;
	line-height:26px;
	overflow:hidden;
	}
#scat a{
	line-height:26px;
	}
.scat_img {
	background: url(scat.png) no-repeat;
	height:82px;
	margin: 5px 0 0 0;
	}

 /** å½?æ¡£ **/
#archives ul li{
	font-size:13px;
	line-height:23px;
	list-style:none;
	}
.archives-list ul{
	padding-left:20px;
	}
#expand_collapse{
	float:right;
	width:87px;
	line-height:25px; 
	font-size:12px;
 	color: #fff;
	text-align:center;
	text-shadow: 0px 1px 0px #000;
	}
.archives-yearmonth{
	padding-left:25px;
	background: url(login.png) no-repeat 0 -100px;
	}
 /******** æ ?ç­¾é¡µé?¢ ********/
.tagall {
	padding:10px;
	}
.tagall a{
	padding:10px;
	line-height:30px; 
	white-space:nowrap;
	}
 /** å¼?ç?¨ **/
.trackbacks {
	position: relative;
	background: #fff;
	border: 1px solid #ccc;
	margin: 10px 0 10px 0;
	padding: 10px 20px 10px 20px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 4px;
	}
.backs{
	cursor: pointer
	}
.track{
	margin: 10px 0 0 0;
	display:none;
	}

 /** æ??ç¤º **/
#tooltip {
	position:absolute;
	z-index:1000;
	width:255px;
	background:#fff;
	padding:10px;
	border:1px solid #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow:0px 0px 3px #333;
	-moz-box-shadow:0px 0px 3px #333;
	box-shadow:0px 0px 3px #333;
	}
#tooltip p {
	font-size: 13px;
	color: #000;
	line-height:25px;
	}

 /******** å?¾ç??æ??ç®± ********/
#colorbox, #cboxOverlay, #cboxWrapper{
	position:absolute;
	top:0;
	left:0;
	z-index:9999;
	overflow:hidden;
	}
#cboxOverlay{
	position:fixed;
	width:100%;
	height:100%;
	}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{
	float:left;
	margin:auto;
	border:0;
	display:block;
	}
.cboxIframe{
	width:100%;
	height:100%;
	display:block;
	border:0;
	}
 /*** å?¯ä¿®æ?¹ **/
#cboxOverlay{
	background:#000;
	}
#colorbox{
	 background:#fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	}
#cboxTopLeft,#cboxTopRight,#cboxBottomLeft,#cboxBottomRight{
	width:10px;
	 height:10px;
	 }
#cboxTopCenter,#cboxBottomCenter{
	height:10px;
	 }
#cboxMiddleLeft,#cboxMiddleRight{
	width:10px;
	}
#cboxContent{
	background:#fff;
	overflow:hidden;
	}
#cboxError{
	padding:50px;
	border:1px solid #ccc;
	}
#cboxLoadedContent{margin-bottom:20px;}
#cboxTitle{
	position:absolute;
	bottom:0px;
	left:0;
	text-align:center;
	width:100%;
	color:#999;
	}
#cboxCurrent{
	position:absolute;
	bottom:0px;
	left:100px;
	color:#999;
	}
#cboxSlideshow{
	position: absolute;
	bottom: 0px;
	right: 42px;
	color: #444;
	}
#cboxPrevious{
	position: absolute;
	bottom: 0px;
	left: 20px;
	color: #444;
	}
#cboxNext{
	position: absolute;
	bottom: 0px;
	left: 63px;
	color: #444;
	}
#cboxLoadingOverlay{
	position:absolute;
	left:45%;
	top:45%;
	background: url(loading.gif) no-repeat; 
	}
#cboxClose{
	position: absolute;
	bottom: 0;
	right: 20px;
	display: block;
	color: #444;
	}