body {
	margin-left: 5px;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
}
body,td,th {
	font-size: 12px;
}
a:link {
	color: #111683;
}
a:visited {
	color: #111683;
}
a:hover {
	color: #FF0000;
}
.mytitle{
	font-size: 14px;
	color: #111683;
	font-weight: bold;
}
.bigfont{
	font-size: 14px;
}
.inputbox{
	border-style:solid;
	border-width:1px 1px 1px 1px;
	color:#111683;
	font-family:tahoma;
	font-size:13px;
}
.buttonbox{
	border-style:solid;
	border-width:2px 2px 2px 2px;
	color:#111683;
	font-family:tahoma;
	font-size:12px;
}
.textbox{
	border-style:solid;
	border-width:1px 1px 1px 1px;
	color:#111683;
	font-family:tahoma;
	font-size:12px;
	width:320;
}
.listbox{
	border-style:solid;
	border-width:1px 1px 1px 1px;
	color:#111683;
	font-family:tahoma;
	font-size:12px;
}

.editbox{
	width:100%;
}