/* Effective stylesheet produced by snapshot save */
.bdshare-button-style0-16 .bds_qzone { background-position: 0px -52px; }
.bdshare-button-style0-16 .bds_tsina { background-position: 0px -104px; }
.bdshare-button-style0-16 .bds_tqq { background-position: 0px -260px; }
.bdshare-button-style0-16 .bds_youdao { background-position: 0px -2080px; }
.bdshare-button-style0-16 .bds_mshare { background-position: 0px -2444px; }
.bdshare-button-style0-16 .bds_sqq { background-position: 0px -2652px; }
.bdshare-button-style0-16 .bds_weixin { background-position: 0px -1612px; }
.bdshare-button-style0-16 {  }
.bdshare-button-style0-16::after { content: "."; visibility: hidden; display: block; height: 0px; clear: both; }
.bdshare-button-style0-16 a, .bdshare-button-style0-16 .bds_more { float: left; font-size: 12px; padding-left: 17px; line-height: 16px; height: 16px; background-image: url("urn:not-loaded:https://www.oschina.net/js/bdshare_api/img/share/icons_0_16.png?v=ba7acbd3.png"); background-repeat: no-repeat; cursor: pointer; margin: 6px 6px 6px 0px; }
.bdshare-button-style0-16 a:hover { color: rgb(51, 51, 51); opacity: 0.8; }
