/* Effective stylesheet produced by snapshot save */
html, body { margin: 0px 0px 20px; padding: 0px; font: 12px/18px Verdana,"Lucida Grande",Geneva,Arial,sans-serif; background: rgb(255, 255, 255) url("webBg.gif") repeat-x scroll left top; color: rgb(51, 51, 51); text-align: center; }
a { outline: medium none; text-decoration: none; }
a:link, a:visited { color: rgb(102, 153, 204); }
a:hover { color: rgb(255, 51, 102); }
.clear { clear: both; }
p { line-height: 20px; }
ul { list-style: outside none none; margin: 0px; padding: 0px; }
div#container { min-width: 960px; max-width: 1600px; text-align: left; width: auto; padding: 0px 10px; margin: 0px auto; }
div#wrapper { overflow: auto; margin: 15px 10px; }
div#content { margin-right: 465px; min-height: 600px; }
div#sidebar { width: 455px; position: absolute; top: 140px; right: 10px; padding-bottom: 20px; }
a.minyx { float: left; width: 130px; display: block; padding-top: 3px; }
a.minyx:link, a.minyx:visited { background-position: 0px 0px; }
a.minyx:hover { background-position: 0px -23px; }
ul#topMnu { text-align: right; padding: 3px; font-size: 10px; }
ul#topMnu li { display: inline; border-right: 1px solid rgb(99, 104, 112); padding: 0px 10px; color: rgb(255, 255, 255); }
ul#topMnu li a:link, ul#topMnu li a:visited { font-weight: bold; color: rgb(255, 255, 255); }
ul#topMnu li a:hover { font-weight: bold; color: rgb(112, 128, 51); }
div#header { height: 90px; margin: 0px 10px; }
div#header h1 { font-size: 36px; letter-spacing: -2px; font-weight: normal; margin: 0px; padding: 20px 0px 10px; }
div#header h1 a:link, div#header h1 a:visited { color: rgb(75, 86, 152); }
div#header h1 a:hover { color: rgb(255, 51, 102); }
div#header h1 small { display: block; color: rgb(102, 102, 102); font-size: 12px; text-transform: uppercase; letter-spacing: -1px; margin: 10px 0px 0px; }
ul#menu { float: right; line-height: 20px; }
ul#menu li { background-image: url("mnuSep.gif"); background-position: 0px 1px; background-repeat: no-repeat; padding: 28px 0px; display: inline; font-size: 11px; margin: 0px; float: left; }
ul#menu li a { font-weight: bold; text-transform: uppercase; padding: 30px 15px; }
ul#menu li a:link, ul#menu li a:visited { color: rgb(49, 54, 62); }
ul#menu li a:hover { color: rgb(255, 102, 51); }
ul#menu li.current a { background-image: url("mnuIndicator.gif"); background-repeat: no-repeat; background-position: center top; }
ul#menu li.current a:link, ul#menu li.current a:visited { color: rgb(86, 94, 57); text-decoration: underline; }
ul#menu li.current a:hover { color: rgb(255, 51, 102); }
ul#menu li#rss { text-indent: -9000em; width: 64px; height: 42px; display: block; padding: 0px 0px 0px 30px; margin: 0px; }
ul#menu li#rss a { background-image: url("itemFeed.gif"); background-repeat: no-repeat; display: block; width: 64px; height: 42px; position: relative; padding: 0px; margin: 35px 0px 0px; }
ul#menu li#rss a:link, ul#menu li#rss a:visited { background-position: right bottom; }
ul#menu li#rss a:hover { background-position: right top; }
div.post { margin-bottom: 30px; }
div.post h2 { font-size: 18px; letter-spacing: -1px; background-image: url("dotsH.gif"); background-position: left bottom; background-repeat: repeat-x; margin: 0px; padding: 6px 0px; font-weight: normal; line-height: 120%; }
div.post small { font-size: 12px; letter-spacing: normal; color: rgb(171, 171, 171); display: block; text-align: right; }
div.post small a:link { color: rgb(171, 171, 171); }
div.post small a:active { color: rgb(171, 171, 171); }
div.post small a:visited { color: rgb(171, 171, 171); }
div.post small a:hover { color: rgb(51, 102, 153); text-decoration: underline; }
div.post div.entry h3 { font-size: 18px; font-weight: normal; }
div.post div.entry h4 { font-size: 16px; font-weight: normal; }
div.post div.entry { font: 14px/1.8 Georgia,"Times New Roman",Times,sans-serif; word-break: break-all; }
div.post div.entry p { margin: 12px auto; line-height: 1.8; }
div.post div.entry p span { line-height: 1.8; }
div.post div.entry img {  }
div.post div.entry a:link img, div.post div.entry a:visited img { background-color: rgb(255, 255, 255); border-color: rgb(221, 221, 221); }
div.post div.entry a:hover img { background-color: rgb(245, 245, 245); border-color: rgb(102, 153, 204); }
div.post div.entry ul { margin: 10px; }
div.post div.entry ul li { background-image: url("icon_miniarrow.gif"); background-position: 0px 9px; background-repeat: no-repeat; padding: 0px 0px 0px 15px; }
div.post div.entry p a { border-bottom-width: 1px; border-bottom-style: dashed; }
div.post div.entry a:link, div.post div.entry a:visited { color: rgb(61, 129, 238); }
div.post div.entry a:hover { color: rgb(255, 51, 0); }
div.post ul.postmetadata { border-top: 3px double rgb(238, 238, 238); border-bottom: 3px double rgb(238, 238, 238); padding: 4px 0px; margin-bottom: 10px; margin-top: 10px; font-size: 12px; }
div.post ul.postmetadata li { background-repeat: no-repeat; padding: 2px 0px 5px 20px; background-position: 0px -170px; }
div.post ul.postmetadata li.icon_cat { background-image: url("icon_folder.gif"); }
div.post ul.postmetadata li.icon_bullet { background-image: url("icon_bullet.gif"); }
div.post ul.postmetadata li a:link, div.post ul.postmetadata li a:visited { color: rgb(0, 162, 0); }
div.post ul.postmetadata li a:hover { color: rgb(51, 51, 51); }
h3#comments, h3#respond { font-weight: normal; font-size: 14px; letter-spacing: -1px; color: rgb(85, 85, 85); padding: 0px 0px 0px 25px; background-position: left center; background-repeat: no-repeat; }
h3#comments { background-image: url("icon_comments.gif"); }
.addcomment, .closecomment { float: right; text-transform: uppercase; padding: 3px 18px 3px 0px; font-size: 10px; margin: 12px 0px 0px; text-decoration: underline; }
a.addcomment { background-image: url("icon_arrowdown.gif"); background-repeat: no-repeat; }
a.addcomment:link, a.addcomment:visited { background-position: 100% 0px; }
a.addcomment:hover { background-position: 100% -20px; }
ol.commentlist { list-style: outside none none; margin: 0px; padding: 0px; }
ol.commentlist cite { font-style: normal; font-size: 12px; }
ol.commentlist cite a:link, ol.commentlist cite a:visited { background-image: url("icon_link.gif"); background-position: 0px 0px; background-repeat: no-repeat; padding: 3px 0px 0px 20px; color: rgb(0, 153, 51); }
ol.commentlist cite a:hover { color: rgb(255, 51, 0); background-position: 0px -170px; }
ol.commentlist li { border-bottom: 1px solid rgb(238, 238, 238); padding: 10px; }
ol.commentlist h5 { font-size: 12px; margin: 0px 0px 5px; padding: 0px; }
ol.commentlist h5 small { display: block; color: rgb(163, 187, 80); }
ol.commentlist li { background-color: rgb(253, 253, 253); }
ol.commentlist li.alt { background-color: rgb(255, 255, 255); }
div#sideContainer { display: none; }
div#sidebar { color: rgb(102, 102, 102); font-size: 12px; }
div#sidebar a:link, div#sidebar a:visited { color: rgb(0, 102, 204); }
div#sidebar a:hover { color: rgb(255, 51, 0); }
div#sidebar a img { border: medium none; }
div#sidebar h2 { font-size: 14px; color: rgb(51, 51, 51); text-align: center; border-bottom: 3px solid rgb(221, 221, 221); }
div#sidebar div#sideRight { float: right; width: 48%; }
div#sidebar div#sideLeft { float: left; width: 48%; }
div#sidebar div#sideLeft h2, div#sidebar div#sideRight h2 { background-color: rgb(71, 80, 95); border-bottom: 2px solid rgb(47, 53, 63); color: rgb(255, 255, 255); padding: 5px 0px; text-transform: uppercase; font-weight: normal; }
div#sidebar div#about h2 { border-color: rgb(220, 214, 179); padding: 5px 0px; }
div#sidebar div#about { background-color: rgb(248, 248, 238); border: 1px solid rgb(238, 238, 238); }
div#sidebar div#about a { text-decoration: underline; }
div#sidebar div#about a:link, div#sidebar div#about a:visited {  }
div#sidebar div#about a:hover {  }
div#sidebar div#about div { padding: 5px; }
div#sidebar div#sideLeft ul li, div#sidebar div#sideRight ul li { border-bottom: 1px solid rgb(238, 238, 238); padding: 3px 0px; }
div#sidebar div ul.bullet li a { background-image: url("icon_bullet.gif"); background-repeat: no-repeat; padding: 3px 0px 3px 20px; }
div#sidebar div ul.bullet li a:hover { background-position: 0px -170px; }
div#sidebar div ul.folder li { overflow: hidden; }
div#sidebar div ul.folder li a { background-image: url("icon_folder.gif"); background-repeat: no-repeat; padding: 3px 0px 3px 20px; }
div#sidebar div ul.folder li a:hover { background-position: 0px -170px; }
div#sidebar div ul.date li a { background-image: url("icon_date.gif"); background-repeat: no-repeat; padding: 3px 0px 3px 20px; }
div#sidebar div ul.date li a:hover { background-position: 0px -170px; }
div#sidebar div ul.chain li a { background-image: url("icon_link.gif"); background-repeat: no-repeat; padding: 3px 0px 3px 20px; }
div#sidebar div ul.chain li a:hover { background-position: 0px -170px; }
div#sidebar div ul.voice li { overflow: hidden; }
div#sidebar div ul.voice li a { background-image: url("icon_voice.gif"); background-repeat: no-repeat; padding: 3px 0px 3px 20px; }
div#sidebar div ul.voice li a:hover { background-position: 0px -170px; }
div#sidebar div ul li a.child { background-image: url("icon_child.gif"); background-repeat: no-repeat; padding: 3px 0px 3px 25px; display: block; color: rgb(102, 102, 102); }
div#sidebar div ul li a.child:hover { color: rgb(255, 51, 0); background-position: 0px -170px; }
div#sidebar div#sideMain h2 { padding: 5px 0px; }
div#sidebar div#sideMain div { background-image: url("recentBg.gif"); background-position: 0px 26px; background-repeat: repeat-x; }
div#sidebar div#sideMain div ul li { border-bottom: 1px solid rgb(238, 238, 238); padding: 2px 0px; }
#mySearchWrapper { margin: 10px auto; background-color: rgb(68, 68, 68); border: 2px solid rgb(51, 51, 51); }
#mySearch { border: 1px solid rgb(86, 86, 86); padding: 5px 0px; text-align: center; }
.lb_search { background-image: url("icon_search.gif"); background-position: 0px 0px; background-repeat: no-repeat; text-indent: -9000em; padding: 2px 0px 10px 25px; height: 14px; }
#mySearch input.keyword { font-size: 11px; padding: 2px; width: 72%; }
#mySearch .submit { margin: 0px 5px 0px 0px; padding: 0px; width: 70px; height: 21px; position: relative; float: right; }
#footer { color: rgb(255, 255, 255); background-color: rgb(49, 54, 62); text-align: center; margin: 0px; width: 100%; display: none; }
div#footer div.footText p { margin: 0px; overflow: hidden; height: 25px; }
div#footer p#logoFoot { width: 45px; height: 45px; float: left; padding: 0px 0px 0px 10px; }
div#footer p#logoFoot a { width: 45px; height: 45px; display: block; text-indent: -900em; background-image: url("urn:not-loaded:http://www.cnblogs.com/skins/Minyx2_Lite/images/spiga.gif"); background-repeat: no-repeat; }
div#footer p#logoFoot a:link, div#footer p#logoFoot a:visited { background-position: 0px 0px; }
div#footer p#logoFoot a:hover { background-position: 0px -45px; }
#newmsg { color: red; position: absolute; right: 12px; padding-top: 5px; }
.opt_comment { margin-left: 0px; margin-top: 5px; }
.Cal { width: 100%; height: 200px; }
#BlogPostCategory { margin-bottom: 0px; }
