/* Effective stylesheet produced by snapshot save */
@import url("www_2.css");
@import url("www_1.css");
@media screen {
  #ibm-print-masthead, #ibm-content-main p.ibm-terms { display: none ! important; }
}
@media print {
  #ibm-content a, #ibm-content-main a { opacity: 1 ! important; }
  #ibm-print-masthead { display: block ! important; clear: both ! important; position: absolute ! important; top: 0px ! important; }
  #ibm-masthead { border: 0px none ! important; }
  .ibm-home-page #ibm-leadspace-head .ibm-ribbon-section .ibm-columns .ibm-col-1-1, #ibm-content, #ibm-content-main, #ibm-pcon, #ibm-leadspace-head #ibm-leadspace-body { float: none; clear: both; width: 100%; padding: 0px; margin: 0px; }
  #ibm-top { float: none; clear: both; width: 100%; padding: 40px 0px 0px; margin: 0px; font-size: 1.125em; }
  .ibm-columns .ibm-col-6-4, .ibm-columns .ibm-col-6-2 { font-size: 1.05em; }
  .ibm-twisty-body, .ibm-hideable, .ibm-container.ibm-show-hide .ibm-container-body { display: block ! important; height: auto ! important; }
  .ibm-landing-page #ibm-leadspace-head { background: transparent none repeat scroll 0% 0%; border-bottom: medium none; }
  #ibm-lead-2, #ibm-lead-3, .ibm-ribbon-nav, #ibm-mast-options, #ibm-universal-nav, #ibm-navigation, #ibm-common-menu, #ibm-social-tools, #ibm-page-tools-inner, #ibm-footer-module, #ibm-footer, .ibm-no-print { display: none ! important; }
  #ibm-leadspace-body #ibm-navigation-trail li a { display: block ! important; color: rgb(0, 0, 0) ! important; opacity: 1 ! important; }
  html, body { background: rgb(255, 255, 255) none repeat scroll 0% 0% ! important; }
  #ibm-content .ibm-columns { overflow: visible; }
  .v17 #ibm-content input.ibm-disabled, .v17 #ibm-content input.ibm-disabled:hover, .v17 #ibm-content input.ibm-disabled:focus, .v17 #ibm-content input.ibm-disabled:active, .v17 #ibm-content input[disabled], .v17 #ibm-content input[disabled]:hover, .v17 #ibm-content input[disabled]:focus, .v17 #ibm-content input[disabled]:active, .v17 #ibm-content input[disabled="disabled"], .v17 #ibm-content input[disabled="disabled"]:hover, .v17 #ibm-content input[disabled="disabled"]:focus, .v17 #ibm-content input[disabled="disabled"]:active, .v17 .dijitDialog input.ibm-disabled, .v17 .dijitDialog input.ibm-disabled:hover, .v17 .dijitDialog input.ibm-disabled:focus, .v17 .dijitDialog input.ibm-disabled:active, .v17 .dijitDialog input[disabled], .v17 .dijitDialog input[disabled]:hover, .v17 .dijitDialog input[disabled]:focus, .v17 .dijitDialog input[disabled]:active, .v17 .dijitDialog input[disabled="disabled"], .v17 .dijitDialog input[disabled="disabled"]:hover, .v17 .dijitDialog input[disabled="disabled"]:focus, .v17 .dijitDialog input[disabled="disabled"]:active { box-shadow: none; }
}
#ibm-social-tools { position: absolute; top: 160px; right: 0px; z-index: 500; width: 25px; }
#ibm-social-tools ul { margin: 0px; width: 15px; padding: 3px 6px 3px 3px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8); background: rgb(255, 255, 255) -moz-linear-gradient(180deg, rgb(230, 230, 230) 0px, rgb(255, 255, 255) 20%) no-repeat scroll 0% 0%; border-width: 1px 0px 1px 1px; border-style: solid none solid solid; border-color: rgb(255, 255, 255) -moz-use-text-color rgb(255, 255, 255) rgb(255, 255, 255); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; float: right; opacity: 0.8; transition-property: opacity; transition-duration: 0.5s; }
#ibm-social-tools ul:hover, #ibm-social-tools ul.ibm-active { opacity: 1; }
#ibm-social-tools li { float: left; padding: 2px 0px; }
#ibm-social-tools a { display: block; height: 16px; width: 16px; float: left; text-indent: -9999px; overflow: hidden; padding: 0px; }
a[class^="ibm-share"], ul:hover a[class^="ibm-share"], ul:hover a[class^="ibm-share"]:hover, ul a[class^="ibm-share"]:focus { background: transparent url("sprites-pt-all.png") no-repeat scroll 0% 0%; }
a.ibm-share-email { background-position: -52px -52px; }
a.ibm-share-print { background-position: -52px -130px; }
a.ibm-share-delicious { background-position: -52px 0px; }
a.ibm-share-digg { background-position: -52px -26px; }
a.ibm-share-facebook { background-position: -52px -78px; }
a.ibm-share-linkedin { background-position: -52px -104px; }
a.ibm-share-twitter { background-position: -52px -156px; }
ul:hover a.ibm-share-email { background-position: -26px -52px; }
ul:hover a.ibm-share-print { background-position: -26px -130px; }
ul:hover a.ibm-share-delicious { background-position: -26px 0px; }
ul:hover a.ibm-share-digg { background-position: -26px -26px; }
ul:hover a.ibm-share-facebook { background-position: -26px -78px; }
ul:hover a.ibm-share-linkedin { background-position: -26px -104px; }
ul:hover a.ibm-share-twitter { background-position: -26px -156px; }
ul:hover a.ibm-share-email:hover, ul a.ibm-share-email:focus { background-position: -78px -52px; }
ul:hover a.ibm-share-print:hover, ul a.ibm-share-print:focus { background-position: -78px -130px; }
ul:hover a.ibm-share-delicious:hover, ul a.ibm-share-delicious:focus { background-position: -78px 0px; }
ul:hover a.ibm-share-digg:hover, ul a.ibm-share-digg:focus { background-position: -78px -26px; }
ul:hover a.ibm-share-facebook:hover, ul a.ibm-share-facebook:focus { background-position: -78px -78px; }
ul:hover a.ibm-share-linkedin:hover, ul a.ibm-share-linkedin:focus { background-position: -78px -104px; }
ul:hover a.ibm-share-twitter:hover, ul a.ibm-share-twitter:focus { background-position: -78px -156px; }
a.ibm-share-kaixn, a.ibm-share-renren, a.ibm-share-baidu, a.ibm-share-weibo, ul:hover a.ibm-share-kaixn, ul:hover a.ibm-share-renren, ul:hover a.ibm-share-baidu, ul:hover a.ibm-share-weibo, ul:hover a.ibm-share-kaixn:hover, ul:hover a.ibm-share-renren:hover, ul:hover a.ibm-share-baidu:hover, ul:hover a.ibm-share-weibo:hover, ul a.ibm-share-kaixn:focus, ul a.ibm-share-renren:focus, ul a.ibm-share-baidu:focus, ul a.ibm-share-weibo:focus { background: transparent url("sprites-pt-cn.png") no-repeat scroll 0% 0%; }
a.ibm-share-renren { background-position: -52px -26px; }
a.ibm-share-weibo { background-position: -52px -78px; }
ul:hover a.ibm-share-renren { background-position: -26px -26px; }
ul:hover a.ibm-share-weibo { background-position: -26px -78px; }
ul:hover a.ibm-share-renren:hover, ul a.ibm-share-renren:focus { background-position: -78px -26px; }
ul:hover a.ibm-share-weibo:hover, ul a.ibm-share-weibo:focus { background-position: -78px -78px; }
#ibm-overlay-wwcontact div.ibm-col-6-3 div:nth-child(2) h3.ibm-rule-alternate, #ibm-overlay-wwcontact div.ibm-col-6-3 div:nth-child(2) h3.ibm-alternate-rule { border-top: 0px none; padding-top: 0px; }
#ibm-masthead { width: 100%; min-width: 980px; left: 0px; top: 0px; position: fixed; z-index: 900; border-top: 1px solid rgb(102, 102, 102); border-bottom: 2px solid rgba(255, 255, 255, 0.8); }
#ibm-top.ibm-no-scroll #ibm-masthead { position: relative; }
#ibm-top.ibm-no-scroll, #ibm-top.ibm-no-scroll #ibm-leadspace-head { margin-top: 0px; }
#ibm-mast-options::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #ibm-top, #ibm-masthead, #ibm-universal-nav, #ibm-common-menu { min-width: 980px; }
  #ibm-search-form { height: 24px; margin: 13px 20px -36px 1px; }
  #ibm-search-form input#q { width: 140px; }
}
.ibm-application #ibm-masthead #ibm-universal-nav li#ibm-home .ibm-logo-subnav li.ibm-first a::before { content: " "; display: block; height: 1px; background-color: rgb(40, 40, 40); margin-left: -10px; margin-top: -1px; width: 74px; }
