

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>.Text - Error encountered</title>
    <link rel="stylesheet" type="text/css" href="http://www.csdn.net/ui/styles/public_header_footer.css" />
    <style type="text/css">/*<![CDADA[*/
    body{margin:auto; width:760px; font-size:12px; line-height:160%;}
    .CSDN-PHF{width:100%;}
    #pageContent{background:url(/Images/error.gif) no-repeat -50px -30px; padding:30px 10px 10px 360px; margin-top:6px;}
	/*]]>*/</style>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div id="CSDNPH"><div class="CSDN-PHF"><dl style="margin:0"><dd style="margin:0">
              <div id="CSDNPH_line1">
                <a href="http://passport.csdn.net/UserLogin.aspx">【登录】</a>
                <a href="http://passport.csdn.net/CSDNUserRegister.aspx">【免费注册】</a>
              </div>
              <table id="CSDNPH_line2" border="0" cellpadding="0" cellspacing="1">
                <tr>
                  <td><a rel="mz" href='http://www.csdn.net/'>首页</a></td>
                  <td><a rel="mz" href='http://news.csdn.net/'>新闻</a></td>
                  <td><a rel="mz" href='http://bbs.csdn.net/'>论坛</a></td>
                  <td><a rel="mz" href='http://groups.csdn.net/'>群组</a></td>
                  <td><a rel="mz" href='http://blog.csdn.net/'>Blog</a></td>
                  <td><a rel="mz" href='http://dev.csdn.net/'>文档</a></td>
                  <td><a rel="mz" href='http://download.csdn.net/'>下载</a></td>
                  <td><a rel="mz" href='http://book.csdn.net/'>读书</a></td>
                  <td><a rel="mz" href='http://tag.csdn.net/'>Tag</a></td>
                  <td><a rel="mz" href='http://wz.csdn.net/'>网摘</a></td>
                  <td><a rel="mz" href='http://search.csdn.net/'>搜索</a></td>
                  <td><a rel="mz" href='http://gforge.osdn.net.cn/'>开源</a></td>
                  <td><a rel="mz" href='http://www.dearbook.com.cn/'>书店</a></td>
                  <td><a rel="mz" href='http://www.programmer.com.cn/'>程序员</a></td> 
                  <td><a rel="mz" href='http://job.csdn.net/'>人才</a></td>
                  <td><a rel="mz" href='http://prj.csdn.net/'>外包</a></td>
                  <td><a rel="mz" href='http://training.csdn.net/'>培训</a></td>

                  <td><div id="factoryArea"><a href="#" onclick="return false;">厂商专区</a><div
                    id="data_for_drop_menu" style="display: none">
                    <div><a rel="mz" href="http://www.csdn.net/bea/">BEA专区</a></div>
                    <div><a rel="mz" href="http://www.csdn.net/ianywhere/">iAnywhere</a></div>
                    <div><a rel="mz" href="http://www.csdn.net/ibmc/">IBM专区</a></div>
                    <div><a rel="mz" href="http://intel.csdn.net/">Intel专区</a></div>
                    <div><a rel="mz" href="http://www.csdn.net/ijs/">IJS专区</a></div>
                    <div><a rel="mz" href="http://sap.csdn.net/" id="a_f_p_">SAP专区</a></div>
                    <div><a rel="mz" href="http://sun.csdn.net/solaris/">Solaris</a></div>
                    <div><a rel="mz" href="http://telelogic.csdn.net/">Telelogic</a></div>
                    <div><a rel="mz" href="http://gocom.biz.csdn.net//">普元专区</a></div>
                    <div><a rel="mz" href="http://windowslive.csdn.net/domains/">定制邮局</a></div>
                    <div><a rel="mz" href="http://www.dearbook.com.cn/Subject/press/reyou.aspx">人邮出版</a></div>
                    <div><a rel="mz" href="http://msclub.csdn.net/">微软专区</a></div>
                  </div></div>
                  </td>
                </tr>
              </table>
              <table id="CSDNPH_line3" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td><a style="color: #FF0000;">频道:</a></td>
                  <td><a rel="mz" href='http://netbeans.csdn.net/'>Netbeans</a></td>
                  <td><a rel="mz" href='http://sd.csdn.net/'>研发</a></td>
                  <td><a rel="mz" href='http://soa.csdn.net/'>SOA</a></td>
                  <td><a rel="mz" href='http://bpm.csdn.net/'>业务平台</a></td>
                  <td><a rel="mz" href='http://java.csdn.net/'>Java</a></td>
                  <td><a rel="mz" href='http://testing.csdn.net/'>测试</a></td>
                  <td><a rel="mz" href='http://dotnet.csdn.net/'>.NET</a></td>
                  <td><a rel="mz" href='http://safe.csdn.net/'>安全</a></td>
                  <td><a rel="mz" href='http://cio.csdn.net/'>CIO</a></td>
                  <td><a rel="mz" href='http://middleware.csdn.net/'>中间件</a></td>
                  <td><a rel="mz" href='http://database.csdn.net/'>数据库</a></td>
                  <td><a rel="mz" href='http://itpro.csdn.net/'>信息化</a></td>
                  <td><a rel="mz" href='http://gamedev.csdn.net/'>游戏</a></td>
                  <td><a rel="mz" href='http://mobile.csdn.net/'>移动</a></td>
                  <td><a rel="mz" href='http://live.csdn.net/'>视频</a></td>
                </tr>
              </table>
            </dd></dl></div>
            <script type="text/javascript">/*<![CDATA[*/
            (function()
            {
              var $=function(id){return document.getElementById(id)};
              var a=$("CSDNPH").getElementsByTagName("A"),i;window["$mz_"]={};
              for(i=0;i<a.length;i++)if(a[i].href&&a[i].rel=="mz")a[i].target="_blank";
              var a=$("CSDNPH_line2").rows[0].cells;   for(i=0, n=a.length; i<n; i++){
              a[i].onmouseout =function(){this.style.backgroundColor=""}
              a[i].onmouseover=function(){this.style.backgroundColor="#336699";}}

              //dropdowm menu
              $mz_.B="object"==typeof(window.createPopup);//IE5.5+
              if($mz_.B){$mz_.pop=window.createPopup();with($mz_.pop.document.body.style){
              border="solid 1px #4682B4";borderTop="none";margin="0 3px";fontSize="12px";}
              $mz_.pdoc=$mz_.pop.document; var s=$mz_.pdoc.createStyleSheet();
              $mz_.pdoc.body.innerHTML=$("data_for_drop_menu").innerHTML;
              s.cssText = "div{line-height: 20px; border-bottom: dotted 1px #D4D0C8;}"
              +"a{color: #003366; font-size: 12px; font-family: \u5B8B\u4F53; text-decoration: none;}";
              $mz_.pdoc.onclick=function(){var a=$mz_.pdoc.parentWindow.event.srcElement;
              if(a.tagName=="A"){$("a_f_p_").href = a.href; $("a_f_p_").click();}}}

              $("factoryArea").onmouseover=function(e){window.event?event.cancelBubble=true:e.stopPropagation();
              if($mz_.B) $mz_.pop.show(0, 18, 68, $("data_for_drop_menu").childNodes.length*21, this);
              else $('data_for_drop_menu').style.display=''}
              $mz_.hide=function(){if($mz_.B)$mz_.pop.hide();else $('data_for_drop_menu').style.display='none'}
              $mz_.mouseout=function(e){window.event?event.cancelBubble=true:e.stopPropagation();}
              
              if(document.addEventListener) document.addEventListener("mouseover", function(){$mz_.hide()}, false);
              else if(document.attachEvent) document.attachEvent("onmouseover", function(){$mz_.hide()});

              function getCookie(name){var arr=document.cookie.match(new RegExp("(^| )"+name+"=([^;]*)(;|$)"));
              if(arr!=null)return unescape(arr[2]);return null;}

              $mz_.logout=function(e){new Image().src=e.href; if($mz_.login_info) $mz_.log.innerHTML=$mz_.login_info;}
              $mz_.log=$("CSDNPH_line1");$mz_.login_info=$mz_.log.innerHTML; var user=getCookie("activeUserName");
              if(user && user!="Guest") $mz_.log.innerHTML = "欢迎 <strong>"+ user +"</strong>   "
                +"<a href='http://job.csdn.net/Con001_ProjectManage/Job/MyResume.aspx' target='_blank'>我的简历</a> | "
                +"<a href='http://community.csdn.net/Expert/member/MyForum.asp?typenum=1' target='_blank'>我的帖子</a> | "
                +"<a href='http://writeblog.csdn.net/' target='_blank'>我的Blog</a> | "
                +"<a href='http://wz.csdn.net/my/' target='_blank'>我的网摘</a> | "
                +"<a href='http://club.book.csdn.net/people/myclub.aspx' target='_blank'>我的书架</a> | "
                +"<a href='http://download.csdn.net/user/"+ user +"' target='_blank'>我的资源</a>"
                +"<a href='http://passport.csdn.net/logonout.aspx' onclick='$mz_.logout(this); return false'>【注销】</a>"
            })();
            /*]]>*/</script>
            </div>
        </div>
        
        
        <div id="pageContent">
            <form name="frmMain" method="post" action="../../error.aspx" id="frmMain">
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwULLTEwMTM5NTA5MzBkZDI5DfoEI/fo2+kJbTAi71vGcl9c" />

                <div>
                    <h1>出错啦！！</h1>
                    <p><b>错误类型:</b>HttpException<br/><b>错误信息:</b>File does not exist.</p><br />
                    
                </div>
                <div style="display: none">
                    <h1>
                        .Text - 应用程序错误！</h1>
                    <h2>
                        详细情况</h2>
                    <p>
                        <span id="ErrorMessageLabel"></span></p>
                    <p>
                        </p>
                    <p style="margin-top: 24px">
                        </p>
                </div>
            </form>
        </div>
        
        
        <div id="footer">
        <div id="CSDNPF"><div class="CSDN-PHF"><hr/>
          <a rel="mz" class="biaoshi" href="http://www.hd315.gov.cn/beian/view.asp?bianhao=010202001032100010"> </a>
          <div><a 
            rel="mz" href="http://www.csdn.net/help/intro.htm">网站简介</a>－<a
            rel="mz" href="http://www.csdn.net/help/ads.htm">广告服务</a>－<a
            rel="mz" href="http://www.csdn.net/help/vip.htm">VIP资费标准</a>－<a
            rel="mz" href="http://www.csdn.net/help/bankaccount.htm">银行汇款帐号</a>－<a
            rel="mz" href="http://www.csdn.net/help/sitemap.htm">网站地图</a>－<a
            rel="mz" href="http://www.csdn.net/help/help.htm">帮助</a>－<a
            rel="mz" href="http://www.csdn.net/help/contact.htm">联系方式</a>－<a
            rel="mz" href="http://job.csdn.net/Jobs/f9c75c9f2ad14404a604669b757b9ed0/viewcompany.aspx">诚聘英才</a>－<a
            rel="mz" href="http://www.csdn.net/english/">English</a>－<a href="#" 
            onclick="window.location.href='mai'+'lto:'+'webm'+'aster@c'+'sdn.n'+'et?subject=向CSDN报告问题';return false">
            问题报告</a><br/>北京百联美达美数码科技有限公司  版权所有京 ICP 证 020026 号<br/>
            北京创新乐知广告有限公司  提供技术支持<br/>
            Copyright &copy; 2000-2007, CSDN.NET, All Rights Reserved</div><hr/>
          </div>
        </div>
        <script type="text/javascript" src="http://www.csdn.net/ui/scripts/Csdn/counter.js"></script>

        </div>
        <script type="text/javascript">document.write("<img src=http://counter.csdn.net/pv.aspx?id=239 border=0 width=0 height=0>");</script>
        <script src="http://counter.csdn.net/referrer.js"></script>
    </div>
</body>
</html>
