body{	
	background-image: url(images/bg.gif); 
	background-repeat: repeat-yes;
	margin : 0px;
	color:#303030;
	font-size:12px;
	font-style: normal;
	word-break:break-all;
	line-height:150%
}


td {
	FONT-SIZE: 12px; 
	COLOR: #303030; 
	FONT-FAMILY: Verdana,Helvetica,Arial;
	word-break:break-all;
	line-height:150%
}



.postcontent{
	margin-top:10px;
	background-image:url(/skins/green/images/bg_content.gif);
	background-repeat:no-repeat;
	font-size:12px;
	color:#303030
}

.mytd{
	margin : 0px;
	color:red;
	font-size:12px;
	line-height: 22px; 
	font-style: normal;
	FONT-FAMILY: Verdana,Helvetica,Arial
}

.footer {
	border:dashed 1px #420100;
	padding:10px;

}

/* 编辑、评论 */

a:visited, a:active, a:link {	
	color : #366900;
	text-decoration : none;
}


a:hover {
	color: #8d8c8c;
	text-decoration : underline;
}

h1 {
	margin : 0px;
	margin-top : 10px;
	margin-bottom : 10px;
	font-size : 12px;
	color:#444444;
	border-bottom:1px dashed #CCCCCC;
	padding:3px;
	text-align:left;
}

/*
h1 a:visited,
h1 a:active,
h1 a:link {
	color : #000;
}

h1 a:hover {
	color : #47F;
	text-decoration : none;
}
*/
h2 {
	margin-top : 10px;
	margin-bottom : 3px;
	font-size : 13px;
}

h3 {
	font-size : 14.7px;
}



/* 自定义 */
td.banner{
	background-repeat:no-repeat;
	background-position:right middle;
	background-color:white;
	border:solid white 5px;
}

table.index{
	margin-top:0px
}

.sub {
	color:white;
	font-size:14.7px;
	margin-top:10px;
}


/* section style */

#menu h1 {
	color: red;
	font-family: "trebuchet ms", "lucida grande", verdana, arial, sans-serif;	
	font-size: 14.7px;
	font-weight: bold;
	margin: 0px;
}

#menu ul {
	list-style: none;
	padding: 0px;
	margin: 0px 0px 15px 5px;
	font-size: 12px;
	line-height:160%
}



a.listitem:visited, a.listitem:active, a.listitem:link {	
	color : #366900;
	text-decoration : none;
}

a.listitem:hover {
	color: brown;
	text-decoration : underline;
}

#Category {
	margin : 0px;
	color:#8d8c8c;
	font-size:11px;
	line-height: 22px; 
	font-style: normal
}

.Catedesc {
	padding-left:20px;
	padding-bottom:20px;

	background-image: url(images/main_background.gif);
	background-position: top left;
	background-repeat: repeat-y;
	text-align: justify;

	color: #808080;
	font-size: 12px;
	font-family: verdana, arial, sans-serif;	
	text-transform: uppercase;
}

/* section posts style */
h1.block_title {
	font-family: verdana, arial, sans-serif;	
	font-size: 14.7px;
	font-weight: bold;
	height: 40px;
	padding: 10px 0px 0px 0px;
	margin-bottom:30px;
	text-align:middle;
}

h1.block_title img {
  vertical-align: middle;
  color:red;
}

h1.block_title a:visited, h1.block_title a:active, h1.block_title a:link {
	color: gray;
}

#header a {
  color: white;
  font-family: verdana, arial, sans-serif;	
  font-size: 16px;
  font-weight: bold;
}

div.block {
  background-image: url(images/main_background.gif);
  background-position: top left;
  background-repeat: repeat-y;
  font-size: 8pt;
  text-align: justify;
}

div.block_footer {

  height: 10px;
}


div.post {
  padding-left: 20px;
}

div.posttitle {
  color: #355EA0;
	font-family: verdana, arial, sans-serif;	
	font-size: 14.7px;
	font-weight: bold;
}

.posttitle a:visited, .posttitle a:active, .posttitle a:link {	
	color : #366900;
	font-size:14.7px;
	text-decoration : none;
}

.posttitle a:hover {
	color: brown;
	font-size:14.7px;
	text-decoration : underline;
}

/* 用户题记 阅读 评论*/
div.itemdesc {
	padding-top:10px;
	text-align:right;
	color: #808080;
	font-size: 11px;
	font-family: verdana, arial, sans-serif;	
	text-transform: uppercase;

}


div.seperator {

  margin: 0px 0px 10px 0px;
}

div.entrylistitem {
  padding-left: 20px;
  padding-bottom: 10px;
}

a.entrylisttitle, a.entrylisttitle:visited, a.entrylisttitle:link, a.entrylisttitle:active {
  color: #5D5D5D;
	font-family: "trebuchet ms", "lucida grande", verdana, arial, sans-serif;	
	font-size: 14px;
	font-weight: bold;
}

div.moreinfo {
  font-size: 8pt;
  text-align: justify;
}

div.moreinfotitle {
	color: gray;
	font-family: "trebuchet ms", "lucida grande", verdana, arial, sans-serif;	
	font-size: 14.7px;
	font-weight: bold;
}

/* section comment style */
commentform{
  font-size: 12px;
}
div.comment_footer
 {

	color:#8d8c8c;
	text-align:right;
}


div.comments {
  font-size: 12px;
}

div.comment {
	background-color: #FBFBFB;
  border: 1px dashed #DDDDDD;
  margin: 10px 0px 10px 0px;
  padding: 10px;
}

div.comment_author {
  margin: 5px 0px 5px 0px;
}

div.comment_content {
  margin: 5px 0px 5px 0px;
}


#postcomment {
	border: 1px solid #DDDDDD;
	background-color: #FBFBFB;
  font-size: 12px;
  padding: 10px;
  text-align: justify;
  margin-top: 15px;
  width: 435px;
}

#postcomment div {
	color: #808080;
  font-size: 10px;
	font-weight: bold;
  margin: 5px 0px 5px 0px;
}

#postcomment input.text, textarea {
  font-size: 14.7px;
  font-family:verdana;
  line-height:130%;
}

