/* Effective stylesheet produced by snapshot save */
#dw-summary-area span#nCmts { margin-top: -2px; }
#dw-summary-area span#nCmts span { color: rgb(255, 255, 255); background-color: rgb(40, 125, 159); font-size: 0.8em; padding: 0px 6px; display: inline; vertical-align: top; }
#dw-summary-area span#nCmts img.dw-cmts-arrow { margin: 0px 0px 1px -1px; vertical-align: 1px; }
#dw-summary-area.dw-summary-columns p a.dw-cmt-link { padding: 0px; text-decoration: none; font-size: 1em; line-height: 1em; color: rgb(0, 82, 141); opacity: 0.8; }
p.dw-c-overlay-secure { background: transparent url("urn:not-loaded:http://1.w3.s81c.com/i/v17/icons/ibm_sprite_status_sm_blue_ON.png") no-repeat scroll 0px -801px ! important; line-height: 16px; padding: 0px 30px 0px 20px ! important; }
p.dw-perm-box span input { margin-left: -140px ! important; }
p.dw-perm-box span label { margin-left: 20px ! important; }
p#signInSect { margin-bottom: 8px; }
p.dw-c-overlay-secure { background: transparent url("urn:not-loaded:http://dw1.s81c.com/i/v16/icons/lock.gif") no-repeat scroll 0px 0px; line-height: 16px; padding: 0px 30px 0px 20px ! important; }
p#cmtHead strong, p span.dw-comment-totals-label strong { color: rgb(102, 102, 102); }
p#cmtHead { padding-bottom: 0px ! important; }
.ibm-columns .ibm-col-6-4 .dw-commentbox textarea { width: 615px; }
textarea#newCmt { resize: vertical; }
#notifiedSect, #art-rating-summary, .dw-btn-cancel-sec { font-family: Arial,sans-serif; font-size: 1em ! important; color: rgb(51, 51, 51); }
.dw-btn-cancel-sec { float: right; margin-top: 4px; margin-bottom: 20px; }
.notifySection {  }
input#postCmt { margin-bottom: 0px; }
.dw-comment-totals, .dw-noborder { border-style: none ! important; margin-top: 0px ! important; }
p span.dw-comment-totals-label, p span.dw-how-many-comments-label { font-size: 1.166em ! important; }
p span.dw-how-many-comments-label { float: right; }
.ibm-btn-go {  }
div#bottomControl { padding-top: 12px; }
#dw-toc { background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); border: 1px solid rgb(204, 204, 204); width: 290px; padding-right: 5px; position: absolute; z-index: 900; margin-top: 10px; }
#dw-toc .ibm-twisty-head { font-size: 14px; }
#dw-toc ul.ibm-twisty li a { padding-right: 4px; }
#dw-toc ul.ibm-twisty li a.ibm-twisty-trigger-closed { background: transparent url("ibm_icon_blue_maximize.png") no-repeat scroll 0% 0% ! important; }
#dw-toc ul.ibm-twisty li a.ibm-twisty-trigger { background: transparent url("ibm_icon_blue_minimize.png") no-repeat scroll 0% 0%; display: block; float: left; height: 16px; overflow: hidden; width: 16px; }
#dw-toc span.ibm-twisty-head { font-weight: bold; }
#dw-toc li { padding-left: 3px ! important; padding-right: 4px ! important; }
.metavalue { display: none; }
