/* Effective stylesheet produced by snapshot save */
#ibm-universal-nav-dw #ibm-menu-links-dw.ibm-menu-links-dw-cn li { padding: 0px 10px; }
.ibm-col-6-4 p.ibm-ind-link a, ul.ibm-link-list a { font-size: 1em; line-height: 1.2em; }
.dwcn-sina-link { background: transparent url("sina.png") no-repeat scroll 2px 4px; display: block; margin: 0px; padding: 5px 5px 5px 21px; }
a.dwcn-tencent-link { background: transparent url("sprites-new.png") no-repeat scroll -52px 0px; }
a.dwcn-sohu-link { background: transparent url("sprites-new.png") no-repeat scroll -52px -26px; }
a.dwcn-netease-link { background: transparent url("sprites-new.png") no-repeat scroll -52px -52px; }
#ibm-social-tools ul:hover a.dwcn-tencent-link { background: transparent url("sprites-new.png") no-repeat scroll -26px 0px; }
#ibm-social-tools ul:hover a.dwcn-sohu-link { background: transparent url("sprites-new.png") no-repeat scroll -26px -26px; }
#ibm-social-tools ul:hover a.dwcn-netease-link { background: transparent url("sprites-new.png") no-repeat scroll -26px -52px; }
#ibm-social-tools ul:hover a.dwcn-tencent-link:hover, #ibm-social-tools ul a.dwcn-tencent-link:focus { background: transparent url("sprites-new.png") no-repeat scroll -78px 0px; }
#ibm-social-tools ul:hover a.dwcn-sohu-link:hover, #ibm-social-tools ul a.dwcn-sohu-link:focus { background: transparent url("sprites-new.png") no-repeat scroll -78px -26px; }
#ibm-social-tools ul:hover a.dwcn-netease-link:hover, #ibm-social-tools ul a.dwcn-netease-link:focus { background: transparent url("sprites-new.png") no-repeat scroll -78px -52px; }
