.cmdLogin
{
	color:#515151;
font-size:12px;
	background: url(/Portals/0/dl02.gif);
    width: 42px;
       border-style: none;
height: 19px; 
text-align:center;
cursor:hand;
padding-top:2px;
}
.cmdRegister
{
	color:#515151;
font-size:12px;
	background: url(/Portals/0/dl02.gif);
    width:42px;
    border-style: none;
    height: 19px;
text-align:center;
cursor:hand;
padding-top:2px;
}
.cmdRegister1
{
	color:#515151;
font-size:12px;
	background: url(/Portals/0/dl02.gif);
    width:42px;
    border-style: none;
    height: 19px;
text-align:center;
cursor:hand;
padding-top:2px;
background-position:center center;
background-repeat:no-repeat;
}
.Logoff
{
	font-size: 8.5pt;
    color: #9c7900;
    text-decoration: none;
}
.TDLogoff
{
	background-image : url(/portals/0/images/login_but.gif);
	width : 45px;
	height : 17px;
	text-align : center;
	font-size : 12px;
	padding-top : 2px;
	color : #FFFFFF;
}
.txtPassword
{
	border:1px #aaaaaa solid;width:95px;height:18px;font-size:12px;
}
.txtUsername
{
	border:1px #aaaaaa solid;width:95px;height:18px;font-size:12px;
}
.userLogff
{
	letter-spacing : 3px;
    font-size: 12px;
    color: #ffffff;
    font-family: Tahoma, Arial, Helvetica;
    text-decoration: none;
}
.userLogin
{
	font-size: 12px;
}
A.Logoff:active
{
	text-decoration: none;
    color: #9c7900;
}
A.Logoff:hover
{
	text-decoration: none;
    color: #9c7900;
}
A.Logoff:link
{
	text-decoration: none;
    color: #9c7900;
}
A.Logoff:visited
{
	text-decoration: none;
    color: #9c7900;
}
A.userLogff:active
{
	text-decoration:    none;
    color:#ffffff;
font-weight:bolder
}
A.userLogff:hover
{
	text-decoration:    none;
    color:#ffffff;
font-weight:bolder
}
A.userLogff:link
{
	text-decoration:    none;
    color:#ffffff;
font-weight:bolder
}
A.userLogff:visited
{
	text-decoration:    none;
    color:#ffffff;
font-weight:bolder
}
