body,td,th {
	font-family: 宋体;
	font-size: 12px;
}


/* 默认黑色字体*/
a:link
{
	font-size:12px;color:#000000;text-decoration:none;
}
a:visited
{
	font-size:12px;color:#000000;text-decoration:none;
}
a:hover
{
	font-size:12px;color:#D42302;text-decoration:none;
}


.Search1{width:95px;height:22px;border:1px #000000 solid}


/* 今日头条标题字体*/
#jrtt a:link
{
	font-size:16px;
                FONT-WEIGHT: bold;
                COLOR: #e70011 

}
#jrtt a:visited
{
	font-size:16px;
                FONT-WEIGHT: bold;
                 COLOR: #e70011 
}
#jrtt a:hover
{
	font-size:16px;
                FONT-WEIGHT: bold;
                COLOR: #e70011 ;
	text-decoration: underline;
}



/* 最新杂志标题字体*/
#zxzz a:link
{
	font-size:14px;
                FONT-WEIGHT: bold;
                COLOR: #e70011 

}
#zxzz a:visited
{
	font-size:14px;
                FONT-WEIGHT: bold;
                 COLOR: #e70011 
}
#zxzz a:hover
{
	font-size:14px;
                FONT-WEIGHT: bold;
                COLOR: #e70011 ;
	text-decoration: underline;
}


.lineheight{line-height: 21px;} 

/* 最近活动标题字体*/
#zjhd a:link
{
	font-size:14px;
                FONT-WEIGHT: bold;
                COLOR: #000000

}
#zjhd a:visited
{
	font-size:14px;
                FONT-WEIGHT: bold;
                 COLOR: #000000 
}
#zjhd a:hover
{
	font-size:14px;
                FONT-WEIGHT: bold;
                COLOR: #000000;
	text-decoration: underline;
}

/* 主题征集标题字体*/
#ztzj a:link
{
	font-size:13px;
                FONT-WEIGHT: bold;
                COLOR: #000000

}
#ztzj a:visited
{
	font-size:13px;
                FONT-WEIGHT: bold;
                 COLOR: #000000 
}
#ztzj a:hover
{
	font-size:13px;
                FONT-WEIGHT: bold;
                COLOR: #000000;
	text-decoration: underline;
}

.gjsearch{
	font-size: 24px;
	color: #be191f;
	font-weight: bold;
}
.blk_29 { PADDING-RIGHT: 0px;PADDING-LEFT: 30px;PADDING-BOTTOM: 10px;OVERFLOW: hidden;PADDING-TOP: 4px;ZOOM: 1;POSITION: relative;width: 323px;
}
.blk_29 .LeftBotton {	BACKGROUND: url(/Portals/0/images/ca_hz_002.gif) no-repeat 0px 0px; LEFT: 5px; FLOAT: left; WIDTH: 11px; CURSOR: pointer; POSITION: absolute; HEIGHT: 10px; top:10px}
.blk_29 .RightBotton {	RIGHT: 5px; BACKGROUND: url(/Portals/0/images/ca_hz_002.gif) no-repeat -11px 0px; FLOAT: right; WIDTH: 11px; CURSOR: pointer; POSITION: absolute; HEIGHT: 10px; top:10px}
.blk_29 .Cont {	MARGIN: 0px auto; OVERFLOW: hidden; PADDING-TOP: 5px;width:500px}
.blk_29 .box {	FLOAT: left; WIDTH: 10px; TEXT-ALIGN: center}
.blk_29 .box P {	MARGIN: 6px auto 0px; WIDTH: 50px; LINE-HEIGHT: 20px}




.STYLE3{color:D60201}
.STYLE3 a{color:D60201}
.STYLE1{color:D60201;font-weight:bold}
.STYLE1 a{color:D60201;font-weight:bold}

.news{color:D60201;font-weight:bold;font-size:16px;font-style: italic;}

#newsstyle a{font-size:14px;}

.STYLE5{color:#ffffff;font-weight:bold;}
.STYLE5 a{color:#ffffff;font-weight:bold;}




















