/* Effective stylesheet produced by snapshot save */
#colorbox, #cboxOverlay, #cboxWrapper { position: absolute; top: 0px; left: 0px; z-index: 9999; overflow: hidden; }
#cboxOverlay { position: fixed; width: 100%; height: 100%; }
#cboxMiddleLeft, #cboxBottomLeft { clear: left; }
#cboxContent { position: relative; }
#cboxLoadedContent { overflow: auto; }
#cboxTitle { margin: 0px; }
#cboxLoadingOverlay, #cboxLoadingGraphic { position: absolute; top: 0px; left: 0px; width: 100%; }
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow { cursor: pointer; }
#cboxOverlay { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#colorbox {  }
#cboxTopLeft { width: 25px; height: 25px; background: transparent url("border1.png") no-repeat scroll 0px 0px; }
#cboxTopCenter { height: 25px; background: transparent url("border1.png") repeat-x scroll 0px -50px; }
#cboxTopRight { width: 25px; height: 25px; background: transparent url("border1.png") no-repeat scroll -25px 0px; }
#cboxBottomLeft { width: 25px; height: 25px; background: transparent url("border1.png") no-repeat scroll 0px -25px; }
#cboxBottomCenter { height: 25px; background: transparent url("border1.png") repeat-x scroll 0px -75px; }
#cboxBottomRight { width: 25px; height: 25px; background: transparent url("border1.png") no-repeat scroll -25px -25px; }
#cboxMiddleLeft { width: 25px; background: transparent url("border2.png") repeat-y scroll 0px 0px; }
#cboxMiddleRight { width: 25px; background: transparent url("border2.png") repeat-y scroll -25px 0px; }
#cboxContent { background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: hidden; }
#cboxLoadedContent { margin-bottom: 20px; }
#cboxTitle { position: absolute; bottom: 0px; left: 0px; text-align: center; width: 100%; color: rgb(153, 153, 153); }
#cboxCurrent { position: absolute; bottom: 0px; left: 100px; color: rgb(153, 153, 153); }
#cboxSlideshow { position: absolute; bottom: 0px; right: 42px; color: rgb(68, 68, 68); }
#cboxPrevious { position: absolute; bottom: 0px; left: 0px; color: rgb(68, 68, 68); }
#cboxNext { position: absolute; bottom: 0px; left: 63px; color: rgb(68, 68, 68); }
#cboxLoadingOverlay { background: rgb(255, 255, 255) url("loading.gif") no-repeat scroll 5px 5px; }
#cboxClose { position: absolute; bottom: 0px; right: 0px; display: block; color: rgb(68, 68, 68); }
