/* Effective stylesheet produced by snapshot save */
.hljs { display: block; overflow-x: auto; padding: 0.5em; background: rgb(63, 63, 63) none repeat scroll 0% 0%; color: rgb(220, 220, 220); }
.hljs-keyword, .hljs-selector-tag, .hljs-tag { color: rgb(227, 206, 171); }
.hljs-number { color: rgb(140, 208, 211); }
.hljs-variable, .hljs-template-variable, .hljs-attribute { color: rgb(239, 220, 188); }
.hljs-literal { color: rgb(239, 239, 175); }
.hljs-title, .hljs-name, .hljs-selector-id, .hljs-selector-class, .hljs-section, .hljs-type { color: rgb(239, 239, 143); }
.hljs-deletion, .hljs-string, .hljs-built_in, .hljs-builtin-name { color: rgb(204, 147, 147); }
.hljs-addition, .hljs-comment, .hljs-quote, .hljs-meta { color: rgb(127, 159, 127); }
