@charset "UTF-8";
/* Effective stylesheet produced by snapshot save */
#bdshare ul, #bdshare_s ul, #bdshare ul li, #bdshare_s ul li, #bdshare_l_c ul li, #bdshare_m_c ul li, #bdshare_pop ul, #bdshare_pop ul li { list-style: outside none none; margin: 0px; padding: 0px; }
#bdshare { z-index: 999999; padding-bottom: 2px; font-size: 12px; float: left; text-align: left ! important; }
#bdshare a, #bdshare_s a, #bdshare_pop a { text-decoration: none; cursor: pointer; }
#bdshare a:hover, #bdshare_s a:hover, #bdshare_pop a:hover { color: rgb(51, 51, 51); opacity: 0.8; }
#bdshare img { border: 0px none; margin: 0px; padding: 0px; cursor: pointer; }
#bdshare h6, #bdshare_s h6 { width: 100%; font: 700 14px/22px "瀹嬩綋"; text-indent: 0.5em; border-top: 1px solid rgb(251, 251, 251); border-bottom: 1px solid rgb(242, 241, 241); background-color: rgb(246, 246, 246); float: left; padding: 5px 0px; margin: 0px; }
#bdshare ul, #bdshare_s ul { width: 98%; float: left; padding: 8px 0px; margin-left: 2px; overflow: hidden; }
#bdshare ul li, #bdshare_s ul li { width: 47%; float: left; margin: 4px 2px; }
#bdshare ul li a, #bdshare_s ul li a { color: rgb(86, 86, 86); font: 12px "瀹嬩綋"; display: block; width: 98%; padding: 6px 0px; text-indent: 2.4em; border: 1px solid rgb(255, 255, 255); }
#bdshare ul li a:hover, #bdshare_s ul li a:hover { background-color: rgb(243, 243, 243); border: 1px solid rgb(238, 238, 238); }
#bdshare p, #bdshare_s p { width: 100%; height: 21px; font: 12px "瀹嬩綋"; border-top: 1px solid rgb(242, 241, 241); background-color: rgb(248, 248, 248); float: left; padding: 0px; margin: 0px; }
#bdshare p a, #bdshare_s p a { width: auto; text-align: right; float: right; padding: 0px 5px; }
#bdshare_m { width: 132px; float: right; position: absolute; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#bdshare_m_c { width: 130px; float: left; border: 1px solid rgb(233, 233, 233); overflow: hidden; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#bdshare_m_c ul li { width: 97%; float: left; margin: 2px; }
#bdshare_m_c ul li a { background: url("urn:not-loaded:http://bdimg.share.baidu.com/static/images/is.png?cdnversion=20131219") no-repeat scroll 0% 0% transparent; height: auto ! important; }
#bdshare_l, #bdshare_m { z-index: 99999; }
#bdshare_l_c p a.goWebsite, #bdshare_m_c p a.goWebsite, #bdshare_pop p a.goWebsite { text-align: right; background: url("urn:not-loaded:http://bdimg.share.baidu.com/static/images/pi.gif?cdnversion=20120720") no-repeat scroll 0px center transparent; line-height: 16px; padding-left: 12px; color: rgb(140, 140, 140); }
#bdshare_l_c p a.goWebsite:hover, #bdshare_m_c p a.goWebsite:hover, #bdshare_pop p a.goWebsite:hover { color: rgb(0, 169, 224); }
.bds_more { background-image: url("urn:not-loaded:http://bdimg.share.baidu.com/static/images/is.png?cdnversion=20131219") ! important; background-position: 0px 4px ! important; }
.bds_qzone { background-position: 0px -75px ! important; }
.bds_tsina { background-position: 0px -115px ! important; }
.bds_renren { background-position: 0px -195px ! important; }
.bds_tqq { background-position: 0px -235px ! important; }
.bds_mshare { background-position: 0px -2070px ! important; }
.bds_bdxc { background-position: 0px -2190px ! important; }
.bds_bdysc { background-position: 0px -2550px ! important; }
