/* Effective stylesheet produced by snapshot save */
* { word-wrap: break-word; }
body { background: url("background.png") repeat-x scroll 0px 0px rgb(255, 255, 255); }
body, input, button, select, textarea { font: 12px/1.5 Tahoma,"Microsoft Yahei","Simsun"; color: rgb(68, 68, 68); }
body, ul, ol, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset, .pr, .pc { margin: 0px; padding: 0px; }
table { empty-cells: show; border-collapse: collapse; }
caption, th { text-align: left; font-weight: 400; }
ul li, .xl li { list-style: outside none none; }
h1, h2, h3, h4, h5, h6 { font-size: 1em; }
em, cite, i { font-style: normal; }
a { color: rgb(51, 51, 51); text-decoration: none; }
a:hover { text-decoration: underline; }
a img { border: medium none; }
label { cursor: pointer; }
.z { float: left; }
.y { float: right; }
.cl:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.cl {  }
.pipe { margin: 0px 5px; color: rgb(204, 204, 204); }
.xs0 { font-family: Arial; font-size: 0.83em; }
.xg1, .xg1 a { color: rgb(153, 153, 153) ! important; }
.xg2 { color: rgb(102, 102, 102); }
.xi1, .onerror { color: rgb(242, 108, 79); }
.xi2, .xi2 a, .xi3 a { color: rgb(51, 102, 153); }
.xw1 { font-weight: 700; }
.bbda { border-bottom: 1px dashed rgb(205, 205, 205); }
.btda { border-top: 1px dashed rgb(205, 205, 205); }
.mtn { margin-top: 5px ! important; }
.mtm { margin-top: 10px ! important; }
.mbm { margin-bottom: 10px ! important; }
.mtw { margin-top: 20px ! important; }
.ptn { padding-top: 5px ! important; }
.pbn { padding-bottom: 5px ! important; }
.ptm { padding-top: 10px ! important; }
.pbw { padding-bottom: 20px ! important; }
.avtm img { width: 120px; height: auto; }
.vm { vertical-align: middle; }
.vm * { vertical-align: middle; }
.hm { text-align: center; }
#ajaxwaitid { display: none; position: absolute; right: 0px; top: 0px; z-index: 1; padding: 0px 5px; background: none repeat scroll 0% 0% rgb(221, 0, 0); color: rgb(255, 255, 255); }
.showmenu { padding-right: 16px; background: url("arrwd.gif") no-repeat scroll 100% 50% transparent; cursor: pointer; white-space: nowrap; }
.cur1 { cursor: pointer; }
.px, .pt, .ps, select { border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgb(132, 132, 132) rgb(224, 224, 224) rgb(224, 224, 224) rgb(132, 132, 132); background: url("px.png") repeat-x scroll 0px 0px rgb(255, 255, 255); }
.px, .pt { padding: 2px 4px; line-height: 17px; }
.px { height: 17px; }
.p_fre { width: auto ! important; }
.pt { overflow-y: auto; }
div.pt { height: 100px; line-height: 100px; }
.ps, select { padding: 2px 2px 2px 1px; }
button::-moz-focus-inner { border: 0px none; padding: 0px; }
.pn { vertical-align: middle; overflow: hidden; margin-right: 3px; padding: 0px; height: 23px; border: 1px solid rgb(153, 153, 153); background: url("pn.png") repeat-x scroll 0px 0px rgb(229, 229, 229); cursor: pointer; box-shadow: 0px 1px 0px rgb(229, 229, 229); }
.pn:active { background-position: 0px -23px; }
.pn em, .pn span, .pn strong { padding: 0px 10px; line-height: 21px; }
.pn em, .pn strong { font-weight: 700; }
.pnc, a.pnc { border-color: rgb(35, 89, 148); background-color: rgb(0, 102, 204); background-position: 0px -48px; color: rgb(255, 255, 255) ! important; }
.pnc:active { background-position: 0px -71px; }
.pnpost .pn { height: 26px; }
.pr, .pc { vertical-align: middle; margin: 0px 5px 1px 0px; padding: 0px; }
.lb { margin-right: 20px; }
.pns .px {  }
.pns .pn {  }
.ftid { float: left; margin-right: 6px; }
.ftid select { float: left; height: 23px; }
.ftid a { display: block; overflow: hidden; padding: 0px 17px 0px 4px; height: 21px; line-height: 21px; text-decoration: none ! important; font-size: 12px; font-weight: 400; color: rgb(68, 68, 68) ! important; border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgb(132, 132, 132) rgb(224, 224, 224) rgb(224, 224, 224) rgb(132, 132, 132); background: url("newarow.gif") no-repeat scroll 100% 0px rgb(255, 255, 255); }
.ftid a:hover, .ftid a:focus { background-position: 100% -23px; }
.ftid select { width: 94px; }
.sltm { padding: 5px 11px 5px 10px; border: 1px solid rgb(221, 221, 221); background-color: rgb(255, 255, 255); text-align: left; }
.sltm li { padding: 2px 0px; color: rgb(102, 102, 102); cursor: pointer; }
.sltm li:hover { color: rgb(51, 102, 153); }
.sltm li.current { color: rgb(242, 108, 79); }
.wp { margin: 0px auto; width: 960px; }
#wp .wp { width: auto; }
#toptb { min-width: 960px; border-bottom: 1px solid rgb(205, 205, 205); background: none repeat scroll 0% 0% rgb(242, 242, 242); line-height: 28px; }
#toptb a { float: left; padding: 0px 4px; height: 28px; }
#hd { border-bottom: 0px solid rgb(194, 213, 227); }
#hd .wp { padding: 10px 0px 0px; }
.hdc { min-height: 70px; }
#hd h2 { padding: 0px 20px 8px 0px; float: left; }
#hd .fastlg { padding-top: 10px; }
#scbar { overflow: hidden; height: 42px; line-height: 42px; border-top: 1px solid rgb(255, 255, 255); border-bottom: 1px solid rgb(233, 239, 245); background: none repeat scroll 0% 0% rgb(232, 239, 245); }
.scbar_icon_td { width: 21px; background: url("search.png") no-repeat scroll 0px -50px transparent; }
.scbar_txt_td, .scbar_type_td { background: url("search.png") repeat-x scroll 0px -93px transparent; }
#scbar_txt { width: 400px; border: 1px solid rgb(255, 255, 255); outline: medium none; }
.scbar_narrow #scbar_txt { width: 260px; }
.scbar_btn_td { width: 38px; background: url("search.png") no-repeat scroll 8px -142px transparent; }
#scbar_btn { margin: 0px; padding: 0px; border: medium none; background: none repeat scroll 0% 0% transparent; box-shadow: none; }
#scbar_btn strong { line-height: 84px; }
.scbar_type_td { width: 61px; background: url("search.png") no-repeat scroll 0px -193px transparent; }
#scbar_type { display: block; padding-left: 10px; text-align: left; text-decoration: none; }
#scbar_type_menu { margin-top: -8px; }
#scbar_hot { padding-left: 8px; height: 45px; overflow: hidden; }
#scbar_hot strong, #scbar_hot a { float: left; margin-right: 8px; white-space: nowrap; }
#nv { overflow: hidden; height: 33px; background: url("nv.png") no-repeat scroll 0px 0px rgb(43, 122, 205); }
#nv li { float: left; padding-right: 1px; height: 33px; line-height: 33px; background: url("nv_a.png") no-repeat scroll 100% 0px transparent; font-weight: 700; font-size: 14px; }
#nv li a { float: left; padding: 0px 15px; height: 33px; }
#nv li a { color: rgb(255, 255, 255); }
#nv li span { display: none; }
#nv li.a { margin-left: -1px; background: url("nv_a.png") no-repeat scroll 50% -33px rgb(0, 90, 180); }
#nv li.a a { color: rgb(255, 255, 255); }
#nv li a:hover { background: url("nv_a.png") no-repeat scroll 50% -66px transparent; }
#mu { position: relative; z-index: 1; }
#mu ul { background: url("urn:not-loaded:http://www.aboutyun.com/static/image/common/mu_bg.png") no-repeat scroll 0px 100% transparent; line-height: 22px; z-index: 2; font-size: 12px; }
#qmenu { float: right; display: inline; margin: 5px 8px 0px; padding-right: 10px; width: 103px; height: 24px; background: url("qmenu.png") no-repeat scroll 0px 0px transparent; line-height: 24px; text-align: center; color: rgb(51, 102, 153); font-weight: 700; overflow: hidden; }
#qmenu:hover { text-decoration: none; }
#qmenu_menu { margin-top: -2px; padding: 20px 5px 10px; width: 610px; border-color: rgb(220, 228, 235); }
#mn_userapp_menu { clear: left; min-height: 210px; min-width: 630px; }
#ct { min-height: 300px; }
#ft { padding: 10px 0px 50px; border-top: 1px solid rgb(205, 205, 205); line-height: 1.8; color: rgb(102, 102, 102); }
#flk { text-align: right; }
#flk img { vertical-align: middle; }
#scrolltop { visibility: hidden; position: fixed; bottom: 100px; display: block; margin: -30px 0px 0px 2px; width: 40px; background: none repeat scroll 0% 0% rgb(244, 244, 244); border-right: 1px solid rgb(205, 205, 205); border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(205, 205, 205) rgb(205, 205, 205); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 3px; cursor: pointer; }
#scrolltop:hover { text-decoration: none; }
#scrolltop a { display: block; width: 30px; height: 24px; padding: 3px 5px; line-height: 12px; text-align: center; color: rgb(120, 120, 120); text-decoration: none; background: url("scrolltop.png") no-repeat scroll 0px 0px transparent; border-top: 1px solid rgb(205, 205, 205); }
a.scrolltopa:hover { background-position: -40px 0px ! important; }
a.replyfast { background-position: 0px -30px ! important; }
a.replyfast:hover { background-position: -40px -30px ! important; }
a.returnlist, a.returnboard { background-position: 0px -60px ! important; }
a.returnlist:hover, a.returnboard:hover { background-position: -40px -60px ! important; }
#scrolltop a b { visibility: hidden; font-weight: normal; }
.bm, .bn { margin-bottom: 10px; }
.bm { border: 1px solid rgb(205, 205, 205); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.bm_c { padding: 10px; }
.bm_h { padding: 0px 10px; height: 31px; border-top: 1px solid rgb(255, 255, 255); border-bottom: 1px solid rgb(194, 213, 227); background: none repeat scroll 0% 0% rgb(242, 242, 242); line-height: 31px; white-space: nowrap; overflow: hidden; }
.bmw { border: 1px solid rgb(205, 205, 205); }
#pt { margin: 2px 0px; height: 29px; border: medium none; background: none repeat scroll 0% 0% transparent; line-height: 29px; }
#pt .z { padding-right: 10px; }
#pt .z a, #pt .z em, #pt .z span { float: left; height: 29px; }
#pt .z em { width: 20px; background: url("pt_item.png") no-repeat scroll 3px 10px transparent; line-height: 200px; overflow: hidden; }
.nvhm { width: 16px; background: url("search.png") no-repeat scroll 0px 0px transparent; line-height: 200px; overflow: hidden; }
.tns { padding: 10px 0px; }
.tns table { width: 100%; }
.tns th, .tns td { text-align: center; font-size: 12px; }
.tns th { border-right: 1px solid rgb(204, 204, 204); }
.tns th p, .tns td p { font-size: 14px; margin: 0px; }
.pls .tns { padding: 0px 10px 10px; }
.pls .tns th p, .pls .tns td p { font-size: 12px; margin: 0px; }
.a_mu { border-style: solid; border-color: rgb(205, 205, 205); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 0px 1px 1px; background: none repeat scroll 0% 0% rgb(242, 242, 242); }
.a_f { margin: 5px auto; }
.a_t { margin-bottom: 10px; }
.a_t table { width: 100%; }
.a_t td { padding: 4px 15px; border: 1px solid rgb(205, 205, 205); }
.a_pr { float: right; overflow: hidden; }
.a_pt, .a_pb { background: url("urn:not-loaded:http://www.aboutyun.com/static/image/common/ad.gif") no-repeat scroll 0px 50% transparent; margin-bottom: 6px; padding-left: 20px; }
.a_fl, .a_fr { float: right; position: fixed; top: 350px; z-index: 100; }
.a_fr { right: 0px; text-align: right; }
.a_cb { top: 20px; }
.a_h, .a_mu, .a_c, .a_p, .a_f, .a_t { text-align: center; }
.xl li { margin: 2px 0px; }
.xl2 li { float: left; margin: 2px 0px; padding: 0px; width: 50%; height: 1.5em; overflow: hidden; }
.xld dt { padding: 8px 0px 5px; font-weight: 700; }
.xld dd { margin-bottom: 8px; }
.tedt { width: 98%; border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgb(153, 153, 153) rgb(204, 204, 204) rgb(204, 204, 204) rgb(153, 153, 153); }
.tedt .bar { padding: 0px 10px 0px 0px; height: 25px; line-height: 25px; border-bottom: 1px solid rgb(205, 205, 205); background: none repeat scroll 0% 0% rgb(242, 242, 242); }
.fpd a { float: left; margin: 2px 5px 0px 0px; width: 20px; height: 20px; background: url("editor.gif") no-repeat scroll 0% 0% transparent; text-indent: -9999px; line-height: 20px; overflow: hidden; }
.fpd a.fbld { background-position: 0px 0px; }
.fpd a.fclr { background-position: -60px 0px; }
.fpd a.fmg { background-position: 0px -20px; }
.fpd a.flnk { background-position: -40px -20px; }
.fpd a.fqt { background-position: -140px -20px; }
.fpd a.fcd { background-position: -120px -20px; }
.fpd a.fsml { background-position: -20px -20px; }
.tedt .area { padding: 4px; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.tedt .pt { width: 100%; margin-right: 0px; padding: 0px ! important; border: medium none; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.tedt .pt:focus { outline: medium none; }
#toptb a#sslct, .switchwidth, #toptb a.switchblind { margin-top: 5px; padding: 0px ! important; width: 23px; height: 18px ! important; background: url("urn:not-loaded:http://www.aboutyun.com/static/image/common/switch_style.png") no-repeat scroll 100% 0px transparent; text-indent: -9999px; overflow: hidden; }
.switchwidth { background-image: url("switch_width.png"); }
.switchwidth:hover { background: url("switch_width.png") no-repeat scroll 100% -36px transparent; }
#toptb a.switchblind { width: 10px; background-image: none; }
.p_pop, .p_pof, .sllt { padding: 4px; border: 1px solid rgb(221, 221, 221); min-width: 60px; background: none repeat scroll 0% 0% rgb(254, 254, 254); box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3); }
.p_pop li { display: inline; }
.p_pop a { display: block; padding: 3px 5px; border-bottom: 1px solid rgb(229, 237, 242); white-space: nowrap; }
.p_pop li:last-child a { border: medium none; }
.p_pop a:hover, .p_pop a.a, #sctype_menu .sca { background-color: rgb(229, 237, 242); color: rgb(51, 102, 153); text-decoration: none; }
.blk a, .inlinelist a { display: inline; padding: 0px; border: medium none; }
.blk a:hover { background: none repeat scroll 0% 0% transparent; color: rgb(51, 51, 51); text-shadow: none; text-decoration: underline; }
.h_pop { min-width: 120px; border-top: medium none; }
.fastlg { line-height: 24px; }
.fastlg td { padding: 2px 0px 2px 4px; }
.fastlg_fm { margin-right: 5px; padding-right: 5px; border-right: 1px solid rgb(205, 205, 205); }
#ls_fastloginfield_ctrl { line-height: 20px; border: medium none; background-color: transparent; background-position: 100% -1px; }
#ls_fastloginfield_ctrl:hover { background-position: 100% -24px; }
.psw_w { padding-left: 5px; }
.fastlg_l { padding-right: 4px ! important; border-right: 1px solid rgb(229, 237, 242); }
.pgs {  }
.pgs #newspecial, .pgs #newspecialtmp, .pgs #post_reply, .pgs #post_replytmp { float: left; margin-right: 5px; }
.pg, .pgb { line-height: 26px; }
.pg a, .pg strong, .pgb a, .pg label { float: left; display: inline; margin-left: 4px; padding: 0px 8px; height: 26px; border: 1px solid rgb(194, 213, 227); background-color: rgb(255, 255, 255); background-repeat: no-repeat; color: rgb(51, 51, 51); overflow: hidden; text-decoration: none; }
.pg a.nxt, .pgb a { padding: 0px 10px; }
.pg a:hover, .pgb a:hover { border-color: rgb(51, 102, 153); color: rgb(51, 102, 153); }
.pgb a { padding-left: 25px; background-image: url("arw_l.gif"); background-position: 10px 50%; }
#pgt .pg, #pgt .pgb { margin-top: 5px; }
#fjump_menu { padding: 7px 0px 10px 10px; }
.mgcmn { width: 100px; }
.mgcmn a { padding-left: 25px; line-height: 16px ! important; }
.mgcmn img { position: absolute; margin-left: -20px; }
.focus { position: fixed; right: 10px; bottom: 0px; z-index: 300; overflow: hidden; width: 270px; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.fctrl { margin-left: 10px; font-weight: 400; }
.fctrl img { margin-bottom: -4px; }
.fctrl em { display: inline-block; }
.focus dt { padding-top: 0px; }
.tip { position: absolute; padding: 10px; width: 260px; border: 1px solid rgb(177, 177, 177); background: none repeat scroll 0% 0% rgb(254, 254, 233); }
.tip_3, .tip_4 { margin-top: -8px; }
.tip_horn { position: absolute; width: 11px; height: 6px; overflow: hidden; }
.tip_4 .tip_horn { left: 5px; bottom: -6px; background: url("urn:not-loaded:http://www.aboutyun.com/static/image/common/tip_bottom.png") repeat scroll 0% 0% transparent; }
.aimg_tip { margin-top: 0px; }
.card_gender_0 { background: url("urn:not-loaded:http://www.aboutyun.com/static/image/common/nosexbg.png") no-repeat scroll right bottom rgb(239, 239, 239); }
.card_gender_1 { background: url("urn:not-loaded:http://www.aboutyun.com/static/image/common/gentlemanbg.png") no-repeat scroll right bottom rgb(187, 235, 249); }
