/* Effective stylesheet produced by snapshot save */
.pbg2 { display: block; height: 10px; width: 130px; margin: 0px auto; background: url("ico_jdt.png") repeat-x scroll 0px -10px transparent; border-radius: 5px; }
.pbr2 { display: block; height: 10px; background: url("ico_jdt.png") repeat-x scroll 0px 0px transparent; border-radius: 5px; }
.md_ctrl a:hover { text-decoration: none; }
.quote { overflow: hidden; margin: 10px 0px; padding-left: 16px; background: url("urn:not-loaded:http://www.aboutyun.com/static/image/common/qa.gif") no-repeat scroll 0px 0px transparent; color: rgb(102, 102, 102); }
.quote blockquote { display: inline; margin: 0px; padding-right: 16px; background: url("urn:not-loaded:http://www.aboutyun.com/static/image/common/qz.gif") no-repeat scroll 100% 100% transparent; }
.blockcode { overflow: hidden; margin: 10px 0px; padding: 5px 10px; background: none repeat scroll 0% 0% rgb(247, 247, 247); color: rgb(102, 102, 102); }
#f_pst .tedt { width: auto; }
.hasfsl { margin-right: 170px; }
#fjump_menu { overflow-x: hidden; max-height: 600px; }
.vwthd { padding-right: 80px ! important; }
.vwthd div.y { display: inline; margin-right: -60px; }
.ts { display: inline; font: 700 16px "Microsoft Yahei","Hei",Tahoma,"SimHei",sans-serif; }
#nv_forum #ct { border-color: rgb(194, 213, 227); }
.authi .none { display: inline-block; }
.authi .show { display: none; }
.authi:hover .none { display: none; }
.authi:hover .show { display: inline-block; }
.pl {  }
.pl table { table-layout: fixed; width: 100%; }
.plm { vertical-align: bottom ! important; }
.plc, .pls { vertical-align: top; }
.plc { padding: 0px 20px; }
.pls { width: 160px; background: none repeat scroll 0% 0% rgb(229, 237, 242); overflow: hidden; border-right: 1px solid rgb(194, 213, 227); }
.pls .avatar { margin: 10px 15px; }
.pls .avatar img { padding: 5px 5px 8px; background: url("midavt_shadow.gif") repeat-x scroll 0px 100% rgb(255, 255, 255); width: 120px; }
.pls .favatar { background: none repeat scroll 0% 0% transparent; height: auto; border-width: 0px; overflow: visible; }
.pls p, .pls .pil, .pls .o { margin: 5px 10px 5px 20px; }
.pls p em, .pls dt em { color: rgb(242, 108, 79); }
.pls dd, .pls dt { float: left; overflow: hidden; height: 1.6em; line-height: 1.6em; }
.pls dt { margin-right: 3px; width: 55px; }
.pls dd { width: 70px; }
.ad .pls { background: none repeat scroll 0% 0% rgb(194, 213, 227); padding: 0px; height: 4px; }
.ad .plc { background: none repeat scroll 0% 0% rgb(229, 237, 242); padding: 0px; overflow: hidden; }
.pi { overflow: hidden; margin-bottom: 10px; padding: 10px 0px; height: 16px; border-bottom: 1px dashed rgb(205, 205, 205); }
.pi strong a { float: right; margin-top: -6px; padding: 4px 6px; border: 1px solid rgb(255, 255, 255); font-weight: 400; }
.pi strong a:hover { border-color: rgb(205, 205, 205); }
.pls .pi { padding-left: 15px; }
.pi em {  }
.pti {  }
.authicn { cursor: pointer; width: 16px; }
.pcb { clear: left; margin-right: 130px; }
#fj { margin-left: 5px; }
#fj label, #fj input { margin-right: 4px; padding: 0px; height: 16px; line-height: 16px; }
.pcb strong { font-weight: 700; }
.pcb em { color: rgb(102, 102, 102); }
.pct { padding-bottom: 1em; }
.t_fsz { min-height: 100px; }
.t_f, .t_f td { font-size: 14px; }
.t_f a { color: rgb(51, 102, 153); text-decoration: underline; }
.t_f ul { margin-left: 14px; }
.t_f li { margin-left: 2em; }
.t_f ul li { list-style-type: disc; }
.t_f i { font-style: italic; }
.sign { overflow: hidden; margin-bottom: 10px; padding-top: 20px; line-height: 1.6em; background: url("sigline.gif") no-repeat scroll 0px 0px transparent; }
.sign * { line-height: normal; }
.po { border-top: 1px dashed rgb(205, 205, 205); }
.po p { float: right; }
.po p a, .po p label { margin-right: 6px; }
.hin { opacity: 0.2; }
.plhin:hover .hin { opacity: 1; }
.pob { line-height: 36px; }
.pob em { float: left; }
.pob em a { padding: 5px 10px 5px 25px; }
.fastre { background: url("fastreply.gif") no-repeat scroll 0px 50% transparent; }
.followp { background: url("rt.png") no-repeat scroll 0px 50% transparent; }
.sharep { background: url("oshr.png") no-repeat scroll 0px 50% transparent; }
.replyadd { background: url("rec_add.gif") no-repeat scroll 0px 50% transparent; }
.replysubtract { background: url("rec_subtract.gif") no-repeat scroll 0px 50% transparent; }
.modact { display: block; height: 32px; text-align: center; padding: 30px 0px 0px; }
.modact, .modact a { line-height: 32px ! important; }
#p_btn { line-height: 24px; padding: 3em 0px; text-align: center; }
#p_btn a { display: inline-block; margin-right: 3px; padding-right: 4px; padding-left: 8px; background: url("share_btn.png") no-repeat scroll 0px 0px transparent; vertical-align: top; white-space: nowrap; }
#p_btn a:hover { text-decoration: none; }
#p_btn i { display: block; padding: 4px 8px 4px 0px; background: url("share_btn.png") no-repeat scroll 100% 100% transparent; font-style: normal; cursor: pointer; }
#p_btn img { float: left; margin: 4px 4px 0px 0px; }
#p_btn span { padding-left: 2px; color: rgb(153, 153, 153); }
.tshare { padding-bottom: 10px; }
#p_btn .tshare a, #p_btn .tshare i { padding: 0px; background-image: none; }
#p_btn .tshare a { margin-right: 10px; color: rgb(51, 102, 153); }
#p_btn .tshare a:hover { text-decoration: underline; }
#hiddenpoststip { line-height: 40px; padding-left: 20px; background: none repeat scroll 0% 0% rgb(255, 250, 243); font-size: 12px; text-align: center; }
#hiddenpoststip a { display: block; text-indent: 25px; height: 29px; line-height: 29px; color: rgb(239, 170, 0); }
#hiddenpoststip a:hover { text-decoration: none; }
#f_pst .plc { padding: 20px; }
i.pstatus { display: block; margin-bottom: -30px; font-size: 12px; text-align: center; font-style: normal; line-height: 32px; color: rgb(153, 153, 153); }
.bui { position: absolute; margin: -1px 0px 0px -1px; padding: 15px 0px 15px 20px; width: 430px ! important; border: 1px solid rgb(205, 205, 205); background: none repeat scroll 0% 0% rgb(255, 255, 255); box-shadow: 2px 2px 3px rgb(204, 204, 204); }
.bui dl { margin: 5px 0px 10px; }
.bui dt { width: 4.5em; }
.bui dd { margin-right: 10px; width: 75px; }
.bui .i { width: 290px; }
.imicn img { vertical-align: middle; margin-right: 8px; }
.imicn .xi2:hover { text-decoration: none; }
.imicn .xi2 img { margin-right: 0px; }
.card_gender_0 { background: url("urn:not-loaded:http://www.aboutyun.com/static/image/common/nosexbg.png") no-repeat scroll right bottom rgb(239, 239, 239); }
.card_gender_1 { background: url("urn:not-loaded:http://www.aboutyun.com/static/image/common/gentlemanbg.png") no-repeat scroll right bottom rgb(187, 235, 249); }
.pls .o li { background-position: 0px 50%; background-repeat: no-repeat; text-indent: 18px; }
.pls .o .pm2 { background-image: url("pmto.gif"); }
.pls .o .addflw { background-image: url("flw_ico.png"); }
.pls .tip_4 { margin-left: -5px; }
.pl .quote, .pl .blockcode { margin: 10px 0px; padding: 10px 10px 10px 65px; }
.pl .quote { padding-bottom: 5px; background: url("icon_quote_s.gif") no-repeat scroll 20px 6px rgb(249, 249, 249); }
.pl .quote blockquote { display: inline-block; margin: 0px; padding: 0px 65px 5px 0px; background: url("icon_quote_e.gif") no-repeat scroll 100% 100% transparent; line-height: 1.6; }
.pl .blockcode { padding: 10px 0px 5px 10px; border: 1px solid rgb(204, 204, 204); background: url("codebg.gif") repeat-y scroll 0px 0px rgb(247, 247, 247); overflow: hidden; }
.pl .blockcode ol { margin: 0px 0px 0px 10px ! important; padding: 0px ! important; }
.pl .blockcode ol li { padding-left: 10px; list-style-type: decimal-leading-zero; font-family: Monaco,Consolas,"Lucida Console","Courier New",serif; font-size: 12px; line-height: 1.8em; }
.pl .blockcode ol li:hover { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(51, 102, 153); }
.pl .blockcode em { margin-left: 43px; color: rgb(51, 102, 153) ! important; font-size: 12px; cursor: pointer; }
.pdbt { float: right; margin: -5px 10px 0px 0px; }
#fastsmilies { text-align: right; }
.zoom { cursor: pointer; }
