/* Effective stylesheet produced by snapshot save */
body { font-size: 14px; font-family: Verdana,Arial,Helvetica,sans-serif; margin: 0px 20px 10px; padding: 0px 30px 10px; background-color: rgb(217, 214, 203); }
img { border: 0px none; }
td { font-size: 14px; }
a { color: rgb(34, 51, 85); text-decoration: none; }
a:hover { text-decoration: underline; }
h1 { margin: 0px 0px 0px 5px; padding-top: 5px; font-size: 1.8em; }
h1 a:visited, h1 a:active, h1 a:link, h1 a:hover { color: rgb(255, 255, 255); margin-top: 10px; text-decoration: none; }
h2 { margin-top: 10px; font-size: 1em; }
#header {  }
#top { background-color: rgb(32, 55, 95); height: 75px; vertical-align: middle; color: rgb(204, 204, 204); padding-left: 10px; }
#sub { text-align: right; background-color: rgb(0, 0, 0); color: rgb(204, 204, 204); font-size: 14px; padding: 4px 4px 4px 10px; }
.headermaintitle { font-family: "Trebuchet MS"; padding-bottom: 10px; color: rgb(204, 204, 204); }
#subtitle { color: rgb(255, 255, 255); font-size: 1em; margin-top: 10px; margin-left: 6px; }
#leftmenu { float: left; left: 0px; width: 190px; padding: 0px 0px 5px 5px; overflow: hidden; background-color: rgb(238, 238, 238); }
#leftmenu h3 { font-size: 14px; margin: 0px; padding: 4px; border-bottom: 1px solid rgb(187, 187, 187); }
#leftmenu ul { list-style: outside none none; margin: 5px 5px 5px 8px; padding: 0px; font-size: 13px; }
#leftmenu li { display: block; margin-bottom: 2px; }
#leftmenu a:active, #leftmenu a:visited, #leftmenu a:link { display: inline-block; color: rgb(0, 0, 0); text-decoration: none; margin-right: 0px; padding: 0px; }
#leftmenu a:hover { background-color: rgb(204, 213, 224); }
#main_container {  }
#main_content { float: right; margin-left: -200px; width: 100%; }
#content { margin-left: 194px; margin-right: 0px; border-left: 1px solid rgb(221, 221, 221); border-bottom: 1px solid rgb(221, 221, 221); padding: 10px; background-color: rgb(255, 255, 255); }
#content h2 { font-size: 20px; }
#content .post { font-size: 14px; line-height: 1.8; padding-left: 10px; }
#footer { margin: 0px; padding-top: 5px; text-align: center; font-size: 14px; }
p { margin: 0px 0px 14px; }
h3 { font-size: 1.2em; border-bottom: 1px solid rgb(170, 170, 170); }
.post { border-width: 1px 2px 2px 1px; border-style: solid; border-color: rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding: 4px; margin-bottom: 28px; }
.postbody a { color: rgb(29, 88, 209); }
.post h5, .post h2 { font-size: 14px; margin: 0px 0px 4px; }
.post .postfoot { margin: 14px 0px 0px; color: rgb(170, 170, 170); border-top: 1px solid rgb(221, 221, 221); font-size: 14px; }
pre { margin: 0px 0px 0px 22px; font-size: 1em; }
input, textarea { font-family: Verdana,Geneva,Arial,sans-serif; font-size: 14px; }
.Cal { border: 1px solid rgb(153, 153, 153); width: 180px; font-family: Arial; font-size: 13px; margin-top: 10px; margin-bottom: 10px; height: 180px; background-color: rgb(238, 238, 238); margin-left: 0px; }
.CalTitle { background-color: rgb(182, 182, 182); border-color: rgb(170, 221, 255); font-family: Arial; font-size: 14px; color: rgb(0, 0, 0); margin-left: 0px; padding: 0px; height: 100%; font-weight: bold; }
.CalOtherMonthDay { color: gray; }
.CalNextPrev {  }
.CalDayHeader { background-color: rgb(204, 204, 204); }
.CalWeekendDay {  }
.CalTodayDay { color: blue; font-weight: bolder; }
p { margin-top: 0px; margin-bottom: 0px; }
div.RecentComment { width: 180px; }
#profile_block { margin-left: 10px; }
.two_words { letter-spacing: 12px; }
